@import 'src/@fuse/scss/fuse';

app-detail-collection-table {
    display: flex !important;
    flex: 1 1 auto !important;
    flex-direction: column !important;
    overflow: auto !important;

    #finance-billing-list-table {
        flex: 1 1 auto;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        overflow: auto;
        min-height: 40px;
        max-height: 350px;
        -webkit-overflow-scrolling: touch;
        background: #fafafa !important;

        &.sinbad-table-no-record {
            background: #ffffff !important;
            max-height: 350px;
            .mat-header-row {
                pointer-events: none;
            }
        }

        .mat-header-row,
        .mat-row {
            background: white;
            min-width: fit-content;
            width: 100%;
        }

        .mat-row {
            min-height: unset;
        }

        .sinbad-collection-list-item,
        .sinbad-billing-list-item {
            position: relative;
            // cursor: pointer;
            // height: 84px;
        }

        .mat-header-cell {
            text-align: left;
            font-weight: 700;

            &:not(:last-of-type) {
                padding-right: 8px;
            }
        }

        mat-header-cell:first-of-type,
        .mat-header-cell:first-of-type,
        .mat-cell:first-of-type {
            padding-left: 12px;
        }

        mat-cell:last-of-type,
        .mat-header-cell:last-of-type,
        .mat-cell:last-of-type {
            padding-right: 12px;
        }

        .mat-cell {
            font-size: 12px;
            min-width: 0;
            display: flex;
            align-items: center;
            padding-right: 8px;
        }

        .mat-column-id {
            flex: 0 1 84px;
        }

        .mat-column-image {
            flex: 0 1 84px;

            .product-image {
                width: 52px;
                height: 52px;
                border: 1px solid rgba(0, 0, 0, 0.12);
            }
        }

        .mat-column-finance-billing-code {
            flex: 0 1 114px;
            min-width: 114px;
        }

        .mat-column-finance-collection-date {
            flex: 0 1 110px;
            min-width: 110px;
        }

        .mat-column-finance-collection-due-date {
            flex: 0 1 180px;
            min-width: 180px;
        }

        .mat-column-finance-collection-status {
            flex: 0 1 110px;
            min-width: 110px;
        }

        .mat-column-finance-sales-rep {
            flex: 0 1 127px;
            min-width: 127px;
            align-items: center;
            justify-content: center;
        }

        .mat-column-finance-invoice-number {
            flex: 0 1 136px;
            min-width: 136px;
        }

        .mat-column-finance-store-name {
            flex: 0 1 110px;
            min-width: 110px;
        }

        .mat-column-finance-order-code {
            flex: 0 1 200px;
            min-width: 200px;
        }

        .mat-column-finance-order-ref {
            flex: 0 1 200px;
            min-width: 200px;
        }

        .mat-column-finance-reason {
            flex: 0 1 127px;
            min-width: 127px;
            align-items: center;
            justify-content: center;
        }

        .mat-column-finance-total-invoice-amount {
            flex: 0 1 158px;
            min-width: 158px;
        }

        .mat-column-finance-invoice-due-date {
            flex: 0 1 122px;
            min-width: 122px;
        }

        .mat-column-finance-collect-code {
            flex: 0 1 110px;
            min-width: 110px;
        }

        .mat-column-finance-materai {
            flex: 0 1 110px;
            min-width: 110px;
        }

        .mat-column-finance-amount-use {
            flex: 0 1 127px;
            min-width: 127px;
            align-items: center;
            justify-content: center;
        }

        .mat-column-finance-total-bill-amount {
            flex: 0 1 180px;
            min-width: 180px;
        }

        .mat-column-finance-bill-date {
            flex: 0 1 110px;
            min-width: 110px;
        }

        .mat-column-finance-bill-status {
            flex: 0 1 112px;
            min-width: 112px;
            align-items: center;
            justify-content: center;
        }

        .mat-column-finance-action {
            flex: 0 1 80px;
            min-width: 80px;
            align-items: center;
            justify-content: end;
        }
        .text-approved {
            color: #31b057;
            background: #effbf3;
            border-radius: 4px;
            word-break: break-word;
            padding: 4px 6px;
        }

        .text-waiting,
        .text-pending {
            color: #e79b04;
            background: #fff8eb;
            border-radius: 4px;
            word-break: break-word;
            padding: 4px 6px;
        }

        .text-rejected {
            color: #ec1a24;
            background: #ffedee;
            border-radius: 4px;
            word-break: break-word;
            padding: 4px 6px;
        }

        .mat-column-no-record {
            position: relative;
            // top: 7em;
            justify-content: center;
        }

        .active-icon {
            border-radius: 50%;
        }
    }
}


.mat-menu-panel {
    min-height: 0px;

}
