<div id="journey-plan-form" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <button
                    mat-icon-button
                    class="mr-0 mr-sm-16"
                    [routerLink]="['/pages/sales-force/journey-plans']"
                >
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div
                    fxLayout="column"
                    fxLayoutAlign="start start"
                    [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
                >
                    <div class="h2">
                        New Journey Plan
                    </div>

                    <div class="subtitle secondary-text">Journey Plan Detail</div>

                    <!-- <div class="h2" *ngIf="(salesRep$ | async) && !fullName">
                        {{ (salesRep$ | async)?.user?.fullName }}
                    </div>

                    <div class="h2" *ngIf="!(salesRep$ | async) || fullName">
                        {{ fullName ? fullName : 'New Sales' }}
                    </div>

                    <div class="subtitle secondary-text">
                        <ng-container *ngIf="(salesRep$ | async) && !phone">
                            <span>{{ (salesRep$ | async)?.user?.mobilePhoneNo }}</span>
                        </ng-container>

                        <ng-container *ngIf="!(salesRep$ | async) || phone">
                            <span>{{ phone ? phone : 'Sales Detail' }}</span>
                        </ng-container>
                    </div> -->
                </div>
            </div>
            <!-- / APP TITLE -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content">
                <mat-tab-group color="accent" fxLayout="column" fxFlex>
                    <mat-tab label="Sales Rep Detail" [disabled]="true">
                        <ng-template matTabContent>
                            <div class="tab-content p-24" fusePerfectScrollbar></div>
                        </ng-template>
                    </mat-tab>

                    <mat-tab label="Action" [disabled]="true">
                        <ng-template matTabContent>
                            <div class="tab-content p-24" fusePerfectScrollbar></div>
                        </ng-template>
                    </mat-tab>

                    <mat-tab label="Store">
                        <ng-template matTabContent>
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <app-journey-plan-store
                                    [pageType]="pageType"
                                ></app-journey-plan-store>
                            </div>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>

<!-- <div class="loader" *ngIf="isLoading$ | async">
    <mat-spinner color="accent"></mat-spinner>
</div> -->
