<div id="returns" class="page-layout carded fullwidth inner-scroll">
    <div class="accent"></div>

    <div class="center p-8">
        <mat-tab-group
            color="accent"
            style="border-radius: 4px;"
            class="px-16 mt-0 my-8 sinbad-white sinbad-mat-tab-group narrow mat-tab-header-px-12"
            animationDuration="0ms"
            (selectedIndexChange)="onTabSelected($event)"
            *ngIf="totalStatus$ != null"
        >
            <mat-tab [label]="'All (' + (totalStatus$ | async).totalReturn + ')'"></mat-tab>
            <mat-tab [label]="'Pending (' + (totalStatus$ | async).totalPending + ')'"></mat-tab>
            <mat-tab [label]="'Approved (' + (totalStatus$ | async).totalApproved + ')'"></mat-tab>
            <mat-tab [label]="'Approved Returned (' + (totalStatus$ | async).totalApprovedReturned + ')'"></mat-tab>
            <mat-tab [label]="'Closed (' + (totalStatus$ | async).totalClosed + ')'"></mat-tab>
            <mat-tab [label]="'Rejected (' + (totalStatus$ | async).totalRejected + ')'"></mat-tab>
        </mat-tab-group>

        <div class="content-card">
            <sinbad-card-header [config]="cardHeaderConfig"></sinbad-card-header>

            <mat-table
                class="returns-table sinbad-table mx-12"
                [class.sinbad-table-no-record]="
                    !(isLoading$ | async) && (totalDataSource$ | async) === 0
                "
                #table
                [dataSource]="dataSource$ | async"
                [trackBy]="onTrackBy"
                matSort
                [@animateStagger]="{ value: '50' }"
                fusePerfectScrollbar
            >
                <ng-container matColumnDef="return-date">
                    <mat-header-cell *matHeaderCellDef>
                        Return Date
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{ row?.createdAt ? (row?.createdAt | date: 'dd/MM/yyyy HH:mm:ss') : '-' }}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="store-name">
                    <mat-header-cell *matHeaderCellDef>
                        Store Name
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{ row?.storeName || '-' }}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="return-number">
                    <mat-header-cell *matHeaderCellDef>
                        Return Number
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{ row?.returnNumber || '-' }}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="amount">
                    <mat-header-cell *matHeaderCellDef>
                        Amount
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{ formatRp(row?.amount) || '-' }}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="user-name">
                    <mat-header-cell *matHeaderCellDef>
                        Created By
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{ row?.userName || '-' }}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef>
                        Status
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{ getStatusTitle(row?.status) || '-' }}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>
                        Actions
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div fxFlex="row" fxLayoutAlign="end center">
                            <button
                                mat-icon-button
                                [matMenuTriggerFor]="moreMenu"
                                aria-label="More"
                                *ngIf="row?.status !== 'closed'"
                                (click)="$event.stopPropagation()"
                            >
                                <mat-icon class="secondary-text">more_vert</mat-icon>
                            </button>

                            <mat-menu #moreMenu="matMenu">
                                <ng-template [ngxPermissionsOnly]="['OMS.UPDATE']">
                                    <button
                                        mat-menu-item
                                        type="button"
                                        class="sinbad-mat-menu-item"
                                        aria-label="Cancel"
                                        *ngIf="row?.status === 'pending'"
                                    >
                                        <mat-icon>send</mat-icon>
                                        <span>Approved</span>
                                    </button>

                                    <button
                                        mat-menu-item
                                        type="button"
                                        class="sinbad-mat-menu-item"
                                        aria-label="Cancel"
                                        *ngIf="row?.status === 'approved' || row?.status === 'pending'"
                                    >
                                        <mat-icon>send</mat-icon>
                                        <span>Approved & Returned</span>
                                    </button>

                                    <button
                                        mat-menu-item
                                        type="button"
                                        class="sinbad-mat-menu-item"
                                        aria-label="Cancel"
                                        *ngIf="row?.status !== 'rejected'"
                                    >
                                        <mat-icon>highlight_off</mat-icon>
                                        <span>Rejected</span>
                                    </button>
                                </ng-template>
                            </mat-menu>
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="no-record">
                    <mat-footer-cell *matFooterCellDef colspan="10">
                        No records found
                    </mat-footer-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                <mat-row
                    *matRowDef="let row; columns: displayedColumns"
                    class="return"
                    matRipple
                >
                </mat-row>
                <mat-footer-row
                    *matFooterRowDef="['no-record']"
                    [fxShow]="!(isLoading$ | async) && (totalDataSource$ | async) === 0"
                ></mat-footer-row>
            </mat-table>

            <div
                class="loader-content"
                *ngIf="(isLoading$ | async)"
            >
                <mat-spinner color="accent"></mat-spinner>
            </div>

            <mat-paginator
                [disabled]="
                    ((isLoading$ | async) && !(totalDataSource$ | async)) ||
                    (!(isLoading$ | async) && (totalDataSource$ | async) === 0)
                "
                [length]="totalDataSource$ | async"
                [pageSize]="defaultPageSize"
                [pageSizeOptions]="defaultPageOpts"
                showFirstLastButtons
            >
            </mat-paginator>

        </div>
    </div>
</div>