<div #profile id="profile" class="page-layout carded fullwidth inner-scroll line-height-1.75">
    <!-- TOP BACKGROUND -->
    <div class="top-bg h-168 accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center px-16">
        <!-- HEADER -->
        <div class="h-120 accent mb-0" fxLayout="row" fxLayoutAlign="space-between center">
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <div
                    fxLayout="column"
                    fxLayoutAlign="space-between start"
                    [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
                >
                    <div class="h2" *ngIf="profile$ | async as profile">
                        <strong>{{ (profile$ | async)?.companyInfo?.name || '-' }}</strong>
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Supplier Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <button
                    type="button"
                    mat-raised-button
                    class="accent-fg"
                    (click)="onEdit(isEdit)"
                    [disabled]="
                        (isLoading$ | async) || !(profile$ | async) || !(provinces$ | async)
                    "
                    *ngIf="!isEdit"
                >
                    <span>EDIT</span>
                </button>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <mat-tab-group
            color="accent"
            style="border-radius: 4px"
            class="sinbad-white sinbad-mat-tab-group has-border mat-tab-header-px-12"
            animationDuration="0ms"
            dynamicHeight="true"
            (selectedIndexChange)="onSelectedTab($event)"
            fusePerfectScrollbar
        >
            <mat-tab label="Company Information" [disabled]="isEdit">
                <ng-template matTabContent>
                    <company-information-component
                        [isEdit]="isEdit && section === 'companyInfo'"
                        (formStatusChange)="onFormStatusChanged($event)"
                    ></company-information-component>
                </ng-template>
            </mat-tab>

            <mat-tab label="Address" [disabled]="isEdit">
                <ng-template matTabContent>
                    <company-address-component
                        [isEdit]="isEdit && section === 'address'"
                    ></company-address-component>
                </ng-template>
            </mat-tab>

            <mat-tab label="Legal Information" [disabled]="isEdit">
                <ng-template matTabContent>
                    <legal-information-component
                        [isEdit]="isEdit && section === 'legalInfo'"
                        (formStatusChange)="onFormStatusChanged($event)"
                    ></legal-information-component>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
        <!-- / CONTENT -->
    </div>
    <!-- / CENTER -->
</div>

<div class="loader" *ngIf="(isLoading$ | async) || !(provinces$ | async)">
    <mat-spinner color="accent"></mat-spinner>
</div>
