@import 'src/@fuse/scss/fuse';

app-profile {
    #profile {

        .mat-tab-header-px-12 {
            .mat-tab-header {
                margin: 0 12px !important;
            }
        }
    
        .mat-tab-body-content {
            display: flex;
            flex: 1;
            overflow-y: scroll !important;
            flex-direction: column;
        }
        
        .top-bg {
            @include media-breakpoint('lt-md') {
                height: 256px;
            }
        }

        > .center {
            > .header {
                .product-image {
                    overflow: hidden;
                    width: 56px;
                    min-width: 56px;
                    max-width: 56px;
                    height: 56px;
                    min-height: 56px;
                    max-height: 56px;
                    border-radius: 4px;

                    img {
                        height: 100%;
                        width: auto;
                        max-width: none;
                    }
                }

                .subtitle {
                    margin: 6px 0 0 0;
                }

                .search-wrapper {
                    width: 100%;
                    max-width: 480px;
                    border-radius: 28px;
                    overflow: hidden;
                    @include mat-elevation(1);

                    @include media-breakpoint('xs') {
                        width: 100%;
                    }

                    .search {
                        width: 100%;
                        height: 48px;
                        line-height: 48px;
                        padding: 0 18px;

                        input {
                            width: 100%;
                            height: 48px;
                            min-height: 48px;
                            max-height: 48px;
                            padding: 0 16px;
                            border: none;
                            outline: none;
                        }
                    }
                }

                @include media-breakpoint('lt-md') {
                    padding: 8px 0;
                    height: 192px !important;
                    min-height: 192px !important;
                    max-height: 192px !important;
                }
            }
        }

        .content {
            .mat-tab-group,
            .mat-tab-body-wrapper,
            .tab-content {
                flex: 1 1 auto;
                max-width: 100%;
            }

            .mat-tab-body-content {
                display: block;
            }

            .mat-tab-label {
                height: 64px;
            }

            .mat-ink-bar {
                height: 3px;
                border-radius: 4px;
                margin-left: 0.6em;
            }

            // .mat-tab-group.mat-primary .mat-ink-bar,
            // .mat-tab-nav-bar.mat-primary .mat-ink-bar {
            //     // background: #f0444c;
            //     height: 4px;
            //     border-radius: 4px;
            // }

            // mat-ink-bar {
            //     &:before,
            //     &:after {
            //         content: '';
            //         height: 2px;
            //         width: 20px;
            //         background-color: white;
            //         position: absolute;
            //         left: 0;
            //     }
            //     &:after {
            //         left: initial;
            //         right: 0;
            //     }
            // }

            .product-image {
                overflow: hidden;
                width: 128px;
                height: 128px;
                margin-right: 16px;
                margin-bottom: 16px;
                border-radius: 4px;

                img {
                    height: 100%;
                    width: auto;
                    max-width: none;
                }
            }

            // Temporary prefix alignment fix
            .mat-form-field-appearance-outline .mat-form-field-prefix,
            .mat-form-field-appearance-outline .mat-form-field-suffix {
                top: 0;
            }
        }
    }

    .accounts-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        .mat-header-row {
            min-height: 64px;
        }

        .account {
            position: relative;
            cursor: pointer;
            height: 84px;
        }

        .mat-cell {
            min-width: 0;
            display: flex;
            align-items: center;
        }

        .mat-column-checkbox {
            flex: 0 1 64px;
            padding-left: 18px;
        }

        .mat-column-id {
            flex: 0 1 84px;
        }

        .mat-column-image {
            flex: 0 1 84px;

            .account-image {
                width: 52px;
                height: 52px;
                border: 1px solid rgba(0, 0, 0, 0.12);
            }
        }

        .mat-column-phone {
            flex: 0 1 160px;
        }

        .mat-column-roles {
            flex: 0 1 160px;
        }

        .mat-column-odooid {
            flex: 0 1 120px;
        }

        .mat-column-active {
            flex: 0 1 80px;
        }

        .quantity-indicator {
            display: inline-block;
            vertical-align: middle;
            width: 8px;
            height: 8px;
            border-radius: 4px;
            margin-right: 8px;

            & + span {
                display: inline-block;
                vertical-align: middle;
            }
        }

        .active-icon {
            border-radius: 50%;
        }

        .mat-column-actions {
            flex: 0 1 80px;
            justify-content: flex-end;
        }
    }

    .box-info {
        .label {
            font-weight: 600;
        }

        .info {
            color: #828282;
        }

        .custom-field:not(.info-field) {
            margin-bottom: 0 !important;
        }

        .custom-field {
            .label {
                font-weight: 600;
                position: relative;
                top: -0.78em;
            }

            .mat-form-field-prefix {
                top: -0.2em;
            }

            .mat-form-field-infix {
                padding: 0.5em 0 !important;
                top: -0.25em;
            }

            &.info-field {
                .label {
                    top: 0;
                }

                .mat-form-field {
                    &.form-info {
                        font-size: 14px;
                    }
                }
            }

            > .info {
                .form-info {
                    .mat-form-field-outline,
                    .mat-select-arrow-wrapper {
                        visibility: hidden;
                    }

                    .mat-form-field-wrapper,
                    .mat-form-field-flex {
                        margin: 0;
                        padding: 0;
                    }

                    .mat-form-field-prefix {
                        top: 0;
                    }

                    .mat-form-field-infix {
                        padding: 0 !important;
                        // top: 0;
                    }

                    .mat-select-placeholder,
                    .mat-select-value-text,
                    .mat-input-element:disabled {
                        color: #828282;
                    }

                    .mat-select-trigger {
                        cursor: text;
                    }
                }
            }
        }
    }
}

.mat-select-panel.virtual-scroll {
    max-height: 100% !important;
    overflow: inherit !important;
}

.mat-select-panel .cdk-virtual-scroll-viewport {
    max-height: 240px !important;
}

.mat-select-panel .cdk-virtual-scroll-content-wrapper {
    position: inherit !important;
    top: inherit !important;
    left: 0;
}

.viewport-select {
    height: 250px;
}
