<div id="profile" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <!-- <button mat-icon-button class="mr-0 mr-sm-16">
                    <mat-icon>arrow_back</mat-icon>
                </button> -->

                <div
                    class="product-image mr-8 mr-sm-16"
                    [@animate]="{ value: '*', params: { delay: '50ms', scale: '0.2' } }"
                >
                    <img [src]="'assets/images/avatars/profile.jpg'" />
                </div>

                <div
                    fxLayout="column"
                    fxLayoutAlign="start start"
                    [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
                >
                    <div class="h2" *ngIf="profile$ | async as profile">
                        {{ (profile?.userSuppliers)[0]?.user?.fullName }}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Supplier Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <button
                    type="button"
                    mat-raised-button
                    class="accent-fg"
                    (click)="onEdit(isEdit)"
                    [disabled]="
                        (isLoading$ | async) || !(profile$ | async) || !(provinces$ | async)
                    "
                    *ngIf="!isEdit"
                >
                    <span>EDIT</span>
                </button>

                <button
                    type="button"
                    mat-raised-button
                    class="accent-fg"
                    (click)="onEdit(isEdit)"
                    *ngIf="isEdit"
                >
                    <span>BATAL</span>
                </button>

                <button
                    type="submit"
                    mat-raised-button
                    class="accent-fg"
                    [disabled]="form.invalid || form.pristine"
                    form="profile-form"
                    *ngIf="isEdit"
                >
                    <span>SAVE</span>
                </button>
            </div>

            <!-- <button mat-raised-button
                    class="save-product-button"
                    [disabled]="productForm.invalid"
                    *ngIf="pageType ==='new'" (click)="addProduct()">
                <span>ADD</span>
            </button>

            <button mat-raised-button
                    class="save-product-button"
                    [disabled]="productForm.invalid || productForm.pristine"
                    *ngIf="pageType ==='edit'" (click)="saveProduct()">
                <span>SAVE</span>
            </button> -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content">
                <mat-tab-group color="accent" fxLayout="column" fxFlex>
                    <mat-tab label="Informasi Bisnis">
                        <div class="tab-content p-24" fusePerfectScrollbar>
                            <form
                                id="profile-form"
                                [formGroup]="form"
                                (ngSubmit)="onSubmit()"
                                novalidate
                            >
                                <div class="mb-12">
                                    <span class="mat-headline">
                                        Informasi Bisnis
                                    </span>
                                    <!-- <span class="mat-headline" *ngIf="!(isLoading$ | async)">
                                    Informasi Bisnis
                                </span>

                                <ngx-skeleton-loader
                                    *ngIf="isLoading$ | async"
                                    [theme]="{ width: '150px', height: '40px' }"
                                ></ngx-skeleton-loader> -->
                                </div>

                                <div
                                    class="box-info horizontal"
                                    fxLayout="column"
                                    fxLayoutGap="25px"
                                >
                                    <div
                                        class="custom-field info-field"
                                        fxLayout="row"
                                        fxLayoutAlign="start center"
                                        fxLayoutGap="15px"
                                    >
                                        <div class="label" fxFlexAlign="center" fxFlex="12">
                                            Nama Legal/Nama Kantor
                                        </div>

                                        <div class="info" fxFlex="100">
                                            {{ (profile$ | async)?.name }}
                                        </div>
                                    </div>

                                    <!-- <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
                                    <div class="label" fxFlex="12">
                                        Formulir Legal
                                    </div>

                                    <div>
                                        -
                                    </div>
                                </div> -->

                                    <div
                                        class="custom-field info-field"
                                        fxLayout="row"
                                        fxLayoutAlign="start center"
                                        fxLayoutGap="15px"
                                    >
                                        <div class="label" fxFlexAlign="center" fxFlex="12">
                                            Negara
                                        </div>

                                        <div class="info" fxFlex="100">
                                            {{ (isLoading$ | async) ? '' : 'Indonesia' }}
                                        </div>
                                    </div>

                                    <div
                                        class="custom-field"
                                        fxLayout="row"
                                        fxLayoutAlign="start center"
                                        fxLayoutGap="15px"
                                        [class.info-field]="!isEdit"
                                    >
                                        <div
                                            class="label"
                                            fxFlexAlign="center"
                                            fxFlex="12"
                                            [class.mat-error]="
                                                form.get('province').errors &&
                                                !form.get('province').untouched &&
                                                (form.get('province').dirty ||
                                                    form.get('province').touched)
                                            "
                                        >
                                            <ng-container *ngIf="isEdit">
                                                *
                                            </ng-container>
                                            Provinsi
                                        </div>

                                        <div class="info" fxFlex="100">
                                            <ng-container
                                                *ngIf="
                                                    (!form.get('province')?.value && !isEdit) ||
                                                    !isEdit
                                                "
                                            >
                                                {{ (profile$ | async)?.urban?.province?.name }}
                                            </ng-container>

                                            <mat-form-field
                                                appearance="outline"
                                                fxFlex="50"
                                                [class.form-info]="!isEdit"
                                                *ngIf="isEdit"
                                                [fxHide]="!form.get('province')?.value && !isEdit"
                                            >
                                                <ng-container
                                                    *ngIf="
                                                        provinces$ | async as provinces;
                                                        else noProvinces
                                                    "
                                                >
                                                    <mat-select
                                                        formControlName="province"
                                                        placeholder="Choose Province"
                                                        (openedChange)="
                                                            onOpenChange($event, 'province')
                                                        "
                                                        (selectionChange)="
                                                            onSelect($event, 'province')
                                                        "
                                                    >
                                                        <cdk-virtual-scroll-viewport
                                                            #cdkProvince
                                                            itemSize="5"
                                                            minBufferPx="200"
                                                            maxBufferPx="400"
                                                            class="viewport-select"
                                                        >
                                                            <mat-option>None</mat-option>
                                                            <mat-option
                                                                *cdkVirtualFor="
                                                                    let row of provinces
                                                                "
                                                                [value]="row?.id"
                                                            >
                                                                {{ row?.name }}
                                                            </mat-option>
                                                            <mat-option
                                                                *ngIf="form.get('province')?.value"
                                                                [value]="
                                                                    form.get('province')?.value
                                                                "
                                                            >
                                                                {{ form.get('province')?.value }}
                                                            </mat-option>
                                                        </cdk-virtual-scroll-viewport>
                                                    </mat-select>
                                                </ng-container>

                                                <ng-template #noProvinces>
                                                    <mat-select
                                                        placeholder="Choose Province"
                                                        disabled
                                                    >
                                                        <mat-option>Province not found</mat-option>
                                                    </mat-select>
                                                </ng-template>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <!-- <div
                                        fxLayout="row"
                                        fxLayoutAlign="start center"
                                        fxLayoutGap="15px"
                                    >
                                        <div class="label" fxFlex="12">
                                            Provinsi
                                        </div>

                                        <div class="info">
                                            {{ (profile$ | async)?.urban?.province?.name }}
                                        </div>
                                    </div> -->

                                    <div
                                        class="custom-field"
                                        fxLayout="row"
                                        fxLayoutAlign="start center"
                                        fxLayoutGap="15px"
                                        [class.info-field]="!isEdit"
                                    >
                                        <div
                                            class="label"
                                            fxFlexAlign="center"
                                            fxFlex="12"
                                            [class.mat-error]="
                                                form.get('city').errors &&
                                                !form.get('city').untouched &&
                                                (form.get('city').dirty || form.get('city').touched)
                                            "
                                        >
                                            <ng-container *ngIf="isEdit">
                                                *
                                            </ng-container>
                                            Kota
                                        </div>

                                        <div class="info" fxFlex="100">
                                            <ng-container
                                                *ngIf="
                                                    (!form.get('city')?.value && !isEdit) || !isEdit
                                                "
                                            >
                                                {{ (profile$ | async)?.urban?.city }}
                                            </ng-container>

                                            <mat-form-field
                                                appearance="outline"
                                                fxFlex="50"
                                                [class.form-info]="!isEdit"
                                                *ngIf="isEdit"
                                                [fxHide]="!form.get('city')?.value && !isEdit"
                                            >
                                                <ng-container
                                                    *ngIf="cities$ | async as cities; else noCities"
                                                >
                                                    <mat-select
                                                        formControlName="city"
                                                        placeholder="Choose City"
                                                        (openedChange)="
                                                            onOpenChange($event, 'city')
                                                        "
                                                        (selectionChange)="onSelect($event, 'city')"
                                                    >
                                                        <cdk-virtual-scroll-viewport
                                                            #cdkCity
                                                            itemSize="5"
                                                            minBufferPx="200"
                                                            maxBufferPx="400"
                                                            class="viewport-select"
                                                        >
                                                            <mat-option>None</mat-option>
                                                            <mat-option
                                                                *cdkVirtualFor="let row of cities"
                                                                [value]="row?.city"
                                                            >
                                                                {{ row?.city }}
                                                            </mat-option>
                                                            <mat-option
                                                                *ngIf="form.get('city')?.value"
                                                                [value]="form.get('city')?.value"
                                                            >
                                                                {{ form.get('city')?.value }}
                                                            </mat-option>
                                                        </cdk-virtual-scroll-viewport>
                                                    </mat-select>
                                                </ng-container>

                                                <ng-template #noCities>
                                                    <mat-select placeholder="Choose City" disabled>
                                                        <mat-option>City not found</mat-option>
                                                    </mat-select>
                                                </ng-template>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div
                                        class="custom-field"
                                        fxLayout="row"
                                        fxLayoutAlign="start center"
                                        fxLayoutGap="15px"
                                        [class.info-field]="!isEdit"
                                    >
                                        <div
                                            class="label"
                                            fxFlexAlign="center"
                                            fxFlex="12"
                                            [class.mat-error]="
                                                form.get('district').errors &&
                                                !form.get('district').untouched &&
                                                (form.get('district').dirty ||
                                                    form.get('district').touched)
                                            "
                                        >
                                            <ng-container *ngIf="isEdit">
                                                *
                                            </ng-container>
                                            Kecamatan
                                        </div>

                                        <div class="info" fxFlex="100">
                                            <ng-container
                                                *ngIf="
                                                    (!form.get('district')?.value && !isEdit) ||
                                                    !isEdit
                                                "
                                            >
                                                {{ (profile$ | async)?.urban?.district }}
                                            </ng-container>

                                            <mat-form-field
                                                appearance="outline"
                                                fxFlex="50"
                                                [class.form-info]="!isEdit"
                                                *ngIf="isEdit"
                                                [fxHide]="!form.get('district')?.value && !isEdit"
                                            >
                                                <ng-container
                                                    *ngIf="
                                                        districts$ | async as districts;
                                                        else noDistricts
                                                    "
                                                >
                                                    <mat-select
                                                        formControlName="district"
                                                        placeholder="Choose District"
                                                        (openedChange)="
                                                            onOpenChange($event, 'district')
                                                        "
                                                        (selectionChange)="
                                                            onSelect($event, 'district')
                                                        "
                                                    >
                                                        <cdk-virtual-scroll-viewport
                                                            #cdkDistrict
                                                            itemSize="5"
                                                            minBufferPx="200"
                                                            maxBufferPx="400"
                                                            class="viewport-select"
                                                        >
                                                            <mat-option>None</mat-option>
                                                            <mat-option
                                                                *cdkVirtualFor="
                                                                    let row of districts
                                                                "
                                                                [value]="row?.district"
                                                            >
                                                                {{ row?.district }}
                                                            </mat-option>
                                                            <mat-option
                                                                *ngIf="form.get('district')?.value"
                                                                [value]="
                                                                    form.get('district')?.value
                                                                "
                                                            >
                                                                {{ form.get('district')?.value }}
                                                            </mat-option>
                                                        </cdk-virtual-scroll-viewport>
                                                    </mat-select>
                                                </ng-container>

                                                <ng-template #noDistricts>
                                                    <mat-select
                                                        placeholder="Choose District"
                                                        disabled
                                                    >
                                                        <mat-option>District not found</mat-option>
                                                    </mat-select>
                                                </ng-template>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div
                                        class="custom-field"
                                        fxLayout="row"
                                        fxLayoutAlign="start center"
                                        fxLayoutGap="15px"
                                        [class.info-field]="!isEdit"
                                    >
                                        <div
                                            class="label"
                                            fxFlexAlign="center"
                                            fxFlex="12"
                                            [class.mat-error]="
                                                form.get('urban').errors &&
                                                !form.get('urban').untouched &&
                                                (form.get('urban').dirty ||
                                                    form.get('urban').touched)
                                            "
                                        >
                                            <ng-container *ngIf="isEdit">
                                                *
                                            </ng-container>
                                            Kelurahan
                                        </div>

                                        <div class="info" fxFlex="100">
                                            <ng-container
                                                *ngIf="
                                                    (!form.get('urban')?.value && !isEdit) ||
                                                    !isEdit
                                                "
                                            >
                                                {{ (profile$ | async)?.urban?.urban }}
                                            </ng-container>

                                            <mat-form-field
                                                appearance="outline"
                                                fxFlex="50"
                                                [class.form-info]="!isEdit"
                                                *ngIf="isEdit"
                                                [fxHide]="!form.get('urban')?.value && !isEdit"
                                            >
                                                <ng-container
                                                    *ngIf="urbans$ | async as urbans; else noUrbans"
                                                >
                                                    <mat-select
                                                        formControlName="urban"
                                                        placeholder="Choose Urban"
                                                        (openedChange)="
                                                            onOpenChange($event, 'urban')
                                                        "
                                                        (selectionChange)="
                                                            onSelect($event, 'urban')
                                                        "
                                                    >
                                                        <cdk-virtual-scroll-viewport
                                                            #cdkUrban
                                                            itemSize="5"
                                                            minBufferPx="200"
                                                            maxBufferPx="400"
                                                            class="viewport-select"
                                                        >
                                                            <mat-option>None</mat-option>
                                                            <mat-option
                                                                *cdkVirtualFor="let row of urbans"
                                                                [value]="row?.id"
                                                            >
                                                                {{ row?.urban }}
                                                            </mat-option>
                                                            <mat-option
                                                                *ngIf="form.get('urban')?.value"
                                                                [value]="form.get('urban')?.value"
                                                            >
                                                                {{ form.get('urban')?.value }}
                                                            </mat-option>
                                                        </cdk-virtual-scroll-viewport>
                                                    </mat-select>
                                                </ng-container>

                                                <ng-template #noUrbans>
                                                    <mat-select placeholder="Choose Urban" disabled>
                                                        <mat-option>Urban not found</mat-option>
                                                    </mat-select>
                                                </ng-template>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div
                                        class="custom-field"
                                        fxLayout="row"
                                        fxLayoutAlign="start center"
                                        fxLayoutGap="15px"
                                        [class.info-field]="!isEdit"
                                    >
                                        <div
                                            class="label"
                                            fxFlexAlign="center"
                                            fxFlex="12"
                                            [class.mat-error]="
                                                form.get('postcode').errors &&
                                                !form.get('postcode').untouched &&
                                                (form.get('postcode').dirty ||
                                                    form.get('postcode').touched)
                                            "
                                        >
                                            <ng-container *ngIf="isEdit">
                                                *
                                            </ng-container>
                                            Kode Pos
                                        </div>

                                        <div class="info" fxFlex="100">
                                            <ng-container
                                                *ngIf="
                                                    (!form.get('postcode')?.value && !isEdit) ||
                                                    !isEdit
                                                "
                                            >
                                                {{ (profile$ | async)?.urban?.zipCode }}
                                            </ng-container>

                                            <mat-form-field
                                                appearance="outline"
                                                fxFlex="50"
                                                [class.form-info]="!isEdit"
                                                *ngIf="isEdit"
                                                [fxHide]="!form.get('postcode')?.value && !isEdit"
                                            >
                                                <input
                                                    matInput
                                                    formControlName="postcode"
                                                    mask="00000"
                                                    [validation]="false"
                                                />
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div
                                        class="custom-field"
                                        fxLayout="row"
                                        fxLayoutAlign="start center"
                                        fxLayoutGap="15px"
                                        [class.info-field]="!isEdit"
                                    >
                                        <div
                                            class="label"
                                            fxFlexAlign="center"
                                            fxFlex="12"
                                            [class.mat-error]="
                                                form.get('notes').errors &&
                                                !form.get('notes').untouched &&
                                                (form.get('notes').dirty ||
                                                    form.get('notes').touched)
                                            "
                                        >
                                            <ng-container *ngIf="isEdit">
                                                *
                                            </ng-container>
                                            Alamat
                                        </div>

                                        <div class="info" fxFlex="100">
                                            <ng-container
                                                *ngIf="
                                                    (!form.get('notes')?.value && !isEdit) ||
                                                    !isEdit
                                                "
                                            >
                                                {{ (profile$ | async)?.address }}
                                            </ng-container>

                                            <mat-form-field
                                                appearance="outline"
                                                fxFlex="50"
                                                [class.form-info]="!isEdit"
                                                *ngIf="isEdit"
                                                [fxHide]="!form.get('notes')?.value && !isEdit"
                                            >
                                                <textarea
                                                    matInput
                                                    formControlName="notes"
                                                    rows="5"
                                                ></textarea>
                                            </mat-form-field>
                                        </div>
                                    </div>


                                    <div
                                        class="custom-field"
                                        fxLayout="row"
                                        fxLayoutAlign="start center"
                                        fxLayoutGap="15px"
                                        [class.info-field]="!isEdit"
                                    >
                                        <div
                                            class="label"
                                            fxFlexAlign="center"
                                            fxFlex="12"
                                            [class.mat-error]="
                                                form.get('taxNo').errors &&
                                                !form.get('taxNo').untouched &&
                                                (form.get('taxNo').dirty ||
                                                    form.get('taxNo').touched)
                                            "
                                        >
                                            <ng-container *ngIf="isEdit">
                                                *
                                            </ng-container>
                                            NPWP
                                        </div>

                                        <div class="info" fxFlex="100">
                                            <ng-container
                                                *ngIf="
                                                    (!form.get('taxNo')?.value && !isEdit) ||
                                                    !isEdit
                                                "
                                            >
<!--                                                {{ (profile$ | async)?.taxNo | mask: "00.000.000.0-000.000" || "00.000.000.0-000.000" }}-->

                                                {{ ((profile$ | async)?.taxNo) === ""  ? "00.000.000.0-000.000" : (profile$ | async)?.taxNo | mask: "00.000.000.0-000.000" }}
                                            </ng-container>

                                            <mat-form-field
                                                appearance="outline"
                                                fxFlex="50"
                                                [class.form-info]="!isEdit"
                                                *ngIf="isEdit"
                                                [fxHide]="!form.get('taxNo')?.value && !isEdit"
                                            >
                                                <input
                                                    matInput
                                                    formControlName="taxNo"
                                                    mask="00.000.000.0-000.000"
                                                    [validation]="false"
                                                />
                                            </mat-form-field>
                                        </div>
                                    </div>


                                    <!-- <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
                                    <div class="label" fxFlex="12">
                                        Penanggung Jawab
                                    </div>

                                    <div>
                                        -
                                    </div>
                                </div> -->

                                    <!-- <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
                                    <div class="label" fxFlex="12">
                                        Nomor KTP
                                    </div>

                                    <div>
                                        -
                                    </div>
                                </div> -->

                                    <!-- <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
                                    <div class="label" fxFlex="12">
                                        Foto
                                    </div>

                                    <div>
                                        -
                                    </div>
                                </div> -->
                                </div>
                            </form>
                        </div>
                    </mat-tab>

                    <!-- <mat-tab label="Product Images">
                        <div class="tab-content p-24" fusePerfectScrollbar></div>
                    </mat-tab> -->
                </mat-tab-group>
            </div>
            <!-- / CONTENT -->

            <div class="loader" *ngIf="(isLoading$ | async) || !(provinces$ | async)">
                <mat-spinner color="accent"></mat-spinner>
            </div>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
