<div class="pb-16">
    <span class="mat-headline"> Cross Selling Group </span>
</div>

<ng-container *ngIf="(crossSellingPromo$ | async)?.promoBenefit as crossbenefit; else noCrossBenefit">

<div class="box-info horizontal" fxLayout="column" fxLayoutGap="16px">
    <span class="box-title"> Group 1 </span>

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="10">Base</div>

        <div class="info" fxFlex="100">
            <ng-container *ngIf="!(isLoading$ | async)">
                <ng-container *ngIf="conditionBase; else noConditionBase">
                    <mat-radio-group [value]="baseGroup1">
                        <mat-radio-button
                            *ngFor="let row of conditionBase"
                            [value]="row?.id"
                            [disabled]="true"
                        >
                            {{ row?.label }}
                        </mat-radio-button>
                    </mat-radio-group>
                </ng-container>

                <ng-template #noConditionBase> - </ng-template>
            </ng-container>

            <ngx-skeleton-loader
                [theme]="{ width: '100px', 'margin-bottom': '-5px' }"
                *ngIf="isLoading$ | async"
            ></ngx-skeleton-loader>
        </div>
    </div>

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="10">Faktur</div>

        <div class="info" fxFlex="100">
            <ng-container *ngIf="generalGroup1[0].catalogue != null; else errorInvoice">
            {{generalGroup1[0].catalogue.brand.invoiceGroupBrands[0].invoiceGroup.name || '-'}}  
            </ng-container>
            <ng-template #errorInvoice>
                -
            </ng-template>
        </div>
    </div>

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="10">Trigger</div>

        <div class="info" fxFlex="100">SKU</div>
    </div>

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="start" fxFlex="10">
            <ng-container [ngSwitch]="'sku'">
                <ng-container *ngSwitchCase="eTriggerBase.SKU"> 
                    Chosen SKU
                    <br/> {{generalGroup1.length}}
                Selected) 
                </ng-container>
                <ng-container *ngSwitchCase="eTriggerBase.BRAND"> Chosen Brand </ng-container>
                <ng-container *ngSwitchCase="eTriggerBase.INVOICE"> Chosen Faktur </ng-container>
                <ng-container *ngSwitchDefault>-</ng-container>
            </ng-container>
        </div>

        <div class="info" fxFlex="90">
            <ng-container *ngIf="!(isLoading$ | async)">
                <ng-container [ngSwitch]="'sku'">
                    <ng-container *ngSwitchCase="eTriggerBase.SKU">
                        <span>
                            {{ getSkus(generalGroup1) || '-' }}
                        </span>
                    </ng-container>
                    <ng-container *ngSwitchCase="eTriggerBase.BRAND">
                        <span>
                            {{ getBrands((crossSellingPromo$ | async)?.promoBrands) || '-' }}
                        </span>
                    </ng-container>
                    <ng-container *ngSwitchCase="eTriggerBase.INVOICE">
                        <span>
                            {{getInvoiceGroups((crossSellingPromo$ | async)?.promoInvoiceGroups) || '-'}}
                        </span>
                    </ng-container>
                    <ng-container *ngSwitchDefault>-</ng-container>
                </ng-container>
            </ng-container>

            <ngx-skeleton-loader
                [theme]="{ width: '100px', 'margin-bottom': '-5px' }"
                *ngIf="isLoading$ | async"
            ></ngx-skeleton-loader>
        </div>
    </div>

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="10">Relation</div>

        <div class="info" fxFlex="100">
            {{generalGroup1[0].crossSellingGroupRelation || '-'}} 
        </div>
    </div>  

    <ng-container [ngSwitch]="baseGroup1">
        <!-- Base Condition Type Qty -->
        <ng-container *ngSwitchCase="eConditionBase.QTY">
            <div
                class="custom-field info-field"
                fxLayout="row"
                fxLayoutAlign="start center"
                fxLayoutGap="15px"
            >
                <div class="label" fxFlexAlign="center" fxFlex="10">Order Qty >=</div>

                <div class="info" fxFlex="100">{{generalGroup1[0].conditionQty || '-'}}</div>
            </div>
        </ng-container>
        <!-- ./ Base Condition Type Qty -->

        <!-- Base Condition Type Value -->
        <ng-container *ngSwitchCase="eConditionBase.ORDER_VALUE">
            <div
                class="custom-field info-field"
                fxLayout="row"
                fxLayoutAlign="start center"
                fxLayoutGap="15px"
            >
                <div class="label" fxFlexAlign="center" fxFlex="10">Order Value >=</div>

                <div class="info" fxFlex="100">
                    <p thousandSeparator=".">{{generalGroup1[0].conditionValue || '-'}}</p>
                </div>
            </div>
        </ng-container>
        <!-- ./ Base Condition Type Amount -->

        <ng-container *ngSwitchDefault>-</ng-container>
    </ng-container>
</div>

<br />

<div class="box-info horizontal" fxLayout="column" fxLayoutGap="16px">
    <span class="box-title"> Group 2 </span>

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="10">Base</div>

        <div class="info" fxFlex="100">
            <ng-container *ngIf="!(isLoading$ | async)">
                <ng-container *ngIf="conditionBase; else noConditionBase">
                    <mat-radio-group [value]="baseGroup2">
                        <mat-radio-button
                            *ngFor="let row of conditionBase"
                            [value]="row?.id"
                            [disabled]="true"
                        >
                            {{ row?.label }}
                        </mat-radio-button>
                    </mat-radio-group>
                </ng-container>

                <ng-template #noConditionBase> - </ng-template>
            </ng-container>

            <ngx-skeleton-loader
                [theme]="{ width: '100px', 'margin-bottom': '-5px' }"
                *ngIf="isLoading$ | async"
            ></ngx-skeleton-loader>
        </div>
    </div>

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="10">Faktur</div>

        <div class="info" fxFlex="100">
            <ng-container *ngIf="generalGroup2[0].catalogue != null; else errorInvoice2">
                {{generalGroup2[0].catalogue.brand.invoiceGroupBrands[0].invoiceGroup.name || '-'}}  
            </ng-container>
            <ng-template #errorInvoice2>
                -
            </ng-template>
        </div>
    </div>

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="10">Trigger</div>

        <div class="info" fxFlex="100">SKU</div>
    </div>

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="10">Relation</div>

        <div class="info" fxFlex="100">
            {{generalGroup2[0].crossSellingGroupRelation || '-'}}  
        </div>
    </div>  

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="start" fxFlex="10">
            <ng-container [ngSwitch]="'sku'">
                <ng-container *ngSwitchCase="eTriggerBase.SKU">
                    Chosen SKU
                    <br/> {{generalGroup2.length}}
                    Selected)
                </ng-container>
                <ng-container *ngSwitchCase="eTriggerBase.BRAND"> Chosen Brand </ng-container>
                <ng-container *ngSwitchCase="eTriggerBase.INVOICE"> Chosen Faktur </ng-container>
                <ng-container *ngSwitchDefault>-</ng-container>
            </ng-container>
        </div>

        <div class="info" fxFlex="90">
            <ng-container *ngIf="!(isLoading$ | async)">
                <ng-container [ngSwitch]="'sku'">
                    <ng-container *ngSwitchCase="eTriggerBase.SKU">
                        <span>
                            {{ getSkus(generalGroup2) || '-' }}
                        </span>
                    </ng-container>
                    <ng-container *ngSwitchCase="eTriggerBase.BRAND">
                        <span>
                            {{ getBrands((crossSellingPromo$ | async)?.promoBrands) || '-' }}
                        </span>
                    </ng-container>
                    <ng-container *ngSwitchCase="eTriggerBase.INVOICE">
                        <span>
                            {{getInvoiceGroups((crossSellingPromo$ | async)?.promoInvoiceGroups) || '-'}}
                        </span>
                    </ng-container>
                    <ng-container *ngSwitchDefault>-</ng-container>
                </ng-container>
            </ng-container>

            <ngx-skeleton-loader
                [theme]="{ width: '100px', 'margin-bottom': '-5px' }"
                *ngIf="isLoading$ | async"
            ></ngx-skeleton-loader>
        </div>
    </div>

    <ng-container [ngSwitch]="baseGroup2">
        <!-- Base Condition Type Qty -->
        <ng-container *ngSwitchCase="eConditionBase.QTY">
            <div
                class="custom-field info-field"
                fxLayout="row"
                fxLayoutAlign="start center"
                fxLayoutGap="15px"
            >
                <div class="label" fxFlexAlign="center" fxFlex="10">Order Qty >=</div>

                <div class="info" fxFlex="100">{{generalGroup2[0].conditionQty || '-'}}</div>
            </div>
        </ng-container>
        <!-- ./ Base Condition Type Qty -->

        <!-- Base Condition Type Value -->
        <ng-container *ngSwitchCase="eConditionBase.ORDER_VALUE">
            <div
                class="custom-field info-field"
                fxLayout="row"
                fxLayoutAlign="start center"
                fxLayoutGap="15px"
            >
                <div class="label" fxFlexAlign="center" fxFlex="10">Order Value >=</div>

                <div class="info" fxFlex="100">
                    <p thousandSeparator=".">{{generalGroup2[0].conditionValue || '-'}}</p>
                </div>
            </div>
        </ng-container>
        <!-- ./ Base Condition Type Amount -->

        <ng-container *ngSwitchDefault>-</ng-container>
    </ng-container>
</div>

</ng-container>

<ng-template #noCrossBenefit> Not found Cross Selling Group.</ng-template>
