@import 'src/@fuse/scss/fuse';
@import 'src/@sinbad/scss/helper';

sinbad-card-header {
    .mat-flat-button, .mat-stroked-button {
        line-height: 4px !important;
    }

    .custom-chip-list {
        mat-chip {
            border: 1px solid;
        }

        .mat-chip.mat-standard-chip::after {
            background: sinbad-color('black', '80');
        }
    }
}