<div fxLayout="column" fxFlex fusePerfectScrollbar>
    <mat-list>
        <div matSubheader class="sinbad__filter-title">
            {{ (config$ | async).title }}
        </div>

        <!-- <div class="mb-0 p-16">
            <div class="sinbad__filter-keyword">
                xxxx
            </div>
        </div> -->
    </mat-list>

    <mat-list>
        <mat-expansion-panel
            class="sinbad__expansion-panel--filter mat-elevation-z0"
            [expanded]="showPanel"
        >
            <mat-expansion-panel-header>
                <mat-panel-title class="sinbad__filter-title">
                    Sales Target
                </mat-panel-title>
            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>
                <div fxLayout="column">
                    <mat-form-field appearance="outline" fxFlex>
                        <input
                            matInput
                            name="minTarget"
                            placeholder="Minimum"
                            mask="separator.2"
                            thousandSeparator="."
                            prefix="Rp"
                        />
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <input
                            matInput
                            name="maxTarget"
                            placeholder="Maximum"
                            mask="separator.2"
                            thousandSeparator="."
                            prefix="Rp"
                        />
                    </mat-form-field>
                </div>

                <!-- <input
                        matInput
                        class="sinbad__filter-input"
                        name="minTarget"
                        placeholder="Minimum"
                    />
                    <input
                        matInput
                        class="sinbad__filter-input"
                        name="maxTarget"
                        placeholder="Maximum"
                    /> -->
            </ng-template>
        </mat-expansion-panel>
    </mat-list>

    <mat-list>
        <mat-expansion-panel
            class="sinbad__expansion-panel--filter mat-elevation-z0"
            [expanded]="showPanel"
        >
            <mat-expansion-panel-header>
                <mat-panel-title class="sinbad__filter-title">
                    Sales Rep Name
                </mat-panel-title>
            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>
                <div fxLayout="column">
                    <mat-form-field appearance="outline">
                        <input matInput name="salesName" placeholder="Input Sales Name" />
                    </mat-form-field>
                </div>
            </ng-template>
        </mat-expansion-panel>
    </mat-list>

    <mat-list>
        <mat-expansion-panel
            class="sinbad__expansion-panel--filter mat-elevation-z0"
            [expanded]="showPanel"
        >
            <mat-expansion-panel-header>
                <mat-panel-title class="sinbad__filter-title">
                    Portfolio Name
                </mat-panel-title>
            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>
                <div class="sinbad__filter-checkbox--container">
                    <div class="sinbad__filter-checkbox">
                        <mat-checkbox>A12 Group</mat-checkbox>
                        <mat-checkbox>B12 Group</mat-checkbox>
                        <mat-checkbox>C12 Group</mat-checkbox>

                        <mat-checkbox>D34 Group</mat-checkbox>
                        <mat-checkbox>E34 Group</mat-checkbox>
                        <mat-checkbox>F34 Group</mat-checkbox>

                        <mat-checkbox>H56 Group</mat-checkbox>
                        <mat-checkbox>I56 Group</mat-checkbox>
                        <mat-checkbox>J56 Group</mat-checkbox>

                        <mat-checkbox>K78 Group</mat-checkbox>
                        <mat-checkbox>L78 Group</mat-checkbox>
                        <mat-checkbox>M78 Group</mat-checkbox>

                        <mat-checkbox>O90 Group</mat-checkbox>
                        <mat-checkbox>P90 Group</mat-checkbox>
                        <mat-checkbox>Q90 Group</mat-checkbox>
                    </div>
                </div>
            </ng-template>
        </mat-expansion-panel>
    </mat-list>

    <mat-list>
        <mat-expansion-panel
            class="sinbad__expansion-panel--filter mat-elevation-z0"
            [expanded]="showPanel"
        >
            <mat-expansion-panel-header>
                <mat-panel-title class="sinbad__filter-title">
                    Date Assignment
                </mat-panel-title>
            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>
                <div fxLayout="column">
                    <mat-form-field appearance="outline">
                        <input
                            matInput
                            [matDatepicker]="startDatePicker"
                            autocomplete="off"
                            name="startDate"
                            placeholder="Start"
                        />
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="startDatePicker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker
                            touchUi
                            #startDatePicker
                            [disabled]="false"
                        ></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <input
                            matInput
                            [matDatepicker]="endDatePicker"
                            autocomplete="off"
                            name="endDate"
                            placeholder="End"
                        />
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="endDatePicker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker touchUi #endDatePicker [disabled]="false"></mat-datepicker>
                    </mat-form-field>
                </div>
            </ng-template>
        </mat-expansion-panel>
    </mat-list>

    <mat-list>
        <mat-expansion-panel
            class="sinbad__expansion-panel--filter mat-elevation-z0"
            [expanded]="showPanel"
        >
            <mat-expansion-panel-header>
                <mat-panel-title class="sinbad__filter-title">
                    Store Qty
                </mat-panel-title>
            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>
                <div fxLayout="column">
                    <mat-form-field appearance="outline">
                        <input matInput name="minQty" placeholder="Minimum Qty" />
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <input matInput name="maxQty" placeholder="Maximum Qty" />
                    </mat-form-field>
                </div>
            </ng-template>
        </mat-expansion-panel>
    </mat-list>

    <mat-list fxLayout="column" fxLayoutAlign="end stretch" class="sinbad__filter-action--wrapper">
        <div fxLayout="row" fxLayoutAlign="space-between stretch" class="m-0 p-16">
            <button type="button" mat-stroked-button class="sinbad__filter-action--item">
                Reset
            </button>

            <button
                type="button"
                mat-flat-button
                color="accent"
                class="sinbad__filter-action--item"
            >
                Apply
            </button>
        </div>
    </mat-list>

    <!-- <mat-list class="date" cdkFocusRegionStart>
        <h3 matSubheader cdkFocusInit>
            <span>Today</span>
        </h3>

        <div class="secondary-text mat-display-1 mb-0 p-16">
            <div class="mb-12">
                {{ date | date: 'EEEE' }}
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <span> {{ date | date: 'd' }}</span>
                <span class="mat-subheading-1">th</span>
                <span> {{ date | date: 'MMMM' }}</span>
            </div>
        </div>
    </mat-list> -->

    <!-- <mat-divider cdkFocusRegionEnd></mat-divider> -->

    <!-- <mat-list>
        <h3 matSubheader>
            <span>Events</span>
        </h3>

        <mat-list-item *ngFor="let event of events">
            <h3 matLine>{{ event.title }}</h3>
            <p matLine class="secondary-text">{{ event.detail }}</p>
        </mat-list-item>
    </mat-list> -->

    <!-- <mat-divider></mat-divider>

    <mat-list>
        <h3 matSubheader>
            <span>Notes</span>
        </h3>

        <mat-list-item *ngFor="let note of notes">
            <h3 matLine>{{ note.title }}</h3>
            <p matLine class="secondary-text">{{ note.detail }}</p>
        </mat-list-item>
    </mat-list>

    <mat-divider></mat-divider>

    <mat-list>
        <h3 matSubheader>
            <span>Quick Settings</span>
        </h3>

        <mat-list-item>
            <mat-slide-toggle
                fxFlex
                class="mat-primary"
                [(ngModel)]="settings.notify"
                aria-label="Notifications"
                labelPosition="before"
            >
                <h3>Notifications</h3>
            </mat-slide-toggle>
        </mat-list-item>

        <mat-list-item>
            <mat-slide-toggle
                fxFlex
                class="mat-accent"
                [(ngModel)]="settings.cloud"
                aria-label="Cloud"
                labelPosition="before"
            >
                <h3>Cloud Sync</h3>
            </mat-slide-toggle>
        </mat-list-item>

        <mat-list-item>
            <mat-slide-toggle
                fxFlex
                class="mat-warn"
                [(ngModel)]="settings.retro"
                aria-label="Retro Thrusters"
                labelPosition="before"
            >
                <h3>Retro Thrusters</h3>
            </mat-slide-toggle>
        </mat-list-item>
    </mat-list> -->
</div>
