<div fxLayout="column" fxFlex fusePerfectScrollbar>
    <mat-list>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div matSubheader class="sinbad__filter-title" fxFlexAlign="center">
                {{ (config$ | async)?.title }}
            </div>

            <button
                type="button"
                mat-icon-button
                class="sinbad__filter-close"
                fxFlexAlign="center"
                disableRipple
                (click)="close()"
            >
                <mat-icon>close</mat-icon>
            </button>
        </div>

        <div class="mb-0 p-16 pt-8">
            <div class="sinbad__filter-keyword">
                {{ (config$ | async)?.form?.value?.search }}
            </div>
        </div>
    </mat-list>

    <ng-container *ngIf="(config$ | async)?.by">
        <!-- STATUS -->
        <mat-list *ngIf="sourceStatus && sourceStatus.length > 0">
            <mat-expansion-panel
                class="sinbad__expansion-panel--filter mat-elevation-z0"
                [expanded]="showPanel"
            >
                <mat-expansion-panel-header
                    *ngIf="(config$ | async)?.by?.status?.title as statusTitle"
                >
                    <mat-panel-title class="sinbad__filter-title">
                        {{ statusTitle }}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                    <div [class.sinbad__filter-checkbox--container]="sourceStatus.length > 2">
                        <div
                            class="sinbad__filter-checkbox"
                            [class.reset]="sourceStatus.length < 3"
                        >
                            <mat-checkbox
                                *ngFor="let status of sourceStatus; trackBy: trackByStatus"
                                [(ngModel)]="status.checked"
                                [matTooltip]="status?.label"
                                (change)="onChangeStatus($event)"
                                disableRipple
                            >
                                {{ status?.label }}
                            </mat-checkbox>
                        </div>
                    </div>
                </ng-template>
            </mat-expansion-panel>
        </mat-list>
        <!-- / STATUS -->

        <!-- TYPE -->
        <mat-list *ngIf="sourceType && sourceType.length > 0">
            <mat-expansion-panel
                class="sinbad__expansion-panel--filter mat-elevation-z0"
                [expanded]="showPanel"
            >
                <mat-expansion-panel-header
                    *ngIf="(config$ | async)?.by?.type?.title as typeTitle"
                >
                    <mat-panel-title class="sinbad__filter-title">
                        {{ typeTitle }}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                    <div [class.sinbad__filter-checkbox--container]="sourceType.length > 2">
                        <div
                            class="sinbad__filter-checkbox"
                            [class.reset]="sourceType.length < 3"
                        >
                            <mat-checkbox
                                *ngFor="let type of sourceType; trackBy: trackByType"
                                [value]="type?.id"
                                [matTooltip]="type?.label"
                                disableRipple
                            >
                                {{ type?.label }}
                            </mat-checkbox>
                        </div>
                    </div>
                </ng-template>
            </mat-expansion-panel>
        </mat-list>
        <!-- / TYPE -->

        <!-- BRAND -->
        <mat-list *ngIf="filterBrand">
            <mat-expansion-panel
                class="sinbad__expansion-panel--filter mat-elevation-z0"
                [expanded]="showPanel"
            >
                <mat-expansion-panel-header
                    *ngIf="(config$ | async)?.by?.brand?.title as brandTitle"
                >
                    <mat-panel-title class="sinbad__filter-title">
                        {{ brandTitle }}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                    <brand-autocomplete
                        (selectedValue)="onSelectedBrand($event)"
                    ></brand-autocomplete>
                </ng-template>
            </mat-expansion-panel>
        </mat-list>
        <!-- / BRAND -->

        <!-- FAKTUR -->
        <mat-list *ngIf="filterFaktur">
            <mat-expansion-panel
                class="sinbad__expansion-panel--filter mat-elevation-z0"
                [expanded]="showPanel"
            >
                <mat-expansion-panel-header
                    *ngIf="(config$ | async)?.by?.faktur?.title as fakturTitle"
                >
                    <mat-panel-title class="sinbad__filter-title">
                        {{ fakturTitle }}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                    <faktur-autocomplete
                        (selectedValue)="onSelectedFaktur($event)"
                    ></faktur-autocomplete>
                </ng-template>
            </mat-expansion-panel>
        </mat-list>
        <!-- / FAKTUR -->

        <!-- BASE PRICE -->
        <mat-list *ngIf="filterFaktur">
            <mat-expansion-panel
                class="sinbad__expansion-panel--filter mat-elevation-z0"
                [expanded]="showPanel"
            >
                <mat-expansion-panel-header *ngIf="(config$ | async)?.by?.basePrice?.title as basePriceTitle">
                    <mat-panel-title class="sinbad__filter-title">{{ basePriceTitle }}</mat-panel-title>
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                    <div fxLayout="column">
                        <mat-form-field appearance="outline" fxFlex>
                            <input
                                #minTargetInput
                                matInput
                                [formControl]="form.get('minAmount')"
                                mask="separator.2"
                                thousandSeparator="."
                                placeholder="Rp"
                            />
                            <span
                                class="text-suffix"
                                matSuffix
                                *ngIf="
                                    !minTargetInput?.value ||
                                    minTargetInput?.value === 'Rp' ||
                                    !minTargetInput?.value?.length
                                "
                            >
                                Minimum
                            </span>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <input
                                #maxTargetInput
                                matInput
                                [formControl]="form.get('maxAmount')"
                                mask="separator.2"
                                thousandSeparator="."
                                placeholder="Rp"
                            />
                            <span
                                class="text-suffix"
                                matSuffix
                                *ngIf="
                                    !maxTargetInput?.value ||
                                    maxTargetInput?.value === 'Rp' ||
                                    !maxTargetInput?.value?.length
                                "
                            >
                                Maximum
                            </span>
                        </mat-form-field>
                    </div>
                </ng-template>
            </mat-expansion-panel>
        </mat-list>
        <!-- / BASE PRICE -->

        <!-- WAREHOUSE -->
        <mat-list *ngIf="filterWarehouse">
            <mat-expansion-panel
                class="sinbad__expansion-panel--filter mat-elevation-z0"
                [expanded]="showPanel"
            >
                <mat-expansion-panel-header>
                    <mat-panel-title class="sinbad__filter-title">Warehouse</mat-panel-title>
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                    <select-single-warehouse
                        (selected)="onSelectedWarehouse($event)"
                    ></select-single-warehouse>
                </ng-template>
            </mat-expansion-panel>
        </mat-list>
        <!-- / WAREHOUSE -->

        <!-- SEGMENTATION TYPE -->
        <mat-list *ngIf="filterSegmentType">
            <mat-expansion-panel
                class="sinbad__expansion-panel--filter mat-elevation-z0"
                [expanded]="showPanel"
            >
                <mat-expansion-panel-header
                    *ngIf="(config$ | async)?.by?.segmentType?.title as segmentTypeTitle"
                >
                    <mat-panel-title class="sinbad__filter-title">
                        {{ segmentTypeTitle }}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                    <segment-type-autocomplete
                        [(reset)]="resetSegmentType"
                        (selectedValue)="onSelectedSegmentType($event)"
                    ></segment-type-autocomplete>
                </ng-template>
            </mat-expansion-panel>
        </mat-list>
        <!-- / SEGMENTATION TYPE -->
        
        <!-- SEGMENTATION GROUP -->
        <mat-list *ngIf="filterSegmentGroup">
            <mat-expansion-panel
                class="sinbad__expansion-panel--filter mat-elevation-z0"
                [expanded]="showPanel"
            >
                <mat-expansion-panel-header
                    *ngIf="(config$ | async)?.by?.segmentGroup?.title as segmentGroupTitle"
                >
                    <mat-panel-title class="sinbad__filter-title">
                        {{ segmentGroupTitle }}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                    <segment-group-autocomplete
                        [(reset)]="resetSegmentGroup"
                        (selectedValue)="onSelectedSegmentGroup($event)"
                    ></segment-group-autocomplete>
                </ng-template>
            </mat-expansion-panel>
        </mat-list>
        <!-- / SEGMENTATION GROUP -->

        <!-- SEGMENTATION CHANNEL -->
        <mat-list *ngIf="filterSegmentChannel">
            <mat-expansion-panel
                class="sinbad__expansion-panel--filter mat-elevation-z0"
                [expanded]="showPanel"
            >
                <mat-expansion-panel-header
                    *ngIf="(config$ | async)?.by?.segmentChannel?.title as segmentChannelTitle"
                >
                    <mat-panel-title class="sinbad__filter-title">
                        {{ segmentChannelTitle }}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                    <segment-channel-autocomplete
                        [(reset)]="resetSegmentChannel"
                        (selectedValue)="onSelectedSegmentChannel($event)"
                    ></segment-channel-autocomplete>
                </ng-template>
            </mat-expansion-panel>
        </mat-list>
        <!-- / SEGMENTATION CHANNEL -->

        <!-- SEGMENTATION CLUSTER -->
        <mat-list *ngIf="filterSegmentCluster">
            <mat-expansion-panel
                class="sinbad__expansion-panel--filter mat-elevation-z0"
                [expanded]="showPanel"
            >
                <mat-expansion-panel-header
                    *ngIf="(config$ | async)?.by?.segmentCluster?.title as segmentClusterTitle"
                >
                    <mat-panel-title class="sinbad__filter-title">
                        {{ segmentClusterTitle }}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                    <segment-cluster-autocomplete
                        [(reset)]="resetSegmentCluster"
                        (selectedValue)="onSelectedSegmentCluster($event)"
                    ></segment-cluster-autocomplete>
                </ng-template>
            </mat-expansion-panel>
        </mat-list>
        <!-- / SEGMENTATION CLUSTER -->

        <!-- SUPPLIER -->
        <!-- <mat-list *ngIf="sourceSuppliers && sourceSuppliers.length > 0">
            <mat-expansion-panel
                class="sinbad__expansion-panel--filter mat-elevation-z0"
                [expanded]="showPanel"
            >
                <mat-expansion-panel-header>
                    <mat-panel-title class="sinbad__filter-title">Supplier</mat-panel-title>
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                    <div class="sinbad__filter-checkbox--container">
                        <div class="sinbad__filter-checkbox">
                            <ng-container
                                *ngFor="let supplier of sourceSuppliers; trackBy: trackBySuppliers"
                            >
                                <mat-checkbox
                                    [value]="supplier?.id"
                                    [matTooltip]="supplier?.label"
                                    (change)="onChangeSupplier($event)"
                                    [checked]="isCheckedSupplier(supplier?.id)"
                                    *ngIf="supplier?.id !== 'all'"
                                    disableRipple
                                >
                                    {{ supplier?.label }}
                                </mat-checkbox>

                                <mat-checkbox
                                    [value]="supplier?.id"
                                    [matTooltip]="supplier?.label"
                                    (change)="onChangeSupplier($event)"
                                    [checked]="isCheckAllSupplier()"
                                    *ngIf="supplier?.id === 'all'"
                                    disableRipple
                                >
                                    {{ supplier?.label }}
                                </mat-checkbox>
                            </ng-container>
                        </div>
                    </div>
                </ng-template>
            </mat-expansion-panel>
        </mat-list> -->
        <!-- / SUPPLIER -->
    </ng-container>

    <!-- AMOUNT RELATION -->
    <!-- <mat-list *ngIf="hasMinAmount() && hasMaxAmount()">
        <mat-expansion-panel
            class="sinbad__expansion-panel--filter mat-elevation-z0"
            [expanded]="showPanel"
        >
            <mat-expansion-panel-header>
                <mat-panel-title class="sinbad__filter-title">Amount</mat-panel-title>
            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>
                <div fxLayout="column">
                    <mat-form-field appearance="outline" fxFlex>
                        <input
                            #minTargetInput
                            matInput
                            [formControl]="form.get('minAmount')"
                            mask="separator.2"
                            thousandSeparator="."
                            placeholder="Rp"
                        />
                        <span
                            class="text-suffix"
                            matSuffix
                            *ngIf="
                                !minTargetInput?.value ||
                                minTargetInput?.value === 'Rp' ||
                                !minTargetInput?.value?.length
                            "
                        >
                            Minimum
                        </span>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <input
                            #maxTargetInput
                            matInput
                            [formControl]="form.get('maxAmount')"
                            mask="separator.2"
                            thousandSeparator="."
                            placeholder="Rp"
                        />
                        <span
                            class="text-suffix"
                            matSuffix
                            *ngIf="
                                !maxTargetInput?.value ||
                                maxTargetInput?.value === 'Rp' ||
                                !maxTargetInput?.value?.length
                            "
                        >
                            Maximum
                        </span>
                    </mat-form-field>
                </div>
            </ng-template>
        </mat-expansion-panel>
    </mat-list> -->
    <!-- / AMOUNT RELATION -->

    <!-- ORDER DATE -->
    <!-- <mat-list *ngIf="hasStartOrderDate() && hasEndOrderDate()">
        <mat-expansion-panel
            class="sinbad__expansion-panel--filter mat-elevation-z0"
            [expanded]="showPanel"
        >
            <mat-expansion-panel-header>
                <mat-panel-title class="sinbad__filter-title">Order Date</mat-panel-title>
            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>
                <div fxLayout="column">
                    <mat-form-field appearance="outline">
                        <input
                            matInput
                            [formControl]="form.get('startOrderDate')"
                            [matDatepicker]="startDatePicker"
                            autocomplete="off"
                            name="startDate"
                            placeholder="Start"
                            [max]="maxDate"
                        />
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="startDatePicker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker
                            touchUi
                            #startDatePicker
                            [disabled]="false"
                        ></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <input
                            matInput
                            [formControl]="form.get('endOrderDate')"
                            [matDatepicker]="endDatePicker"
                            autocomplete="off"
                            name="endDate"
                            placeholder="End"
                            [max]="maxDate"
                        />
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="endDatePicker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker touchUi #endDatePicker [disabled]="false"></mat-datepicker>
                    </mat-form-field>
                </div>
            </ng-template>
        </mat-expansion-panel>
    </mat-list> -->
    <!-- / ORDER DATE -->

    <!-- DELIVERED DATE -->
    <!-- <mat-list *ngIf="hasStartDeliveredDate() && hasEndDeliveredDate()">
        <mat-expansion-panel
            class="sinbad__expansion-panel--filter mat-elevation-z0"
            [expanded]="showPanel"
        >
            <mat-expansion-panel-header>
                <mat-panel-title class="sinbad__filter-title">Delivered Date</mat-panel-title>
            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>
                <div fxLayout="column">
                    <mat-form-field appearance="outline">
                        <input
                            matInput
                            [formControl]="form.get('startDeliveredDate')"
                            [matDatepicker]="startDatePicker"
                            autocomplete="off"
                            name="startDate"
                            placeholder="Start"
                            [max]="maxDate"
                        />
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="startDatePicker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker
                            touchUi
                            #startDatePicker
                            [disabled]="false"
                        ></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <input
                            matInput
                            [formControl]="form.get('endDeliveredDate')"
                            [matDatepicker]="endDatePicker"
                            autocomplete="off"
                            name="endDate"
                            placeholder="End"
                            [max]="maxDate"
                        />
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="endDatePicker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker touchUi #endDatePicker [disabled]="false"></mat-datepicker>
                    </mat-form-field>
                </div>
            </ng-template>
        </mat-expansion-panel>
    </mat-list> -->
    <!-- / DELIVERED DATE -->

    <!-- FILTER ACTION -->
    <mat-list fxLayout="column" fxLayoutAlign="end stretch" class="sinbad__filter-action--wrapper">
        <app-sinbad-filter-action
            [config]="(config$ | async)?.actions"
            (clickReset)="onClickReset()"
            (clickSubmit)="onClickSubmit()"
        ></app-sinbad-filter-action>
    </mat-list>
    <!-- / FILTER ACTION -->

    <!-- SALES TARGET -->
    <!-- <mat-list>
        <mat-expansion-panel class="sinbad__expansion-panel--filter mat-elevation-z0" [expanded]="showPanel">
            <mat-expansion-panel-header>
                <mat-panel-title class="sinbad__filter-title">Sales Target</mat-panel-title>
            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>
                <div fxLayout="column">
                    <mat-form-field appearance="outline" fxFlex>
                        <input matInput name="minTarget" placeholder="Minimum" mask="separator.2" thousandSeparator="." prefix="Rp" />
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <input matInput name="maxTarget" placeholder="Maximum" mask="separator.2" thousandSeparator="." prefix="Rp" />
                    </mat-form-field>
                </div>
            </ng-template>
        </mat-expansion-panel>
    </mat-list> -->
    <!-- / SALES TARGET -->

    <!-- <mat-list>
        <mat-expansion-panel class="sinbad__expansion-panel--filter mat-elevation-z0" [expanded]="showPanel">
            <mat-expansion-panel-header>
                <mat-panel-title class="sinbad__filter-title"> Sales Rep Name </mat-panel-title>
            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>
                <div fxLayout="column">
                    <mat-form-field appearance="outline">
                        <input matInput name="salesName" placeholder="Input Sales Name" />
                    </mat-form-field>
                </div>
            </ng-template>
        </mat-expansion-panel>
    </mat-list> -->

    <!-- <mat-list>
        <mat-expansion-panel class="sinbad__expansion-panel--filter mat-elevation-z0" [expanded]="showPanel">
            <mat-expansion-panel-header>
                <mat-panel-title class="sinbad__filter-title"> Portfolio Name </mat-panel-title>
            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>
                <div class="sinbad__filter-checkbox--container">
                    <div class="sinbad__filter-checkbox">
                        <mat-checkbox>A12 Group</mat-checkbox>
                        <mat-checkbox>B12 Group</mat-checkbox>
                        <mat-checkbox>C12 Group</mat-checkbox>

                        <mat-checkbox>D34 Group</mat-checkbox>
                        <mat-checkbox>E34 Group</mat-checkbox>
                        <mat-checkbox>F34 Group</mat-checkbox>

                        <mat-checkbox>H56 Group</mat-checkbox>
                        <mat-checkbox>I56 Group</mat-checkbox>
                        <mat-checkbox>J56 Group</mat-checkbox>

                        <mat-checkbox>K78 Group</mat-checkbox>
                        <mat-checkbox>L78 Group</mat-checkbox>
                        <mat-checkbox>M78 Group</mat-checkbox>

                        <mat-checkbox>O90 Group</mat-checkbox>
                        <mat-checkbox>P90 Group</mat-checkbox>
                        <mat-checkbox>Q90 Group</mat-checkbox>
                    </div>
                </div>
            </ng-template>
        </mat-expansion-panel>
    </mat-list> -->

    <!-- <mat-list>
        <mat-expansion-panel class="sinbad__expansion-panel--filter mat-elevation-z0" [expanded]="showPanel">
            <mat-expansion-panel-header>
                <mat-panel-title class="sinbad__filter-title"> Date Assignment </mat-panel-title>
            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>
                <div fxLayout="column">
                    <mat-form-field appearance="outline">
                        <input matInput [matDatepicker]="startDatePicker" autocomplete="off" name="startDate" placeholder="Start" />
                        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #startDatePicker [disabled]="false"></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <input matInput [matDatepicker]="endDatePicker" autocomplete="off" name="endDate" placeholder="End" />
                        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #endDatePicker [disabled]="false"></mat-datepicker>
                    </mat-form-field>
                </div>
            </ng-template>
        </mat-expansion-panel>
    </mat-list>

    <mat-list>
        <mat-expansion-panel class="sinbad__expansion-panel--filter mat-elevation-z0" [expanded]="showPanel">
            <mat-expansion-panel-header>
                <mat-panel-title class="sinbad__filter-title"> Store Qty </mat-panel-title>
            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>
                <div fxLayout="column">
                    <mat-form-field appearance="outline">
                        <input matInput name="minQty" placeholder="Minimum Qty" />
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <input matInput name="maxQty" placeholder="Maximum Qty" />
                    </mat-form-field>
                </div>
            </ng-template>
        </mat-expansion-panel>
    </mat-list>

    <mat-list fxLayout="column" fxLayoutAlign="end stretch" class="sinbad__filter-action--wrapper">
        <app-sinbad-filter-action
            [config]="(config$ | async)?.actions"
            (clickReset)="onClickReset()"
            (clickSubmit)="onClickSubmit()"
        ></app-sinbad-filter-action>
    </mat-list>

    <!-- <mat-list class="date" cdkFocusRegionStart>
        <h3 matSubheader cdkFocusInit>
            <span>Today</span>
        </h3>

        <div class="secondary-text mat-display-1 mb-0 p-16">
            <div class="mb-12">
                {{ date | date: 'EEEE' }}
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <span> {{ date | date: 'd' }}</span>
                <span class="mat-subheading-1">th</span>
                <span> {{ date | date: 'MMMM' }}</span>
            </div>
        </div>
    </mat-list> -->

    <!-- <mat-divider cdkFocusRegionEnd></mat-divider> -->

    <!-- <mat-list>
        <h3 matSubheader>
            <span>Events</span>
        </h3>

        <mat-list-item *ngFor="let event of events">
            <h3 matLine>{{ event.title }}</h3>
            <p matLine class="secondary-text">{{ event.detail }}</p>
        </mat-list-item>
    </mat-list> -->

    <!-- <mat-divider></mat-divider>

    <mat-list>
        <h3 matSubheader>
            <span>Notes</span>
        </h3>

        <mat-list-item *ngFor="let note of notes">
            <h3 matLine>{{ note.title }}</h3>
            <p matLine class="secondary-text">{{ note.detail }}</p>
        </mat-list-item>
    </mat-list>

    <mat-divider></mat-divider>

    <mat-list>
        <h3 matSubheader>
            <span>Quick Settings</span>
        </h3>

        <mat-list-item>
            <mat-slide-toggle
                fxFlex
                class="mat-primary"
                [(ngModel)]="settings.notify"
                aria-label="Notifications"
                labelPosition="before"
            >
                <h3>Notifications</h3>
            </mat-slide-toggle>
        </mat-list-item>

        <mat-list-item>
            <mat-slide-toggle
                fxFlex
                class="mat-accent"
                [(ngModel)]="settings.cloud"
                aria-label="Cloud"
                labelPosition="before"
            >
                <h3>Cloud Sync</h3>
            </mat-slide-toggle>
        </mat-list-item>

        <mat-list-item>
            <mat-slide-toggle
                fxFlex
                class="mat-warn"
                [(ngModel)]="settings.retro"
                aria-label="Retro Thrusters"
                labelPosition="before"
            >
                <h3>Retro Thrusters</h3>
            </mat-slide-toggle>
        </mat-list-item>
    </mat-list> -->
</div>
