@import 'src/@sinbad/scss/helper';

// Variable
$panel-width: 280px; 

app-sinbad-filter {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: $panel-width;
    max-height: 90%;
    z-index: 99;

    .mat-list-base {
        padding-top: 0;
        margin-top: 10px;
    }

    .mat-slide-toggle-content {
        flex: 1;
    }

    mat-form-field .mat-form-field-wrapper {
        padding-bottom: 8px !important;
        font-size: 12px;

        .mat-form-field-flex {
            margin: 0;
            padding: 0 16px;
            height: 36px;

            .mat-form-field-outline {
                height: 36px;
            }

            .mat-form-field-infix {
                padding-top: 8px !important;

                .mat-select-trigger {
                    .mat-select-arrow-wrapper {
                        margin-top: 5px;
                        margin-right: -5px;
                    }
                }
            }

            .mat-datepicker-toggle {
                color: #f0444c;
            }
        }
    }

    .mat-form-field-appearance-outline {
        .mat-form-field-wrapper {
            margin: 0;
        }

        .mat-form-field-suffix {
            top: 2px;

            .text-suffix {
                top: -5px;
                position: relative;
                color: sinbad-color('black', '60');
            }

            .mat-icon-button {
                margin-right: -8px
            }
        }
    }

    .__matDatepicker {
        mat-form-field {
            .mat-form-field-wrapper {
                .mat-form-field-flex {
                    .mat-form-field-infix {
                        top: -2px;
                    }
                }
            }
        }
    }

    .mat-checkbox {
        font-size: 12px;

        .mat-checkbox-inner-container {
            height: 12px;
            width: 12px;
            margin-right: 10px;
            margin-top: 5px !important; // wrap multiple checkbox
        }

        .mat-checkbox-frame {
            border-color: #A0A4A8;
            border-width: 1px;
        }

        .mat-checkbox-layout {
            white-space: normal !important; // wrap multiple checkbox

            .mat-checkbox-label {
                margin-top: -0.5px;
            }
        }

        .mat-ripple-element {
            display: none !important;
        }
    }

    .mat-expansion-panel-header {
        padding: 0 20px 0 16px;
    }

    .mat-expansion-panel-body {
        padding: 0 16px 16px;
    }

    .sinbad__filter-header-title {
        font-size: 18px;
        font-weight: 700;
        color: sinbad-color('black', '100');
    }

    .sinbad__filter-title {
        font-size: 16px;
        font-weight: 600;
        color: sinbad-color('black', '100');
    }

    .sinbad__filter-close {
        margin-top: -8px;
    }

    .sinbad__filter-keyword {
        color: sinbad-color('black', '80');
    }

    .sinbad__expansion-panel--filter {
        background: inherit;
    }

    .sinbad__filter-checkbox--container {
        overflow-x: auto;
        overflow-y: hidden;
    }

    .sinbad__filter-checkbox {
        display: flex;
        flex-flow: column wrap;
        width: 240px;
        height: auto;
        // max-height: 105px;
        margin: -5px -4px -5px -4px;

        > * {
            flex: 1 1 20px;
            margin: 5px;
            width: 120px;
        }

        &.reset {
            height: unset;
            min-height: unset;
            max-height: unset;
            flex-flow: unset;
        }
    }

    .sinbad__filter-action--wrapper {
        position: fixed;
        bottom: 0;
        margin-top: auto;
        width: 100%;
        background: #ffffff;
    }

    .sinbad__filter-action--item {
        width: 118px;
        min-width: 118px;
        max-width: 118px;
        height: 40px;
    }

}

// :host-context(.sinbad-filter) app-sinbad-filter {
//     .mat-expansion-panel {
//         &.sinbad__expansion-panel--filter {
//             background: inherit;

//             // .mat-expansion-panel-header {
//             //     color: red;
//             //     padding: 0 16px !important;
//             // }
//         }
//     }
// }

// :host(app-sinbad-filter) {
//     display: flex;
//     flex-direction: column;
//     flex: 1 1 auto;
//     width: 280px;
//     min-width: 280px;
//     max-width: 280px;
//     z-index: 99;
//     // background: white;

//     .mat-slide-toggle-content {
//         flex: 1;
//     }

//     .sinbad__filter-title {
//         font-size: 18px;
//         font-weight: 600;
//         color: sinbad-color('black', '100');
//     }

//     .sinbad__filter-keyword {
//         color: sinbad-color('black', '80');
//     }

//     .sinbad__expansion-panel--filter {
//         background: inherit;
//         // color: red;
//         // padding: 0 16px !important;
//     }

//     .mat-expansion-panel-header {
//         padding: 0 16px;
//     }

//     .sinbad__filter-checkbox--container {
//         overflow-x: auto;
//         overflow-y: hidden;
//         // background-color: dodgerblue;
//     }

//     .sinbad__filter-checkbox {
//         display: flex;
//         flex-flow: column wrap;
//         height: 105px;
//         min-height: 105px;
//         max-height: 105px;
//         margin: -5px;

//         > * {
//             flex: 1 1 20px;
//             margin: 5px;
//         }
//     }

//     // .mat-expansion-panel-body {
//     //     background-color: red;
//     //     padding: 0 16px;
//     // }

//     // .mat-expansion-panel {
//     //     & .sinbad__expansion-panel--filter {
//     //         background: inherit;

//     //         .mat-expansion-panel-header {
//     //             color: red;
//     //             padding: 0 16px;
//     //         }
//     //     }
//     // }

//     // :host(.mat-expansion-panel) {
//     //     .mat-expansion-panel-header {
//     //         padding: 0 16px;
//     //     }

//     //     .sinbad__filter-input {
//     //         border: 1px solid #e8e8e8;
//     //         border-radius: 4px;
//     //         padding: 10px 8px;

//     //         &::placeholder {
//     //             color: #cacccf;
//     //         }
//     //     }
//     // }

//     .sinbad__filter-action--wrapper {
//         margin-top: auto;
//     }

//     .sinbad__filter-action--item {
//         width: 118px;
//         min-width: 118px;
//         max-width: 118px;
//         height: 40px;
//     }
// }

// ::ng-deep .mat-expansion-panel-content {
//     .mat-expansion-panel-body {
//         padding: 0 16px;
//     }
// }

// :host(.mat-expansion-panel-content) {
//     background-color: greenyellow !important;
//     .mat-expansion-panel-body {
//         background-color: red;
//         padding: 0 16px;
//     }
// }
