<div
    id="return-detail"
    class="page-layout carded fullwidth inner-scroll line-height-1d6"
>
    <div class="top-bg accent"></div>

    <div class="center">
        <app-header-detail
          [title]='returnInfoViewData$ ? (returnInfoViewData$ | async)?.title : ""'
          [withDesc]='false'
          [isLoading]='(isLoading$ | async)'>
        </app-header-detail>

        <div class="content-card" fusePerfectScrollbar>
            <div class="content">
                <div class="return-head" fxLayout="row" fxLayoutAlign="start stretch">
                    <div class="box-content__container" fxLayout="column" fxLayoutAlign="center stretch" fxFlex>
                        <h1 class="page-title">Return Order</h1>
                    </div>
                    <div dir="rtl" class="box-content__container" fxLayout="column" fxLayoutAlign="space-between stretch" fxFlex>
                        <div *ngIf='returnInfoViewData$ != null'>
                            <app-return-status
                                [status]='(returnInfoViewData$ | async)?.status'
                                [returned]='(returnInfoViewData$ | async)?.returned'
                                (returnStatusHandler)='onChangeReturnStatus($event)'
                            >
                            </app-return-status>
                        </div>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="start stretch">
                    <div class="box-content__container return-content"
                         fxLayout="column"
                         fxLayoutAlign="start stretch"
                    >
                        <div class="box-container__title m-0">
                            <span class="mat-headline"> Return Info </span>
                        </div>

                        <br/>

                        <div fxLayout="row" fxLayoutAlign="start start">
                            <div class="box-content__container" fxLayout="column" fxLayoutAlign="space-between stretch" fxFlex>
                                <app-document-info-detail
                                    [title]='"Store Info"'
                                    [isLoading]='isLoading$ | async'
                                    [listInfoData]='
                                        returnInfoViewData$ ?
                                          ((returnInfoViewData$ | async)?.storeInfo || defaultViewData.storeInfo):
                                          defaultViewData.storeInfo'
                                >
                                </app-document-info-detail>
                            </div>

                            <div class="box-content__container" fxLayout="column" fxLayoutAlign="space-between stretch" fxFlex>
                                <app-document-info-detail
                                    [title]='"Date"'
                                    [isLoading]='isLoading$ | async'
                                    [listInfoData]='
                                        returnInfoViewData$ ?
                                          ((returnInfoViewData$ | async)?.dateInfo || defaultViewData.dateInfo) :
                                          defaultViewData.dateInfo'
                                >
                                </app-document-info-detail>

                                <app-document-info-detail
                                    [title]='"Return Info"'
                                    [isLoading]='isLoading$ | async'
                                    [listInfoData]='
                                        returnInfoViewData$ ?
                                          ((returnInfoViewData$ | async)?.returnInfo || defaultViewData.returnInfo):
                                          defaultViewData.returnInfo'
                                >
                                </app-document-info-detail>
                            </div>

                        </div>
                    </div>

                    <div class="box-content__container return-content log-section"
                         fxLayout="column"
                         fxLayoutAlign="start stretch"
                    >
                        <app-return-status-bar [status]='(returnInfoViewData$ | async)?.status || null'>
                        </app-return-status-bar>

                        <app-document-log [logData]='(returnInfoViewData$ | async)?.returnLogs || null'>
                        </app-document-log>
                    </div>
                </div>

                <div
                    class="box-container fullwidth return-content"
                    *ngIf='returnInfoViewData$ != null'
                >
                    <div class="box-container__title return-title">
                        <span class="mat-headline"> Return Line </span>
                    </div>

                    <mat-table
                        class="return-detail-table sinbad-table no-margin"
                        [class.sinbad-table-no-record]="
                                   !(isLoading$ | async) &&
                                   (returnInfoViewData$ | async)?.totalReturnLine === 0
                                "
                        #table
                        [dataSource]="(returnInfoViewData$ | async)?.returnLines || []"
                        matSort
                        [@animateStagger]="{ value: '50' }"
                        fusePerfectScrollbar
                    >
                        <ng-container matColumnDef="product-name">
                            <mat-header-cell *matHeaderCellDef>
                                Product
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <p style="word-break: break-word;">
                                    {{ row?.name || '-' }}
                                </p>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="qty">
                            <mat-header-cell *matHeaderCellDef>
                                Order Quantity
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <p style="word-break: break-word;">
                                    {{ row?.qty || '-' }}
                                </p>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="unit-price">
                            <mat-header-cell *matHeaderCellDef>
                                Unit Price
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <p style="word-break: break-word;">
                                    {{ formatRp(row?.unitPrice) || '-' }}
                                </p>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="sum-price">
                            <mat-header-cell *matHeaderCellDef>
                                Sum Price
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <p style="word-break: break-word;">
                                    {{ formatRp(row?.sumPrice) || '-' }}
                                </p>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="return-reason">
                            <mat-header-cell *matHeaderCellDef>
                                Return Reason
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <p style="word-break: break-word;">
                                    {{ row?.reason || '-' }}
                                </p>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="note">
                            <mat-header-cell *matHeaderCellDef>
                                Notes
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <p style="word-break: break-word;">
                                    {{ row?.note || '-' }}
                                </p>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="no-record">
                            <mat-footer-cell *matFooterCellDef colspan="10">
                                No records found
                            </mat-footer-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedReturnLineColumns; sticky: true"></mat-header-row>
                        <mat-row
                            *matRowDef="let row; columns: displayedReturnLineColumns"
                            class="return"
                            matRipple
                        >
                        </mat-row>
                        <mat-footer-row
                            *matFooterRowDef="['no-record']"
                            [fxShow]="!(isLoading$ | async) && (returnInfoViewData$ | async)?.totalReturnLine === 0"
                        ></mat-footer-row>
                    </mat-table>
                </div>

                <app-document-info
                    [title]='null'
                >
                    <app-document-info-detail
                        [title]='"Return Summary"'
                        [isLoading]='isLoading$ | async'
                        [listInfoData]='
                                returnInfoViewData$ ?
                                    ((returnInfoViewData$ | async)?.returnSummaries || defaultViewData.returnSummaries):
                                defaultViewData.returnSummaries'
                    >
                    </app-document-info-detail>
                </app-document-info>

                <div class="loader" *ngIf="isLoading$ | async">
                    <mat-spinner color="accent"></mat-spinner>
                </div>

            </div>
        </div>
    </div>

</div>