@import 'src/@fuse/scss/fuse';

#return-detail {
    .header {
        height: 94px !important;
        min-height: 94px !important;
        max-height: 94px !important;

        .subtitle {
            margin: 6px 0 0 0;
        }

        .btn-action {
            min-width: 84px;
        }
    }

    .content-card {
        background: white;
        padding: 16px;
        margin: 18px;
        border-radius: 23px;
    }

    .content {
        .mat-headline {
            font-size: 18px;
            font-weight: 600;
        }
    }
}
