<h2 mat-dialog-title *ngIf="data?.title">
    {{ data?.title | titlecase }}
</h2>

<mat-dialog-content>
    <p [innerHTML]="data?.message"></p>
    <div
        class="box-container fullwidth return-content"
        *ngIf='data?.dataSource'
    >
        <form
            id="return-status-confirmation-form"
            name="returnStatusConfirmationForm"
            class="return-status-confirmation"
            [formGroup]="form"
            fxLayout="column"
            fxFlex
            novalidate
        >
            <mat-table
                class="return-detail-table sinbad-table no-margin sinbad-table__hover"
                [class.sinbad-table-no-record]="
                    data?.dataSource?.length < 1
                "
                #table
                [dataSource]="data?.dataSource || []"
                matSort
                [@animateStagger]="{ value: '50' }"
                fusePerfectScrollbar
            >
                <ng-container matColumnDef="product-name">
                    <mat-header-cell *matHeaderCellDef>
                        Product
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word; margin-right: 8px;">
                            {{ row?.name || '-' }}
                        </p>
                    </mat-cell>
                    <mat-footer-cell *matFooterCellDef>
                        Total Return
                    </mat-footer-cell>
                </ng-container>

                <ng-container matColumnDef="qty">
                    <mat-header-cell *matHeaderCellDef>
                        Return Quantity
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row; index as idx">
                        <div fxFlex fxLayoutAlign="start center" *ngIf="formMode[idx] | hasFormMode: 'view'">
                            <p style="word-break: break-word;" class="mr-8">
                                {{ row?.qty?.toString() || '-' }}
                            </p>
                            <mat-icon style="cursor: pointer" (click)="onClickEdit(row, idx)">edit</mat-icon>
                        </div>
                        <div *ngIf="formMode[idx] | hasFormMode: 'edit'" fxFlex fxLayoutAlign="start center" class="mr-8">
                            <input
                                type="number"
                                matInput
                                [formControl]="form.get(['returnData', idx, 'qtyChange'])"
                                autocomplete="off"
                                style="width: 60%;"
                                [class.mat-error]="hasError(qtyChange(idx))"
                            />
                            <div class="ml-8" fxFlex fxLayoutAlign="center center">
                                <mat-icon style="cursor: pointer;" (click)="formMode[idx] = 'view'" (click)="onSaveEditQty(row, idx)">check_circle</mat-icon>
                                <mat-icon style="cursor: pointer;" (click)="onCancelEditQty(idx)">cancel</mat-icon> 
                            </div>
                        </div>
                    </mat-cell>
        
                    <mat-footer-cell *matFooterCellDef [class.mat-error]="haveErrorMinNumber">
                        {{ getTotal('qty') }}
                    </mat-footer-cell>
                </ng-container>

                <ng-container matColumnDef="unit-price">
                    <mat-header-cell *matHeaderCellDef>
                        Unit Price
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{ formatRp(row?.unitPrice) || '-' }}
                        </p>
                    </mat-cell>
                    <mat-footer-cell *matFooterCellDef>
                        
                    </mat-footer-cell>
                </ng-container>

                <ng-container matColumnDef="total-price">
                    <mat-header-cell *matHeaderCellDef>
                        Total Price
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{ formatRp(row?.sumPrice) || '-' }}
                        </p>
                    </mat-cell>
                    <mat-footer-cell *matFooterCellDef [class.mat-error]="haveErrorMinNumber">
                        {{ formatRp( getTotal('sumPrice') ) || '-' }}
                    </mat-footer-cell>
                </ng-container>

                <ng-container matColumnDef="return-reason">
                    <mat-header-cell *matHeaderCellDef>
                        Return Reason
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{ row?.reason || '-' }}
                        </p>
                    </mat-cell>
                    <mat-footer-cell *matFooterCellDef>
                        
                    </mat-footer-cell>
                </ng-container>

                <ng-container matColumnDef="note">
                    <mat-header-cell *matHeaderCellDef>
                        Notes
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{ row?.note || '-' }}
                        </p>
                    </mat-cell>
                    <mat-footer-cell *matFooterCellDef>
                        
                    </mat-footer-cell>
                </ng-container>

                <ng-container matColumnDef="no-record">
                    <mat-footer-cell *matFooterCellDef colspan="10">
                        No records found
                    </mat-footer-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedReturnLineColumns; sticky: true"></mat-header-row>
                <mat-row
                    *matRowDef="let row; columns: displayedReturnLineColumns"
                    class="return"
                    matRipple
                >
                </mat-row>
                <mat-footer-row
                    *matFooterRowDef="['no-record']"
                    [fxShow]="data?.dataSource?.length < 1"
                ></mat-footer-row>
                
                <mat-footer-row 
                    *matFooterRowDef="displayedReturnLineColumns" 
                    [fxShow]="data?.dataSource?.length > 0"
                ></mat-footer-row>
            </mat-table>
            <div 
                class="card card-block"
                *ngFor="let error of errorMessages"
            >
                <div class="error-info-container">
                    <p>{{ error }}</p>
                </div>
            </div>
        </form>
    </div>
    
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="{ originalDataSource: data?.originalDataSource }">Cancel</button>
    <!-- [mat-dialog-close]="{ id: data?.id, change: data?.change, dataSource: data?.dataSource, formData: returnData.value }" -->
    <button mat-button (click)="onOkButton()" cdkFocusInitial disabled="false">
        Yes, confirm.
    </button>
</mat-dialog-actions>
