@import 'src/@fuse/scss/fuse';

app-merchant-employee-detail {
    .merchant-employees-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        background: #fafafa !important;

        // .mat-header-row {
        //     min-height: 64px;
        // }

        .mat-header-row,
        .mat-row {
            background: white;
        }

        .mat-row {
            min-height: unset;
        }

        .merchant-employee {
            position: relative;
            cursor: pointer;
            // height: 84px;
        }

        .mat-header-cell {
            text-align: left;
            font-weight: 700;
            // padding-right: 8px;
        }

        .mat-cell {
            font-size: 12px;
            min-width: 0;
            display: flex;
            align-items: center;
            // padding-top: 8px;
            // padding-bottom: 8px;
            // padding-right: 8px;
        }

        .mat-column-name {
            flex: 0 1 20%;
        }

        .mat-column-role {
            flex: 0 1 20%;
        }

        .mat-column-phone-no {
            flex: 0 1 20%;
        }

        .mat-column-last-check-in {
            flex: 0 1 20%;
        }

        .mat-column-status {
            flex: 0 1 20%;
        }

        .active-icon {
            border-radius: 50%;
        }

        .mat-column-actions {
            flex: 0 1 80px;
            justify-content: flex-end;
        }

        .active-icon {
            border-radius: 50%;
        }
    }
}
