@import 'src/@fuse/scss/fuse';

app-merchant-employee-detail {
    .merchant-employees-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        .mat-header-row {
            min-height: 64px;
        }

        .merchant-employee {
            position: relative;
            cursor: pointer;
            height: 84px;
        }

        .mat-cell {
            min-width: 0;
            display: flex;
            align-items: center;
        }

        .mat-column-no {
            flex: 0 1 84px;
        }

        .mat-column-image {
            flex: 0 1 84px;

            .account-image {
                width: 52px;
                height: 52px;
                border: 1px solid rgba(0, 0, 0, 0.12);
            }
        }

        .mat-column-phoneNumber {
            flex: 0 1 160px;
        }

        .mat-column-role {
            flex: 0 1 160px;
        }

        .mat-column-totalProduct {
            flex: 0 1 80px;
        }

        .quantity-indicator {
            display: inline-block;
            vertical-align: middle;
            width: 8px;
            height: 8px;
            border-radius: 4px;
            margin-right: 8px;

            & + span {
                display: inline-block;
                vertical-align: middle;
            }
        }

        .active-icon {
            border-radius: 50%;
        }

        .mat-column-actions {
            flex: 0 1 80px;
            justify-content: flex-end;
        }
    }
}
