<h2 mat-dialog-title>
    Pastikan untuk menyalin kata sandi Anda sekarang, karena Anda tidak akan dapat melihatnya lagi.
</h2>

<mat-dialog-content class="mat-typography">
    <div style="margin: 0 auto; width: 50%" (click)="onCopyText()">
        <p
            class="text-password"
            id="text-password"
            style="text-align: center"
            [innerHTML]="data?.password"
        ></p>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button type="submit" (click)="onConfirm()">Yes, confirm.</button>
</mat-dialog-actions>
