@import 'src/@fuse/scss/fuse';

#sc-oms-add-manual-order-order-list {
    // height: 248px;
    // flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    // gap: 16px;
    // padding: 0 0 16px;
    background-color: var(--bg-color-light);

    .mat-form-field-flex {
        height: 48px;
    }
    .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: 5px 0 5px 0;
    }
    .title-section {
        height: 20px;
        flex-grow: 1;
        font-family: Inter;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: -0.4px;
        text-align: left;
        color: var(--text-color-default);
    }

    .order-list-table {
        flex: 1 1 auto;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        overflow: auto;
        min-height: 40px;
        // max-height: 350px;
        -webkit-overflow-scrolling: touch;
        background: #fafafa !important;

        &.sinbad-table-no-record {
            background: #ffffff !important;
            // max-height: 350px;
            .mat-header-row {
                pointer-events: none;
            }
        }

        .mat-header-row {
            background: #F3F5F7;
            min-width: fit-content;
            width: 100%;
        }
        .mat-row {
            background: white;
            min-width: fit-content;
            width: 100%;
        }

        .mat-row {
            min-height: unset;
        }

        .sinbad-order-list-table {
            position: relative;
            cursor: pointer;
            // height: 84px;
        }

        .mat-header-cell {
            text-align: left;
            font-weight: 700;
            color: #0b1a28;
            font-family: Inter;
            font-size: 14px;

            &:not(:last-of-type) {
                padding-right: 8px;
            }
        }

        mat-header-cell:first-of-type,
        .mat-header-cell:first-of-type,
        .mat-cell:first-of-type {
            padding-left: 12px;
        }

        mat-cell:last-of-type,
        .mat-header-cell:last-of-type,
        .mat-cell:last-of-type {
            padding-right: 12px;
        }

        .mat-cell {
            font-size: 12px;
            min-width: 0;
            display: flex;
            align-items: center;
            padding-right: 8px;
        }

        .mat-column-id {
            flex: 0 1 84px;
        }

        .mat-column-order-sku-id {
            flex: 0 1 114px;
            min-width: 114px;
        }

        .mat-column-order-sku-supplier {
            flex: 0 1 114px;
            min-width: 114px;
        }

        .mat-column-order-product-name {
            flex: 0 1 406px;
            max-width: 406px;
        }

        .mat-column-order-qty {
            flex: 0 1 111px;
            min-width: 111px;
        }

        .mat-column-order-uom {
            flex: 0 1 77px;
            min-width: 77px;
        }

        .mat-column-order-price {
            flex: 0 1 127px;
            min-width: 127px;
        }
        
        .mat-column-order-tax {
            flex: 0 1 77px;
            min-width: 77px;
        }
        .mat-column-order-action {
            flex: 0 1 64px;
            min-width: 64px;
            align-items: center;
        }

        .mat-column-no-record {
            position: relative;
            top: 7em;
            justify-content: center;
        }

        .active-icon {
            border-radius: 50%;
        }
    }
}
