<div id="internals" class="page-layout carded fullwidth inner-scroll" fusePerfectScrollbar>
    <!-- TOP BACKGROUND -->
    <div class="accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- CONTENT HEADER -->
        <div class="header sinbad" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <button
                    mat-flat-button
                    color="accent"
                    [routerLink]="['/pages/account/internal/new']"
                >
                    <mat-icon>add</mat-icon>

                    TAMBAH EMPLOYEE
                </button>

                <!-- <button mat-flat-button color="accent">
                    EXPORT
                </button> -->

                <!-- <button mat-stroked-button color="accent" class="sinbad">
                    IMPORT
                </button> -->
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <!-- SEARCH mx-12 -->
                <div class="search-wrapper">
                    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon>search</mat-icon>
                        <input [formControl]="search" placeholder="Cari Disini" />
                    </div>
                </div>
                <!-- / SEARCH -->

                <!-- <button mat-flat-button class="grey-600">
                    <mat-icon>filter_list</mat-icon>
                    Filter Lists
                </button>

                <button mat-flat-button class="grey-600">
                    Group By
                </button> -->
            </div>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- <mat-card class="mb-24" *ngIf="search.value">
            <div fxLayout="column" fxLayoutGap="10px">
                <small>
                    Filter & Group By
                </small>

                <div>
                    <mat-chip-list aria-label="Filter">
                        <mat-chip *ngIf="searchInternalEmployee || search.value">
                            {{ searchInternalEmployee || search.value }}

                            <mat-icon matChipRemove (click)="onRemoveSearchInternalEmployee()">
                                cancel
                            </mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>
        </mat-card> -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <mat-table
                class="internals-table"
                #table
                [dataSource]="dataSource$ | async"
                [trackBy]="onTrackBy"
                matSort
                [@animateStagger]="{ value: '50' }"
                fusePerfectScrollbar
            >
                <!-- User Column -->
                <ng-container matColumnDef="user">
                    <mat-header-cell *matHeaderCellDef>
                        Nama
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{ safeValue(row?.user?.fullName) }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Email Column -->
                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef>
                        Email
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{ safeValue(row?.user?.email) }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Role Column -->
                <ng-container matColumnDef="role">
                    <mat-header-cell *matHeaderCellDef>
                        Role
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p
                            style="word-break: break-word;"
                            [innerHTML]="joinRoles(row?.user?.roles)"
                        ></p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>
                        Action
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div
                            fxFlex="row"
                            fxLayoutAlign="end center"
                            *ngIf="(auth$ | async)?.user?.id !== row?.userId"
                        >
                            <button
                                mat-icon-button
                                [matMenuTriggerFor]="moreMenu"
                                aria-label="More"
                                (click)="$event.stopPropagation()"
                            >
                                <mat-icon class="secondary-text">more_vert</mat-icon>
                            </button>

                            <mat-menu #moreMenu="matMenu">
                                <button
                                    mat-menu-item
                                    type="button"
                                    class="sinbad-mat-menu-item"
                                    aria-label="Edit"
                                    [routerLink]="[row?.userId]"
                                >
                                    <mat-icon>edit</mat-icon>
                                    <span>Edit</span>
                                </button>

                                <button
                                    mat-menu-item
                                    type="button"
                                    class="sinbad-mat-menu-item"
                                    aria-label="Delete"
                                    (click)="onDelete(row)"
                                >
                                    <mat-icon>delete</mat-icon>
                                    <span>Remove</span>
                                </button>

                                <button
                                    mat-menu-item
                                    type="button"
                                    class="sinbad-mat-menu-item"
                                    [attr.aria-label]="
                                        row?.status === 'active' ? 'inactive' : 'active'
                                    "
                                    (click)="onChangeStatus(row)"
                                >
                                    <mat-icon>
                                        {{
                                            row?.status === 'active'
                                                ? 'archive'
                                                : 'check_circle_outline'
                                        }}
                                    </mat-icon>
                                    <span>
                                        {{
                                            (row?.status === 'active'
                                                ? 'ACTION.INACTIVE'
                                                : 'ACTION.ACTIVE'
                                            ) | translate
                                        }}
                                    </span>
                                </button>
                            </mat-menu>
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>

                <mat-row
                    *matRowDef="let row; columns: displayedColumns"
                    class="internal"
                    [ngClass]="{ 'highlight-row': (selectedRowIndex$ | async) === row?.id }"
                >
                </mat-row>

                <!--  <mat-row
                    *matRowDef="let row; columns: displayedColumns"
                    class="internal"
                    [ngClass]="{ 'highlight-row': (selectedRowIndex$ | async) === row?.userId }"
                    matRipple
                    [routerLink]="[row?.userId]"
                >
                </mat-row> -->
            </mat-table>

            <!--  [routerLink]="['/pages/account/internal', row?.userId, 'detail']" -->

            <div class="no-records" *ngIf="(isLoading$ | async) && !(totalDataSource$ | async)">
                <mat-spinner color="accent"></mat-spinner>
            </div>

            <div
                class="no-records"
                *ngIf="!(isLoading$ | async) && (totalDataSource$ | async) === 0"
            >
                No records found
            </div>

            <mat-paginator
                [fxHide]="
                    ((isLoading$ | async) && !(totalDataSource$ | async)) ||
                    (!(isLoading$ | async) && (totalDataSource$ | async) === 0)
                "
                [length]="totalDataSource$ | async"
                [pageSize]="defaultPageSize"
                [pageSizeOptions]="[5, 10, 25, 100]"
                (page)="onChangePage($event)"
                showFirstLastButtons
            >
            </mat-paginator>

            <div class="loader" *ngIf="(isLoading$ | async) && (totalDataSource$ | async)">
                <mat-spinner color="accent"></mat-spinner>
            </div>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
