<div id="payment-status" class="page-layout carded fullwidth inner-scroll">
    <!-- <navbar variant="horizontal-custom-style-1" class="top-navbar"></navbar> -->

    <!-- TOP BACKGROUND -->
    <div class="accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center p-8">
        <!-- CONTENT CARD -->
        <div class="content-card">
            <sinbad-card-header [config]="cardHeaderConfig"></sinbad-card-header>

            <mat-table
                class="payments-table sinbad-table mx-16"
                [class.sinbad-table-no-record]="
                    !(isLoading$ | async) && (totalDataSource$ | async) === 0
                "
                #table
                [dataSource]="dataSource$ | async"
                [trackBy]="onTrackBy"
                matSort
                [@animateStagger]="{ value: '50' }"
                fusePerfectScrollbar
            >
                <!-- Order Reference Column -->
                <ng-container matColumnDef="order-reference">
                    <mat-header-cell *matHeaderCellDef>
                        Order Reference
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p class="text-word-break-break-word">
                            {{ row?.orderRef || '-' }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Order Code Column -->
                <ng-container matColumnDef="order-code">
                    <mat-header-cell *matHeaderCellDef>
                        Order Code
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p class="text-word-break-break-word">
                            {{ row?.orderCode || '-' }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Store Name Column -->
                <ng-container matColumnDef="store-name">
                    <mat-header-cell *matHeaderCellDef>
                        Store Name
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p class="text-word-break-break-word">
                            {{ row?.store?.name || '-' }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Account Receivable Column -->
                <ng-container matColumnDef="account-receivable">
                    <mat-header-cell *matHeaderCellDef>
                        Account Receivable
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p class="price text-word-break-break-word">
                            {{
                                +row?.parcelNettPrice > 0
                                    ? (row?.parcelNettPrice | price: 'short') || '-'
                                    : row?.parcelNettPrice
                            }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef>
                        Status
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p
                            [attr.data-content]="safeValue(row?.statusPayment)"
                            class="text-word-break-break-word"
                        >
                            <ng-container [ngSwitch]="row?.statusPayment">
                                <ng-container *ngSwitchCase="'waiting_for_payment'">
                                    Waiting for Payment
                                </ng-container>

                                <ng-container *ngSwitchCase="'payment_failed'">
                                    Payment Failed
                                </ng-container>

                                <ng-container *ngSwitchDefault>
                                    {{ (row?.statusPayment | titlecase) || '-' }}
                                </ng-container>
                            </ng-container>
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Source Column -->
                <!-- <ng-container matColumnDef="source">
                    <mat-header-cell *matHeaderCellDef>
                        <span class="text-left">Source</span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                       <p class="text-word-break-break-word">
                            {{ row?.source }}
                        </p>
                    </mat-cell>
                </ng-container> -->

                <!-- Payment Type Column -->
                <ng-container matColumnDef="payment-type">
                    <mat-header-cell *matHeaderCellDef>
                        Payment Type
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p class="text-word-break-break-word">
                            {{
                                row?.paymentTypeSupplierMethod?.paymentTypeSupplier?.paymentType
                                    ?.name || '-'
                            }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Payment Method Column -->
                <ng-container matColumnDef="payment-method">
                    <mat-header-cell *matHeaderCellDef>
                        Payment Method
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p class="text-word-break-break-word">
                            {{ row?.paymentTypeSupplierMethod?.paymentMethod?.name || '-' }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Order Date Column -->
                <ng-container matColumnDef="order-date">
                    <mat-header-cell *matHeaderCellDef>
                        Date Order
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p class="text-word-break-break-word">
                            {{ (row?.createdAt | date: 'dd MMM yyyy') || '-' }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Due Date Column -->
                <ng-container matColumnDef="due-date">
                    <mat-header-cell *matHeaderCellDef>
                        Due Date
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p class="indicator-green text-word-break-break-word" *ngIf="!row?.dueDate">
                            {{ (row?.estDueDate | date: 'dd MMM yyyy') || '-' }}
                        </p>

                        <p class="text-word-break-break-word" *ngIf="row?.dueDate">
                            {{ (row?.dueDate | date: 'dd MMM yyyy') || '-' }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Paid On Column -->
                <ng-container matColumnDef="paid-on">
                    <mat-header-cell *matHeaderCellDef>
                        Paid On
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p class="text-word-break-break-word" *ngIf="row?.statusPayment === 'paid'">
                            {{ (row?.paidTime | date: 'dd MMM yyyy') || '-' }}
                        </p>

                        <p class="text-word-break-break-word" *ngIf="row?.statusPayment !== 'paid'">
                            -
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Aging Day Column -->
                <ng-container matColumnDef="aging-day">
                    <mat-header-cell *matHeaderCellDef>
                        Aging Day
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p class="text-word-break-break-word">
                            {{ agingDate(row?.agingDay) }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- D Column -->
                <ng-container matColumnDef="d">
                    <mat-header-cell *matHeaderCellDef>
                        <span class="text-left">D-</span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p class="text-word-break-break-word">
                            {{ row?.dueDay || '-' }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Proof of Payment Status Column -->
                <!-- <ng-container matColumnDef="proof-of-payment-status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>
                        <span class="text-left">Proof of Payment Status</span>
                    </mat-header-cell>

                    <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>
                        <ng-container *ngIf="row?.proofOfPaymentStatus">
                            <a href="#">Checked</a>
                        </ng-container>
                        <ng-container *ngIf="!row?.proofOfPaymentStatus">
                            <a href="#">To be Checked</a>
                        </ng-container>
                    </mat-cell>
                </ng-container> -->

                <ng-container matColumnDef="actions">
                    <!-- <mat-header-cell *matHeaderCellDef>
                        <button mat-icon-button *ngIf="hasSelected">
                            <mat-icon class="secondary-text">delete</mat-icon>
                        </button>
                    </mat-header-cell> -->

                    <mat-header-cell *matHeaderCellDef>
                        Actions
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div
                            fxFlex="row"
                            fxLayoutAlign="end center"
                            *ngIf="row?.statusPayment !== 'paid'"
                        >
                            <button
                                mat-icon-button
                                [matMenuTriggerFor]="moreMenu"
                                aria-label="More"
                                (click)="$event.stopPropagation()"
                            >
                                <mat-icon class="secondary-text">more_vert</mat-icon>
                            </button>

                            <mat-menu #moreMenu="matMenu">
                                <ng-template [ngxPermissionsOnly]="['FINANCE.PS.UPDATE']">
                                    <button
                                        mat-menu-item
                                        type="button"
                                        class="sinbad-mat-menu-item"
                                        aria-label="Update Status"
                                        (click)="onUpdate(row)"
                                    >
                                        <span>Update Status</span>
                                    </button>
                                </ng-template>

                                <!-- <button
                                    mat-menu-item
                                    type="button"
                                    class="sinbad-mat-menu-item"
                                    aria-label="Proof of Payment"
                                    (click)="onProofPayment()"
                                >
                                    <span>Proof of Payment</span>
                                </button> -->
                            </mat-menu>
                        </div>
                    </mat-cell>
                </ng-container>

                <!-- No Record Column -->
                <ng-container matColumnDef="no-record">
                    <mat-footer-cell *matFooterCellDef colspan="8">
                        No records found
                    </mat-footer-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                <mat-row
                    *matRowDef="let row; columns: displayedColumns"
                    class="payment"
                    [ngClass]="{ 'highlight-row': (selectedRowIndex$ | async) === row?.id }"
                ></mat-row>
                <mat-footer-row
                    *matFooterRowDef="['no-record']"
                    [fxShow]="!(isLoading$ | async) && (totalDataSource$ | async) === 0"
                ></mat-footer-row>

                <!-- <mat-row
                    *matRowDef="let row; columns: displayedColumns"
                    class="payment"
                    matRipple
                    [routerLink]="['/pages/orders', row.id, 'detail']"
                >
                </mat-row> -->
            </mat-table>

            <div
                class="loader-content"
                *ngIf="
                    (isLoading$ | async) &&
                    (!(totalDataSource$ | async) || (totalDataSource$ | async))
                "
            >
                <mat-spinner color="accent"></mat-spinner>
            </div>

            <!-- <div class="no-records" *ngIf="(isLoading$ | async) && !(totalDataSource$ | async)">
                <mat-spinner color="accent"></mat-spinner>
            </div>

            <div
                class="no-records"
                *ngIf="!(isLoading$ | async) && (totalDataSource$ | async) === 0"
            >
                No records found
            </div> -->

            <mat-paginator
                [disabled]="
                    ((isLoading$ | async) && !(totalDataSource$ | async)) ||
                    (!(isLoading$ | async) && (totalDataSource$ | async) === 0)
                "
                [length]="totalDataSource$ | async"
                [pageSize]="defaultPageSize"
                [pageSizeOptions]="defaultPageOpts"
                showFirstLastButtons
            ></mat-paginator>

            <!-- <div class="loader" *ngIf="(isLoading$ | async) && (totalDataSource$ | async)">
                <mat-spinner color="accent"></mat-spinner>
            </div> -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
