<div id="payment-status" class="page-layout carded fullwidth inner-scroll" fusePerfectScrollbar>
    <!-- <navbar variant="horizontal-custom-style-1" class="top-navbar"></navbar> -->

    <!-- TOP BACKGROUND -->
    <div class="accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <div class="mt-16">Today: {{ today | date: 'dd-MMMM-yyyy' }}</div>

        <!-- CONTENT HEADER -->
        <div class="header sinbad" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <button type="button" mat-flat-button color="accent" (click)="onExport()">
                    EXPORT
                </button>

                <button
                    type="button"
                    mat-stroked-button
                    color="accent"
                    class="sinbad"
                    (click)="filePicker.click()"
                >
                    IMPORT
                </button>

                <input
                    type="file"
                    #filePicker
                    class="custom-file"
                    (click)="filePicker.value = null"
                    (change)="onFileBrowse($event, 'docs')"
                />

                <button type="button" mat-flat-button color="primary" (click)="onDownload()">
                    <span>DOWNLOAD TEMPLATE</span>
                </button>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <!-- SEARCH mx-12 -->
                <div class="search-wrapper">
                    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon>search</mat-icon>
                        <input [formControl]="search" placeholder="Cari Disini" />
                    </div>
                </div>
                <!-- / SEARCH -->

                <!-- <button mat-flat-button class="grey-600">
                    <mat-icon>filter_list</mat-icon>
                    Filter Lists
                </button>

                <button mat-flat-button class="grey-600">
                    Group By
                </button> -->
            </div>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- <mat-card
            class="mb-24"
            *ngIf="search.value || (filterStatus && filterStatus !== 'all-status')"
        >
            <div fxLayout="column" fxLayoutGap="10px">
                <small>
                    Filter & Group By
                </small>

                <div>
                    <mat-chip-list aria-label="Filter">
                        <mat-chip *ngIf="searchInternalEmployee || search.value">
                            {{ searchInternalEmployee || search.value }}

                            <mat-icon matChipRemove (click)="onRemoveSearchInternalEmployee()">
                                cancel
                            </mat-icon>
                        </mat-chip>

                        <mat-chip *ngIf="searchPaymentStatus || filterStatus">
                            Status: {{ searchPaymentStatus | titlecase | replace: '_':' ' }}

                            <mat-icon matChipRemove (click)="onRemoveSearchPaymentStatus()">
                                cancel
                            </mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>
        </mat-card> -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <mat-table
                class="payments-table"
                #table
                [dataSource]="dataSource$ | async"
                [trackBy]="onTrackBy"
                matSort
                [@animateStagger]="{ value: '50' }"
                fusePerfectScrollbar
            >
                <!-- Order Reference Column -->
                <ng-container matColumnDef="order-reference">
                    <mat-header-cell *matHeaderCellDef>
                        Order Reference
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{ safeValue(row?.orderRef) }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Order Code Column -->
                <ng-container matColumnDef="order-code">
                    <mat-header-cell *matHeaderCellDef>
                        Order Code
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{ safeValue(row?.orderCode) }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Store Name Column -->
                <ng-container matColumnDef="store-name">
                    <mat-header-cell *matHeaderCellDef>
                        Store Name
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{ safeValue(row?.store?.name) }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Account Receivable Column -->
                <ng-container matColumnDef="account-receivable">
                    <mat-header-cell *matHeaderCellDef>
                        Account Receivable
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p class="price" style="word-break: break-word;">
                            {{
                                row?.parcelDetails?.totalNettPrice > 0 ||
                                row?.parcelDetails?.totalNettPrice == 0
                                    ? (row?.parcelDetails?.totalNettPrice | price: 'short')
                                    : safeValue(row?.parcelDetails?.totalNettPrice)
                            }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef>
                        Status
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p
                            [attr.data-content]="safeValue(row?.statusPayment)"
                            style="word-break: break-word;"
                        >
                            <ng-container [ngSwitch]="row?.statusPayment">
                                <ng-container *ngSwitchCase="'waiting_for_payment'">
                                    Waiting for Payment
                                </ng-container>

                                <ng-container *ngSwitchDefault>
                                    {{ safeValue(row?.statusPayment) | titlecase }}
                                </ng-container>
                            </ng-container>
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Source Column -->
                <!-- <ng-container matColumnDef="source">
                    <mat-header-cell *matHeaderCellDef>
                        <span class="text-left">Source</span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                       <p style="word-break: break-word;">
                            {{ row?.source }}
                        </p>
                    </mat-cell>
                </ng-container> -->

                <!-- Payment Type Column -->
                <ng-container matColumnDef="payment-type">
                    <mat-header-cell *matHeaderCellDef>
                        Payment Type
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{
                                safeValue(
                                    row?.paymentTypeSupplierMethod?.paymentTypeSupplier?.paymentType
                                        ?.name
                                )
                            }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Payment Method Column -->
                <ng-container matColumnDef="payment-method">
                    <mat-header-cell *matHeaderCellDef>
                        Payment Method
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{ safeValue(row?.paymentTypeSupplierMethod?.paymentMethod?.name) }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Order Date Column -->
                <ng-container matColumnDef="order-date">
                    <mat-header-cell *matHeaderCellDef>
                        Date Order
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{
                                safeValue(row?.createdAt) !== '-'
                                    ? (row?.createdAt | date: 'dd MMM yyyy')
                                    : safeValue(row?.createdAt)
                            }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Due Date Column -->
                <ng-container matColumnDef="due-date">
                    <mat-header-cell *matHeaderCellDef>
                        Due Date
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p
                            class="indicator-green"
                            style="word-break: break-word;"
                            *ngIf="!row?.dueDate"
                        >
                            {{
                                safeValue(row?.estDueDate) !== '-'
                                    ? (row?.estDueDate | date: 'dd MMM yyyy')
                                    : safeValue(row?.estDueDate)
                            }}
                        </p>

                        <p style="word-break: break-word;" *ngIf="row?.dueDate">
                            {{
                                safeValue(row?.dueDate) !== '-'
                                    ? (row?.dueDate | date: 'dd MMM yyyy')
                                    : safeValue(row?.dueDate)
                            }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Paid On Column -->
                <ng-container matColumnDef="paid-on">
                    <mat-header-cell *matHeaderCellDef>
                        Paid On
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;" *ngIf="row?.statusPayment === 'paid'">
                            {{
                                safeValue(row?.paidTime) !== '-'
                                    ? (row?.paidTime | date: 'dd MMM yyyy')
                                    : safeValue(row?.paidTime)
                            }}
                        </p>

                        <p style="word-break: break-word;" *ngIf="row?.statusPayment !== 'paid'">
                            -
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Aging Day Column -->
                <ng-container matColumnDef="aging-day">
                    <mat-header-cell *matHeaderCellDef>
                        Aging Day
                    </mat-header-cell>

                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{ agingDate(row?.agingDay) }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- D Column -->
                <ng-container matColumnDef="d">
                    <mat-header-cell *matHeaderCellDef>
                        <span class="text-left">D-</span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{ safeValue(row?.dueDay) }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Proof of Payment Status Column -->
                <!-- <ng-container matColumnDef="proof-of-payment-status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>
                        <span class="text-left">Proof of Payment Status</span>
                    </mat-header-cell>

                    <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>
                        <ng-container *ngIf="row?.proofOfPaymentStatus">
                            <a href="#">Checked</a>
                        </ng-container>
                        <ng-container *ngIf="!row?.proofOfPaymentStatus">
                            <a href="#">To be Checked</a>
                        </ng-container>
                    </mat-cell>
                </ng-container> -->

                <ng-container matColumnDef="actions">
                    <!-- <mat-header-cell *matHeaderCellDef>
                        <button mat-icon-button *ngIf="hasSelected">
                            <mat-icon class="secondary-text">delete</mat-icon>
                        </button>
                    </mat-header-cell> -->

                    <mat-header-cell *matHeaderCellDef>
                        Action
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div
                            fxFlex="row"
                            fxLayoutAlign="end center"
                            *ngIf="row?.statusPayment !== 'paid'"
                        >
                            <button
                                mat-icon-button
                                [matMenuTriggerFor]="moreMenu"
                                aria-label="More"
                                (click)="$event.stopPropagation()"
                            >
                                <mat-icon class="secondary-text">more_vert</mat-icon>
                            </button>

                            <mat-menu #moreMenu="matMenu">
                                <button
                                    mat-menu-item
                                    type="button"
                                    class="sinbad-mat-menu-item"
                                    aria-label="Update Status"
                                    (click)="onUpdate(row)"
                                >
                                    <span>Update Status</span>
                                </button>

                                <!-- <button
                                    mat-menu-item
                                    type="button"
                                    class="sinbad-mat-menu-item"
                                    aria-label="Proof of Payment"
                                    (click)="onProofPayment()"
                                >
                                    <span>Proof of Payment</span>
                                </button> -->
                            </mat-menu>
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>

                <mat-row
                    *matRowDef="let row; columns: displayedColumns"
                    class="payment"
                    [ngClass]="{ 'highlight-row': (selectedRowIndex$ | async) === row?.id }"
                ></mat-row>

                <!-- <mat-row
                    *matRowDef="let row; columns: displayedColumns"
                    class="payment"
                    matRipple
                    [routerLink]="['/pages/orders', row.id, 'detail']"
                >
                </mat-row> -->
            </mat-table>

            <div class="no-records" *ngIf="(isLoading$ | async) && !(totalDataSource$ | async)">
                <mat-spinner color="accent"></mat-spinner>
            </div>

            <div
                class="no-records"
                *ngIf="!(isLoading$ | async) && (totalDataSource$ | async) === 0"
            >
                No records found
            </div>

            <mat-paginator
                [fxHide]="
                    ((isLoading$ | async) && !(totalDataSource$ | async)) ||
                    (!(isLoading$ | async) && (totalDataSource$ | async) === 0)
                "
                [length]="totalDataSource$ | async"
                [pageSize]="defaultPageSize"
                [pageSizeOptions]="[5, 10, 25, 100]"
                showFirstLastButtons
            >
            </mat-paginator>

            <div class="loader" *ngIf="(isLoading$ | async) && (totalDataSource$ | async)">
                <mat-spinner color="accent"></mat-spinner>
            </div>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
