app-stepper {
    .text-container > span.text-description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
                line-clamp: 3; 
        max-lines: 3;
        -webkit-box-orient: vertical;
    }
}