<h2 mat-dialog-title *ngIf="data?.title">
    {{ data?.title | titlecase }}
</h2>

<mat-dialog-content class="mat-typography" style="min-width: 50em;">
    <form
        id="credit-limit-form"
        class="w-100-p"
        [formGroup]="form"
        (ngSubmit)="onSubmit(pageType)"
        fxLayout="column"
        fxFlex
        novalidate
    >
        <div class="custom-field" fxLayout="row" fxLayoutAlign="space-between stretch">
            <label
                fxFlexAlign="center"
                fxFlex="12"
                [class.mat-error]="
                    form.get('limit').errors &&
                    !form.get('limit').untouched &&
                    (form.get('limit').dirty || form.get('limit').touched)
                "
            >
                Credit Limit
            </label>

            <mat-form-field appearance="outline" fxFlex="80">
                <!-- <span matPrefix>Rp &nbsp;</span> -->
                <input
                    matInput
                    name="limit"
                    formControlName="limit"
                    mask="separator.2"
                    thousandSeparator="."
                    prefix="Rp"
                />

                <mat-error
                    *ngIf="
                        form.get('limit').errors &&
                        (form.get('limit').dirty || form.get('limit').touched)
                    "
                >
                    {{ getErrorMessage('limit') }}
                </mat-error>
            </mat-form-field>
        </div>

        <div class="custom-field" fxLayout="row" fxLayoutAlign="space-between stretch">
            <label
                fxFlexAlign="center"
                fxFlex="12"
                [class.mat-error]="
                    form.get('balance').errors &&
                    !form.get('balance').untouched &&
                    (form.get('balance').dirty || form.get('balance').touched)
                "
            >
                Starting Balance
            </label>

            <mat-form-field appearance="outline" fxFlex="80">
                <!-- <span matPrefix>Rp &nbsp;  thousandSeparator="."</span> -->
                <input
                    matInput
                    name="balance"
                    formControlName="balance"
                    mask="separator.2"
                    thousandSeparator="."
                    prefix="Rp"
                />

                <mat-error
                    *ngIf="
                        form.get('balance').errors &&
                        (form.get('balance').dirty || form.get('balance').touched)
                    "
                >
                    {{ getErrorMessage('balance') }}
                </mat-error>
            </mat-form-field>
        </div>

        <div class="custom-field" fxLayout="row" fxLayoutAlign="space-between stretch">
            <label
                fxFlexAlign="center"
                fxFlex="12"
                [class.mat-error]="
                    form.get('top').errors &&
                    !form.get('top').untouched &&
                    (form.get('top').dirty || form.get('top').touched)
                "
            >
                Set ToP
            </label>

            <mat-form-field appearance="outline" fxFlex="80">
                <!-- <span matPrefix>Rp &nbsp;</span> -->
                <input matInput name="top" formControlName="top" suffix=" days" mask="0*" />

                <mat-error
                    *ngIf="
                        form.get('top').errors && (form.get('top').dirty || form.get('top').touched)
                    "
                >
                    {{ getErrorMessage('top') }}
                </mat-error>
            </mat-form-field>
        </div>
    </form>
    <!-- <p [innerHTML]="data?.message"></p>
    <form [formGroup]="form">
        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p date-form" *ngIf="!(data?.range)">
            <mat-label>Date</mat-label>

            <input matInput [matDatepicker]="dpFilterDate" formControlName="filterDate" />

            <mat-datepicker-toggle matSuffix [for]="dpFilterDate"></mat-datepicker-toggle>
            <mat-datepicker touchUi #dpFilterDate disabled="false"></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p date-form" *ngIf="data?.range">
            <mat-label>Start Date</mat-label>

            <input matInput
                   [matDatepicker]="dpStartDate"
                   [min]="minStartDate"
                   [max]="maxStartDate"
                   (dateChange)="onChangeStartDate($event)"
                   (dateInput)="onInputStartDate($event)"
                   formControlName="startDate" />

            <mat-datepicker-toggle matSuffix [for]="dpStartDate"></mat-datepicker-toggle>
            <mat-datepicker touchUi #dpStartDate disabled="false"></mat-datepicker>

            <mat-error *ngIf="form.get('startDate').invalid && (form.get('startDate').dirty || form.get('startDate').touched)">
                {{getErrorMessage('startDate', 'start_date')}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p date-form" *ngIf="data?.range">
            <mat-label>End Date</mat-label>

            <input matInput
                   [matDatepicker]="dpEndDate"
                   [min]="minEndDate"
                   [max]="maxEndDate"
                   formControlName="endDate" />

            <mat-datepicker-toggle matSuffix [for]="dpEndDate"></mat-datepicker-toggle>
            <mat-datepicker touchUi #dpEndDate [disabled]="!form.get('startDate').value"></mat-datepicker>

            <mat-error *ngIf="form.get('endDate').invalid && (form.get('endDate').dirty || form.get('endDate').touched)">
                {{getErrorMessage('endDate', 'end_date')}}
            </mat-error>
        </mat-form-field>
    </form> -->
</mat-dialog-content>

<mat-dialog-actions align="end">
    <span fxLayout="row" fxLayoutGap="10px">
        <button
            mat-flat-button
            type="submit"
            color="accent"
            [attr.cdkFocusInitial]="form.valid"
            [disabled]="pageType === 'edit' ? form.invalid || form.pristine : form.invalid"
            form="credit-limit-form"
        >
            Simpan
        </button>
        <button mat-stroked-button mat-dialog-close>Batal</button>
    </span>
</mat-dialog-actions>
