<div class="sku-stock-content" fxLayout="column">
    <sinbad-card-header [config]="cardHeaderConfig">
        <span first-bottom-left *ngIf="!(isLoading$ | async)">
            Total {{ totalDataSource$ | async }} SKU
        </span>

        <span first-bottom-left *ngIf="isLoading$ | async">
            <ngx-skeleton-loader
                [theme]="{ width: '100px', 'margin-bottom': '-5px' }"
            ></ngx-skeleton-loader>
        </span>
    </sinbad-card-header>

    <mat-table
        class="warehouse-detail-sku-stock-table sinbad-table"
        [class.sinbad-table-no-record]="!(isLoading$ | async) && (totalDataSource$ | async) === 0"
        #table
        [dataSource]="dataSource$ | async"
        matSort
        [@animateStagger]="{ value: '50' }"
    >
        <!-- No Column -->
        <ng-container matColumnDef="no">
            <mat-header-cell *matHeaderCellDef>
                No
            </mat-header-cell>
            <mat-cell *matCellDef="let row; index as i">
                <p class="text-word-break-break-word">
                    {{ generateNumber(i) }}
                </p>
            </mat-cell>
        </ng-container>

        <!-- SKU ID Column -->
        <ng-container matColumnDef="sku-id">
            <mat-header-cell *matHeaderCellDef>
                SKU ID
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p class="text-word-break-break-word">
                    {{ row?.catalogue?.externalId || '-' }}
                </p>
            </mat-cell>
        </ng-container>

        <!-- SKU Name Column -->
        <ng-container matColumnDef="sku-name">
            <mat-header-cell *matHeaderCellDef>
                SKU Name
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p class="text-word-break-break-word">
                    {{ row?.catalogue?.name || '-' }}
                </p>
            </mat-cell>
        </ng-container>

        <!-- Stock Type Column -->
        <ng-container matColumnDef="stock-type">
            <mat-header-cell *matHeaderCellDef>
                Stock Type

                <mat-icon
                    class="active-icon s-14 ml-8 cursor-pointer"
                    color="accent"
                    matTooltip="Limited: Admin can set and manage stock level in Sinbad Seller Center&#10;Unlimited: Admin can not set and manage&#10;stock level in Sinbad Seller Center"
                    matTooltipClass="tooltip-br"
                >
                    help
                </mat-icon>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p class="text-word-break-break-word">
                    {{ (row?.unlimitedStock === false ? 'Limited' : 'Unlimited') || '-' }}
                </p>
            </mat-cell>
        </ng-container>

        <!-- Sellable Column -->
        <ng-container matColumnDef="sellable">
            <mat-header-cell *matHeaderCellDef>
                Sellable

                <mat-icon
                    class="active-icon s-14 ml-8 cursor-pointer"
                    color="accent"
                    matTooltip="Sellable Stock on hand in the warehouse that can be sold"
                    matTooltipClass="tooltip-br"
                >
                    help
                </mat-icon>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <ng-container *ngIf="row?.unlimitedStock === false">
                    <p class="text-word-break-break-word">
                        {{ row?.stock }}
                    </p>
                </ng-container>

                <ng-container *ngIf="row?.unlimitedStock === true">
                    <mat-icon class="active-icon s-14">
                        all_inclusive
                    </mat-icon>
                </ng-container>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row
            *matRowDef="let row; columns: displayedColumns"
            class="warehouse-detail-sku-stock"
        ></mat-row>
    </mat-table>

    <div
        class="loader-content"
        *ngIf="(isLoading$ | async) && (!(totalDataSource$ | async) || (totalDataSource$ | async))"
    >
        <mat-spinner color="accent"></mat-spinner>
    </div>

    <div class="loader-content" *ngIf="!(isLoading$ | async) && (totalDataSource$ | async) === 0">
        No records found
    </div>

    <mat-paginator
        [fxHide]="
            ((isLoading$ | async) && !(totalDataSource$ | async)) ||
            (!(isLoading$ | async) && (totalDataSource$ | async) === 0)
        "
        [length]="totalDataSource$ | async"
        [pageSize]="defaultPageSize"
        [pageSizeOptions]="defaultPageOpts"
        showFirstLastButtons
    ></mat-paginator>
</div>
