.ssc-warehouse-selectall-container {
    padding: 15px 10px 0px 10px;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #E0E0E0;
    border-radius: 7px;
}

.ssc-warehouse-selectall-checkbox {
    margin-bottom: -5px;
}

.ssc-warehouse-selectall-label {
    top: unset!important;
}

.ssc-warehouse-selectall-lock {
    color: #000000 !important;
}

.ssc-warehouse-selectall-lock:disabled {
    color: #E0E0E0 !important;
}