<div class="box-content" fxLayout="column" *ngIf='status != null'>
    <div class="box-content__title return-title">
        <span class="mat-headline"> Status: {{ getStatusText() }} </span>
    </div>

    <div class="progress-bar mb-0">
        <div class="content" fxLayout="row" fxFlex="1 1 100%">
            <div class="bar-left-wrapper bar-wrapper-lf">
                <div class="bar-left" [class.active]='true'></div>
            </div>
            <div class="bar-center-wrapper bar-wrapper-center">
                <div class="bar-center" [class.active]="isStepTwoActive()"></div>
            </div>
            <div class="bar-right-wrapper bar-wrapper-lf">
                <div class="bar-right" [class.active]="isStepThreeActive()"></div>
            </div>
        </div>
    </div>

    <div class="final-status mb-8">
        {{ getFinalStatus() || '-'}}
    </div>
</div>