@import '../../../../../../@fuse/scss/fuse';

app-return-status-bar {
    .progress-bar {
        .content {
            .bar-left-wrapper {
                margin-right: 3px;
                .bar-left {
                    width: 100%;
                    min-width: 94px;
                    height: 0;
                    border-top: 10px solid #f0444c;
                    border-right: 3px solid transparent;
                    margin-right: 1px;
                }
            }

            .bar-center-wrapper {
                margin-right: 3px;
                margin-left: 3px;
                .bar-center {
                    width: 100%;
                    min-width: 94px;
                    height: 0;
                    transform: skewX(-15deg);
                    border-bottom: 10px solid #cacccf;
                    &.active {
                        border-bottom: 10px solid #f0444c;
                    }
                }
            }

            .bar-right-wrapper {
                margin-left: 3px;
                .bar-right {
                    width: 100%;
                    min-width: 94px;
                    height: 0;
                    border-bottom: 10px solid #cacccf;
                    border-left: 3px solid transparent;
                    margin-left: 1px;
                    &.active {
                        border-bottom: 10px solid #f0444c;
                    }
                }
            }
        }
    }

    .final-status {
        text-align: right;
        font-weight: bold;
    }
}