.mat-headline {
    font-size: 18px;
    font-weight: 600;
}

.label-form {
    color: #52575c;
    font-size: 14px;
    line-height: 20px;
}

.choose-sku {
    font-size: 18px;
    line-height: 26px;
    color: #25282b;
}

.font-available-sku {
    font-size: 16px;
    line-height: 24px;
    color: #25282b;
}