<div>
    <div *ngIf="status === 'pending' && returned === false">
        <button
            type="button"
            mat-button
            class="btn-marked-status sinbad-white-fg ml-8 sinbad-red-50-bg small-button"
            (click)="returnStatusHandler.emit('approved')"
        >
            Mark as Approved
        </button>

        <button
            type="button"
            mat-button
            class="btn-marked-status sinbad-red-fg ml-8 sinbad-white-50-bg border-red small-button"
            (click)="returnStatusHandler.emit('rejected')"
        >
            Mark as Rejected
        </button>
    </div>
    <div *ngIf="status === 'pending' && returned === true">
        <button
            type="button"
            mat-button
            class="btn-marked-status sinbad-white-fg ml-8 sinbad-red-50-bg small-button"
            (click)="returnStatusHandler.emit('approved_returned')"
        >
            Returned
        </button>

        <button
            type="button"
            mat-button
            class="btn-marked-status sinbad-red-fg ml-8 sinbad-white-50-bg border-red small-button"
            (click)="returnStatusHandler.emit('rejected')"
        >
            Mark as Rejected
        </button>
    </div>
    <div *ngIf="status === 'approved'">
        <button
            type="button"
            mat-button
            class="btn-marked-status sinbad-white-fg ml-8 sinbad-red-50-bg small-button"
            (click)="returnStatusHandler.emit('approved_returned')"
        >
            Returned
        </button>
    </div>
    <div *ngIf="status === 'approved_returned'">
        <button
            type="button"
            mat-button
            class="btn-marked-status sinbad-white-fg ml-8 sinbad-red-50-bg small-button"
            (click)="returnStatusHandler.emit('closed')"
        >
            Mark as Closed
        </button>
    </div>
</div>