<div id="finance-collection" class="page-layout carded fullwidth inner-scroll" fusePerfectScrollbar>
    <!-- CENTER -->
    <div class="center p-8">
        <mat-tab-group
            color="accent"
            style="border-radius: 4px"
            class="px-16 mt-0 my-8 sinbad-white sinbad-mat-tab-group narrow mat-tab-header-px-12"
            animationDuration="0ms"
            (selectedIndexChange)="onSelectedTab($event)"
        >
            <mat-tab aria-label="all" [label]="'All (' + allPayment + ')'"></mat-tab>
            <mat-tab
                aria-label="waitingForApproval"
                [label]="'Waiting for Approval (' + waitingApproval + ')'"
            ></mat-tab>
            <mat-tab
                aria-label="approved"
                [label]="'Approved (' + approvedCollection + ')'"
            ></mat-tab>
            <mat-tab
                aria-label="rejected"
                [label]="'Rejected (' + rejectedCollection + ')'"
            ></mat-tab>
        </mat-tab-group>

        <!-- CONTENT CARD -->
        <div class="content-card">
            <div style="display: flex; justify-content: space-between">
                <div>
                    <sinbad-card-header [config]="cardHeaderConfig"></sinbad-card-header>
                </div>
                <div class="search" style="display: flex">
                    <div >
                        <form >
                            <mat-form-field appearance="outline" class="button-menu">
                                <mat-select
                                    placeholder="Search By"
                                >
                                    <mat-option *ngFor="let row of searchByList" [value]="row.id" >
                                        {{ row.label }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </form>
                    </div>
                    
                    <div >
                        <form class="input">
                            <mat-form-field appearance="outline" fxFlex="70">
                                <input type="text" matInput placeholder="Search" />
                                <mat-icon matSuffix>search</mat-icon>
                            </mat-form-field>
                        </form>
                    </div>
                </div>
            </div>

            <app-list-collection class="mx-16" [viewByPromo]="selectedViewBy"></app-list-collection>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
