@import 'src/@fuse/scss/fuse';

.search {
    .button-menu {
        border: 1px solid #e0e0e0;
        height: 35px;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 10px;
    }

    .input {
        height: 35px;
        margin-top: 30px;
        margin-left: 10px;
       
    }
}


