<div id="finance-collection" class="page-layout carded fullwidth inner-scroll" fusePerfectScrollbar>
    <!-- CENTER -->
    <div class="center p-8">
        <mat-tab-group
            color="accent"
            style="border-radius: 4px"
            class="px-16 mt-0 my-8 sinbad-white sinbad-mat-tab-group narrow mat-tab-header-px-12"
            animationDuration="0ms"
            [selectedIndex]="selectTab"
            (selectedIndexChange)="onSelectedTab($event)"
        >
            <ng-container *ngFor="let user of dataSource$ | async">
                <mat-tab
                    class="collection-tab"
                    aria-label="all"
                    [label]="(user.title || '-') + ' (' + (user.total || 0) + ')'"
                ></mat-tab>
            </ng-container>
        </mat-tab-group>

        <!-- CONTENT CARD -->
        <div class="content-card">
            <div class="menu" style="display: flex; justify-content: space-between">
                <div>
                    <sinbad-card-header [config]="cardHeaderConfig"></sinbad-card-header>
                </div>
                <div>
                    <div
                        class="search-section"
                        fxLayout="row"
                        fxLayoutAlign="start stretch"
                        style="height: 25px; margin-top: 30px; margin-bottom: 30px"
                    >
                        <form fxFlex>
                            <mat-form-field
                                appearance="outline"
                                style="padding-right: 10px; min-height: 31px"
                            >
                                <mat-select
                                    style="
                                        min-height: 20px;
                                        margin-top: -13px;
                                        margin-bottom: -10px;
                                        font-size: 14px;
                                        line-height: 18px;
                                    "
                                    [(value)]="searchByValue"
                                    (change)="onSearchByChange($event)"
                                >
                                    <mat-option *ngFor="let row of searchByList" [value]="row.id">
                                        {{ row.label }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field
                                class="search-section__value"
                                appearance="outline"
                                fxFlex="70"
                                style="padding-right: 17px; min-height: 31px"
                            >
                                <input
                                    type="text"
                                    matInput
                                    placeholder="Search"
                                    (keyup)="keyUpKeyword($event)"
                                    style="
                                        position: fixed;
                                        margin-top: -13px;
                                        font-size: 14px;
                                        line-height: 18px;
                                    "
                                />
                                <mat-icon
                                    matSuffix
                                    style="position: fixed; margin: -36px -36px -36px -20px"
                                    >search</mat-icon
                                >
                            </mat-form-field>
                        </form>
                    </div>
                </div>
            </div>

            <br />
            <ng-container *ngIf="selectedViewBy == 'cStatus'">
                <app-list-collection
                    class="mx-16"
                    [approvalStatus]="approvalStatusType"
                    [viewByType]="selectedViewBy"
                    [searchBy]="searchByValue"
                    [searchValue]="search"
                ></app-list-collection>
            </ng-container>

            <ng-container *ngIf="selectedViewBy == 'bStatus'">
                <app-list-billing
                    class="mx-16"
                    [approvalStatus]="approvalStatusType"
                    [viewByType]="selectedViewBy"
                    [searchBy]="searchByValue"
                    [searchValue]="search"
                ></app-list-billing>
            </ng-container>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
