<!-- CONTENT CARD (REWARD INFORMATON) -->
<div [ngClass]="catalogueContent">
    <div class="p-16 pb-28">
        <div class="font-weight-600 font-size-24 line-height-20">Reward</div>
    </div>

    <div class="p-16 pt-0 pb-40 line-height-1.75">
        <form class="w-100-p" [formGroup]="form" fxLayout="column" fxFlex [fxLayoutGap]="isViewMode() ? '32px' : '5px'" novalidate>
            <!-- *HIDDEN* ID -->
            <input
                hidden
                name="id"
                formControlName="id"
            />
            <!-- / *HIDDEN* ID -->
            <p class="font-weight-600 font-size-20">Reward Valid Date</p>
            <!-- ACTIVE START DATE -->
            <div
                [ngClass]="formClass"
                fxLayout="row"
                fxLayoutAlign="start stretch"
                formGroupName="rewardValidDate"
            >
                <label
                    fxFlexAlign="center"
                    [fxFlex]="labelLength"
                    class="pr-0"
                    [class.mat-error]="!isViewMode() && hasError(form.get('rewardValidDate.activeStartDate'))"
                >
                    <span
                        class="sinbad-red-fg"
                    >* </span>Active From
                </label>
        
                <mat-form-field appearance="outline" [fxFlex]="formFieldLength" *ngIf="!isViewMode()">
                    <input
                        matInput
                        [matDatetimepicker]="activeStartDatePicker"
                        [max]="maxActiveStartDate"
                        [min]="minActiveStartDate"
                        (dateChange)="onChangeActiveStartDate($event)"
                        autocomplete="false"
                        name="activeStartDate"
                        formControlName="activeStartDate"
                    />
                    <mat-datetimepicker-toggle
                        matSuffix
                        [for]="activeStartDatePicker"
                    ></mat-datetimepicker-toggle>
                    <mat-datetimepicker
                        touchUi
                        #activeStartDatePicker
                        [disabled]="false"
                        type="datetime"
                    >
                    </mat-datetimepicker>
                    <mat-error
                        *ngIf="hasError(form.get('rewardValidDate.activeStartDate'))"
                    >
                        {{ getFormError(form.get('rewardValidDate.activeStartDate')) }}
                    </mat-error>
                </mat-form-field>
                <span class="grey-fg" fxFlex="80" *ngIf="isViewMode()">
                    {{ form.get('rewardValidDate.activeStartDate').value || '-' }}
                </span>
            </div>
            <!-- / ACTIVE START DATE -->
            <!-- ACTIVE END DATE -->
            <div
                [ngClass]="formClass"
                fxLayout="row"
                fxLayoutAlign="start stretch"
                formGroupName="rewardValidDate"
            >
                <label
                    fxFlexAlign="center"
                    [fxFlex]="labelLength"
                    class="pr-0"
                    [class.mat-error]="!isViewMode() && hasError(form.get('rewardValidDate.activeEndDate'))"
                >
                    <span
                        class="sinbad-red-fg"
                    >* </span>To
                </label>
        
                <mat-form-field appearance="outline" [fxFlex]="formFieldLength" *ngIf="!isViewMode()">
                    <input
                        matInput
                        [matDatetimepicker]="activeEndDatePicker"
                        [max]="maxActiveEndDate"
                        [min]="minActiveEndDate"
                        (dateChange)="onChangeActiveEndDate($event)"
                        autocomplete="false"
                        name="activeEndDate"
                        formControlName="activeEndDate"
                    />
                    <mat-datetimepicker-toggle
                        matSuffix
                        [for]="activeEndDatePicker"
                    ></mat-datetimepicker-toggle>
                    <mat-datetimepicker
                        touchUi
                        #activeEndDatePicker
                        [disabled]="false"
                        type="datetime"
                    >
                    </mat-datetimepicker>
                    <mat-error
                        *ngIf="hasError(form.get('rewardValidDate.activeEndDate'))"
                    >
                        {{ getFormError(form.get('rewardValidDate.activeEndDate')) }}
                    </mat-error>
                </mat-form-field>
                <span class="grey-fg" fxFlex="80" *ngIf="isViewMode()">
                    {{ form.get('rewardValidDate.activeEndDate').value || '-' }}
                </span>
            </div>
            <!-- / ACTIVE END DATE -->
            <p class="font-weight-600 font-size-20 mb-28">Trigger</p>
            <!-- BASE (TRIGGER) -->
            <div
                [ngClass]="formClass"
                fxLayout="row"
                fxLayoutAlign="start stretch"
                formGroupName="trigger"
            >
                <label
                    fxFlexAlign="center"
                    [fxFlex]="labelLength"
                    class="pr-0"
                    [class.mat-error]="!isViewMode() && hasError(form.get('trigger.base'))"
                >
                    Base
                </label>

                <mat-radio-group formControlName="base" [fxFlex]="formFieldLength" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
                    <mat-radio-button value="sku"> SKU </mat-radio-button>
                    <mat-radio-button value="brand"> Brand </mat-radio-button>
                    <mat-radio-button value="faktur"> Faktur </mat-radio-button>
                </mat-radio-group>
            </div>
            <!-- / BASE (TRIGGER) -->
            <!-- CHOSEN SKU -->
            <div
                [ngClass]="formClass"
                fxLayout="row"
                fxLayoutAlign="start stretch"
                formGroupName="trigger"
                [fxHide]="form.get('trigger.base').value !== 'sku'"
            >
                <label
                    fxFlexAlign="center"
                    [fxFlex]="labelLength"
                    class="pr-0"
                    [class.mat-error]="!isViewMode() && hasError(form.get('trigger.chosenSku'))"
                >
                    <span
                        class="sinbad-red-fg"
                    >* </span>Chosen SKU<br/>({{ form.get('trigger.chosenSku').value?.length || '0' }} Selected)
                </label>

                <select-catalogues [required]="true" [fxFlex]="formFieldLength" (selected)="onCatalogueSelected($event)">
                    <div error>
                        {{ getFormError(form.get('trigger.chosenSku')) }}
                    </div>
                </select-catalogues>
                <!-- <span class="grey-fg" fxFlex="80" *ngIf="isViewMode()">
                    {{ form.get('trigger.chosenSku').value || '-' }}
                </span> -->
            </div>
            <!-- / CHOSEN SKU -->
            <!-- CHOSEN BRAND -->
            <div
                [ngClass]="formClass"
                fxLayout="row"
                fxLayoutAlign="start stretch"
                [fxHide]="form.get('trigger.base').value !== 'brand'"
            >
                <label
                    fxFlexAlign="center"
                    [fxFlex]="labelLength"
                    class="pr-0"
                    [class.mat-error]="!isViewMode() && hasError(form.get('trigger.chosenBrand'))"
                >
                    <span
                        class="sinbad-red-fg"
                    >* </span>Chosen Brand<br/>({{ form.get('trigger.chosenBrand').value?.length || '0' }} Selected)
                </label>

                <select-brands [required]="true" [fxFlex]="formFieldLength" (selected)="onBrandSelected($event)">
                    <div error>
                        {{ getFormError(form.get('trigger.chosenBrand')) }}
                    </div>
                </select-brands>
                <!-- <span class="grey-fg" fxFlex="80" *ngIf="isViewMode()">
                    {{ form.get('trigger.chosenBrand').value || '-' }}
                </span> -->
            </div>
            <!-- / CHOSEN BRAND -->
            <!-- CHOSEN FAKTUR -->
            <div
                [ngClass]="formClass"
                fxLayout="row"
                fxLayoutAlign="start stretch"
                [fxHide]="form.get('trigger.base').value !== 'faktur'"
            >
                <label
                    fxFlexAlign="center"
                    [fxFlex]="labelLength"
                    class="pr-0"
                    [class.mat-error]="!isViewMode() && hasError(form.get('trigger.chosenFaktur'))"
                >
                    <span
                        class="sinbad-red-fg"
                    >* </span>Chosen Faktur<br/>({{ form.get('trigger.chosenFaktur').value?.length || '0' }} Selected)
                </label>

                <select-faktur [required]="true" [fxFlex]="formFieldLength" (selected)="onFakturSelected($event)">
                    <div error>
                        {{ getFormError(form.get('trigger.chosenFaktur')) }}
                    </div>
                </select-faktur>
                <!-- <span class="grey-fg" fxFlex="80" *ngIf="isViewMode()">
                    {{ form.get('trigger.chosenFaktur').value || '-' }}
                </span> -->
            </div>
            <!-- / CHOSEN FAKTUR -->
            <p class="font-weight-600 font-size-20 mb-28">Condition</p>
            <!-- BASE (CONDITION) -->
            <div
                [ngClass]="formClass"
                fxLayout="row"
                fxLayoutAlign="start stretch"
                formGroupName="condition"
            >
                <label
                    fxFlexAlign="center"
                    [fxFlex]="labelLength"
                    class="pr-0"
                    [class.mat-error]="!isViewMode() && hasError(form.get('condition.base'))"
                >
                    Base
                </label>

                <mat-radio-group formControlName="base" [fxFlex]="formFieldLength" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
                    <mat-radio-button value="qty"> Qty </mat-radio-button>
                    <mat-radio-button value="order-value"> Order Value </mat-radio-button>
                </mat-radio-group>
            </div>
            <!-- / BASE (CONDITION) -->
            <!-- QTY (BASE) -->
            <div
                [ngClass]="formClass"
                fxLayout="row"
                fxLayoutAlign="start stretch"
                formGroupName="condition"
            >
                <label
                    fxFlexAlign="center"
                    [fxFlex]="labelLength"
                    class="pr-0"
                    [class.mat-error]="!isViewMode() && hasError(form.get('condition.qty'))"
                >
                    Qty >=
                </label>
        
                <mat-form-field appearance="outline" [fxFlex]="formFieldLength" *ngIf="!isViewMode()">
                    <input
                        matInput
                        name="qty"
                        type="number"
                        formControlName="qty"
                    />
                    <mat-error
                        *ngIf="hasError(form.get('condition.qty'))"
                    >
                        {{ getFormError(form.get('condition.qty')) }}
                    </mat-error>
                </mat-form-field>
                <span class="grey-fg" fxFlex="80" *ngIf="isViewMode()">
                    {{ form.get('condition.qty').value || '-' }}
                </span>
            </div>
            <!-- / QTY (BASE) -->
            <p class="font-weight-600 font-size-20">Miscellaneous</p>
            <!-- DESCRIPTION -->
            <div
                [ngClass]="formClass"
                fxLayout="row"
                fxLayoutAlign="start stretch"
                formGroupName="miscellaneous"
            >
                <label
                    fxFlexAlign="start"
                    [fxFlex]="labelLength"
                    class="pr-0"
                    [class.mat-error]="!isViewMode() && hasError(form.get('miscellaneous.description'))"
                    [class.mt-20]="!isViewMode()"
                >
                    Description
                </label>
        
                <mat-form-field appearance="outline" [fxFlex]="formFieldLength" *ngIf="!isViewMode()">
                    <textarea
                        matInput
                        rows="10"
                        name="description"
                        formControlName="description"
                    ></textarea>
                    <mat-error
                        *ngIf="hasError(form.get('miscellaneous.description'))"
                    >
                        {{ getFormError(form.get('miscellaneous.description')) }}
                    </mat-error>
                </mat-form-field>
                <span class="grey-fg" fxFlex="80" *ngIf="isViewMode()">
                    {{ form.get('miscellaneous.description').value || '-' }}
                </span>
            </div>
            <!-- / DESCRIPTION -->
            <!-- COUPON IMAGE -->
            <div
                [ngClass]="formClass"
                fxLayout="row"
                fxLayoutAlign="start stretch"
                formGroupName="miscellaneous"
            >
                <label
                    fxFlexAlign="center"
                    [fxFlex]="labelLength"
                    class="pr-0"
                    [class.mat-error]="!isViewMode() && hasError(form.get('miscellaneous.couponImage'))"
                >
                    Coupon Image
                </label>

                <!-- INPUT SECTION -->
                <div fxLayout="row" fxLayoutGap="16px" [fxFlex]="formFieldLength">
                    <!-- FORM FIELD -->
                    <mat-form-field
                        appearance="outline"
                        class="sinbad-file-field"
                        [class.mat-sinbad-field-error]="hasError(form.get('miscellaneous.couponImage'))"
                        [fxHide]="isViewMode()"
                        fxFlex="75"
                    >
                        <!-- INPUT TRIGGER FOR UPLOAD FILE -->
                        <input
                            #couponImagePicker
                            type="file"
                            class="custom-file"
                            accept=".jpg, .jpeg, .png"
                            formControlName="couponImage"
                            (change)="onFileBrowse($event)"
                        />
                        <!-- / INPUT TRIGGER FOR UPLOAD FILE -->
                        <!-- INPUT FOR CHOSEN FILE AS FILENAME -->
                        <input
                            matInput
                            name="name"
                            [formControl]="tmpCouponImage"
                            placeholder="No file chosen"
                        />
                        <!-- / INPUT FOR CHOSEN FILE AS FILENAME -->
                        <!-- ERROR MESSAGE HINT -->
                        <mat-hint
                            class="mat-error"
                            *ngIf="hasError(form.get('miscellaneous.couponImage'))"
                        >
                            {{ getFormError(form.get('miscellaneous.couponImage')) }}
                        </mat-hint>
                        <!-- / ERROR MESSAGE HINT -->
                    </mat-form-field>

                    <span class="grey-fg" fxFlex *ngIf="isViewMode()">
                        {{ form.get('miscellaneous.couponImage').value || '-' }}
                    </span>
                    <!-- FORM FIELD -->
                    <!-- UPLOAD BUTTON -->
                    <button
                        mat-flat-button
                        color="accent"
                        type="button"
                        (click)="couponImagePicker.click()"
                        fxFlexAlign="center"
                        [fxHide]="isViewMode()"
                        fxFlex
                    >
                        Upload your file
                    </button>
                    <!-- / UPLOAD BUTTON -->
                </div>
                <!-- / INPUT SECTION -->
            </div>
            <!-- / COUPON IMAGE -->
        </form>
    </div>
</div>
<!-- / CONTENT CARD (REWARD INFORMATON) -->