<div id="internal-employee" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <button
                    mat-icon-button
                    class="mr-0 mr-sm-16"
                    [routerLink]="['/pages/account/internal']"
                >
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div
                    class="employee-image mr-8 mr-sm-16"
                    [@animate]="{ value: '*', params: { delay: '50ms', scale: '0.2' } }"
                >
                    <img [src]="(employee$ | async)?.imageUrl || 'assets/images/avatars/profile.jpg'" />
                </div>

                <div
                    fxLayout="column"
                    fxLayoutAlign="start start"
                    [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
                >
                    <div class="h2">
                        {{(employee$ | async)?.fullName || '-'}}
                    </div>

                    <div class="subtitle secondary-text">
                        <span>Account Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->
            <!-- EDIT BUTTON -->
            <ng-container>
                <button style="margin-right: 16px;" mat-flat-button (click)="onEdit()">
                    <span class="red-500-fg">Edit</span>
                </button>
            </ng-container>
            <!-- / EDIT BUTTON -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card sinbad">
            <!-- CONTENT -->
            <div class="px-24 py-8" fxLayout="column">
                <span class="mat-title">User Information</span>
            </div>
            <div
                class="px-24 py-8 form-field"
                fxLayout="column"
                fxLayoutAlign="start stretch"
                fxLayoutGap="27px"
                >
                    <div
                        class="field"
                        fxLayout="row"
                        fxLayoutAlign="start stretch"
                        fxLayoutGap="16px"
                        fxFlex="25px"
                    >
                        <div class="label" fxFlex="120px">Name</div>
                        <div>
                            {{(employee$| async)?.fullName || '-'}}
                        </div>
                    </div>

                    <div
                        class="field"
                        fxLayout="row"
                        fxLayoutAlign="start stretch"
                        fxLayoutGap="16px"
                        fxFlex="25px"
                    >
                        <div class="label" fxFlex="120px">Platform</div>
                        <div>
                            {{(employee$| async)?.platform || '-'}}
                        </div>
                    </div>

                    <div
                        class="field"
                        fxLayout="row"
                        fxLayoutAlign="start stretch"
                        fxLayoutGap="16px"
                        fxFlex="25px"
                    >
                        <div class="label" fxFlex="120px">Role</div>
                        <div>
                            {{(employee$| async)?.roleNames || '-'}}
                        </div>
                    </div>

                    <div
                        class="field"
                        fxLayout="row"
                        fxLayoutAlign="start stretch"
                        fxLayoutGap="16px"
                        fxFlex="25px"
                    >
                        <div class="label" fxFlex="120px">Email</div>
                        <div>
                            {{(employee$| async)?.email || '-'}}
                        </div>
                    </div>

                    <div
                        class="field"
                        fxLayout="row"
                        fxLayoutAlign="start stretch"
                        fxLayoutGap="16px"
                        fxFlex="25px"
                    >
                        <div class="label" fxFlex="120px">Phone Number</div>
                        <div>
                            {{(employee$| async)?.mobilePhoneNo || '-'}}                                        
                        </div>
                    </div>

                    <div
                        class="field"
                        fxLayout="row"
                        fxLayoutAlign="start stretch"
                        fxLayoutGap="16px"
                        fxFlex="25px"
                    >
                        <div class="label" fxFlex="120px">Access</div>
                        <div>
                            {{(employee$| async)?.privileges || '-'}}                                        
                        </div>
                    </div>
                </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
