<div id="internal-employee" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <button
                    mat-icon-button
                    class="mr-0 mr-sm-16"
                    [routerLink]="['/pages/account/internal']"
                >
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div
                    class="employee-image mr-8 mr-sm-16"
                    [@animate]="{ value: '*', params: { delay: '50ms', scale: '0.2' } }"
                >
                    <!-- <img
                        *ngIf="(account$ | async)?.imageUrl"
                        [src]="(account$ | async)?.imageUrl"
                    />
                    <img
                        *ngIf="!(account$ | async)?.imageUrl"
                        [src]="'assets/images/avatars/profile.jpg'"
                    /> -->

                    <img [src]="'assets/images/avatars/profile.jpg'" />
                </div>

                <div
                    fxLayout="column"
                    fxLayoutAlign="start start"
                    [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
                >
                    <div class="h2">
                        Anwar Sahid
                    </div>

                    <div class="subtitle secondary-text">
                        <span>Account Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card sinbad">
            <!-- CONTENT -->
            <div class="content px-24 py-8" fxLayout="column">
                <span class="mat-title">Detail User</span>

            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
