<div id="associations" class="page-layout carded fullwidth inner-scroll" fusePerfectScrollbar>
    <!-- TOP BACKGROUND -->
    <div class="accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center p-8">
        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- HEADER -->
            <sinbad-card-header [config]="cardHeaderConfig"></sinbad-card-header>
            <!-- / HEADER -->

            <app-associations-sales-rep *ngIf="(buttonViewByActive$ | async) ==='sales-rep'">
            </app-associations-sales-rep>

            <app-associations-portfolio *ngIf="(buttonViewByActive$ | async) ==='portfolio'">
            </app-associations-portfolio>

            <app-associations-store *ngIf="(buttonViewByActive$ | async) ==='store'">
            </app-associations-store>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>