<div class="page-layout carded fullwidth" fusePerfectScrollbar>
    <!-- CENTER -->
    <div
        class="center px-16 pt-16"
        fxLayout="column"
        fxLayoutAlign="space-between none"
        fxLayoutGap="16px"
    >
        <div class="content-card">
            <voucher-general-information
                [formMode]="'add'"
                (formStatusChange)="generalInformationStatus$.next($event)"
                (formValueChange)="generalInformationValue$.next($event)"
            ></voucher-general-information>
        </div>
        <div class="content-card">
            <voucher-condition-settings
                [formMode]="'add'"
                (formStatusChange)="conditionSettingsStatus$.next($event)"
                (formValueChange)="conditionSettingsValue$.next($event)"
            ></voucher-condition-settings>
        </div>
        <div class="content-card">
            <voucher-eligible-product-settings
                [formMode]="'add'"
                (formStatusChange)="eligibleProductStatus$.next($event)"
                (formValueChange)="eligibleProductValue$.next($event)"
            ></voucher-eligible-product-settings>
        </div>
        <div class="content-card">
            <voucher-benefit-information
                [formMode]="'add'"
                (formStatusChange)="benefitStatus$.next($event)"
                (formValueChange)="benefitValue$.next($event)"
            ></voucher-benefit-information>
        </div>
        <div class="content-card">
            <voucher-eligible-store-settings
                [formMode]="'add'"
                (formStatusChange)="eligibleStoreStatus$.next($event)"
                (formValueChange)="eligibleStoreValue$.next($event)"
            ></voucher-eligible-store-settings>
        </div>
    </div>
    <!-- LOADING SPINNER -->
    <div class="loader" *ngIf="isLoading$ | async">
        <mat-spinner color="accent"></mat-spinner>
    </div>
    <!-- / LOADING SPINNER -->
</div>
