@import 'src/@fuse/scss/fuse';

app-catalogues {
    #catalogues {
        min-height: 600px;
    }
    /* .header {
        height: 80px;
        min-height: 80px;
        max-height: 136px;

        @include media-breakpoint('lt-md') {
            padding: 8px 0;
            height: 192px !important;
            min-height: 192px !important;
            max-height: 192px !important;
        }
    } */

    .catalogues-table {
        flex: 1 1 auto;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        overflow: auto;
        max-height: 400px;
        -webkit-overflow-scrolling: touch;
        background: #fafafa !important;

        // No record table
        &.sinbad-table-no-record {
            background: #ffffff !important;

            .mat-header-row {
                pointer-events: none;
            }
        }

        .mat-header-row,
        .mat-row {
            background: white;

            // For horizontal scroll
            min-width: fit-content;
            width: 100%;
        }

        .mat-header-cell,
        .mat-cell {
            padding: 0 16px;
        }

        .mat-header-cell {
            text-align: left;
        }

        .mat-row {
            min-height: 68px;
        }

        mat-chip {
            font-size: 10px;
        }

        /*  mat-row {
            height: 63px !important;
            min-height: 63px !important;
            max-height: 63px !important;
        } */

        img.ng-failed-lazyloaded {
            filter: grayscale(1);
        }

        // .mat-row:hover {
        //     background-color: #fafafa;
        // }

        .mat-header-cell {
            text-align: left;
            // font-weight: 700;

            // &:not(:last-of-type) {
            //     padding-right: 8px;
            // }
        }

        .catalogue {
            position: relative;
        }

        .clickable {
            cursor: pointer;
        }

        mat-header-cell:first-of-type,
        mat-cell:first-of-type,
        .mat-header-cell:first-of-type,
        .mat-cell:first-of-type {
            padding-right: 0;
        }

        .mat-header-cell:nth-last-of-type(2),
        .mat-cell:nth-last-of-type(2) {
            padding-right: 0;
        }

        mat-header-cell:last-of-type,
        mat-cell:last-of-type,
        .mat-header-cell:last-of-type,
        .mat-cell:last-of-type {
            padding-left: 0;
        }

        .mat-cell {
            font-size: 12px;
            min-width: 0;
            display: flex;
            align-items: center;
        }

        // .mat-cell {
        //     font-size: 12px;
        //     min-width: 0;
        //     display: flex;
        //     align-items: center;
        //     padding-right: 8px;

        //     /* .word-wrap {
        //         word-break: break-all;
        //     } */
        // }

        .mat-column-checkbox {
            flex: 0 1 4.5%;
            padding-left: 18px;
        }

        .mat-column-id {
            flex: 0 1 84px;
        }

        .mat-column-name {
            flex: 1 1 75%;
            // padding-left: 10px;

            .img-container {
                width: 50px; /*any size*/
                height: 50px; /*any size*/

                .fit-image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover; /*magic*/
                }
            }

            p.catalogue-name {
                margin-top: 2px !important;
                margin-bottom: 2px !important;
            }
        }

        .mat-column-sku,
        .mat-column-externalId {
            flex: 0 1 20%;
            margin-right: 20px;
        }

        .mat-column-variant {
            flex: 0 1 12.5%;
        }

        .mat-column-stock {
            flex: 0 1 8.5%;
        }

        .mat-column-price {
            flex: 0 1 16.5%;
        }

        .mat-column-lastUpdate,
        .mat-column-timeLimit,
        .mat-column-blockType,
        .mat-column-blockReason,
        .mat-column-blockSuggest,
        .mat-column-type,
        .mat-column-exclusive {
            flex: 0 1 12.5%;
        }

        .mat-column-status {
            flex: 0 1 80px;
            min-width: 80px;
        }

        .mat-column-actions {
            flex: 0 1 80px;
            min-width: 80px;
            justify-content: flex-end;
        }

        .status-icon {
            border-radius: 50%;
        }

        .mat-column-no-record {
            justify-content: center;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        /*        .mat-column-actions {
            display: flex;
            flex: 0 1 12.5%;
            justify-content: flex-end;
        } */

        /*  .quantity-indicator {
            display: inline-block;
            vertical-align: middle;
            width: 8px;
            height: 8px;
            border-radius: 4px;
            margin-right: 8px;

            & + span {
                display: inline-block;
                vertical-align: middle;
            }
        } */

        // .mat-column-actions {
        //     flex: 0 1 80px;
        //     justify-content: flex-end;
        // }
    }
}
