<div id="catalogues" class="page-layout carded fullwidth inner-scroll" fusePerfectScrollbar>
    <!-- <navbar variant="horizontal-custom-style-1" class="top-navbar"></navbar> -->

    <!-- TOP BACKGROUND -->
    <!-- <div class="accent"></div> -->
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center p-8">
        <!-- CONTENT CARD -->
        <div class="content-card">
            <sinbad-card-header [config]="cardHeaderConfig"></sinbad-card-header>

            <mat-table class="catalogues-table mx-16" #table [dataSource]="dataSource$ | async" matSort
                [@animateStagger]="{ value: '50' }" fusePerfectScrollbar>
                <!-- Checkbox Column -->
                <ng-container matColumnDef="checkbox">
                    <mat-header-cell *matHeaderCellDef>
                        <mat-checkbox [(ngModel)]="hasSelected" (click)="$event.stopPropagation()"></mat-checkbox>
                    </mat-header-cell>

                    <mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"></mat-checkbox>
                    </mat-cell>
                </ng-container>

                <!-- Product Name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Product Name
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center">
                            <div class="img-container">
                                <ng-container *ngIf="row?.catalogueImages.length > 0; else noPhoto;">
                                    <img class="fit-image" [defaultImage]="'assets/images/logos/sinbad.svg'"
                                        [useSrcset]="true" [lazyLoad]="row?.catalogueImages[0]?.imageUrl"
                                        [errorImage]="'assets/images/logos/sinbad.svg'" />
                                </ng-container>
                                <ng-template #noPhoto>
                                    <img class="fit-image" [src]="'assets/images/logos/sinbad.svg'" />
                                </ng-template>
                            </div>
                            <div>
                                <div fxLayout="column" fxLayoutGap="2px">
                                    <p class="catalogue-name">
                                        {{ row?.name | uppercase }}
                                    </p>
                                    <!-- <p class="text-truncate" style="color: grey">
                                        SKU Induk:
                                    </p> -->
                                    <mat-chip-list aria-label="Catalogue status">
                                        <mat-chip *ngIf="row?.status === 'active'" class="h-20 green-800">
                                            <strong>Live</strong>
                                        </mat-chip>
                                        <mat-chip *ngIf="row?.status === 'inactive'" class="h-20 orange-800">
                                            <strong>Inactive</strong>
                                        </mat-chip>
                                        <mat-chip *ngIf="row?.status === 'banned'" class="h-20 warn">
                                            <strong>Diblokir</strong>
                                        </mat-chip>
                                        <mat-chip *ngIf="row?.stock < row?.minQty && !row?.unlimitedStock"
                                            class="h-20 fuse-black">
                                            <strong>Habis</strong>
                                        </mat-chip>
                                    </mat-chip-list>
                                </div>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>

                <!-- SKU's Product Column -->
                <ng-container matColumnDef="sku">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>SKU Code</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p>{{ row?.sku }}</p>
                    </mat-cell>
                </ng-container>

                <!-- External ID's Product Column -->
                <ng-container matColumnDef="externalId">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>SKU Supplier</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p class="word-wrap">{{ row?.externalId }}</p>
                    </mat-cell>
                </ng-container>

                <!-- Variant Product Column -->
                <ng-container matColumnDef="variant">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Variasi</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p class="text-truncate">{{ row?.variant }}</p>
                    </mat-cell>
                </ng-container>

                <!-- Product's Price Column -->
                <ng-container matColumnDef="price">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <a class="fuse-black-fg">
                            <p *ngIf="!!(row?.discountedRetailBuyingPrice) || row?.discountedRetailBuyingPrice === 0; else noDiscount;"
                                class="text-truncate">
                                {{ row?.discountedRetailBuyingPrice | price: 'full':'IDR':'narrow':'1.0-2' }}
                            </p>
                            <ng-template #noDiscount>
                                <p class="text-truncate">
                                    {{ row?.retailBuyingPrice | price: 'full':'IDR':'narrow':'1.0-2' }}
                                </p>
                            </ng-template>
                        </a>
                    </mat-cell>
                </ng-container>

                <!-- Product's Stock Column -->
                <ng-container matColumnDef="stock">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Stock</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <a class="fuse-black-fg">
                            <p class="text-truncate">{{ row?.stock | number }}</p>
                        </a>
                    </mat-cell>
                </ng-container>

                <!-- Product's Sales Column -->
                <ng-container matColumnDef="sales">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Penjualan</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p class="text-truncate">{{ !row?.sale ? 0 : row?.sale }}</p>
                    </mat-cell>
                </ng-container>

                <!-- Last Updated Column -->
                <ng-container matColumnDef="lastUpdate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Waktu Dirubah
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p>{{ row?.lastUpdate | date: 'dd/MM/yyyy HH:mm:ss' }}</p>
                    </mat-cell>
                </ng-container>

                <!-- Time Limit Column -->
                <ng-container matColumnDef="timeLimit">
                    <mat-header-cell *matHeaderCellDef>
                        Batas Waktu
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p>{{ row?.timeLimit ? (row?.timeLimit | date: 'dd/MM/yyyy HH:mm:ss') : '-' }}</p>
                    </mat-cell>
                </ng-container>

                <!-- Block Type Column -->
                <ng-container matColumnDef="blockType">
                    <mat-header-cell *matHeaderCellDef>
                        Tipe Pelanggaran
                    </mat-header-cell>

                    <mat-cell *matCellDef="let row">
                        <p>{{ row?.violationType ? row?.violationType : '-' }}</p>
                    </mat-cell>
                </ng-container>

                <!-- Block Reason Column -->
                <ng-container matColumnDef="blockReason">
                    <mat-header-cell *matHeaderCellDef>
                        Alasan Pelanggaran
                    </mat-header-cell>

                    <mat-cell *matCellDef="let row">
                        <p>{{ row?.violationReason ? row?.violationReason : '-' }}</p>
                    </mat-cell>
                </ng-container>

                <!-- Block Suggest Column -->
                <ng-container matColumnDef="blockSuggest">
                    <mat-header-cell *matHeaderCellDef>
                        Saran
                    </mat-header-cell>

                    <mat-cell *matCellDef="let row">
                        <p>{{ row?.violationSuggestion ? row?.violationSuggestion : '-' }}</p>
                    </mat-cell>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <mat-header-cell class="pr-8" *matHeaderCellDef>
                        Actions
                    </mat-header-cell>

                    <mat-cell class="pr-8" *matCellDef="let row">
                        <div fxFlex="row" fxLayoutAlign="end center">
                            <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                                (click)="$event.stopPropagation()">
                                <mat-icon class="secondary-text">more_vert</mat-icon>
                            </button>

                            <mat-menu #moreMenu="matMenu">
                                <ng-template [ngxPermissionsOnly]="['CATALOGUE.UPDATE']">
                                    <button mat-menu-item type="button" class="sinbad-mat-menu-item" aria-label="edit"
                                        (click)="viewProduct(row.id)">
                                        <mat-icon>info</mat-icon>
                                        <span>Detail</span>
                                    </button>

                                    <button mat-menu-item type="button" class="sinbad-mat-menu-item"
                                        aria-label="archive" (click)="setInactive(row)"
                                        *ngIf="row?.status === 'active'">
                                        <mat-icon>archive</mat-icon>
                                        <span>Inactive</span>
                                    </button>

                                    <button mat-menu-item type="button" class="sinbad-mat-menu-item"
                                        aria-label="archive" (click)="setActive(row)"
                                        *ngIf="row?.status === 'inactive'">
                                        <mat-icon>unarchive</mat-icon>
                                        <span>Active</span>
                                    </button>
                                </ng-template>

                                <ng-template [ngxPermissionsOnly]="['CATALOGUE.DELETE']">
                                    <button mat-menu-item type="button" class="sinbad-mat-menu-item" aria-label="remove"
                                        (click)="onDelete(row)">
                                        <mat-icon>delete</mat-icon>
                                        <span>Remove</span>
                                    </button>
                                </ng-template>

                                <!-- <button
                                    mat-menu-item
                                    type="button"
                                    class="sinbad-mat-menu-item"
                                    aria-label="block"
                                    (click)="onBlock(row)"
                                    *ngIf="row?.status !== 'banned'"
                                >
                                    <mat-icon>_</mat-icon>
                                    <span>Blokir</span>
                                </button> -->

                                <!-- <button
                                    mat-menu-item
                                    type="button"
                                    class="sinbad-mat-menu-item"
                                    aria-label="export"
                                    *ngIf="row?.status !== 'banned'"
                                >
                                    <mat-icon>_</mat-icon>
                                    <span>Export</span>
                                </button> -->
                            </mat-menu>
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>

                <mat-row matRipple *matRowDef="let row; columns: displayedColumns" (click)="viewProduct(row?.id)"
                    class="catalogue">
                </mat-row>

                <div class="no-records" *ngIf="!(isLoading$ | async) && (totalDataSource$ | async) === 0">
                    No records found
                </div>
            </mat-table>

            <mat-paginator [fxHide]="(totalDataSource$ | async) === 0" [length]="totalDataSource$ | async"
                [pageSize]="defaultPageSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="onChangePage($event)"
                showFirstLastButtons>
            </mat-paginator>

            <div class="loader" *ngIf="(isLoading$ | async) || (isRequestingExport$ | async)">
                <mat-spinner color="accent"></mat-spinner>
            </div>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>