@import 'src/@fuse/scss/fuse';

sinbad-multiple-selection {
    .content, .relative {
        position: relative;
    }

    #available-selection-list, #selected-selection-list {
        .mat-list-text {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}