.mat-headline {
    font-size: 18px;
    font-weight: 600;
}

.stock-managements-table {
    flex: 1 1 auto;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    min-height: 40px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background: #fafafa !important;

    .mat-header-row,
    .mat-row {
        background: white;
    }

    .mat-row {
        min-height: unset;
    }

    .stock-management {
        position: relative;
        cursor: pointer;
        // height: 84px;
    }

    .mat-header-cell {
        text-align: left;
        font-weight: 700;

        &:not(:last-of-type) {
            padding-right: 8px;
        }
    }

    mat-header-cell:first-of-type,
    .mat-header-cell:first-of-type,
    .mat-cell:first-of-type {
        padding-left: 12px;
    }

    mat-cell:last-of-type,
    .mat-header-cell:last-of-type,
    .mat-cell:last-of-type {
        padding-right: 12px;
    }

    .mat-cell {
        font-size: 12px;
        min-width: 0;
        display: flex;
        align-items: center;
        padding-right: 8px;
    }

    .mat-column-checkbox {
        flex: 0 1 80px;
    }

    .mat-column-wh-id {
        flex: 0 1 120px;
        min-width: 120px;
    }

    .mat-column-wh-name {
        flex: 1 2 40em;
        min-width: 120px;
    }

    .mat-column-total-sku {
        flex: 0 1 80px;
        min-width: 80px;
    }

    .mat-column-stock-sellable {
        flex: 0 1 120px;
        min-width: 120px;
    }

    .mat-column-stock-on-hand {
        flex: 0 1 20em;
        min-width: 80px;
        // justify-content: flex-end;
    }

    .mat-column-last-action-date {
        flex: 0 1 20em;
        min-width: 100px;
        // justify-content: flex-end;
    }

    .mat-column-actions {
        flex: 0 1 60px;
        min-width: 60px;
        justify-content: flex-end;
    }

    .quantity-indicator {
        display: inline-block;
        vertical-align: middle;
        width: 8px;
        height: 8px;
        border-radius: 4px;
        margin-right: 8px;

        &+span {
            display: inline-block;
            vertical-align: middle;
        }
    }

    .active-icon {
        border-radius: 50%;
    }
}