<div id="stock-managements" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center pt-12">
        <!-- CONTENT CARD -->
        <div class="content-card">
            <form
                id="stock-management-form"
                name="stockManagementForm"
                class="stock-management w-100-p"
                [formGroup]="form"
                fxLayout="column"
                fxFlex
                novalidate
            >
                <div class="p-16 pb-0" fxLayout="column">
                    <span class="mat-headline font-weight-600">
                        Choose Warehouse
                    </span>

                    <div class="form-box">
                        <div class="custom-field" fxLayout="row" fxLayoutAlign="start stretch">
                            <label fxFlexAlign="center" fxFlex="8" class="label-form">
                                Warehouse Name
                            </label>

                            <mat-form-field appearance="outline" fxFlex="50">
                                <ng-container
                                    *ngIf="warehouses$ | async as warehouses; else noWarehouses"
                                >
                                    <mat-select
                                        formControlName="whName"
                                        placeholder="Choose Warehouse"
                                    >
                                        <mat-option>None</mat-option>
                                        <mat-option
                                            *ngFor="let row of warehouses"
                                            [value]="row?.id"
                                        >
                                            {{ row?.name || '-' }}
                                        </mat-option>
                                    </mat-select>
                                </ng-container>

                                <ng-template #noWarehouses>
                                    <mat-select placeholder="Warehouse not found" disabled>
                                        <mat-option>None</mat-option>
                                    </mat-select>
                                </ng-template>

                                <!-- <mat-select placeholder="Choose Warehouse">
                                    <mat-option>None</mat-option>
                                </mat-select> -->
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <sinbad-card-header [config]="cardHeaderConfig"></sinbad-card-header>

                <mat-table
                    class="stock-managements-table sinbad-table mx-16"
                    #table
                    [dataSource]="dataSource"
                    matSort
                    [@animateStagger]="{ value: '50' }"
                    fusePerfectScrollbar
                >
                    <!-- No Column -->
                    <ng-container matColumnDef="no">
                        <mat-header-cell *matHeaderCellDef>
                            No
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row; index as i">
                            <p class="text-word-break-break-word">
                                {{ generateNumber(i) }}
                            </p>
                        </mat-cell>
                    </ng-container>

                    <!-- SKU ID Column -->
                    <ng-container matColumnDef="sku-id">
                        <mat-header-cell *matHeaderCellDef>
                            SKU ID
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <p style="word-break: break-word;">
                                {{ row?.code || '-' }}
                            </p>
                        </mat-cell>
                    </ng-container>

                    <!-- SKU Name Column -->
                    <ng-container matColumnDef="sku-name">
                        <mat-header-cell *matHeaderCellDef>
                            SKU Name
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <p style="word-break: break-word;">
                                {{ row?.name || '-' }}
                            </p>
                        </mat-cell>
                    </ng-container>

                    <!-- Stock Type Column -->
                    <ng-container matColumnDef="stock-type">
                        <mat-header-cell *matHeaderCellDef>
                            Stock Type
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <p style="word-break: break-word;">
                                100
                            </p>
                        </mat-cell>
                    </ng-container>

                    <!-- Qty Change Column -->
                    <ng-container matColumnDef="qty-change">
                        <mat-header-cell *matHeaderCellDef>
                            Qty Change
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <p style="word-break: break-word;">
                                100
                            </p>
                        </mat-cell>
                    </ng-container>

                    <!-- Reason Column -->
                    <ng-container matColumnDef="reason">
                        <mat-header-cell *matHeaderCellDef>
                            Reason
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <p style="word-break: break-word;">
                                30
                            </p>
                        </mat-cell>
                    </ng-container>

                    <!-- Sellable Column -->
                    <ng-container matColumnDef="sellable">
                        <mat-header-cell *matHeaderCellDef>
                            Sellable
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <p style="word-break: break-word;">
                                30
                            </p>
                        </mat-cell>
                    </ng-container>

                    <!-- After Column -->
                    <ng-container matColumnDef="after">
                        <mat-header-cell *matHeaderCellDef>
                            After
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <p style="word-break: break-word;">
                                30
                            </p>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row
                        *matHeaderRowDef="displayedColumns; sticky: true"
                    ></mat-header-row>

                    <mat-row
                        *matRowDef="let row; columns: displayedColumns"
                        class="warehouse"
                        [routerLink]="[row?.id, 'detail']"
                    ></mat-row>
                </mat-table>

                <mat-paginator
                    [length]="dataSource.length"
                    [pageSize]="defaultPageSize"
                    [pageSizeOptions]="defaultPageOpts"
                    showFirstLastButtons
                ></mat-paginator>
            </form>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
