<div id="stock-managements" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center pt-12">
        <!-- CONTENT CARD -->
        <div class="content-card p-16">
            <form id="stock-management-form" name="stockManagementForm" class="merchant pt-24 w-100-p" fxLayout="column"
                fxFlex novalidate>
                <div fxLayout="column">
                    <span class="mat-headline font-weight-600">
                        Choose Warehouse
                    </span>

                    <div class="form-box">
                        <div class="custom-field" fxLayout="row" fxLayoutAlign="start stretch">
                            <label fxFlexAlign="center" fxFlex="12" class="label-form">
                                Warehouse Name
                            </label>

                            <mat-form-field appearance="outline" fxFlex="50">
                                <mat-select placeholder="Choose Warehouse">
                                    <mat-option>None</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <sinbad-card-header [config]="cardHeaderConfig"></sinbad-card-header>

                <mat-table class="stock-managements-table mx-16" #table [dataSource]="dataSource" matSort
                    [@animateStagger]="{ value: '50' }" fusePerfectScrollbar>
                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="checkbox">
                        <mat-header-cell *matHeaderCellDef>
                            <mat-checkbox></mat-checkbox>
                            <!-- <mat-checkbox
                            (change)="$event ? handleCheckbox() : null"
                            (click)="$event.stopPropagation()"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                        ></mat-checkbox> -->
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <mat-checkbox></mat-checkbox>
                            <!-- <mat-checkbox
                            (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                        ></mat-checkbox> -->
                        </mat-cell>
                    </ng-container>

                    <!-- Warehouse ID Column -->
                    <ng-container matColumnDef="wh-id">
                        <mat-header-cell *matHeaderCellDef>
                            Warehouse ID
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <p style="word-break: break-word;">
                                {{ row?.code || '-' }}
                            </p>
                        </mat-cell>
                    </ng-container>

                    <!-- Warehouse Name Column -->
                    <ng-container matColumnDef="wh-name">
                        <mat-header-cell *matHeaderCellDef>
                            Warehouse Name
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <p style="word-break: break-word;">
                                {{ row?.name || '-' }}
                            </p>
                        </mat-cell>
                    </ng-container>

                    <!-- Total SKU Column -->
                    <ng-container matColumnDef="total-sku">
                        <mat-header-cell *matHeaderCellDef>
                            Total SKU
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <p style="word-break: break-word;">
                                100
                            </p>
                        </mat-cell>
                    </ng-container>

                    <!-- Stock Sellable Column -->
                    <ng-container matColumnDef="stock-sellable">
                        <mat-header-cell *matHeaderCellDef>
                            Stock Sellable
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <p style="word-break: break-word;">
                                100
                            </p>
                        </mat-cell>
                    </ng-container>

                    <!-- Stock On Hand Column -->
                    <ng-container matColumnDef="stock-on-hand">
                        <mat-header-cell *matHeaderCellDef>
                            Stock On Hand
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <p style="word-break: break-word;">
                                30
                            </p>
                        </mat-cell>
                    </ng-container>

                    <!-- Last Action Date Column -->
                    <ng-container matColumnDef="last-action-date">
                        <mat-header-cell *matHeaderCellDef>
                            Last Action Date
                            <mat-icon class="active-icon s-14 ml-8 cursor-pointer" color="accent"
                                matTooltip="It includes only manual action from the Admin ( Inbound, Inventory Reconciliation, WH transfer, OB other than sales ) and DO NOT include sales operation"
                                matTooltipClass="tooltip-br">
                                help
                            </mat-icon>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <p style="word-break: break-word;">
                                15/01/2020
                            </p>
                        </mat-cell>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef>
                            Actions
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <div fxFlex="row" fxLayoutAlign="end center">
                                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                                    (click)="$event.stopPropagation()">
                                    <mat-icon class="secondary-text">more_vert</mat-icon>
                                </button>

                                <mat-menu #moreMenu="matMenu">
                                    <ng-template [ngxPermissionsOnly]="['SRM.SR.UPDATE']">
                                        <button type="button" mat-menu-item class="sinbad-mat-menu-item"
                                            aria-label="Edit" [routerLink]="[row?.id]">
                                            <mat-icon>edit</mat-icon>
                                            <span>Edit</span>
                                        </button>

                                        <!--<button
                                        mat-menu-item
                                        type="button"
                                        class="sinbad-mat-menu-item"
                                        [attr.aria-label]="
                                            row?.status === 'active' ? 'Inactive' : 'Active'
                                        "
                                        (click)="onChangeStatus(row)"
                                    >
                                        <mat-icon>
                                            {{
                                                row?.status === 'active'
                                                    ? 'archive'
                                                    : 'check_circle_outline'
                                            }}
                                        </mat-icon>
                                        <span>
                                            {{
                                                (row?.status === 'active'
                                                    ? 'ACTION.INACTIVE'
                                                    : 'ACTION.ACTIVE'
                                                ) | translate
                                            }}
                                        </span>
                                    </button> -->
                                    </ng-template>
                                </mat-menu>
                            </div>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>

                    <mat-row *matRowDef="let row; columns: displayedColumns" class="warehouse"
                        [routerLink]="[row?.id, 'detail']"></mat-row>
                </mat-table>

                <mat-paginator [length]="dataSource.length" [pageSize]="defaultPageSize"
                    [pageSizeOptions]="defaultPageOpts" showFirstLastButtons></mat-paginator>
            </form>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>