@import 'src/@fuse/scss/fuse';

app-stock-management-form {
    #stock-management-catalogues {
        .top-bg {
            @include media-breakpoint('lt-md') {
                height: 256px;
            }
        }

        #stock-management-form {
            min-height: 100%;
            height: 100%;
        }

        .mat-headline {
            font-size: 18px;
            font-weight: 600;
        }

        .stock-management-catalogues-table {
            flex: 1 1 auto;
            border: 1px solid rgba(0, 0, 0, 0.12);
            border-radius: 4px;
            min-height: 40px;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            background: #fafafa !important;

            &.sinbad-table-no-record {
                background: #ffffff !important;
            }

            .mat-header-row,
            .mat-row {
                background: white !important;
            }

            .mat-row {
                min-height: unset;
            }

            .stock-management-catalogue {
                position: relative;
                // cursor: pointer;
                // height: 84px;
            }

            .mat-header-cell {
                text-align: left;
                font-weight: 700;

                &:not(:last-of-type) {
                    padding-right: 8px;
                }
            }

            mat-header-cell:first-of-type,
            .mat-header-cell:first-of-type,
            .mat-cell:first-of-type {
                padding-left: 12px;
            }

            mat-cell:last-of-type,
            .mat-header-cell:last-of-type,
            .mat-cell:last-of-type {
                padding-right: 12px;
            }

            .mat-cell {
                font-size: 12px;
                min-width: 0;
                display: flex;
                align-items: center;
                padding-right: 8px;

                .mat-form-field-wrapper {
                    padding-bottom: 0;
                }
            }

            .mat-column-no {
                flex: 0 1 80px;
            }

            .mat-column-sku-id {
                flex: 0 1 120px;
                min-width: 120px;
            }

            .mat-column-sku-name {
                flex: 1 1 50em;
                min-width: 125px;
            }

            .mat-column-stock-type {
                flex: 1 1 10em;
                min-width: 195px;

                > .custom-field {
                    min-width: inherit; // Fixed mat-select width
                    padding-right: 8px;
                }
            }

            .mat-column-qty-change {
                flex: 1 1 10em;
                min-width: 125px;

                > .custom-field {
                    min-width: inherit; // Fixed mat-select width
                    padding-right: 8px;
                }
            }

            .mat-column-reason {
                flex: 1 1 10em;
                min-width: 195px;

                > .custom-field {
                    min-width: inherit; // Fixed mat-select width
                    padding-right: 8px;
                }
            }

            .mat-column-sellable {
                flex: 0 1 10em;
                min-width: 100px;
            }

            .mat-column-after {
                flex: 0 1 10em;
                min-width: 80px;
            }

            .mat-column-no-record {
                position: relative;
                top: 10em;
                justify-content: center;
            }

            .active-icon {
                border-radius: 50%;
            }
        }
    }

    .custom-field {
        &__warehouse-title {
            font-size: 12px;
        }

        &__warehouse-name {
            font-size: 16px;
            margin-top: 4px;
            padding-bottom: 8px;
            border-bottom: 1px solid rgba(218, 224, 231, 0.5);
        }
    }

    .label-info {
        display: flex;
        border-radius: 4px;
        background-color: #ebf8ff;
        width: fit-content;
        margin-top: 16px;
        margin-left: 16px;
        padding-right: 16px;
        &__icon {
            margin: 16px 8px auto 16px;
        }
        &__text {
            color: #237ae1;
        }
    }

}
