<!-- PROVINCE -->
<div class="custom-field" fxLayout="row">
    <mat-form-field fxFlexAlign="center" appearance="outline" fxFlex>
        <input
            #triggerWarehouse
            matInput
            autocomplete="new-password"
            placeholder="Search Warehouse"
            [formControl]="warehouseForm"
            [value]="warehouseForm.value"
            [matAutocomplete]="warehouseAutoComplete"
        />
        <mat-autocomplete
            #warehouseAutoComplete
            [displayWith]="displayWarehouse"
            (opened)="listenWarehouseAutoComplete()"
        >
            <!-- NONE OPTION -->
            <!-- <mat-option *ngIf="!(isWarehouseLoading$ | async)">(None)</mat-option> -->
            <!-- / NONE OPTION -->
            <!-- INVISIBLE OPTION -->
            <mat-option #invisibleOption fxHide="true"></mat-option>
            <!-- / INVISIBLE OPTION -->

            <!-- "SELECT ALL" OPTION -->
            <mat-option class="pr-16 pl-0" *ngIf="!(isWarehouseLoading$ | async)">
                <div (click)="optionSelected($event, 'all')">
                    <mat-checkbox
                        class="ml-16"
                        [disableRipple]="true"
                        [checked]="selection.hasValue() && allSelected"
                        [indeterminate]="selection.hasValue() && !allSelected"
                        (click)="$event.stopPropagation()"
                        (change)="$event ? toggle$.next('all') : null"
                    >
                        (Select All)
                    </mat-checkbox>
                </div>
            </mat-option>
            <!-- / "SELECT ALL" OPTION -->

            <!-- WAREHOUSE OPTIONS -->
            <mat-option
                class="pr-16 pl-0"
                *ngFor="let warehouse of (availableWarehouses$ | async)"
                [value]="warehouse"
            >
                <!-- {{ warehouse?.name || '-' }} -->
                <div (click)="$event.stopPropagation(); toggleSelectedWarehouse(warehouse);">
                    <mat-checkbox
                        class="ml-16"
                        [value]="warehouse"
                        [disableRipple]="true"
                        [checked]="selection.isSelected(warehouse)"
                        (click)="$event.stopPropagation()"
                        (change)="toggleSelectedWarehouse(warehouse)"
                    >
                        {{ warehouse?.name || '-' }}
                    </mat-checkbox>
                </div>
            </mat-option>
            <!-- <mat-checkbox
                *ngFor="let warehouse of (availableWarehouses$ | async)"
                [value]="warehouse"
            >
                {{ warehouse?.name || '-' }}
            </mat-checkbox> -->
            <!-- / WAREHOUSE OPTIONS -->

            <!-- LOADING OPTION -->
            <mat-option
                [disabled]="true"
                style="text-align: center; font-style: italic; max-height: 30px;"
                *ngIf="!(totalWarehouses$ | async) && ((totalWarehouses$ | async) > (availableWarehouses$ | async)?.length)"
            >
                Loading ...
            </mat-option>
            <!-- / LOADING OPTION -->
        </mat-autocomplete>
        <mat-error *ngIf="hasError(warehouseForm)">
            {{ getFormError(warehouseForm) }}
        </mat-error>
    </mat-form-field>
</div>
<!-- / PROVINCE -->