#sales-rep-form {
    .top-bg {
        height: 154px;
    }

    .header {
        height: 90px !important;
        min-height: 90px !important;
        max-height: 90px !important;

        .sales-image {
            overflow: hidden;
            width: 56px;
            min-width: 56px;
            max-width: 56px;
            height: 56px;
            min-height: 56px;
            max-height: 56px;
            border-radius: 4px;

            img {
                height: 100%;
                width: auto;
                max-width: none;
                min-width: inherit;
                object-fit: cover;
            }
        }

        .subtitle {
            margin: 6px 0 0 0;
        }
    }

    .content {
        .mat-tab-group,
        .mat-tab-body-wrapper,
        .tab-content {
            flex: 1 1 auto;
            max-width: 100%;
        }

        .mat-tab-body-content {
            display: flex;
        }

        .mat-tab-label {
            height: 64px;

            &.mat-tab-label-active {
                > .mat-tab-label-content {
                    color: #f0444c;
                }
            }
        }

        .product-image {
            overflow: hidden;
            width: 128px;
            height: 128px;
            margin-right: 16px;
            margin-bottom: 16px;
            border-radius: 4px;

            img {
                height: 100%;
                width: auto;
                max-width: none;
            }
        }

        // Temporary prefix alignment fix
        .mat-form-field-appearance-outline .mat-form-field-prefix,
        .mat-form-field-appearance-outline .mat-form-field-suffix {
            top: 0;
        }

        .tab-content {
            .section {
                .section__top--contents {
                    .section__title {
                        font-size: 18px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}
