@import 'src/@fuse/scss/fuse';

app-self-information {
    .header {
        height: 80px;
        min-height: 80px;
        max-height: 136px;

        @include media-breakpoint('lt-md') {
            padding: 8px 0;
            height: 192px !important;
            min-height: 192px !important;
            max-height: 192px !important;
        }
    }

    #imageSection {
        border-radius: 10px;
        max-height: 75%;

        .img-container {
            width: 80%; /*any size*/
            height: 80%; /*any size*/

            .fit-image {
                width: 100%;
                height: 100%;
                object-fit: cover; /*magic*/
            }
        }

        button {
            min-height: 20%;
        }
    }
}
