@import 'src/@fuse/scss/fuse';

#add-product-list {
    .title-section {
        font-size: 18px;
        align-self: center;
        font-weight: 600;
    }

    hr {
        margin-top: 10px;
        border: 1px solid #dae0e7;
    }

    mat-horizontal-stepper {
        .mat-horizontal-content-container {
            padding: 0;
        }
        .mat-horizontal-stepper-header-container {
            display: none;
        }
    }

    .menu {
        .title-add-product {
            font-size: 16px;
            align-self: center;
            font-weight: 600;
        }

        .mat-form-field-appearance-outline .mat-form-field-infix {
            padding: 0px;
            font-size: 14px;
            margin-top: 2px;
        }
    }

    .add-product-list-table {
        flex: 1 1 auto;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        overflow: auto;
        min-height: 40px;
        height: 250px;
        // max-height: 350px;
        -webkit-overflow-scrolling: touch;
        background: #fafafa !important;

        &.sinbad-table-no-record {
            background: #ffffff !important;
            // max-height: 350px;
            .mat-header-row {
                pointer-events: none;
            }
        }

        .mat-header-row {
            background: #f3f5f7;
            min-width: fit-content;
            width: 100%;
        }
        .mat-row {
            background: white;
            min-width: fit-content;
            width: 100%;

            &.active {
                background-color: #ffedee !important;
            }
        }

        .mat-row {
            min-height: unset;
        }

        .sinbad-add-product-list-table {
            position: relative;
            cursor: pointer;
            // height: 84px;
        }

        .mat-header-cell {
            text-align: left;
            font-weight: 700;
            color: #0b1a28;
            // font-family: Inter;
            font-size: 14px;

            &:not(:last-of-type) {
                padding-right: 8px;
            }
        }

        mat-header-cell:first-of-type,
        .mat-header-cell:first-of-type,
        .mat-cell:first-of-type {
            padding-left: 12px;
        }

        mat-cell:last-of-type,
        .mat-header-cell:last-of-type,
        .mat-cell:last-of-type {
            padding-right: 12px;
        }

        .mat-cell {
            font-size: 12px;
            min-width: 0;
            display: flex;
            align-items: center;
            padding-right: 8px;
        }

        .mat-column-id {
            flex: 0 1 84px;
        }

        .mat-column-order-sku-id {
            flex: 0 1 114px;
            min-width: 114px;
            align-items: center;
            padding: 12px 8px;
            flex-direction: row;
        }

        .mat-column-order-sku-supplier {
            flex: 0 1 114px;
            min-width: 114px;
            align-items: center;
            padding: 12px 8px;
            flex-direction: row;
        }

        .mat-column-order-product-name {
            flex: 0 1 570px;
            max-width: 570px;
            flex-direction: row;
            align-items: center;
            padding: 12px 8px;

            .product-image {
                height: 40px;
                width: 40px;
                border-radius: 4px;
                margin-right: 10px;
            }
        }

        .mat-column-order-price {
            flex: 0 1 127px;
            min-width: 127px;
            flex-direction: row;
            align-items: center;
            padding: 12px 8px;
            display: table;
            flex: none;
            flex-grow: 1;
        }

        .mat-column-order-tax {
            flex: 0 1 77px;
            min-width: 77px;
            flex-direction: row;
            align-items: center;
            padding: 12px 8px;
        }
        .mat-column-adv-price {
            flex: 0 1 83px;
            max-width: 83px;
            flex-direction: row;
            padding: 12px 8px;
            align-items: center;
            justify-content: center;
        }

        .mat-column-no-record {
            position: relative;
            top: 7em;
            justify-content: center;
        }

        .active-icon {
            border-radius: 50%;
        }
    }

    .footer-detail {
        display: flex;
        justify-content: space-between;
        align-items: start;

        .qty-input {
            box-sizing: border-box;
            max-width: 60px;
            max-height: 35px;
            min-height: 40px;
            margin-top: -2px;
            .mat-form-field-flex {
                height: 40px;
                .mat-form-field-infix {
                    padding: 0;
                }
            }
        }
        .btn-minus,
        .btn-plus {
            border: 1px solid;
            min-width: 40px;
            background-color: #677a8e;
            height: 40px;
            color: white;
        }
        .btn-minus:disabled{
            background: rgba(0, 0, 0, 0.12);
        } 
        .btn-plus:disabled {
            background: rgba(0, 0, 0, 0.12);
        }
        .totalRpSty {
            color: #ec1a24;
            font-family: Inter;
            font-size: 14px;
            font-weight: bold;
        }
    }
    .btn-cancel {
        color: #f0444c;
        font-size: 12px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 32px;
        background: #ffffff;
        border: 1px solid #f0444c;
        box-sizing: border-box;
        border-radius: 4px;
    }
    .btn-submit {
        color: #ffff;
        display: flex;
        align-items: center;
        position: static;
        height: 32px;
        background-color: #f0444c;
        border-radius: 4px;
        flex: none;
        order: 1;
        flex-grow: 0;
        font-size: 12px;
        margin: 0px 8px;
    }
    .btn-submit:disabled {
        background: #fbc9cc;
    }

    .product-image-detail {
        height: 50px;
        width: 50px;
        border-radius: 4px;
    }

    .title-detail {
        font-size: 16px;
        align-self: center;
        font-weight: 600;
    }

    .title-info-product {
        font-size: 16px;
        font-weight: 600;
    }

    .content {
        flex: 1 1 auto;
        max-width: 100%;
        display: flex;
        margin-top: 16px;

        .mat-tab-group,
        .mat-tab-body-wrapper,
        .tab-content {
            flex: 1 1 auto;
            max-width: 100%;
        }

        .box-info {
            margin-bottom: 8px;
            padding-bottom: 8px;
            box-shadow: inset 0px -1px 0px rgba(218, 224, 231, 0.5);
            .label {
                font-weight: 600;
                font-size: 12px;
                line-height: 18px;
                color: #677a8e;
                margin-bottom: 0;
            }
            .description {
                font-weight: 600;
                font-size: 14px;
                line-height: 20px;
                color: #0b1a28;
            }
            .custom-field {
                margin-bottom: 0.5%;
            }
            .mat-title-headline {
                font-family: Inter;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: -0.02em;
                color: #0b1a28;
            }
        }
        
    }
}
