<div id="add-product-list" class="center">
    <div class="content-card">
        <div fxLayout="column">
            <span class="title-section"> Add Product </span>
        </div>

        <sinbad-card-header [config]="cardHeaderConfig"></sinbad-card-header>

        <mat-table
            class="add-product-list-table sinbad-table"
            [class.sinbad-table-no-record]="totalDataSource === 0"
            #table
            [dataSource]="dataSource"
            matSort
            [@animateStagger]="{ value: '50' }"
            fusePerfectScrollbar
        >
            <!-- SKU ID Column -->
            <ng-container matColumnDef="order-sku-id">
                <mat-header-cell *matHeaderCellDef> SKU ID </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <p style="word-break: break-word">
                        {{ row?.catalogueId || '-' }}
                    </p>
                </mat-cell>
            </ng-container>

            <!-- SKU Supplier Column -->
            <ng-container matColumnDef="order-sku-supplier">
                <mat-header-cell *matHeaderCellDef> SKU Supplier </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <p style="word-break: break-word">
                        {{ row?.skuSupplier || '-' }}
                    </p>
                </mat-cell>
            </ng-container>

            <!-- Product Name Column -->
            <ng-container matColumnDef="order-product-name">
                <mat-header-cell *matHeaderCellDef> Product Name </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <img [src]="row?.productImage" alt="Product Images" class="product-image" />
                    <p style="word-break: break-word">
                        {{ row?.productName || '-' }}
                    </p>
                </mat-cell>
            </ng-container>

            <!-- Price Column -->
            <ng-container matColumnDef="order-price">
                <mat-header-cell *matHeaderCellDef>
                    Price
                    <mat-icon
                        class="active-icon s-14 ml-8 cursor-pointer"
                        matTooltip="Applicable prices for store segmentation"
                        matTooltipPosition="above"
                        matTooltipClass="tooltip-br"
                        >info</mat-icon
                    >
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <ng-container *ngIf="row?.discountPrice > 0; else otherPrice">
                        <p style="word-break: break-word">
                            {{ numberFormat(row?.discountPrice) }}
                        </p>
                        <p style="word-break: break-word" style="text-decoration: line-through">
                            {{ numberFormat(row?.price) }}
                        </p>
                    </ng-container>
                    <ng-template #otherPrice>
                        <p style="word-break: break-word">
                            {{ numberFormat(row?.price) }}
                        </p>
                    </ng-template>
                </mat-cell>
            </ng-container>

            <!-- Tax Column -->
            <ng-container matColumnDef="order-tax">
                <mat-header-cell *matHeaderCellDef> Tax </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <p style="word-break: break-word">
                        <ng-container *ngIf="row?.tax; else noResultTax">
                            {{ row?.tax }}%
                        </ng-container>
                        <ng-template #noResultTax> - </ng-template>
                    </p>
                </mat-cell>
            </ng-container>

            <!-- Adv Price Column -->
            <ng-container matColumnDef="adv-price">
                <mat-header-cell *matHeaderCellDef> Adv. Price </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <p style="word-break: break-word">
                            {{ numberFormat(row?.advancePrice) }}
                    </p>
                </mat-cell>
            </ng-container>

            <!-- No Record Column -->
            <ng-container matColumnDef="no-record">
                <mat-footer-cell *matFooterCellDef colspan="8">{{ labelNoRecord }}</mat-footer-cell>
            </ng-container>

            <mat-header-row
                *matHeaderRowDef="displayedColumnsOrderList; sticky: true"
            ></mat-header-row>

            <mat-row
                *matRowDef="let row; columns: displayedColumnsOrderList"
                class="sinbad-add-product-list-table"
            ></mat-row>

            <mat-footer-row
                *matFooterRowDef="['no-record']"
                [fxShow]="totalDataSource === 0"
            ></mat-footer-row>
        </mat-table>

        <!-- <div
                class="loader-content"
                *ngIf="
                    (isLoading$ | async) && (!(totalDataSource$ | async) || (totalDataSource$ | async))
                "
            >
                <mat-spinner color="accent"></mat-spinner>
            </div> -->

        <mat-paginator
            [disabled]="totalDataSource === 0"
            [length]="totalDataSource"
            [pageSize]="defaultPageSize"
            [pageSizeOptions]="defaultPageOpts"
            showFirstLastButtons
        ></mat-paginator>

        <mat-dialog-actions align="end" style="margin-bottom: 0px">
            <button class="btn-cancel" mat-button [mat-dialog-close]="{status: 'cancel'}">Cancel</button>
            <button
                class="btn-submit"
                mat-button
                [mat-dialog-close]="{ id: data?.value?.data?.id, reason: selectedValue, status: status }"
                cdkFocusInitial
                (click)="onClickButton(row)"
                [disabled]="status == 'reject' && buttonRejectDisabled"
            >
                Next
            </button>
        </mat-dialog-actions>

    </div>
</div>
