@import 'src/@fuse/scss/fuse';

app-journey-plans {
    #journey-plans {
        .top-bg {
            @include media-breakpoint('lt-md') {
                height: 256px;
            }
        }

        > .center {
            > .header {
                &.sinbad {
                    height: 100px !important;
                    /*  height: 145px !important; */
                    max-height: 150px !important;
                    min-height: 100px !important;
                }

                .search-wrapper {
                    width: 100%;
                    max-width: 480px;
                    border-radius: 28px;
                    overflow: hidden;

                    @include media-breakpoint('xs') {
                        width: 100%;
                    }

                    .search {
                        width: 100%;
                        height: 40px;
                        line-height: 36px;
                        padding: 0 18px;

                        input {
                            width: 100%;
                            height: 40px;
                            min-height: 40px;
                            max-height: 40px;
                            padding: 10px 16px 10px 4px;
                            border: none;
                            outline: none;
                            font-size: 13px;
                        }
                    }
                }

                @include media-breakpoint('lt-md') {
                    padding: 8px 0;
                    height: 192px !important;
                    min-height: 192px !important;
                    max-height: 192px !important;
                }
            }
        }
    }

    .journey-plans-table {
        flex: 1 1 auto;
        border: 1px solid;
        border-radius: 4px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        background: #fafafa !important;

        .mat-header-row,
        .mat-row {
            background: white;
        }

        .mat-row {
            min-height: unset;

            &.expanded-row {
                .mat-cell {
                    border-bottom-width: 0;
                }
            }

            &.detail-row {
                border-bottom-width: 0;

                &.detail-expand-row {
                    border-bottom-width: 1px;
                }

                .mat-cell {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }

        .mat-header-cell {
            text-align: left;
            font-weight: 700;

            &:not(:last-of-type) {
                padding-right: 8px;
            }
        }

        mat-header-cell:first-of-type,
        .mat-header-cell:first-of-type,
        .mat-cell:first-of-type {
            padding-left: 12px;
        }

        mat-cell:last-of-type,
        .mat-header-cell:last-of-type,
        .mat-cell:last-of-type {
            padding-right: 12px;
        }

        .journey-plan {
            position: relative;
            cursor: pointer;
        }

        .mat-cell {
            font-size: 12px;
            min-width: 0;
            display: flex;
            align-items: center;
            // padding-top: 8px;
            // padding-bottom: 8px;
            padding-right: 8px;
        }

        .mat-column-checkbox,
        .mat-column-expand-action {
            flex: 0 1 80px;
        }

        .mat-column-visit-date {
            flex: 0 1 18%;
        }

        .mat-column-sales-rep-id {
            flex: 0 1 18%;
        }

        .mat-column-sales-rep-name {
            flex: 0 1 18%;
        }

        .mat-column-store-id {
            flex: 0 1 18%;
        }

        .mat-column-store-name {
            flex: 0 1 18%;
        }

        .mat-column-actions {
            flex: 0 1 80px;
            justify-content: flex-end;
        }
    }

    .journey-plan-details-table {
        flex: 1 1 auto;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        background: #fafafa !important;

        .mat-header-row {
            background: white;
            height: 0;
            min-height: 0;
            display: none;
        }

        .mat-row {
            background-color: rgba(240, 68, 76, 0.1);
            min-height: unset;

            &:last-of-type {
                border-bottom-width: 0;

                .mat-cell {
                    border-bottom-width: 0;
                }
            }
        }

        .mat-header-cell {
            text-align: left;
            font-weight: 700;

            // &:not(:last-of-type) {
            //     padding-right: 8px;
            // }
        }

        // mat-header-cell:first-of-type,
        // .mat-header-cell:first-of-type,
        // .mat-cell:first-of-type {
        //     padding-left: 12px;
        // }

        // mat-cell:last-of-type,
        // .mat-header-cell:last-of-type,
        // .mat-cell:last-of-type {
        //     padding-right: 12px;
        // }

        .journey-plan {
            position: relative;
            cursor: pointer;
        }

        .mat-cell {
            font-size: 12px;
            min-width: 0;
            display: flex;
            align-items: center;
            // padding-top: 8px;
            // padding-bottom: 8px;
            // padding-right: 8px;
        }

        .mat-column-checkbox,
        .mat-column-expand-action {
            flex: 0 1 80px;
        }

        .mat-column-actions {
            flex: 0 1 80px;
            justify-content: flex-end;
        }
    }
}

.mat-menu-panel {
    min-height: 52px;
}
