<div id="billing-generalinfo">
    <div class="content">
        <div class="tab-content p-16">
            <div class="box-info">
                <div class="custom-field info-field" fxLayout="column" fxLayoutGap="0.5%">
                    <div class="label">Invoice Number</div>

                    <div class="description">
                        {{ (dataDetail$ | async)?.data?.invoiceNumber || '-' }}
                    </div>
                </div>
            </div>

            <div class="box-info">
                <div class="custom-field info-field" fxLayout="column" fxLayoutGap="0.5%">
                    <div class="label">Total Invoice Amount</div>

                    <div class="description">
                        {{ numberFormat((dataDetail$ | async)?.data?.invoiceAmount) || '-' }}
                    </div>
                </div>
            </div>

            <div class="box-info">
                <div class="custom-field info-field" fxLayout="column" fxLayoutGap="0.5%">
                    <div class="label">Total Amount Paid</div>

                    <div class="description">
                        {{ numberFormat((dataDetail$ | async)?.data?.amountPaid) || '-' }}
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content p-16">
            <div class="box-info">
                <div class="custom-field info-field" fxLayout="column" fxLayoutGap="0.5%">
                    <div class="label">Order Referensi</div>

                    <div class="description">
                        {{ (dataDetail$ | async)?.data?.oderReference || '-' }}
                    </div>
                </div>
            </div>
            <div class="box-info">
                <div class="custom-field info-field" fxLayout="column" fxLayoutGap="0.5%">
                    <div class="label">Invoice Due Date</div>

                    <div class="description">
                        {{
                            ((dataDetail$ | async)?.data?.invoiceDueDate | date: 'dd MMM yyyy') ||
                                '-'
                        }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
