
<div class="pb-16">
    <span class="mat-headline"> Collection Details </span>
</div>

<div class="box-info horizontal" fxLayout="column" fxLayoutGap="16px">
    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="10">
            Collection Code
        </div>

        <div class="info" fxFlex="100">
            123456
            
        </div>
    </div>

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="10">
            Collection Status
        </div>

        <div class="info" fxFlex="100">
            Approved
           
        </div>
    </div>

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="10">
            Collection Method
        </div>

        <div class="info" fxFlex="100">
            Cheque
          
        </div>
    </div>
</div>

<br />

<div class="pb-16">
    <span class="mat-headline"> Sales Rep Information </span>
</div>

<div class="box-info horizontal" fxLayout="column" fxLayoutGap="16px">
    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="10">
            Sales Rep ID
        </div>

        <div class="info" fxFlex="100">
            123456
           
        </div>
    </div>

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="10">
            Sales Rep Name
        </div>

        <div class="info" fxFlex="100">
            Anggie
          
        </div>
    </div>
</div>