<div class="pb-16">
    <span class="mat-headline"> Method Information </span>
</div>

<div class="horizontal" fxLayout="column" fxLayoutGap="16px">
    <div class="box-info">
        <div class="custom-field info-field" fxLayout="column" fxLayoutGap="0.5%">
            <div class="label">Collection Method</div>

            <div class="description">
                {{
                    (detailCollection$ | async)?.data?.paymentCollectionMethod
                        ?.paymentCollectionType?.name || '-'
                }}
            </div>
        </div>
    </div>

    <div
        class="box-info"
        *ngIf="
            (detailCollection$ | async)?.data?.paymentCollectionMethod.paymentCollectionType
                ?.code === 'check' ||
            (detailCollection$ | async)?.data?.paymentCollectionMethod.paymentCollectionType
                ?.code === 'giro'
        "
    >
        <div class="custom-field info-field" fxLayout="column" fxLayoutGap="0.5%">
            <div class="label">Source Bank</div>

            <div class="description">
                {{
                    (detailCollection$ | async)?.data?.paymentCollectionMethod?.bankFrom
                        ?.displayName || '-'
                }}
            </div>
        </div>
    </div>

    <div
        class="box-info"
        *ngIf="
            (detailCollection$ | async)?.data?.paymentCollectionMethod.paymentCollectionType
                ?.code === 'check' ||
            (detailCollection$ | async)?.data?.paymentCollectionMethod.paymentCollectionType
                ?.code === 'giro'
        "
    >
        <div class="custom-field info-field" fxLayout="column" fxLayoutGap="0.5%">
            <div class="label">Materai</div>

            <div class="description">
                {{ (detailCollection$ | async)?.data?.paymentCollectionMethod?.stamp?.name || '-' }}
            </div>
        </div>
    </div>

    <div
        class="box-info"
        *ngIf="
            (detailCollection$ | async)?.data?.paymentCollectionMethod?.paymentCollectionType
                ?.code === 'transfer'
        "
    >
        <div class="custom-field info-field" fxLayout="column" fxLayoutGap="0.5%">
            <div class="label">Target Bank</div>

            <div class="description">
                {{
                    (detailCollection$ | async)?.data?.paymentCollectionMethod?.bankToAccount?.bank
                        ?.displayName
                }}
            </div>
        </div>
    </div>

    <div
        class="box-info"
        *ngIf="
            (detailCollection$ | async)?.data?.paymentCollectionMethod?.paymentCollectionType
                ?.code === 'transfer'
        "
    >
        <div class="custom-field info-field" fxLayout="column" fxLayoutGap="0.5%">
            <div class="label">Transfer Date</div>

            <div class="description">
                {{
                    ((detailCollection$ | async)?.data?.paymentCollectionMethod?.date
                        | date: 'dd MMM yyyy') || '-'
                }}
            </div>
        </div>
    </div>

    <div
        class="box-info"
        *ngIf="
            (detailCollection$ | async)?.data?.paymentCollectionMethod.paymentCollectionType
                ?.name == 'Kerjasama Promosi'
        "
    >
        <div class="custom-field info-field" fxLayout="column" fxLayoutGap="0.5%">
            <div class="label">Promotion Cooperation Letter</div>

            <div class="description">
                <ng-container *ngIf="collectionId; else promotionLetterNoData">
                    <ng-container *ngIf="!(isLoadingPhoto$ | async); else loadingSpin">
                        <a
                            style="color: #2097f6"
                            href="javascript:void(0)"
                            (click)="onClickViewPromotion()"
                        >
                            View Photo
                        </a>
                    </ng-container>
                    <ng-template #loadingSpin>
                        <mat-spinner color="accent" strokeWidth="2" [diameter]="16"></mat-spinner>
                    </ng-template>
                </ng-container>
                <ng-template #promotionLetterNoData> - </ng-template>
            </div>
        </div>
    </div>

    <div
        class="box-info"
        *ngIf="
            (detailCollection$ | async)?.data?.paymentCollectionMethod.paymentCollectionType
                ?.code !== 'good_return'
        "
    >
        <div class="custom-field info-field" fxLayout="column" fxLayoutGap="0.5%">
            <div class="label">Collection Photo</div>

            <div class="description">
                <ng-container *ngIf="collectionId; else collPhotoNoData">
                    <ng-container *ngIf="!(isLoadingPhoto$ | async); else loadingSpin">
                        <a
                            style="color: #2097f6"
                            href="javascript:void(0)"
                            (click)="onClickViewImage()"
                        >
                            View Photo
                        </a>
                    </ng-container>
                    <ng-template #loadingSpin>
                        <mat-spinner color="accent" strokeWidth="2" [diameter]="16"></mat-spinner>
                    </ng-template>
                </ng-container>
                <ng-template #collPhotoNoData> - </ng-template>
            </div>
        </div>
    </div>

    <div class="box-info">
        <div class="custom-field info-field" fxLayout="column" fxLayoutGap="0.5%">
            <div class="label">Reason</div>

            <div class="description">
                {{
                    (detailCollection$ | async)?.data?.paymentCollectionMethod?.approvalReason ||
                        '-'
                }}
            </div>
        </div>
    </div>
</div>

<br />

<div class="pb-16">
    <span class="mat-headline"> Sales Rep Information </span>
</div>

<div class="horizontal" fxLayout="column" fxLayoutGap="16px">
    <div class="box-info">
        <div class="custom-field info-field" fxLayout="column" fxLayoutGap="0.5%">
            <div class="label">Sales Rep ID</div>

            <div class="description">
                {{
                    (detailCollection$ | async)?.data?.paymentCollectionMethod?.salesRepCode || '-'
                }}
            </div>
        </div>
    </div>

    <div class="box-info">
        <div class="custom-field info-field" fxLayout="column" fxLayoutGap="0.5%">
            <div class="label">Sales Rep Name</div>

            <div class="description">
                {{
                    (detailCollection$ | async)?.data?.paymentCollectionMethod?.salesRepName || '-'
                }}
            </div>
        </div>
    </div>
</div>
