
<div class="pb-16">
    <span class="mat-headline"> Collection Details </span>
</div>

<div class="box-info horizontal" fxLayout="column" fxLayoutGap="16px">
    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="20">
            Bank From
        </div>

        <div class="info" fxFlex="100">
            Mandiri
        </div>
    </div>

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="20">
            Issue Date
        </div>

        <div class="info" fxFlex="100">
            20 Mei 2021
        </div>
    </div>

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="20">
            Due Date
        </div>

        <div class="info" fxFlex="100">
            21 Jun 2021
        </div>
    </div>

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="20">
           Reason
        </div>

        <div class="info" fxFlex="100">
            -
        </div>
    </div>
</div>

<br />

<div class="pb-16">
    <span class="mat-headline"> Sales Rep Information </span>
</div>

<div class="box-info horizontal" fxLayout="column" fxLayoutGap="16px">
    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="20">
            Sales Rep ID
        </div>

        <div class="info" fxFlex="100">
            123456
           
        </div>
    </div>

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="20">
            Sales Rep Name
        </div>

        <div class="info" fxFlex="100">
            Anggie
        </div>
    </div>
</div>