<div fxLayout="column" fxLayoutAlign="start stretch" fxFlex>
    <div class="box-vertical" fxLayout="column" fxLayoutAlign="start stretch" fxFlex>
        <div class="pb-16">
            <span class="mat-headline"> Segmentation Information </span>
        </div>

        <div
            class="form-field"
            fxLayout="column"
            fxLayoutAlign="start stretch"
            fxLayoutGap="16px"
            fxFlex
        >
            <!-- SEGMENTATION NAME -->
            <div
                class="field"
                fxLayout="row"
                fxLayoutAlign="start center"
                fxLayoutGap="16px"
                fxFlex="100"
            >
                <div class="label" fxFlex="120px">Segmentation Name</div>
                <div>
                    <ng-container *ngIf="!isLoading">
                        {{ item?.name || '-' }}
                    </ng-container>

                    <ngx-skeleton-loader
                        [theme]="{ width: '100px', 'margin-bottom': '-5px' }"
                        *ngIf="isLoading"
                    ></ngx-skeleton-loader>
                </div>
            </div>
            <!-- / SEGMENTATION NAME -->

            <!-- WAREHOUSE -->
            <div
                class="field"
                fxLayout="row"
                fxLayoutAlign="start stretch"
                fxLayoutGap="16px"
                fxFlex="100"
            >
                <div class="label" fxFlex="120px">
                    Warehouse<br />
                    <ng-container *ngIf="!isLoading">
                        ({{ item?.totalWarehouse() || 0 }} Selected)
                    </ng-container>
                    <ngx-skeleton-loader
                        [theme]="{ width: '100px', 'margin-bottom': '-5px' }"
                        *ngIf="isLoading"
                    ></ngx-skeleton-loader>
                </div>
                <div>
                    <ng-container *ngIf="!isLoading">
                        {{ (item?.warehouses | convertArrayToString: 'name') || '-' }}
                    </ng-container>

                    <ngx-skeleton-loader
                        [theme]="{ width: '100px', 'margin-bottom': '-5px' }"
                        *ngIf="isLoading"
                    ></ngx-skeleton-loader>
                </div>
            </div>
            <!-- / WAREHOUSE -->

            <!-- STORE TYPE -->
            <div
                class="field"
                fxLayout="row"
                fxLayoutAlign="start stretch"
                fxLayoutGap="16px"
                fxFlex="100"
            >
                <div class="label" fxFlex="120px">
                    Store Type<br />
                    <ng-container *ngIf="!isLoading">
                        ({{ item?.totalType() || 0 }} Selected)
                    </ng-container>
                    <ngx-skeleton-loader
                        [theme]="{ width: '100px', 'margin-bottom': '-5px' }"
                        *ngIf="isLoading"
                    ></ngx-skeleton-loader>
                </div>
                <div>
                    <ng-container *ngIf="!isLoading">
                        {{ (item?.types | convertArrayToString: 'name') || '-' }}
                    </ng-container>

                    <ngx-skeleton-loader
                        [theme]="{ width: '100px', 'margin-bottom': '-5px' }"
                        *ngIf="isLoading"
                    ></ngx-skeleton-loader>
                </div>
            </div>
            <!-- / STORE TYPE -->

            <!-- STORE GROUP -->
            <div
                class="field"
                fxLayout="row"
                fxLayoutAlign="start stretch"
                fxLayoutGap="16px"
                fxFlex="100"
            >
                <div class="label" fxFlex="120px">
                    Store Group<br />
                    <ng-container *ngIf="!isLoading">
                        ({{ item?.totalGroup() || 0 }} Selected)
                    </ng-container>
                    <ngx-skeleton-loader
                        [theme]="{ width: '100px', 'margin-bottom': '-5px' }"
                        *ngIf="isLoading"
                    ></ngx-skeleton-loader>
                </div>
                <div>
                    <ng-container *ngIf="!isLoading">
                        {{ (item?.groups | convertArrayToString: 'name') || '-' }}
                    </ng-container>

                    <ngx-skeleton-loader
                        [theme]="{ width: '100px', 'margin-bottom': '-5px' }"
                        *ngIf="isLoading"
                    ></ngx-skeleton-loader>
                </div>
            </div>
            <!-- / STORE GROUP -->

            <!-- STORE CHANNEL -->
            <div
                class="field"
                fxLayout="row"
                fxLayoutAlign="start stretch"
                fxLayoutGap="16px"
                fxFlex="100"
            >
                <div class="label" fxFlex="120px">
                    Store Channel<br />
                    <ng-container *ngIf="!isLoading">
                        ({{ item?.totalChannel() || 0 }} Selected)
                    </ng-container>
                    <ngx-skeleton-loader
                        [theme]="{ width: '100px', 'margin-bottom': '-5px' }"
                        *ngIf="isLoading"
                    ></ngx-skeleton-loader>
                </div>
                <div>
                    <ng-container *ngIf="!isLoading">
                        {{ (item?.channels | convertArrayToString: 'name') || '-' }}
                    </ng-container>

                    <ngx-skeleton-loader
                        [theme]="{ width: '100px', 'margin-bottom': '-5px' }"
                        *ngIf="isLoading"
                    ></ngx-skeleton-loader>
                </div>
            </div>
            <!-- / STORE CHANNEL -->

            <!-- STORE CLUSTER -->
            <div
                class="field"
                fxLayout="row"
                fxLayoutAlign="start stretch"
                fxLayoutGap="16px"
                fxFlex="100"
            >
                <div class="label" fxFlex="120px">
                    Store Cluster<br />
                    <ng-container *ngIf="!isLoading">
                        ({{ item?.totalCluster() || 0 }} Selected)
                    </ng-container>
                    <ngx-skeleton-loader
                        [theme]="{ width: '100px', 'margin-bottom': '-5px' }"
                        *ngIf="isLoading"
                    ></ngx-skeleton-loader>
                </div>
                <div>
                    <ng-container *ngIf="!isLoading">
                        {{ (item?.clusters | convertArrayToString: 'name') || '-' }}
                    </ng-container>

                    <ngx-skeleton-loader
                        [theme]="{ width: '100px', 'margin-bottom': '-5px' }"
                        *ngIf="isLoading"
                    ></ngx-skeleton-loader>
                </div>
            </div>
            <!-- / STORE CLUSTER -->
        </div>
    </div>
</div>
