@import 'src/@sinbad/scss/helper';

app-catalogue-segmentation-information-tab {
    .sinbad-store-image {
        overflow: hidden;
        width: 128px;
        height: 128px;
        margin-right: 16px;
        margin-bottom: 16px;
        border-radius: 4px;

        img {
            height: 100%;
            width: inherit !important;
            max-width: none;
            min-width: inherit;
        }
    }

    .form-field {
        // border:1px solid red;

        &.general-information {
            height: 80px;
            min-height: 80px;
            max-height: 80px;
        }

        .field {
            // border: 1px solid blue;

            flex: 0 1 320px;
            margin-bottom: 28px;

            .label {
                color: sinbad-color('black', '80');

                + div {
                    color: sinbad-color('black', '100');
                }
            }

            .status-active {
                color: sinbad-color('green', '50');
            }
        }
    }

    .box-vertical {
        // border: 1px solid blue;

        flex: 1 1 50%;
        // height: auto;
        // min-height: 280px;

        &.general-information {
            max-height: 150px;
        }

        .form-field {
            .field {
                min-height: auto;
            }
        }
    }
}
