<div id="warehouses" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center pt-12">
        <!-- CONTENT CARD -->
        <div class="content-card">
            <sinbad-card-header
                [config]="cardHeaderConfig"
                (onClickAdd)="onClickAdd()"
            ></sinbad-card-header>

            <mat-table
                class="warehouses-table sinbad-table mx-16"
                [class.sinbad-table-no-record]="
                    !(isLoading$ | async) && (totalDataSource$ | async) === 0
                "
                #table
                [dataSource]="dataSource$ | async"
                matSort
                [@animateStagger]="{ value: '50' }"
                fusePerfectScrollbar
            >
                <!-- Checkbox Column -->
                <!-- <ng-container matColumnDef="checkbox">
                    <mat-header-cell *matHeaderCellDef>
                        <mat-checkbox
                            (change)="$event ? handleCheckbox() : null"
                            (click)="$event.stopPropagation()"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                        ></mat-checkbox>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <mat-checkbox
                            (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                        ></mat-checkbox>
                    </mat-cell>
                </ng-container> -->

                <!-- Warehouse ID Column -->
                <ng-container matColumnDef="wh-id">
                    <mat-header-cell *matHeaderCellDef>
                        Warehouse ID
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p class="text-word-break-break-word">
                            {{ row?.code || '-' }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Warehouse Name Column -->
                <ng-container matColumnDef="wh-name">
                    <mat-header-cell *matHeaderCellDef>
                        Warehouse Name
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p class="text-word-break-break-word">
                            {{ row?.name || '-' }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Lead Time Column -->
                <ng-container matColumnDef="lead-time">
                    <mat-header-cell *matHeaderCellDef>
                        Lead Time
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p class="text-word-break-break-word">
                            {{ getLeadTime(row?.leadTime) || '-' }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Invoice Column -->
                <ng-container matColumnDef="invoice">
                    <mat-header-cell *matHeaderCellDef>
                        Faktur
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p class="text-word-break-break-word">
                            {{ getInvoices(row?.warehouseInvoiceGroups) || '-' }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Assigned SKU Column -->
                <ng-container matColumnDef="assigned-sku">
                    <mat-header-cell *matHeaderCellDef>
                        Assigned SKU
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p class="text-word-break-break-word">
                            {{ row?.totalCatalogue }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Stock Available Column -->
                <ng-container matColumnDef="stock-available">
                    <mat-header-cell *matHeaderCellDef>
                        Stock Available
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p class="text-word-break-break-word">
                            {{ row?.totalCatalogueStock }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Total Urban Column -->
                <ng-container matColumnDef="total-urban">
                    <mat-header-cell *matHeaderCellDef>
                        Total Urban
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p class="text-word-break-break-word">
                            {{ row?.totalUrban }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>
                        Actions
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div fxFlex="row" fxLayoutAlign="end center">
                            <button
                                mat-icon-button
                                [matMenuTriggerFor]="moreMenu"
                                aria-label="More"
                                (click)="$event.stopPropagation()"
                            >
                                <mat-icon class="secondary-text">more_vert</mat-icon>
                            </button>

                            <mat-menu #moreMenu="matMenu">
                                <ng-template [ngxPermissionsOnly]="['SRM.SR.UPDATE']">
                                    <button
                                        type="button"
                                        mat-menu-item
                                        class="sinbad-mat-menu-item"
                                        aria-label="Edit"
                                        [routerLink]="[row?.id]"
                                    >
                                        <mat-icon>edit</mat-icon>
                                        <span>Edit</span>
                                    </button>

                                    <!--<button
                                        mat-menu-item
                                        type="button"
                                        class="sinbad-mat-menu-item"
                                        [attr.aria-label]="
                                            row?.status === 'active' ? 'Inactive' : 'Active'
                                        "
                                        (click)="onChangeStatus(row)"
                                    >
                                        <mat-icon>
                                            {{
                                                row?.status === 'active'
                                                    ? 'archive'
                                                    : 'check_circle_outline'
                                            }}
                                        </mat-icon>
                                        <span>
                                            {{
                                                (row?.status === 'active'
                                                    ? 'ACTION.INACTIVE'
                                                    : 'ACTION.ACTIVE'
                                                ) | translate
                                            }}
                                        </span>
                                    </button> -->
                                </ng-template>
                            </mat-menu>
                        </div>
                    </mat-cell>
                </ng-container>

                <!-- No Record Column -->
                <ng-container matColumnDef="no-record">
                    <mat-footer-cell *matFooterCellDef colspan="8">
                        No records found
                    </mat-footer-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                <mat-row
                    *matRowDef="let row; columns: displayedColumns"
                    class="warehouse"
                    [routerLink]="[row?.id, 'detail']"
                ></mat-row>
                <mat-footer-row
                    *matFooterRowDef="['no-record']"
                    [fxShow]="!(isLoading$ | async) && (totalDataSource$ | async) === 0"
                ></mat-footer-row>
            </mat-table>

            <div
                class="loader-content"
                *ngIf="
                    (isLoading$ | async) &&
                    (!(totalDataSource$ | async) || (totalDataSource$ | async))
                "
            >
                <mat-spinner color="accent"></mat-spinner>
            </div>

            <!-- <div class="loader-content" *ngIf="(isLoading$ | async) && !(totalDataSource$ | async)">
                <mat-spinner color="accent"></mat-spinner>
            </div>

            <div
                class="loader-content"
                *ngIf="!(isLoading$ | async) && (totalDataSource$ | async) === 0"
            >
                No records found
            </div> -->

            <mat-paginator
                [disabled]="
                    ((isLoading$ | async) && !(totalDataSource$ | async)) ||
                    (!(isLoading$ | async) && (totalDataSource$ | async) === 0)
                "
                [length]="totalDataSource$ | async"
                [pageSize]="defaultPageSize"
                [pageSizeOptions]="defaultPageOpts"
                showFirstLastButtons
            ></mat-paginator>

            <!-- <div class="loader" *ngIf="(isLoading$ | async) && (totalDataSource$ | async)">
                <mat-spinner color="accent"></mat-spinner>
            </div> -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
