<!-- CONTENT CARD (INFORMASI PRODUK) -->
<div [ngClass]="catalogueContent">
    <div class="p-16 pb-28">
        <div class="font-weight-600 font-size-24 line-height-20">Condition</div>
    </div>

    <div class="p-16 pt-0 pb-40 line-height-1.75">
        <form
            class="w-100-p"
            [formGroup]="form"
            fxLayout="column"
            fxFlex
            [fxLayoutGap]="'5px'"
            novalidate
        >
            <!-- *HIDDEN* ID -->
            <input hidden name="id" formControlName="id" />
            <!-- / *HIDDEN* ID -->

            <!-- WRAPPER BOX -->
            <div fxLayout="row" fxLayoutAlign="start start" fxFlex>
                <!-- FORM -->
                <div
                    class="p-16"
                    [class.dark-box]="!isViewMode()"
                    [fxFlex]="labelLength + formFieldLength"
                    fxLayout="column"
                    [fxLayoutGap]="!isViewMode() ? '5px' : '10px'"
                >
                    <!-- CONDITION -->
                    <span class="font-size-14 text-semibold font-weight-600 line-height-20 mb-20">
                        Condition
                    </span>
                    <!-- / CONDITION -->
                    <!-- BASE (CONDITION) -->
                    <div [ngClass]="formClass" fxLayout="row" fxLayoutAlign="start stretch">
                        <label
                            fxFlexAlign="center"
                            [fxFlex]="labelLength * 2 - 1"
                            class="pr-0 form-label"
                            [class.mat-error]="
                                !isViewMode() && hasError(form.get('condition.base'))
                            "
                        >
                            Base
                        </label>

                        <mat-radio-group
                            [formControl]="form.get('condition.base')"
                            [fxFlex]="formFieldLength * 2 - 1"
                            fxLayout="row"
                            fxLayoutAlign="start center"
                            fxLayoutGap="16px"
                        >
                            <mat-radio-button
                                value="qty"
                                [disabled]="
                                    $index > 0 &&
                                    form.get(['conditionBenefit', 0, 'condition', 'base']).value !==
                                        'qty'
                                "
                            >
                                Qty
                            </mat-radio-button>
                            <mat-radio-button
                                value="order-value"
                                [disabled]="
                                    $index > 0 &&
                                    form.get(['conditionBenefit', 0, 'condition', 'base']).value !==
                                        'order-value'
                                "
                            >
                                Order Value
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <!-- / BASE (CONDITION) -->
                    <!-- QTY (BASE) -->
                    <div
                        [ngClass]="formClass"
                        fxLayout="row"
                        fxLayoutAlign="start stretch"
                        *ngIf="form.get('condition.base').value === 'qty'"
                    >
                        <label
                            fxFlexAlign="center"
                            [fxFlex]="labelLength * 2 - 1"
                            class="pr-0 form-label"
                            [class.mat-error]="!isViewMode() && hasError(form.get('condition.qty'))"
                        >
                            Qty >=
                        </label>

                        <mat-form-field
                            appearance="outline"
                            [fxFlex]="formFieldLength * 2 - 1"
                            *ngIf="!isViewMode()"
                        >
                            <input
                                matInput
                                name="qty"
                                type="number"
                                [formControl]="form.get('condition.qty')"
                            />
                            <mat-error *ngIf="hasError(form.get('condition.qty'))">
                                {{ getFormError(form.get('condition.qty')) }}
                            </mat-error>
                        </mat-form-field>

                        <span class="form-value" fxFlex="80" *ngIf="isViewMode()">
                            {{ form.get('condition.qty').value || '-' }}
                        </span>
                    </div>
                    <!-- / QTY (BASE) -->
                    <!-- ORDER VALUE (BASE) -->
                    <div
                        [ngClass]="formClass"
                        fxLayout="row"
                        fxLayoutAlign="start stretch"
                        *ngIf="form.get('condition.base').value === 'order-value'"
                    >
                        <label
                            fxFlexAlign="center"
                            [fxFlex]="labelLength * 2 - 1"
                            class="pr-0 form-label"
                            [class.mat-error]="
                                !isViewMode() && hasError(form.get('condition.value'))
                            "
                        >
                            Order Value >=
                        </label>

                        <mat-form-field
                            appearance="outline"
                            [fxFlex]="formFieldLength * 2 - 1"
                            *ngIf="!isViewMode()"
                        >
                            <input
                                matInput
                                name="value"
                                mask="separator.2"
                                thousandSeparator="."
                                prefix="Rp"
                                [formControl]="form.get('condition.value')"
                            />
                            <mat-error *ngIf="hasError(form.get('condition.value'))">
                                {{ getFormError(form.get('condition.value')) }}
                            </mat-error>
                        </mat-form-field>

                        <span class="form-value" fxFlex="80" *ngIf="isViewMode()">
                            {{
                                (form.get('condition.valueView').value
                                    | price: 'full':'IDR':'narrow':'1.0-2') || '-'
                            }}
                        </span>
                    </div>
                    <!-- / ORDER VALUE (BASE) -->
                </div>
                <!-- / FORM -->
                <!-- CARD INSTRUCTION -->
                <card-instruction fxFlex *ngIf="!isViewMode()">
                    <p class="title">Sample Case</p>

                    <p class="instruction">
                        Toko Maju Jaya ordered 5 pcs of SKU A.<br />
                        There are 2 condition and benefits available:
                        <br /><br />
                        Buy 5 SKU A, get 1 SKU A for free<br />
                        Buy 10 SKU A, get 3 SKU A for free
                        <br /><br />
                        If you choose non-cumulative:<br />
                        Toko Maju Jaya will get 3 SKU A bonus for free.
                        <br /><br />
                        If you choose cumulative:<br />
                        Toko Maju Jaya will get 4 SKU A bonus for free.
                    </p>
                </card-instruction>
                <!-- CARD INSTRUCTION -->
            </div>
            <!-- / WRAPPER BOX -->
        </form>
    </div>
</div>
<!-- / CONTENT CARD (INFORMASI PRODUK) -->
