<div id="invoices-view" class="page-layout carded fullwidth inner-scroll" style="background-color: #F6F6F6">
    <div class="invoice-header-card">
        <div style="text-align: right">
            <a
                [href]="url"
                style="background-color: #EE444E;
                    padding: 15px 20px;
                    height: 51px;
                    width: 121px;
                    margin-right: 5px;
                    cursor: pointer;
                    font-family: 'Muli',serif;
                    border-radius: 5px;
                    color: white;
                    font-weight: 700;
                    border: none;
                    text-decoration: none;
                    font-size: 1.2em;"
               download
            >
                Download
            </a>
            <button
                style="background-color: #EE444E;
                    padding: 15px 20px;
                    height: 51px;
                    width: 121px;
                    margin-right: 5px;
                    cursor: pointer;
                    font-family: 'Muli',serif;
                    border-radius: 5px;
                    color: white;
                    font-weight: 700;
                    border: none;
                    font-size: 1.2em;"
                (click)="print()"
            >
                Print
            </button>
        </div>
    </div>
    <div class="center">
        <div class="order-box info-box inner-scroll" fxFlex="30">
            <!-- solusi sementara menggunakan iframe, karena pdf-viewer tidak berfungsi-->
            
            <div style="height: 100vh !important;">
                <iframe
                    [src]="url"
                    frameBorder="0"
                    scrolling="auto"
                    height="100%"
                    width="100%"
                    style="position: absolute; height: 100%; border: none"
                ></iframe>
            </div>

            <!-- <pdf-viewer
                class="pdf-viewer"
                [src]="url"
                [render-text]="true"
                [original-size]="false"
                style="position: absolute; height: 100%; border: none; display: block;">
            </pdf-viewer> -->
        </div>
    </div>
</div>
