<div fxLayout="row" fxLayoutAlign="space-between center" class="m-0" style="max-height:30px;">
    <h2 mat-dialog-title class="m-0" *ngIf="data?.title">
        {{ data?.title | titlecase }}
    </h2>

    <button mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
</div>

<mat-dialog-content class="mat-typography pt-12" style="min-width: 25em;max-width: 25em;">
    <form
        class="w-100-p"
        [formGroup]="form"
        fxLayout="column"
        fxLayoutAlign="center stretch"
        fxFlex
        novalidate
    >
        <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="15px">
            <div
                class="bg-img-sinbad"
                (mouseenter)="showMagnify('proof-img', 3)"
                (mouseleave)="removeMagnify()"
            >
                <img
                    id="proof-img"
                    src="assets/images/profile/morain-lake.jpg"
                    class="img-sinbad"
                />

                <!-- <ngx-image-zoom
                    scrollParentSelector="html"
                    enableLens="true"
                    circularLens="true"
                    lensWidth="50"
                    lensHeight="50"
                    mode="hover"
                    magnification="2"
                    [thumbImage]="
                        'http://angular-material.fusetheme.com/assets/images/profile/morain-lake-small.jpg'
                    "
                ></ngx-image-zoom> -->
            </div>

            <div class="text-center" fxFlex="50">
                <a href="#">Download Image</a>
            </div>
        </div>

        <div class="mt-12">
            <span class="mat-subheading-2">Account Receivable</span>

            <p>Rp 5.000.000</p>
        </div>

        <mat-radio-group formControlName="status" aria-label="Choose Status">
            <mat-radio-button [value]="true">Valid</mat-radio-button>
            <mat-radio-button [value]="false">not-Valid</mat-radio-button>
        </mat-radio-group>

        <div class="custom-field" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
            <label
                fxFlex="25"
                [class.mat-error]="
                    form.get('reason').errors &&
                    !form.get('reason').untouched &&
                    (form.get('reason').dirty || form.get('reason').touched)
                "
            >
                Reason
            </label>

            <mat-form-field appearance="outline" fxFlex="80">
                <mat-select formControlName="reason" placeholder="Choose Reason">
                    <mat-option>-</mat-option>
                </mat-select>

                <!-- <mat-error
                                    *ngIf="
                                        form.get('reason').errors &&
                                        (form.get('reason').dirty ||
                                            form.get('reason').touched)
                                    "
                                >
                                    {{ getErrorMessage('reason') }}
                                </mat-error> -->
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <span fxLayout="row" fxLayoutGap="10px">
        <button mat-flat-button color="accent" cdkFocusInitial>Proses</button>
        <button mat-stroked-button mat-dialog-close>Batal</button>
    </span>
</mat-dialog-actions>
