<div
    id="warehouse"
    class="page-layout carded fullwidth inner-scroll"
    cdkScrollable
    fusePerfectScrollbar
>
    <!-- TOP BACKGROUND -->
    <div class="accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <form
            id="warehouse-form"
            name="warehouseForm"
            class="merchant pt-24 w-100-p"
            [formGroup]="form"
            fxLayout="column"
            fxFlex
            novalidate
        >
            <mat-card class="mb-24">
                <div fxLayout="column">
                    <span class="mat-headline font-weight-600">
                        Warehouse Information
                    </span>

                    <div class="form-box">
                        <div class="custom-field" fxLayout="row" fxLayoutAlign="start stretch">
                            <label fxFlexAlign="center" fxFlex="12">
                                *Warehouse ID
                            </label>

                            <mat-form-field appearance="outline" fxFlex="50">
                                <input matInput name="whId" />
                            </mat-form-field>
                        </div>

                        <div class="custom-field" fxLayout="row" fxLayoutAlign="start stretch">
                            <label fxFlexAlign="center" fxFlex="12">
                                *Warehouse Name
                            </label>

                            <mat-form-field appearance="outline" fxFlex="50">
                                <input matInput name="whName" />
                            </mat-form-field>
                        </div>

                        <div class="custom-field" fxLayout="row" fxLayoutAlign="start stretch">
                            <label fxFlexAlign="center" fxFlex="12">
                                *Faktur
                            </label>

                            <mat-form-field appearance="outline" fxFlex="50">
                                <mat-select placeholder="Choose Faktur">
                                    <mat-option>None</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </mat-card>

            <mat-card>
                <div fxLayout="column">
                    <span class="mat-headline font-weight-600">
                        Warehouse Location
                    </span>

                    <div class="form-box">
                        <div
                            class="custom-field mb-16"
                            fxLayout="row"
                            fxLayoutAlign="start stretch"
                        >
                            <label fxFlexAlign="center" fxFlex="12">
                                Warehouse Location
                            </label>

                            <agm-map
                                fxFlex="50"
                                class="h-400"
                                [zoom]="opts.zoom"
                                [minZoom]="opts.minZoom"
                                [maxZoom]="opts.maxZoom"
                                [streetViewControl]="false"
                                [latitude]="opts.lat"
                                [longitude]="opts.lng"
                                [fitBounds]="true"
                                (mapReady)="onMapReady($event)"
                            >
                                <agm-marker
                                    [latitude]="lat"
                                    [longitude]="lng"
                                    [iconUrl]="opts.icon"
                                    [agmFitBounds]="true"
                                    [markerDraggable]="draggAble"
                                    (dragEnd)="onDragEnd($event)"
                                ></agm-marker>
                            </agm-map>
                        </div>

                        <ng-container *ngIf="editAddress && !isManually">
                            <div class="custom-field" fxLayout="row" fxLayoutAlign="start stretch">
                                <label fxFlexAlign="center" fxFlex="12">
                                    *Address
                                </label>

                                <mat-form-field appearance="outline" fxFlex="50">
                                    <input
                                        #search
                                        matInput
                                        name="address"
                                        formControlName="address"
                                    />

                                    <!-- <textarea
                                        matInput
                                        rows="5"
                                        #search
                                        [formControl]="searchAddress"
                                    ></textarea> -->
                                </mat-form-field>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="isManually">
                            <div class="custom-field" fxLayout="row" fxLayoutAlign="start stretch">
                                <label fxFlexAlign="center" fxFlex="12">
                                    *Address
                                </label>

                                <mat-form-field appearance="outline" fxFlex="50">
                                    <textarea
                                        matInput
                                        rows="5"
                                        formControlName="address"
                                    ></textarea>
                                </mat-form-field>
                            </div>
                        </ng-container>

                        <div
                            class="custom-field mb-16"
                            fxLayout="row"
                            fxLayoutAlign="start stretch"
                            *ngIf="!editAddress && !isManually"
                        >
                            <label fxFlexAlign="center" fxFlex="12" style="top:0">
                                *Address
                            </label>

                            <div fxFlexAlign="center" fxFlex="50">
                                {{ form.get('address').value || '-' }}
                            </div>

                            <button
                                type="button"
                                mat-icon-button
                                (click)="onChangeAddress(editAddress)"
                            >
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>

                        <div class="custom-field" fxLayout="row" fxLayoutAlign="start stretch">
                            <label fxFlexAlign="center" fxFlex="12">
                                Notes Address
                            </label>

                            <mat-form-field appearance="outline" fxFlex="50">
                                <textarea matInput rows="5"></textarea>
                            </mat-form-field>
                        </div>

                        <div>
                            <mat-checkbox
                                formControlName="manually"
                                (change)="onChangeManually($event)"
                            >
                                Input address manually
                            </mat-checkbox>
                        </div>

                        <ng-container *ngIf="isManually">
                            <div class="custom-field" fxLayout="row" fxLayoutAlign="start stretch">
                                <label
                                    fxFlexAlign="center"
                                    fxFlex="12"
                                    [class.mat-error]="hasError('district')"
                                >
                                    *District
                                </label>

                                <mat-form-field appearance="outline" fxFlex="50">
                                    <input
                                        #triggerDistrict
                                        matInput
                                        formControlName="district"
                                        placeholder="Search District"
                                        aria-label="District"
                                        [matAutocomplete]="autoDistrict"
                                        (keyup)="onKeyup($event, 'district')"
                                        (keydown)="onKeydown($event, 'district')"
                                    />

                                    <mat-autocomplete
                                        #autoDistrict="matAutocomplete"
                                        [displayWith]="onDisplayDistrict"
                                        (opened)="onOpenAutocomplete('district')"
                                        (optionSelected)="onSelectAutocomplete($event, 'district')"
                                    >
                                        <mat-option
                                            *ngIf="
                                                !(isLoadingDistrict$ | async) && isDistrictTyping
                                            "
                                        >
                                            Searching...
                                        </mat-option>

                                        <ng-container
                                            *ngIf="
                                                !isDistrictTyping &&
                                                (districts$ | async)?.length > 0
                                            "
                                        >
                                            <ng-container
                                                *ngIf="
                                                    districts$ | async as districts;
                                                    else noDistricts
                                                "
                                            >
                                                <mat-option
                                                    *ngFor="let source of districts"
                                                    [value]="source"
                                                    [attr.title]="displayDistrictOption(source)"
                                                >
                                                    <ng-container
                                                        *ngIf="
                                                            source && !(isLoadingDistrict$ | async)
                                                        "
                                                    >
                                                        <span
                                                            [innerHtml]="
                                                                displayDistrictOption(source, true)
                                                                    | highlight: districtHighlight
                                                            "
                                                        ></span>
                                                    </ng-container>

                                                    <ng-container
                                                        *ngIf="
                                                            !source || (isLoadingDistrict$ | async)
                                                        "
                                                    >
                                                        Loading...
                                                    </ng-container>
                                                </mat-option>
                                            </ng-container>

                                            <ng-template #noDistricts>
                                                <mat-option>None</mat-option>
                                            </ng-template>
                                        </ng-container>

                                        <ng-container
                                            *ngIf="
                                                !isDistrictTyping && !(districts$ | async)?.length
                                            "
                                        >
                                            <mat-option>None</mat-option>
                                        </ng-container>
                                    </mat-autocomplete>

                                    <mat-hint align="end" *ngIf="hasLength('district', 3)">
                                        Please enter 3 or more characters.
                                    </mat-hint>

                                    <mat-error *ngIf="hasError('district', true)">
                                        {{ getErrorMessage('district') }}
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="custom-field" fxLayout="row" fxLayoutAlign="start stretch">
                                <label
                                    fxFlexAlign="center"
                                    fxFlex="12"
                                    [class.mat-error]="hasError('urban')"
                                >
                                    *Urban
                                </label>

                                <mat-form-field appearance="outline" fxFlex="50">
                                    <input
                                        #triggerUrban
                                        matInput
                                        formControlName="urban"
                                        placeholder="Search Urban"
                                        aria-label="Urban"
                                        [matAutocomplete]="autoUrban"
                                        (keyup)="onKeyup($event, 'urban')"
                                        (keydown)="onKeydown($event, 'urban')"
                                    />

                                    <mat-autocomplete
                                        #autoUrban="matAutocomplete"
                                        [displayWith]="onDisplayUrban"
                                        (opened)="onOpenAutocomplete('urban')"
                                        (optionSelected)="onSelectAutocomplete($event, 'urban')"
                                    >
                                        <mat-option *ngIf="isUrbanTyping">
                                            Searching...
                                        </mat-option>

                                        <ng-container
                                            *ngIf="!isUrbanTyping && (urbans$ | async)?.length > 0"
                                        >
                                            <ng-container
                                                *ngIf="urbans$ | async as urbans; else noUrbans"
                                            >
                                                <mat-option
                                                    *ngFor="let source of urbans"
                                                    [value]="source"
                                                    [attr.title]="displayUrbanOption(source)"
                                                >
                                                    <ng-container *ngIf="source">
                                                        <span
                                                            [innerHtml]="
                                                                displayUrbanOption(source, true)
                                                                    | highlight: urbanHighlight
                                                            "
                                                        ></span>
                                                    </ng-container>

                                                    <ng-container *ngIf="!source">
                                                        Loading...
                                                    </ng-container>
                                                </mat-option>
                                            </ng-container>

                                            <ng-template #noUrbans>
                                                <mat-option>None</mat-option>
                                            </ng-template>
                                        </ng-container>

                                        <ng-container
                                            *ngIf="!isUrbanTyping && !(urbans$ | async)?.length"
                                        >
                                            <mat-option>None</mat-option>
                                        </ng-container>
                                    </mat-autocomplete>

                                    <mat-error *ngIf="hasError('urban', true)">
                                        {{ getErrorMessage('urban') }}
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="custom-field" fxLayout="row" fxLayoutAlign="start stretch">
                                <label
                                    fxFlexAlign="center"
                                    fxFlex="12"
                                    [class.mat-error]="hasError('postcode')"
                                >
                                    *Postcode
                                </label>

                                <mat-form-field appearance="outline" fxFlex="50">
                                    <input
                                        matInput
                                        formControlName="postcode"
                                        mask="00000"
                                        [validation]="false"
                                    />

                                    <mat-error *ngIf="hasError('postcode', true)">
                                        {{ getErrorMessage('postcode') }}
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="custom-field" fxLayout="row" fxLayoutAlign="start stretch">
                                <label
                                    fxFlexAlign="center"
                                    fxFlex="12"
                                    [class.mat-error]="hasError('lat')"
                                >
                                    Latitude
                                </label>

                                <mat-form-field appearance="outline" fxFlex="50">
                                    <input matInput formControlName="lat" />

                                    <mat-error *ngIf="hasError('lat', true)">
                                        {{ getErrorMessage('lat') }}
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="custom-field" fxLayout="row" fxLayoutAlign="start stretch">
                                <label
                                    fxFlexAlign="center"
                                    fxFlex="12"
                                    [class.mat-error]="hasError('lng')"
                                >
                                    Longitude
                                </label>

                                <mat-form-field appearance="outline" fxFlex="50">
                                    <input matInput formControlName="lng" />

                                    <mat-error *ngIf="hasError('lng', true)">
                                        {{ getErrorMessage('lng') }}
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="custom-field" fxLayout="row" fxLayoutAlign="start stretch">
                                <label
                                    fxFlexAlign="center"
                                    fxFlex="12"
                                    [class.mat-error]="hasError('address')"
                                >
                                    Address
                                </label>

                                <!-- <div [class.disabled-text]="isManually">
                        {{ form.get('address').value }}
                    </div> -->

                                <mat-form-field appearance="outline" fxFlex="50">
                                    <textarea
                                        matInput
                                        formControlName="address"
                                        rows="5"
                                    ></textarea>

                                    <mat-error *ngIf="hasError('address', true)">
                                        {{ getErrorMessage('address') }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </mat-card>
        </form>
    </div>
    <!-- / CENTER -->
</div>
