<mat-table
    class="stores-table"
    #table
    [dataSource]="dataSource$ | async"
    [trackBy]="onTrackBy"
    matSort
    [@animateStagger]="{ value: '50' }"
    fusePerfectScrollbar
>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>
            Store Name
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <p style="word-break: break-word;">
                {{ row?.store?.name }}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Credit Limit Column -->
    <ng-container matColumnDef="credit-limit">
        <mat-header-cell *matHeaderCellDef>
            Credit Limit
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <p class="price" style="word-break: break-word;">
                {{
                    +row?.creditLimit > 0 ? (+row?.creditLimit | price: 'short') : +row?.creditLimit
                }}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Invoice Name Column -->
    <ng-container matColumnDef="invoice-name">
        <mat-header-cell *matHeaderCellDef>
            Invoice Name
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <p style="word-break: break-word;">
                {{ safeValue(row?.invoiceGroup?.name) }}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Account Receivable Column -->
    <ng-container matColumnDef="receivable">
        <mat-header-cell *matHeaderCellDef>
            Account Receivable
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <p class="price" style="word-break: break-word;">
                {{ +row?.totalOrder > 0 ? (+row?.totalOrder | price: 'short') : +row?.totalOrder }}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Balance Column -->
    <ng-container matColumnDef="balance">
        <mat-header-cell *matHeaderCellDef>
            Balance
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <p class="price" style="word-break: break-word;">
                {{
                    +row?.balanceAmount > 0
                        ? (+row?.balanceAmount | price: 'short')
                        : +row?.balanceAmount
                }}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Average Monthly Order Column -->
    <ng-container matColumnDef="avg-monthly">
        <mat-header-cell *matHeaderCellDef>
            Average Monthly Order
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <p class="price" style="word-break: break-word;">
                {{
                    +row?.averageOrder > 0
                        ? (+row?.averageOrder | price: 'short')
                        : +row?.averageOrder
                }}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Credit Limit Group Column -->
    <ng-container matColumnDef="credit-limit-group">
        <mat-header-cell *matHeaderCellDef>
            Credit Limit Group
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <p style="word-break: break-word;">
                {{ row?.creditLimitGroup?.name }}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Store Segment Column -->
    <ng-container matColumnDef="store-segment">
        <mat-header-cell *matHeaderCellDef>
            Segment
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <p style="word-break: break-word;">
                {{ row?.store?.storeSegment?.name }}
            </p>
        </mat-cell>
    </ng-container>

    <!-- ToP Column -->
    <ng-container matColumnDef="top">
        <mat-header-cell *matHeaderCellDef>
            ToP
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <p style="word-break: break-word;">
                {{ row?.termOfPayment }}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Last Update Column -->
    <ng-container matColumnDef="last-update">
        <mat-header-cell *matHeaderCellDef>
            Last Update
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <p style="word-break: break-word;">
                {{ row?.updatedAt | date: 'dd MMMM yyyy' }}
            </p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
        <mat-header-cell class="pr-16" *matHeaderCellDef>
            Actions
        </mat-header-cell>

        <mat-cell *matCellDef="let row">
            <div fxFlex="row" fxLayoutAlign="end center">
                <button
                    mat-icon-button
                    [matMenuTriggerFor]="moreMenu"
                    aria-label="More"
                    (click)="$event.stopPropagation()"
                >
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                    <button
                        mat-menu-item
                        type="button"
                        class="sinbad-mat-menu-item"
                        aria-label="Edit"
                        (click)="onEdit(row)"
                    >
                        <!-- <mat-icon>edit</mat-icon> -->
                        <span>Edit</span>
                    </button>

                    <button
                        mat-menu-item
                        type="button"
                        class="sinbad-mat-menu-item"
                        [attr.aria-label]="
                            row?.freezeStatus ? 'Unfreeze Balance' : 'Freeze Balance'
                        "
                        (click)="onFreezeBalance(row)"
                    >
                        <!-- <mat-icon>ac_unit</mat-icon> -->
                        <span>
                            {{ row?.freezeStatus ? 'Unfreeze Balance' : 'Freeze Balance' }}
                        </span>
                    </button>
                </mat-menu>
            </div>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>

    <mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="store"
        [ngClass]="{ 'highlight-row': (selectedRowIndex$ | async) === row?.id }"
    >
    </mat-row>

    <!-- <mat-row
            *matRowDef="let row; columns: displayedColumns"
            class="store"
            [ngClass]="{ 'highlight-row': (selectedRowIndex$ | async) === row?.id }"
            matRipple
            [routerLink]="['/pages/account/stores', row?.id, 'employee']"
        >
        </mat-row> -->
</mat-table>

<div class="no-records" *ngIf="(isLoading$ | async) && !(totalDataSource$ | async)">
    <mat-spinner color="accent"></mat-spinner>
</div>

<div class="no-records" *ngIf="!(isLoading$ | async) && (totalDataSource$ | async) === 0">
    No records found
</div>

<mat-paginator
    [fxHide]="
        ((isLoading$ | async) && !(totalDataSource$ | async)) ||
        (!(isLoading$ | async) && (totalDataSource$ | async) === 0)
    "
    [length]="totalDataSource$ | async"
    [pageSize]="defaultPageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    showFirstLastButtons
>
</mat-paginator>
