<div id="supplier-inventory" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <button
                    mat-icon-button
                    class="mr-0 mr-sm-16"
                    [routerLink]="['/pages/supplier-inventories']"
                >
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div
                    class="catalog-image mr-8 mr-sm-16"
                    [@animate]="{ value: '*', params: { delay: '50ms', scale: '0.2' } }"
                >
                    <img
                        [defaultImage]="'assets/images/avatars/profile.jpg'"
                        [useSrcset]="true"
                        [lazyLoad]="((catalog$ | async)?.catalogueImages)[0]?.imageUrl"
                        [errorImage]="'assets/images/avatars/profile.jpg'"
                    />
                </div>

                <!-- <div
                    *ngIf="pageType === 'new'"
                    class="employee-image mr-8 mr-sm-16"
                    [@animate]="{ value: '*', params: { delay: '50ms', scale: '0.2' } }"
                >
                    <img src="assets/images/avatars/profile.jpg" />
                </div> -->

                <!-- <div
                    *ngIf="
                        (!(employee$ | async) || ((isLoading$ | async) && !isEdit)) &&
                        pageType === 'edit'
                    "
                    class="mr-8 mr-sm-16"
                    [@animate]="{ value: '*', params: { delay: '50ms', scale: '0.2' } }"
                >
                    <ngx-skeleton-loader
                        appearance="circle"
                        [theme]="{ width: '70px', height: '70px', 'border-radius': '4px' }"
                    ></ngx-skeleton-loader>
                </div> -->

                <div
                    fxLayout="column"
                    fxLayoutAlign="start start"
                    [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
                >
                    <div class="h2">
                        {{ form?.value?.name ? form?.value?.name : (catalog$ | async)?.name }}
                    </div>

                    <!-- <ngx-skeleton-loader
                        *ngIf="!(catalog$ | async) && pageType === 'edit'"
                        [theme]="{ width: '150px', height: '25px', margin: 0 }"
                    ></ngx-skeleton-loader> -->

                    <div class="subtitle secondary-text">
                        <span>
                            Product Detail
                        </span>
                        <!-- <ngx-skeleton-loader
                            *ngIf="!(employee$ | async) && pageType === 'edit'"
                            [theme]="{ width: '70px', margin: 0 }"
                        ></ngx-skeleton-loader> -->
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <!-- <ngx-skeleton-loader
                *ngIf="
                    (!(employee$ | async) || ((isLoading$ | async) && !isEdit)) &&
                    pageType === 'edit'
                "
                [theme]="{ width: '70px', height: '30px', margin: 0 }"
            ></ngx-skeleton-loader> -->

            <ng-container *ngIf="catalog$ | async">
                <!-- <button
                    mat-raised-button
                    type="button"
                    (click)="onEdit(isEdit)"
                    *ngIf="!isEdit && pageType === 'edit'"
                >
                    <span>EDIT</span>
                </button> -->

                <button
                    mat-raised-button
                    type="submit"
                    [disabled]="form.invalid || form.pristine"
                    form="supplier-inventory-form"
                    *ngIf="pageType === 'edit'"
                >
                    <span>SAVE</span>
                </button>
            </ng-container>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card sinbad">
            <!-- CONTENT -->
            <div class="content px-24 py-8" fxLayout="column">
                <span class="mat-title">
                    Edit Product
                </span>

                <form
                    id="supplier-inventory-form"
                    name="supplierInventoryForm"
                    class="supplier-inventory w-100-p"
                    [formGroup]="form"
                    (ngSubmit)="onSubmit()"
                    fxLayout="column"
                    fxFlex
                    novalidate
                >
                    <!-- <div class="custom-field" fxLayout="row" fxLayoutAlign="start stretch">
                        <label fxFlexAlign="center" fxFlex="12">
                            Product ID
                        </label>

                        <mat-form-field appearance="outline" fxFlex="30">
                            <input matInput name="id" formControlName="id" maxlength="30" />
                        </mat-form-field>
                    </div> -->

                    <div class="custom-field" fxLayout="row" fxLayoutAlign="start stretch">
                        <label fxFlexAlign="center" fxFlex="12">
                            Product
                        </label>

                        <mat-form-field appearance="outline" fxFlex="30">
                            <input matInput name="name" formControlName="name" />
                        </mat-form-field>
                    </div>

                    <div class="custom-field" fxLayout="row" fxLayoutAlign="start center">
                        <label
                            fxFlexAlign="center"
                            fxFlex="12"
                            [class.mat-error]="
                                form.get('unlimitedStock').errors &&
                                !form.get('unlimitedStock').untouched &&
                                (form.get('unlimitedStock').dirty ||
                                    form.get('unlimitedStock').touched)
                            "
                        >
                            Stock Type
                        </label>

                        <mat-form-field appearance="outline" fxFlex="30">
                            <ng-container *ngIf="stockTypes; else noStockTypes">
                                <mat-select
                                    formControlName="unlimitedStock"
                                    placeholder="Choose Stock Type"
                                >
                                    <mat-option *ngFor="let row of stockTypes" [value]="row?.id">
                                        {{ row?.label }}
                                    </mat-option>
                                </mat-select>
                            </ng-container>

                            <ng-template #noStockTypes>
                                <mat-select placeholder="Choose Stock Type" disabled>
                                    <mat-option>Stock Type not found</mat-option>
                                </mat-select>
                            </ng-template>

                            <mat-error
                                *ngIf="
                                    form.get('unlimitedStock').errors &&
                                    (form.get('unlimitedStock').dirty ||
                                        form.get('unlimitedStock').touched)
                                "
                            >
                                {{ getErrorMessage('unlimitedStock') }}
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="custom-field" fxLayout="row" fxLayoutAlign="start stretch">
                        <label fxFlexAlign="center" fxFlex="12">
                            Stock on Hand
                        </label>

                        <mat-form-field appearance="outline" fxFlex="30">
                            <input matInput name="stock" formControlName="stock" />
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="50">
                        <mat-checkbox formControlName="displayStock">Show Stock</mat-checkbox>
                    </div>
                </form>
            </div>
            <!-- / CONTENT -->

            <div class="loader" *ngIf="isLoading$ | async">
                <mat-spinner color="accent"></mat-spinner>
            </div>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
