<div id="approve-reject" class="page-layout carded fullwidth tabbed inner-scroll">
    <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-bottom: 5px">
        <h4 mat-dialog-title style="margin-bottom: 0px">{{ title || '-' }}</h4>
        <button mat-icon-button class="close-button" mat-dialog-close>
            <mat-icon class="close-icon" color="black">close</mat-icon>
        </button>
    </div>

    <mat-dialog-content class="mat-typography">
        <div class="content-card">
            <div class="content">
                <div class="tab-content">
                    <!-- Detail Info Collection-->
                    <ng-container *ngIf="type == 'collection'">
                        <div class="horizontal" fxLayout="column" fxLayoutGap="16px">
                            <div
                                class="detail-approve-reject"
                                fxLayout="row"
                                fxLayoutAlign="start center"
                                fxLayoutGap="15px"
                            >
                                <div class="label" fxFlexAlign="center" fxFlex="40">
                                    Collection Method
                                </div>

                                <div class="info" fxFlex="100">
                                    {{
                                        data?.value?.data?.paymentCollectionMethod
                                            ?.paymentCollectionType?.name || '-'
                                    }}
                                </div>
                            </div>
                        </div>
                        <div class="horizontal" fxLayout="column" fxLayoutGap="16px">
                            <div
                                class="detail-approve-reject"
                                fxLayout="row"
                                fxLayoutAlign="start center"
                                fxLayoutGap="15px"
                            >
                                <div class="label" fxFlexAlign="center" fxFlex="40">
                                    Total Amount
                                </div>

                                <div class="info" fxFlex="100">
                                    {{
                                        numberFormat(
                                            data?.value?.data?.paymentCollectionMethod?.totalAmount
                                        )
                                    }}
                                </div>
                            </div>
                        </div>
                        <br />
                    </ng-container>

                    <!-- Detail Info Billing -->
                    <ng-container *ngIf="type == 'billing'">
                        <div class="horizontal" fxLayout="column" fxLayoutGap="16px">
                            <div
                                class="detail-approve-reject"
                                fxLayout="row"
                                fxLayoutAlign="start center"
                                fxLayoutGap="15px"
                            >
                                <div class="label" fxFlexAlign="center" fxFlex="40">Amount Use</div>

                                <div class="info" fxFlex="100">
                                    {{ numberFormat(data?.value?.amountPaid) || '-' }}
                                </div>
                            </div>
                        </div>
                        <div class="box-info horizontal" fxLayout="column" fxLayoutGap="16px">
                            <div
                                class="detail-approve-reject"
                                fxLayout="row"
                                fxLayoutAlign="start center"
                                fxLayoutGap="15px"
                            >
                                <div class="label" fxFlexAlign="center" fxFlex="40">
                                    Method Payment
                                </div>

                                <div class="info" fxFlex="100">{{ data?.value?.paymentMethod || '-' }}</div>
                            </div>
                        </div>
                    </ng-container>

                    <!-- For click Approve -->
                    <ng-container *ngIf="type == 'collection' && status == 'approved'">
                        <div>
                            <span>Are you sure to approve this collection?</span>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="type == 'billing' && status == 'approved'">
                        <div>
                            <span>Are you sure to approve this billing?</span>
                        </div>
                    </ng-container>

                    <!-- For click Reject Reason Collection -->
                    <ng-container *ngIf="type == 'collection' && status == 'reject'">
                        <div class="info-reject">
                            <mat-icon>info</mat-icon
                            ><span>Please choose the reason for rejection.</span>
                        </div>
                        <br />
                        <div fxLayout="column" class="info">
                            <label fxFlex="12">
                                Reject Reason <span class="sinbad-red-fg">*</span>
                            </label>
                            <mat-form-field appearance="outline" fxFlex="30">
                                <mat-select placeholder="Choose Reject Reason">
                                  <mat-option (onSelectionChange)="onSelectEvent($event,type,data?.value?.collectionHistoryId || '-')" *ngFor="let rejectReason of reasonList" [value]="rejectReason.id">
                                    <mat-radio-button>
                                        {{ rejectReason.reason }}
                                    </mat-radio-button>
                                  </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </ng-container>

                    <!-- For click Reject Reason Billing -->
                    <ng-container *ngIf="type == 'billing' && status == 'reject'">
                        <div class="info-reject">
                            <mat-icon>info</mat-icon
                            ><span>Please choose the reason for rejection.</span>
                        </div>
                        <br />
                        <div fxLayout="column" class="info">
                            <label fxFlex="12">
                                Reject Reason <span class="sinbad-red-fg">*</span>
                            </label>
                            <mat-form-field appearance="outline" fxFlex="30">
                                <mat-select placeholder="Choose Reject Reason">
                                  <mat-option (onSelectionChange)="onSelectEvent($event.value,type,data?.value?.collectionHistoryId || '-')" *ngFor="let rejectReason of reasonList" [value]="rejectReason.id">
                                    <mat-radio-button>
                                        {{ rejectReason.reason }}
                                    </mat-radio-button>
                                  </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </ng-container>
                </div>
            </div>
            <br />
            <!-- / CONTENT -->
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end" style="margin-bottom: 0px">
        <button class="btn-cancel" mat-button mat-dialog-close>Cancel</button>
        <button
            class="btn-submit"
            mat-button
            [mat-dialog-close]="{ id: data?.id, reason: selectedValue, status: status }"
            cdkFocusInitial
            (click)="onClickButton(type,status)"
            [disabled]="status == 'reject' && buttonRejectDisabled"
        >
            {{ title }}
        </button>
    </mat-dialog-actions>
</div>
