@import 'src/@sinbad/scss/helper';

@mixin warehouse-coverages-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    app-warehouse-coverages {
        .header {
            .search-wrapper {
                background: map-get($background, card);

                .search {
                    .mat-icon {
                        color: map-get($foreground, icon);
                    }

                    input {
                        background: map-get($background, card);
                        color: map-get($foreground, text);
                    }
                }
            }
        }
    }

    .sinbad-mat-tab-group {
        .mat-tab-label {
            color: sinbad-color('black', '50');

            &.mat-tab-label-active {
                color: sinbad-color('red', '50');
                opacity: 1;
            }
        }
    }
}