<h2 mat-dialog-title>
    Verifikasi Password
</h2>

<p>
    Masukkan Password Anda
</p>

<mat-dialog-content class="mat-typography" style="min-width: 50em;">
    <div class="line-height-1.75">
        <!-- PASSWORD -->
        <div
            class="custom-field"
            fxLayout="row"
            fxLayoutAlign="space-between center"
        >
            <label
                fxFlexAlign="center"
                fxFlex="18"
                [class.mat-error]="
                    password.errors && password.dirty
                "
            >
                Password
            </label>

            <mat-form-field appearance="outline" fxFlex="80">
                <input
                    matInput
                    type="password"
                    name="password"
                    [formControl]="password"
                />

                <mat-error
                    *ngIf="
                        password.errors && password.dirty
                    "
                >
                    {{ password.errors['required'].message }}
                </mat-error>
            </mat-form-field>
        </div>
        <!-- / PASSWORD -->
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button
        mat-button
        class="warn-900"
        [disabled]="password.invalid || (isRequesting$ | async) || password.untouched"
        (click)="onSubmit()"
    >
        Lanjutkan
    </button>
    <button
        mat-raised-button
        mat-dialog-close
        [disabled]="isRequesting$ | async"
    >
        Tutup
    </button>
</mat-dialog-actions>