<h2 mat-dialog-title>
    Conflict Stores
</h2>

<mat-dialog-content class="mat-typography">
    <p>Below is a store list conflicted because the stores already assigned with same invoice group.</p>
    
    <mat-table
        matSort
        class="my-40 grey-300-border stores-table"
        [style.border]="'1px solid'"
        [style.border-radius]="'4px'"
        [dataSource]="data?.conflictStores"
        [@animateStagger]="{ value: '50' }"
        fusePerfectScrollbar
    >
        <!-- "Store Code" Column -->
        <ng-container matColumnDef="storeCode">
            <mat-header-cell *matHeaderCellDef>
                Store Code
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p>
                    {{ row?.externalId || '-' }}
                </p>
            </mat-cell>
        </ng-container>

        <!-- "Store Name" Column -->
        <ng-container matColumnDef="storeName">
            <mat-header-cell *matHeaderCellDef>
                Store Name
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p>{{ row?.storeName || '(no name)' }}</p>
            </mat-cell>
        </ng-container>

        <!-- "Portfolio Code" Column -->
        <ng-container matColumnDef="portfolioCode">
            <mat-header-cell *matHeaderCellDef>
                Origin Portfolio Code
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p class="word-wrap">{{ row?.portfolioCode || '-' }}</p>
            </mat-cell>
        </ng-container>

        <!-- "Portfolio Name" Column -->
        <ng-container matColumnDef="portfolioName">
            <mat-header-cell *matHeaderCellDef>
                Origin Portfolio Name
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p class="word-wrap">{{ row?.portfolioName || '(no name)' }}</p>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>

        <mat-row class="pt-12" *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <p>These stores will be moved to this portfolio after you click yes. Are you sure to proceed?</p>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-flat-button mat-dialog-close color="accent" cdkFocusInitial>Cancel</button>
    <button mat-flat-button mat-dialog-close="overwrite-confirmed" color="primary">Yes, confirm.</button>
</mat-dialog-actions>
