<div id="portfolio-details" class="page-layout carded fullwidth inner-scroll line-height-1.75" fusePerfectScrollbar>
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center px-32">
        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="['/pages/sales-force/portfolio']">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div
                    fxLayout="column"
                    fxLayoutAlign="start start"
                    [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
                >
                    <div class="h2">
                        <strong>{{ portfolio?.name }}</strong>
                    </div>

                    <div class="subtitle secondary-text">
                        <span class="fuse-white-fg">{{ portfolio?.code || '-' }}</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->
            <!-- EDIT BUTTON -->
            <button mat-flat-button>
                <span class="red-500-fg" (click)="editPortfolio()">Edit</span>
            </button>
            <!-- / EDIT BUTTON -->
        </div>
        <!-- / HEADER -->

        <!-- PORTFOLIO DETAIL -->
        <div class="sinbad-content mat-elevation-z1 fuse-white">
            <!-- MARGIN LEFT ADJUSMENT -->
            <div class="pl-40 py-20">
                <!-- CARD TITLE -->
                <div class="h1 mb-40">Portfolio Detail</div>
                <!-- / CARD TITLE -->

                <div
                    fxLayout="column"
                    fxLayoutGap="40px"
                >
                    <!-- PORTFOLIO CODE -->
                    <div fxLayout="row" fxLayoutGap="20px">
                        <label fxFlex="20">
                            <strong>Portfolio Code</strong>
                        </label>
                        <span>
                            {{ portfolio?.code || '-' }}
                        </span>
                    </div>
                    <!-- / PORTFOLIO CODE -->

                    <!-- PORTFOLIO NAME -->
                    <div fxLayout="row" fxLayoutGap="20px">
                        <label fxFlex="20">
                            <strong>Portfolio Name</strong>
                        </label>
                        <span>
                            {{ portfolio?.name }}
                        </span>
                    </div>
                    <!-- / PORTFOLIO NAME -->
                    
                    <!-- SALES REP. -->
                    <div fxLayout="row" fxLayoutGap="20px">
                        <label fxFlex="20">
                            <strong>Sales Rep.</strong>
                        </label>
                        <span>
                            {{ portfolio?.user?.fullName || '-' }}
                        </span>
                    </div>
                    <!-- / SALES REP. -->
                </div>
            </div>
            <!-- / MARGIN LEFT ADJUSMENT -->
            <!-- PORTFOLIO STORES -->
            <div class="mat-elevation-z4 fuse-white m-16" fxLayout="column">
                <!-- TITLE -->
                <div class="h1 p-20">Store List ({{ totalPortfolioStores$ | async }} Store)</div>
                <!-- / TITLE -->

                <!-- CONTENT -->
                <div>
                    <mat-table
                        matSort
                        fusePerfectScrollbar
                        class="list-store-table grey-300-border m-16"
                        [dataSource]="listStore"
                        [@animateStagger]="{ value: '50' }"
                        [style.border]="'1px solid'"
                    >
                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="checkbox">
                            <mat-header-cell *matHeaderCellDef>
                                <mat-checkbox   (change)="$event ? masterToggle() : null"
                                                (click)="$event ? $event.stopPropagation() : null"
                                                [checked]="selection.hasValue() && isAllSelected()"
                                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                ></mat-checkbox>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let row">
                                <mat-checkbox   (click)="$event.stopPropagation()"
                                                (change)="$event ? selection.toggle(row) : null"
                                                [checked]="selection.isSelected(row)"
                                ></mat-checkbox>
                            </mat-cell>
                        </ng-container>
                        <!-- / Checkbox Column -->

                        <!-- Store Code Column -->
                        <ng-container matColumnDef="code">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Code</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <p>{{ row?.storeCode }}</p>
                            </mat-cell>
                        </ng-container>
                        <!-- / Store Code Column -->

                        <!-- Store Name Column -->
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <p>{{ row?.name }}</p>
                            </mat-cell>
                        </ng-container>
                        <!-- / Store Code Column -->

                        <!-- Store Region Column -->
                        <ng-container matColumnDef="region">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Region</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <!-- <p>{{ row?.store?.storeCode }}</p> -->
                            </mat-cell>
                        </ng-container>
                        <!-- / Store Region Column -->

                        <!-- Store Segment Column -->
                        <ng-container matColumnDef="segment">
                            <mat-header-cell *matHeaderCellDef>Segment</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <p>{{ row?.storeSegment?.name }}</p>
                            </mat-cell>
                        </ng-container>
                        <!-- / Store Segment Column -->

                        <!-- Store Type Column -->
                        <ng-container matColumnDef="type">
                            <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <p>{{ row?.storeType?.name }}</p>
                            </mat-cell>
                        </ng-container>
                        <!-- / Store Segment Column -->

                        <!-- Header Row -->
                        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                        <!-- / Header Row -->

                        <!-- Row -->
                        <mat-row
                            *matRowDef="let row; columns: displayedColumns"
                            class="list-store"
                        ></mat-row>
                        <!-- / Row -->
                    </mat-table>
                    <!-- / TABLE -->

                    <!-- No Record -->
                    <div
                        class="no-records my-40 h-100"
                        *ngIf="!(isPortfolioStoreLoading$ | async) && (totalPortfolioStores$ | async) === 0"
                    >
                        No store found.
                    </div>
                    <!-- / No Record -->

                    <!-- Paginator's Table -->
                    <mat-paginator
                        #listStorePaginator="matPaginator"
                        [length]="totalPortfolioStores$ | async"
                        [pageSize]="defaultPageSize"
                        [pageSizeOptions]="defaultPageSizeOptions"
                        (page)="onChangePage()"
                        [class.no-content]="(totalPortfolioStores$ | async) === 0"
                        showFirstLastButtons
                    >
                    </mat-paginator>
                    <!-- / Paginator's Table -->
                </div>
                <!-- / CONTENT -->
            </div>
            <!-- PORTFOLIO STORES -->
        </div>
        <!-- / PORTFOLIO DETAIL -->
    </div>
    <!-- / CENTER -->
</div>


<div class="loader" *ngIf="(isPortfolioLoading$ | async) || (isPortfolioStoreLoading$ | async)">
    <mat-spinner color="accent"></mat-spinner>
</div>
