<div class="pb-16">
    <span class="mat-headline">
        Trigger
    </span>
</div>

<div class="box-info horizontal" fxLayout="column" fxLayoutGap="16px">
    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="10">
            Base
        </div>

        <div class="info" fxFlex="100">
            <ng-container *ngIf="!(isLoading$ | async)">
                <ng-container *ngIf="triggerBase; else noTriggerBase">
                    <mat-radio-group [value]="(flexiCombo$ | async)?.base">
                        <mat-radio-button *ngFor="let row of triggerBase" [value]="row?.id" [disabled]="true">
                            {{ row?.label }}
                        </mat-radio-button>
                    </mat-radio-group>
                </ng-container>

                <ng-template #noTriggerBase>
                    -
                </ng-template>
            </ng-container>

            <ngx-skeleton-loader
                [theme]="{ width: '100px', 'margin-bottom': '-5px' }"
                *ngIf="isLoading$ | async"
            ></ngx-skeleton-loader>
        </div>
    </div>

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="start" fxFlex="10">
            <ng-container [ngSwitch]="(flexiCombo$ | async)?.base">
                <ng-container *ngSwitchCase="eTriggerBase.SKU">
                    Choose SKU
                </ng-container>
                <ng-container *ngSwitchCase="eTriggerBase.BRAND">
                    Choose Brand
                </ng-container>
                <ng-container *ngSwitchCase="eTriggerBase.INVOICE">
                    Choose Faktur
                </ng-container>
                <ng-container *ngSwitchDefault>-</ng-container>
            </ng-container>
        </div>

        <div class="info" fxFlex="90">
            <ng-container *ngIf="!(isLoading$ | async)">
                <ng-container [ngSwitch]="(flexiCombo$ | async)?.base">
                    <ng-container *ngSwitchCase="eTriggerBase.SKU">
                        <span>
                            {{ getSkus((flexiCombo$ | async)?.promoCatalogues) || '-' }}
                        </span>
                    </ng-container>
                    <ng-container *ngSwitchCase="eTriggerBase.BRAND">
                        <span>
                            {{ getBrands((flexiCombo$ | async)?.promoBrands) || '-' }}
                        </span>
                    </ng-container>
                    <ng-container *ngSwitchCase="eTriggerBase.INVOICE">
                        <span>
                            {{ getInvoiceGroups((flexiCombo$ | async)?.promoInvoiceGroups) || '-' }}
                        </span>
                    </ng-container>
                    <ng-container *ngSwitchDefault>-</ng-container>
                </ng-container>
            </ng-container>

            <ngx-skeleton-loader
                [theme]="{ width: '100px', 'margin-bottom': '-5px' }"
                *ngIf="isLoading$ | async"
            ></ngx-skeleton-loader>
        </div>
    </div>
</div>
