<div id="billing-collection-history">
    <div class="content-card">
        <div class="pb-16">
            <span class="mat-headline"> Collection History </span>
        </div>

        <mat-table
            class="collection-history-table sinbad-table"
            [class.sinbad-table-no-record]="
                ((dataDetail$ | async)?.data?.billingPayments?.length || 0) == 0
            "
            #table
            [dataSource]="(dataDetail$ | async)?.data?.billingPayments"
            matSort
            [@animateStagger]="{ value: '50' }"
            fusePerfectScrollbar
        >
            <!-- Collection Code Column -->
            <ng-container matColumnDef="finance-collection-code">
                <mat-header-cell *matHeaderCellDef> Collection Code </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <a
                        href="javascript:void(0)"
                        (click)="onClickCollectionCode(row?.collectionId || '-')"
                        class="text-collectionCode"
                    >
                        {{ row?.collectionCode || '-' }}
                    </a>
                </mat-cell>
            </ng-container>

            <!-- Billing Date Column -->
            <ng-container matColumnDef="finance-billing-date">
                <mat-header-cell *matHeaderCellDef> Billing Date</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <p style="word-break: break-word">
                        {{ (row?.billingDate | date: 'dd MMM yyyy') || '-' }}
                    </p>
                </mat-cell>
            </ng-container>

            <!-- Paid Amount Column -->
            <ng-container matColumnDef="finance-paid-amount">
                <mat-header-cell *matHeaderCellDef> Paid Amount </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <p style="word-break: break-word">
                        {{ numberFormat(row?.amountPaid) || '-' }}
                    </p>
                </mat-cell>
            </ng-container>

            <!-- Method Payment Column -->
            <ng-container matColumnDef="finance-method-payment">
                <mat-header-cell *matHeaderCellDef> Method Payment </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <p style="word-break: break-word">
                        {{ row?.paymentMethod || '-' }}
                    </p>
                </mat-cell>
            </ng-container>

            <!-- Sales Rep Name Column -->
            <ng-container matColumnDef="finance-sales-rep-name">
                <mat-header-cell *matHeaderCellDef> Sales Rep Name </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <p style="word-break: break-word">
                        {{ row?.salesRepName || '-' }}
                    </p>
                </mat-cell>
            </ng-container>

            <!-- Collection Status Date Column -->
            <ng-container matColumnDef="finance-collection-status">
                <mat-header-cell *matHeaderCellDef> Collection Status </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <div style="display: inline-grid" class="text-{{ row?.collectionStatus }}">
                        <span class="text-status">
                            {{ statusLabelCollection(row?.collectionStatus) }}
                        </span>
                        <span class="text-status" *ngIf="row?.collectionApprovedDate">
                            {{ (row?.collectionApprovedDate | date: 'dd MMM yyyy') || '-' }}
                        </span>
                        <span class="text-status" *ngIf="row?.collectionRejectedDate">
                            {{ (row?.collectionApprovedDate | date: 'dd MMM yyyy') || '-' }}
                        </span>
                    </div>
                </mat-cell>
            </ng-container>

            <!-- Billing Status Column -->
            <ng-container matColumnDef="finance-billing-status">
                <mat-header-cell *matHeaderCellDef> Billing Status </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <div style="display: inline-grid" class="text-{{ row?.billingStatus }}">
                        <span class="text-status">
                            {{ statusLabelBilling(row?.billingStatus) }}
                        </span>
                        <span class="text-status" *ngIf="row?.billingApprovedDate">
                            {{ (row?.billingApprovedDate | date: 'dd MMM yyyy') || '-' }}
                        </span>
                        <span class="text-status" *ngIf="row?.billingRejectedDate">
                            {{ (row?.billingRejectedDate | date: 'dd MMM yyyy') || '-' }}
                        </span>
                    </div>
                </mat-cell>
            </ng-container>

            <!-- Reason Column -->
            <ng-container matColumnDef="finance-reason">
                <mat-header-cell *matHeaderCellDef> Reason </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <p style="word-break: break-word">
                        {{ row?.reason || '-' }}
                    </p>
                </mat-cell>
            </ng-container>

            <!-- Updated By Column -->
            <ng-container matColumnDef="finance-updatedby">
                <mat-header-cell *matHeaderCellDef> Updated By </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <p style="word-break: break-word">{{ row?.updatedBy || '-' }}</p>
                </mat-cell>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="finance-action">
                <mat-header-cell *matHeaderCellDef> Action</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <div fxFlex="row" fxLayoutAlign="end center">
                        <button
                            id="btn__actions"
                            mat-icon-button
                            [matMenuTriggerFor]="
                                row?.collectionStatus !== 'approved' ||
                                row?.billingStatus == 'approved' ||
                                row?.billingStatus == 'rejected'
                                    ? hiddenMatMenu
                                    : moreMenu
                            "
                            matTooltip="Can’t reject and approve because the collection status is still not approved yet or billing status is already approved or rejected"
                            [matTooltipClass]="row?.billingStatus == 'pending' && 'tooltip-hidden'"
                            aria-label="More"
                            (click)="$event.stopPropagation()"
                        >
                            <mat-icon class="secondary-text">more_vert</mat-icon>
                        </button>
                        <mat-menu class="hiddenMatMenu" #hiddenMatMenu="matMenu"></mat-menu>
                        <mat-menu #moreMenu="matMenu">
                            <ng-template [ngxPermissionsOnly]="['FINANCE.CLB.SL.READ']">
                                <button
                                    mat-menu-item
                                    type="button"
                                    class="sinbad-mat-menu-item"
                                    aria-label="Detail"
                                    (click)="btnApproved(row)"
                                >
                                    <mat-icon>check</mat-icon>
                                    <span>Approve</span>
                                </button>
                            </ng-template>
                            <ng-template [ngxPermissionsOnly]="['FINANCE.CLB.SL.READ']">
                                <button
                                    mat-menu-item
                                    type="button"
                                    class="sinbad-mat-menu-item"
                                    aria-label="Detail"
                                    (click)="btnReject(row)"
                                >
                                    <mat-icon>close</mat-icon>
                                    <span>Reject</span>
                                </button>
                            </ng-template>
                        </mat-menu>
                    </div>
                </mat-cell>
            </ng-container>

            <!-- No Record Column -->
            <ng-container matColumnDef="no-record">
                <mat-footer-cell *matFooterCellDef colspan="8"> No data available </mat-footer-cell>
            </ng-container>

            <mat-header-row
                *matHeaderRowDef="displayedColumnsCollectionHistory; sticky: true"
            ></mat-header-row>

            <mat-row
                *matRowDef="let row; columns: displayedColumnsCollectionHistory"
                class="sinbad-billing-list-item"
            ></mat-row>

            <mat-footer-row
                *matFooterRowDef="['no-record']"
                [fxShow]="((dataDetail$ | async)?.data?.billingPayments?.length || 0) == 0"
            ></mat-footer-row>
        </mat-table>
        <div class="loader-content" *ngIf="isLoading$ | async">
            <mat-spinner color="accent"></mat-spinner>
        </div>

        <br />
    </div>
</div>
