@import 'src/@fuse/scss/fuse';

app-catalogue-list {
    // Sticky header
    display: flex;
    flex: 1 1 236px;
    flex-direction: column;
    overflow: auto;

    .catalogue-list {
        flex: 1 1 auto;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        // No record table
        &.sinbad-table-no-record {
            background: #ffffff !important;

            .mat-header-row {
                pointer-events: none;
            }
        }

        .mat-header-row,
        .mat-row {
            background: white;

            // For horizontal scroll
            min-width: fit-content;
            width: 100%;
        }

        .mat-header-cell,
        .mat-cell {
            padding: 0 16px;
        }

        .mat-header-cell {
            text-align: left;
        }

        .catalogue-list__item {
            position: relative;

            // If row can be click
            cursor: pointer;
            min-height: unset;
        }

        mat-header-cell:first-of-type,
        mat-cell:first-of-type,
        .mat-header-cell:first-of-type,
        .mat-cell:first-of-type {
            padding-right: 0;
        }

        .mat-header-cell:nth-last-of-type(2),
        .mat-cell:nth-last-of-type(2) {
            padding-right: 0;
        }

        mat-header-cell:last-of-type,
        mat-cell:last-of-type,
        .mat-header-cell:last-of-type,
        .mat-cell:last-of-type {
            padding-left: 0;
        }

        .mat-cell {
            font-size: 12px;
            min-width: 0;
            display: flex;
            align-items: center;
        }

        .mat-column-checkbox {
            flex: 0 1 50px;
            min-width: 50px;
        }

        .mat-column-sinbad-id {
            flex: 0 1 100px;
            min-width: 100px;
        }

        .mat-column-store-name {
            flex: 1 1 10em;
            min-width: 150px;
        }

        .mat-column-owner-name {
            flex: 1 1 10em;
            min-width: 120px;
        }

        .mat-column-owner-phone {
            flex: 0 1 10em;
            min-width: 170px;
            // min-width: 150px;
        }

        .mat-column-store-province {
            flex: 0 1 10em;
            min-width: 150px;
        }

        .mat-column-store-city {
            flex: 0 1 8em;
            min-width: 150px;
        }

        .mat-column-store-address {
            flex: 1 1 10em;
            min-width: 250px;
        }

        .mat-column-citizen-id {
            flex: 0 1 150px;
            min-width: 150px;
        }

        .mat-column-store-photo {
            flex: 0 1 80px;
            min-width: 80px;
        }

        .mat-column-join-date {
            flex: 0 1 140px;
            min-width: 140px;
        }

        .mat-column-create-date {
            flex: 0 1 140px;
            min-width: 140px;
        }

        .mat-column-update-date {
            flex: 0 1 140px;
            min-width: 140px;
        }

        .mat-column-store-request {
            flex: 0 1 120px;
            min-width: 120px;
        }

        .mat-column-status {
            flex: 0 1 80px;
            min-width: 80px;
        }

        .mat-column-actions {
            flex: 0 1 80px;
            min-width: 80px;
            justify-content: flex-end;
        }

        .status-icon {
            border-radius: 50%;
        }
    }
}
