@import 'src/@fuse/scss/fuse';
@import 'src/@sinbad/scss/helper';

app-catalogue-list {
    // Sticky header
    display: flex;
    flex: 1 1 350px;
    flex-direction: column;
    overflow: auto;
    justify-content: center;

    // Helper container for table with loader
    position: relative;

    /* .table-container--loader {
        // Helper container for table with loader
        display: flex;
        position: relative;
        overflow: auto;
    } */

    .catalogue-list {
        flex: 1 1 auto;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        background: sinbad-color('black', '5') !important;

        // No record table
        &.sinbad-table-no-record {
            background: #ffffff !important;

            .mat-header-row {
                pointer-events: none;
            }
        }

        .mat-header-row,
        .mat-row {
            background: white;

            // For horizontal scroll
            min-width: fit-content;
            width: 100%;
        }

        .mat-header-cell,
        .mat-cell {
            padding: 0 16px;
        }

        .mat-header-cell {
            text-align: left;
        }

        .catalogue-list__item {
            position: relative;

            // If row can be click
            // cursor: pointer;
            // min-height: unset;
        }

        mat-header-cell:first-of-type,
        mat-cell:first-of-type,
        .mat-header-cell:first-of-type,
        .mat-cell:first-of-type {
            padding-right: 0;
        }

        .mat-header-cell:nth-last-of-type(2),
        .mat-cell:nth-last-of-type(2) {
            padding-right: 0;
        }

        mat-header-cell:last-of-type,
        mat-cell:last-of-type,
        .mat-header-cell:last-of-type,
        .mat-cell:last-of-type {
            padding-left: 0;
        }

        .mat-cell {
            font-size: 12px;
            min-width: 0;
            display: flex;
            align-items: center;
        }

        .mat-column-checkbox {
            flex: 0 1 50px;
            min-width: 50px;
        }

        .mat-column-catalogue-name {
            flex: 1 1 150px;
            min-width: 150px;
        }

        .mat-column-sku-id {
            flex: 1 1 150px;
            min-width: 150px;
        }

        .mat-column-external-id {
            flex: 1 1 150px;
            min-width: 150px;
        }

        .mat-column-type {
            flex: 1 1 150px;
            min-width: 150px;
        }

        .mat-column-status {
            flex: 0 1 80px;
            min-width: 80px;
        }

        .mat-column-actions {
            flex: 0 1 80px;
            min-width: 80px;
            justify-content: flex-end;
        }

        .status-icon {
            border-radius: 50%;
        }

        .mat-column-no-record {
            justify-content: center;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    .loader-content {
        // Center loader
        right: unset;
        bottom: unset;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }
}

.mat-menu-panel {
    min-height: 52px;
}
