<div fxLayout="row" fxLayoutAlign="space-between stretch">
    <h2 mat-dialog-title>
        Store List
    </h2>
    
    <button mat-dialog-close mat-icon-button>
        <mat-icon>close</mat-icon>
    </button>
</div>


<h3>
    {{ dialogData?.name || '-' }} ({{ dialogData?.storeQty }} stores)
</h3>

<mat-dialog-content class="mat-typography">
    <mat-table
        matSort
        class="my-40 h-400 grey-300-border stores-table"
        style="flex: 1 1 auto; border: 1px solid; border-radius: 4px; overflow: auto; -webkit-overflow-scrolling: touch; background: #fafafa !important;"
        [dataSource]="(stores$ | async)"
        [@animateStagger]="{ value: '50' }"
        fusePerfectScrollbar
    >
        <!-- "Store Code" Column -->
        <ng-container matColumnDef="code">
            <mat-header-cell *matHeaderCellDef>
                Store Code
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p>
                    {{ row?.externalId || '-' }}
                </p>
            </mat-cell>
        </ng-container>

        <!-- "Store Name" Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>
                Store Name
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p>{{ row?.storeName || '(no name)' }}</p>
            </mat-cell>
        </ng-container>

        <!-- "Portfolio Code" Column -->
        <ng-container matColumnDef="segment">
            <mat-header-cell *matHeaderCellDef>
                Store Segment
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p class="word-wrap">{{ row?.storeSegment?.name || '-' }}</p>
            </mat-cell>
        </ng-container>

        <!-- "Portfolio Name" Column -->
        <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef>
                Store Type
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p class="word-wrap">{{ row?.storeType?.name || '-' }}</p>
            </mat-cell>
        </ng-container>

        <mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
            style="background: white; height: 40px !important; min-height: 40px !important; max-height: 40px !important;"
        ></mat-header-row>

        <mat-row
            class="pt-12"
            style="background: white; height: 40px !important; min-height: 40px !important; max-height: 40px !important;"
            *matRowDef="let row; columns: displayedColumns"
        ></mat-row>
    </mat-table>
</mat-dialog-content>

<!-- <mat-dialog-actions align="end">
    <button mat-flat-button mat-dialog-close color="accent" cdkFocusInitial>Cancel</button>
    <button mat-flat-button mat-dialog-close="overwrite-confirmed" color="primary">Yes, confirm.</button>
</mat-dialog-actions> -->
