<div class="box-content" fxLayout="column" *ngIf='listInfoData != null'>
    <div class="box-content__title return-title" *ngIf="title">
        <span class="mat-headline"> {{ title }} </span>
    </div>

    <div
        class="field detail col-space-between"
        fxLayout="row"
        fxLayoutAlign="start stretch"
        fxLayoutGap="8px"
        *ngFor='let infoData of listInfoData'
    >
        <div class="col-label-width return-detail-key" fxLayout="column" fxLayoutAlign="space-between stretch">
            <div class="label">{{ infoData?.key }}</div>
        </div>
        <div class="col-value-width return-detail-value" fxLayout="column" fxLayoutAlign="space-between stretch">
            <ngx-skeleton-loader
                [theme]="{ width: '100px', 'margin-bottom': '-5px' }"
                *ngIf="isLoading"
            ></ngx-skeleton-loader>

            <ng-container *ngIf="!isLoading">
                {{ infoData?.value || '-' }}
            </ng-container>
        </div>
    </div>

</div>