<div class="box-content" fxLayout="column" fxLayoutGap="26px">
    <div class="box-content__title">
        <span class="mat-headline"> {{ title }} </span>
    </div>

    <div
        class="form-field"
        fxLayout="column"
        fxLayoutAlign="start stretch"
        fxLayoutGap="27px"
        *ngIf='listInfoData != null'
    >
        <div
            class="field"
            fxLayout="row"
            fxLayoutAlign="start stretch"
            fxLayoutGap="16px"
            fxFlex="37px"
            *ngFor='let infoData of listInfoData'
        >
            <div class="label" fxFlex="120px">{{ infoData?.key }}</div>
            <div>
                <ngx-skeleton-loader
                    [theme]="{ width: '100px', 'margin-bottom': '-5px' }"
                    *ngIf="isLoading"
                ></ngx-skeleton-loader>

                <ng-container *ngIf="!isLoading">
                    {{ infoData?.value || '-' }}
                </ng-container>
            </div>
        </div>

    </div>
</div>