@import '../../../../../../../@fuse/scss/fuse';

app-document-info-detail {
    .return-content {
        padding: 10px;
        margin: 16px;
        border-radius: 2px;
        border: 1px solid gray;
    }

    .col-label-width {
        width: 120px;
    }

    .detail {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 5px;
    }
}