<div class="pb-16">
    <span class="mat-headline"> Layer Settings </span>
</div>

<div class="box-info horizontal" fxLayout="column" fxLayoutGap="16px">
    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="13">Promo Layer Level</div>

        <div class="info" fxFlex="100">
            <ng-container *ngIf="!(isLoading$ | async)">
                Layer 0{{ (crossSellingPromo$ | async)?.layer || 0 }}
            </ng-container>

            <ngx-skeleton-loader
                [theme]="{ width: '100px', 'margin-bottom': '-5px' }"
                *ngIf="isLoading$ | async"
            ></ngx-skeleton-loader>
        </div>
    </div>

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="13">Promo Owner</div>

        <div class="info" fxFlex="100">
            <ng-container *ngIf="!(isLoading$ | async)">
                {{ 
                    (crossSellingPromo$ | async)?.promoOwner  === 'sinbad-promo'
                    ? 'Sinbad Promo'
                    : (crossSellingPromo$ | async)?.promoOwner  === 'distributor-promo'
                    ? 'Distributor Promo'
                    : (crossSellingPromo$ | async)?.promoOwner  === 'principal-promo'
                    ? 'Principal Promo'
                    : (crossSellingPromo$ | async)?.promoOwner  === 'none'
                    ? 'None'
                    : (crossSellingPromo$ | async)?.promoOwner === 'payment-method-promo'
                    ? 'Payment Method Promo'
                    : ((crossSellingPromo$ | async)?.promoOwner | titlecase) || '-'
                    
            }}
            </ng-container>

            <ngx-skeleton-loader
                [theme]="{ width: '100px', 'margin-bottom': '-5px' }"
                *ngIf="isLoading$ | async"
            ></ngx-skeleton-loader>
        </div>
    </div>
</div>
