<div class="pb-16">
    <span class="mat-headline">
        Warehouse Information
    </span>
</div>

<div class="box-info horizontal" fxLayout="column" fxLayoutGap="16px">
    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="10">
            Warehouse ID
        </div>

        <div class="info" fxFlex="100">
            WH001
        </div>
    </div>

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="10">
            Warehouse Name
        </div>

        <div class="info" fxFlex="100">
            DC Cibinong
        </div>
    </div>

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="10">
            Lead Time
        </div>

        <div class="info" fxFlex="100">
            2 Days
        </div>
    </div>

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="10">
            Faktur
        </div>

        <div class="info" fxFlex="100">
            Danone, Combine
        </div>
    </div>

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="10">
            Assigned SKU
        </div>

        <div class="info" fxFlex="100">
            30
        </div>
    </div>

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="10">
            Size Warehouse
        </div>

        <div class="info" fxFlex="100">16 M<sup>2</sup></div>
    </div>

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="10">
            Temperature
        </div>

        <div class="info" fxFlex="100">
            Dry
        </div>
    </div>

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="10">
            Value
        </div>

        <div class="info" fxFlex="100">
            High Value
        </div>
    </div>

    <!-- <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="10">
            Total Urban
        </div>

        <div class="info" fxFlex="100">
            58
        </div>
    </div> -->

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="10">
            Date Created
        </div>

        <div class="info" fxFlex="100">
            18/01/2020 23:20:11
        </div>
    </div>
</div>
