<!-- CONTENT CARD (BERAT DAN DIMENSI PRODUK) -->
<div [ngClass]="catalogueContent">
    <div class="p-16 pb-28">
        <div class="font-weight-600 font-size-24 line-height-20">Delivery</div>
    </div>

    <div class="p-16 pt-0 pb-40 line-height-1.75">
        <form
            class="w-100-p"
            [formGroup]="form"
            fxLayout="column"
            fxFlex
            [fxLayoutGap]="isViewMode() ? '32px' : '5px'"
            novalidate
        >
            <!-- BERAT PER PCS PRODUK -->
            <div
                [ngClass]="formClass"
                fxLayout="row"
                fxLayoutAlign="space-between stretch"
                formGroupName="productShipment"
            >
                <label
                    class="pr-0"
                    fxFlexAlign="center"
                    fxFlex="18"
                    [class.mat-error]="
                        !isViewMode() && hasError(form.get('productShipment.catalogueWeight'))
                    "
                >
                    <span class="red-500-fg">* </span>Weight per Pcs
                </label>

                <mat-form-field
                    appearance="outline"
                    fxFlex="80"
                    fxFlexAlign="center"
                    *ngIf="!isViewMode()"
                >
                    <input
                        matInput
                        name="weight"
                        formControlName="catalogueWeight"
                        mask="separator"
                        thousandSeparator="."
                        suffix=" gr"
                        placeholder="in gram(s)"
                    />
                    <mat-error *ngIf="hasError(form.get('productShipment.catalogueWeight'))">
                        {{ getFormError(form.get('productShipment.catalogueWeight')) }}
                    </mat-error>
                </mat-form-field>
                <span
                    class="grey-fg"
                    fxFlexAlign="center"
                    fxFlex="80"
                    *ngIf="
                        isViewMode() && form.get('productShipment.catalogueWeight').value !== 'null'
                    "
                >
                    {{ form.get('productShipment.catalogueWeight').value | number: '1.0-2' }} gr
                </span>
                <span
                    fxFlexAlign="center"
                    fxFlex="80"
                    *ngIf="
                        isViewMode() && form.get('productShipment.catalogueWeight').value === 'null'
                    "
                >
                    -
                </span>
            </div>
            <!-- / BERAT PER PCS PRODUK -->

            <!-- BERAT PER MASTER BOX PRODUK -->
            <div
                [ngClass]="formClass"
                fxLayout="row"
                fxLayoutAlign="space-between stretch"
                formGroupName="productShipment"
            >
                <label
                    class="pr-0"
                    fxFlexAlign="center"
                    fxFlex="18"
                    [class.mat-error]="
                        !isViewMode() && hasError(form.get('productShipment.packagedWeight'))
                    "
                >
                    Weight per <br />Master Box
                </label>

                <mat-form-field
                    appearance="outline"
                    fxFlex="80"
                    fxFlexAlign="center"
                    *ngIf="!isViewMode()"
                >
                    <input
                        matInput
                        name="weight"
                        formControlName="packagedWeight"
                        mask="separator"
                        thousandSeparator="."
                        suffix=" gr"
                        placeholder="in gram(s)"
                    />
                    <mat-error *ngIf="hasError(form.get('productShipment.packagedWeight'))">
                        {{ getFormError(form.get('productShipment.packagedWeight')) }}
                    </mat-error>
                </mat-form-field>
                <span
                    class="grey-fg"
                    fxFlexAlign="center"
                    fxFlex="80"
                    *ngIf="isViewMode() && form.get('productShipment.packagedWeight').value"
                >
                    {{ form.get('productShipment.packagedWeight').value | number: '1.0-2' }} gr
                </span>
                <span
                    class="grey-fg"
                    fxFlexAlign="center"
                    fxFlex="80"
                    *ngIf="isViewMode() && !form.get('productShipment.packagedWeight').value"
                >
                    -
                </span>
            </div>
            <!-- / BERAT PER MASTER BOX PRODUK -->

            <!-- DIMENSI PER PCS PRODUK -->
            <div
                [ngClass]="formClass"
                fxLayout="row"
                fxLayoutAlign="space-between stretch"
                formGroupName="productShipment"
            >
                <label
                    class="pr-0"
                    fxFlexAlign="center"
                    fxFlex="18"
                    [class.mat-error]="
                        !isViewMode() && hasError(form.get('productShipment.catalogueDimension'))
                    "
                >
                    <span class="red-500-fg">* </span>Dimension per <br />Pcs
                </label>

                <mat-form-field
                    appearance="outline"
                    fxFlex="80"
                    fxFlexAlign="center"
                    *ngIf="!isViewMode()"
                >
                    <input
                        matInput
                        name="width"
                        formControlName="catalogueDimension"
                        mask="separator"
                        placeholder="in cm³"
                        suffix=" cm³"
                        thousandSeparator="."
                    />
                    <mat-error *ngIf="hasError(form.get('productShipment.catalogueDimension'))">
                        {{ getFormError(form.get('productShipment.catalogueDimension')) }}
                    </mat-error>
                </mat-form-field>
                <span
                    class="grey-fg"
                    fxFlexAlign="center"
                    fxFlex="80"
                    *ngIf="isViewMode() && form.get('productShipment.catalogueDimension').value"
                >
                    {{ form.get('productShipment.catalogueDimension').value | number: '1.0-2' }} cm³
                </span>
                <span
                    class="grey-fg"
                    fxFlexAlign="center"
                    fxFlex="80"
                    *ngIf="isViewMode() && !form.get('productShipment.catalogueDimension').value"
                >
                    -
                </span>
            </div>
            <!-- / DIMENSI PER PCS PRODUK -->

            <!-- DIMENSI PER MASTER BOX PRODUK -->
            <div
                [ngClass]="formClass"
                fxLayout="row"
                fxLayoutAlign="space-between stretch"
                formGroupName="productShipment"
            >
                <label
                    fxFlexAlign="center"
                    fxFlex="18"
                    class="pr-0"
                    [class.mat-error]="
                        !isViewMode() && hasError(form.get('productShipment.packagedDimension'))
                    "
                >
                    Dimension per <br />Master Box
                </label>

                <mat-form-field
                    appearance="outline"
                    fxFlex="80"
                    fxFlexAlign="center"
                    *ngIf="!isViewMode()"
                >
                    <input
                        matInput
                        name="width"
                        formControlName="packagedDimension"
                        mask="separator"
                        thousandSeparator="."
                        placeholder="in cm³"
                        suffix=" cm³"
                    />
                    <mat-error *ngIf="hasError(form.get('productShipment.packagedDimension'))">
                        {{ getFormError(form.get('productShipment.packagedDimension')) }}
                    </mat-error>
                </mat-form-field>
                <span
                    class="grey-fg"
                    fxFlexAlign="center"
                    fxFlex="80"
                    *ngIf="isViewMode() && form.get('productShipment.packagedDimension').value"
                >
                    {{ form.get('productShipment.packagedDimension').value | number: '1.0-2' }} cm³
                </span>
                <span
                    class="grey-fg"
                    fxFlexAlign="center"
                    fxFlex="80"
                    *ngIf="isViewMode() && !form.get('productShipment.packagedDimension').value"
                >
                    -
                </span>
            </div>
            <!-- / DIMENSI PER MASTER BOX PRODUK -->
        </form>
    </div>
</div>
<!-- / CONTENT CARD (BERAT DAN DIMENSI PRODUK) -->
