<div class="box-info horizontal" fxLayout="column" fxLayoutGap="16px">
    <sinbad-card-header [config]="cardHeaderConfig"></sinbad-card-header>

    <mat-table class="stock-management-detail-general-table" #table [dataSource]="dataSource" matSort
        [@animateStagger]="{ value: '50' }">
        <!-- SKU ID Column -->
        <ng-container matColumnDef="sku-id">
            <mat-header-cell *matHeaderCellDef>
                SKU ID
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p style="word-break: break-word;">
                    {{ row.skuId }}
                </p>
            </mat-cell>
        </ng-container>

        <!-- SKU Name Column -->
        <ng-container matColumnDef="sku-name">
            <mat-header-cell *matHeaderCellDef>
                SKU Name
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p style="word-break: break-word;">
                    {{ row.skuName }}
                </p>
            </mat-cell>
        </ng-container>

        <!-- Stock Type Column -->
        <ng-container matColumnDef="stock-type">
            <mat-header-cell *matHeaderCellDef>
                Stock Type
                <mat-icon class="active-icon s-14 ml-8 cursor-pointer" color="accent" matTooltip="Limited: Admin can set and manage stock level in Sinbad Seller Center
                    Unlimited: Admin can not set and manage stock level in Sinbad Seller Center"
                    matTooltipClass="tooltip-br">
                    help
                </mat-icon>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p style="word-break: break-word;">
                    {{ row.stockType }}
                </p>
            </mat-cell>
        </ng-container>

        <!-- Sellable Column -->
        <ng-container matColumnDef="sellable">
            <mat-header-cell *matHeaderCellDef>
                Sellable
                <mat-icon class="active-icon s-14 ml-8 cursor-pointer" color="accent"
                    matTooltip="Sellable Stock on hand in the warehouse that can be sold" matTooltipClass="tooltip-br">
                    help
                </mat-icon>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p style="word-break: break-word;">
                    {{ row.sellable }}
                </p>
            </mat-cell>
        </ng-container>

        <!-- On Hand Column -->
        <ng-container matColumnDef="on-hand">
            <mat-header-cell *matHeaderCellDef>
                On Hand
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p style="word-break: break-word;">
                    {{ row.onHand }}
                </p>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns" class="warehouse-detail-coverage"></mat-row>
    </mat-table>
</div>