app-exports {
    table {
        &.simple {
            border: 1px solid #e8e8e8;
            border-collapse: collapse;

            p {
                margin: 0;
            }

            thead[role='rowgroup'] {
                background-color: #fafafa;
            }

            th {
                &.mat-header-cell {
                    font-size: 14px;
                    color: #25282b;
                }
            }

            th,
            td {
                border: 1px solid #e8e8e8;
            }

            th:first-child, td:first-child {
                padding-left: 8px !important;
            }

            .mat-typography p {
                margin: 0 !important;
            }
        }
    }

}