<h2 mat-dialog-title *ngIf="data?.title">{{ data?.title | titlecase }}</h2>

<mat-dialog-content class="mat-typography" style="min-width: 50em;">
    <form class="w-100-p" [formGroup]="form" fxLayout="column" fxFlex novalidate>
        <div class="form-box">
            <div class="custom-field" fxLayout="row" fxLayoutAlign="space-between stretch">
                <label
                    fxFlexAlign="center"
                    fxFlex="15"
                    [class.mat-error]="
                        form.get('bankAccountName').errors &&
                        !form.get('bankAccountName').untouched &&
                        (form.get('bankAccountName').dirty || form.get('bankAccountName').touched)
                    "
                >
                    Nama
                </label>

                <mat-form-field appearance="outline" fxFlex="70">
                    <input matInput name="bankAccountName" formControlName="bankAccountName" />
                    <mat-hint>harus sama dengan Rekening Bank</mat-hint>
                    <!-- <mat-error
                                    *ngIf="
                                        form.get('bankAccountName').errors &&
                                        (form.get('bankAccountName').dirty ||
                                            form.get('bankAccountName').touched)
                                    "
                                >
                                    {{ getErrorMessage('bankAccountName') }}
                                </mat-error> -->
                </mat-form-field>
            </div>

            <div class="custom-field" fxLayout="row" fxLayoutAlign="space-between stretch">
                <label
                    fxFlexAlign="center"
                    fxFlex="15"
                    [class.mat-error]="
                        form.get('bankAccountNo').errors &&
                        !form.get('bankAccountNo').untouched &&
                        (form.get('bankAccountNo').dirty || form.get('bankAccountNo').touched)
                    "
                >
                    Nomor Rekening
                </label>

                <mat-form-field appearance="outline" fxFlex="70">
                    <!-- <span matPrefix>Rp &nbsp;</span> -->
                    <input matInput name="bankAccountNo" formControlName="bankAccountNo" />

                    <!-- <mat-error
                                    *ngIf="
                                        form.get('bankAccountNo').errors &&
                                        (form.get('bankAccountNo').dirty ||
                                            form.get('bankAccountNo').touched)
                                    "
                                >
                                    {{ getErrorMessage('bankAccountNo') }}
                                </mat-error> -->
                </mat-form-field>
            </div>

            <div class="custom-field" fxLayout="row" fxLayoutAlign="space-between stretch">
                <label
                    fxFlexAlign="center"
                    fxFlex="15"
                    [class.mat-error]="
                        form.get('bank').errors &&
                        !form.get('bank').untouched &&
                        (form.get('bank').dirty || form.get('bank').touched)
                    "
                >
                    Bank
                </label>

                <mat-form-field appearance="outline" fxFlex="70">
                    <mat-select formControlName="bank" placeholder="Choose bank...">
                        <mat-option>BCA</mat-option>
                    </mat-select>

                    <!-- <mat-error
                                    *ngIf="
                                        form.get('bank').errors &&
                                        (form.get('bank').dirty ||
                                            form.get('bank').touched)
                                    "
                                >
                                    {{ getErrorMessage('bank') }}
                                </mat-error> -->
                </mat-form-field>
            </div>

            <div class="custom-field" fxLayout="row" fxLayoutAlign="space-between stretch">
                <label
                    fxFlexAlign="center"
                    fxFlex="15"
                    [class.mat-error]="
                        form.get('bankBranch').errors &&
                        !form.get('bankBranch').untouched &&
                        (form.get('bankBranch').dirty || form.get('bankBranch').touched)
                    "
                >
                    Cabang Bank
                </label>

                <mat-form-field appearance="outline" fxFlex="70">
                    <input matInput name="bankBranch" formControlName="bankBranch" />

                    <!-- <mat-error
                                    *ngIf="
                                        form.get('bankBranch').errors &&
                                        (form.get('bankBranch').dirty ||
                                            form.get('bankBranch').touched)
                                    "
                                >
                                    {{ getErrorMessage('bankBranch') }}
                                </mat-error> -->
                </mat-form-field>
            </div>

            <div class="custom-field" fxLayout="row" fxLayoutAlign="space-between stretch">
                <label
                    fxFlexAlign="center"
                    fxFlex="15"
                    [class.mat-error]="
                        form.get('city').errors &&
                        !form.get('city').untouched &&
                        (form.get('city').dirty || form.get('city').touched)
                    "
                >
                    Kota / Kabupaten
                </label>

                <mat-form-field appearance="outline" fxFlex="70">
                    <input matInput name="city" formControlName="city" />

                    <!-- <mat-error
                                    *ngIf="
                                        form.get('city').errors &&
                                        (form.get('city').dirty ||
                                            form.get('city').touched)
                                    "
                                >
                                    {{ getErrorMessage('city') }}
                                </mat-error> -->
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <span fxLayout="row" fxLayoutGap="10px">
        <button mat-flat-button color="accent" cdkFocusInitial>Simpan</button>
        <button mat-stroked-button mat-dialog-close>Tutup</button>
    </span>
</mat-dialog-actions>
