<!-- CONTENT CARD (INFORMASI PRODUK) -->
<div [ngClass]="catalogueContent">
    <div class="p-16 pb-28">
        <div class="font-weight-500 font-size-20 line-height-20 mt-10">General Information</div>
    </div>

    <div class="p-16 pt-0 pb-40 line-height-1.75">
        <form
            class="w-100-p"
            [formGroup]="form"
            fxLayout="column"
            fxFlex
            [fxLayoutGap]="isViewMode() ? '32px' : '5px'"
            novalidate
        >
            <!-- *HIDDEN* ID -->
            <input hidden name="id" formControlName="id" />
            <!-- / *HIDDEN* ID -->

            <!-- Promo Allocation -->
            <!-- <div class="form-box"> -->
                <div [ngClass]="formClass" fxLayout="row" fxLayoutAlign="start stretch">
                    <label fxFlexAlign="center" fxFlex="12" class="pr-0 form-label">
                        <span class="sinbad-red-fg">*</span>Promo Allocation
                    </label>

                    <mat-radio-group
                        formControlName="voucherAllocationType"
                        aria-label="Select type"
                        (change)="selectPromoAlloc($event)"
                        style="margin-top: 3px"
                    >
                        <mat-radio-button
                            *ngFor="let option of promoAllocation"
                            [value]="option.id"
                        >
                            {{ option?.label }}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
            <!-- </div> -->
            <!-- / Promo Allocation end -->

            <!-- SUPPLIER VOUCHER ID -->
            <div [ngClass]="formClass" fxLayout="row" fxLayoutAlign="start stretch">
                <label
                    fxFlexAlign="center"
                    class="pr-0 form-label"
                    fxFlex="12"
                    [class.mat-error]="!isViewMode() && hasError(form.get('externalId'))"
                >
                    <span class="sinbad-red-fg">*</span>Sup Voucher ID
                </label>

                <mat-form-field
                    appearance="outline"
                    [fxFlex]="formFieldLength"
                    *ngIf="!isViewMode()"
                >
                    <input matInput name="externalId" formControlName="externalId" />
                    <mat-error *ngIf="!isViewMode() && hasError(form.get('externalId'))">
                        {{ getFormError(form.get('externalId')) }}
                    </mat-error>
                </mat-form-field>
                <span
                    class="form-value"
                    fxFlexAlign="center"
                    [fxFlex]="formFieldLength"
                    *ngIf="isViewMode()"
                >
                    {{ form.get('externalId').value || '-' }}
                </span>
            </div>
            <!-- / SUPPLIER VOUCHER ID -->

            <!-- VOUCHER NAME -->
            <div [ngClass]="formClass" fxLayout="row" fxLayoutAlign="start stretch">
                <label
                    fxFlexAlign="center"
                    class="pr-0 form-label"
                    fxFlex="12"
                    [class.mat-error]="!isViewMode() && hasError(form.get('name'))"
                >
                    <span class="sinbad-red-fg">*</span>Voucher Name
                </label>

                <mat-form-field
                    appearance="outline"
                    [fxFlex]="formFieldLength"
                    *ngIf="!isViewMode()"
                >
                    <input matInput name="name" formControlName="name" />
                    <mat-error *ngIf="hasError(form.get('name'))">
                        {{ getFormError(form.get('name')) }}
                    </mat-error>
                </mat-form-field>
                <span
                    class="form-value"
                    fxFlexAlign="center"
                    [fxFlex]="formFieldLength"
                    *ngIf="isViewMode()"
                >
                    {{ form.get('name').value || '-' }}
                </span>
            </div>
            <!-- / VOUCHER NAME -->

            <!-- VOUCHER Type -->
            <div [ngClass]="formClass" fxLayout="row" fxLayoutAlign="start stretch">
                <label
                    fxFlexAlign="center"
                    class="pr-0 form-label"
                    fxFlex="12"
                    [class.mat-error]="!isViewMode() && hasError(form.get('voucherType'))"
                >
                    <span class="sinbad-red-fg">*</span>Voucher Type
                </label>

                <mat-form-field
                    appearance="outline"
                    [fxFlex]="formFieldLength"
                    *ngIf="!isViewMode()"
                >
                    <mat-select
                        name="voucherType"
                        formControlName="voucherType"
                        (selectionChange)="selectVoucherType($event)"
                    >
                        <mat-option
                            *ngFor="let voucherType of sinbadVoucherType"
                            [value]="voucherType.id"
                        >
                            {{ voucherType.label }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="hasError(form.get('voucherType'))">
                        {{ getFormError(form.get('voucherType')) }}
                    </mat-error>
                </mat-form-field>
                <span
                    class="form-value"
                    fxFlexAlign="center"
                    [fxFlex]="formFieldLength"
                    *ngIf="isViewMode()"
                >
                    {{ form.get('voucherType').value || '-' }}
                </span>
            </div>
            <!-- / VOUCHER type -->

            <!-- VOUCHER Header -->
            <div [ngClass]="formClass" class="custom-field" fxLayoutAlign="start stretch">
                <label
                    fxFlexAlign="center"
                    class="pr-0 form-label"
                    fxFlex="12"
                    [class.mat-error]="!isViewMode() && hasError(form.get('voucherHeader'))"
                >
                    <span class="sinbad-red-fg">*</span>Voucher<br />Header
                    <mat-icon
                        class="active-icon s-14 ml-8 cursor-pointer"
                        color="accent"
                        matTooltip="Content for the voucher title&#10;on voucher list and voucher detail."
                        matTooltipClass="tooltip-br"
                    >
                        help
                    </mat-icon>
                </label>

                <mat-form-field appearance="outline" fxFlex="40">
                    <input matInput name="voucherHeader" formControlName="voucherHeader" />
                    <mat-error *ngIf="hasError(form.get('voucherHeader'))">
                        {{ getFormError(form.get('voucherHeader')) }}
                    </mat-error>
                </mat-form-field>
                <span
                    class="form-value"
                    fxFlexAlign="center"
                    [fxFlex]="formFieldLength"
                    *ngIf="isViewMode()"
                >
                    {{ form.get('voucherHeader').value || '-' }}
                </span>
            </div>
            <!-- / VOUCHER Header -->

            <!-- Category -->
            <div [ngClass]="formClass" class="custom-field" fxLayoutAlign="start stretch">
                <label
                    fxFlexAlign="center"
                    class="pr-0 form-label"
                    fxFlex="12"
                    [class.mat-error]="!isViewMode() && hasError(form.get('category'))"
                >
                    <span class="sinbad-red-fg">*</span>Category
                    <mat-icon
                        class="active-icon s-14 ml-8 cursor-pointer"
                        color="accent"
                        matTooltip="Category of the voucher."
                        matTooltipClass="tooltip-br"
                    >
                        help
                    </mat-icon>
                </label>
                <mat-form-field
                    appearance="outline"
                    [fxFlex]="formFieldLength"
                    *ngIf="!isViewMode()"
                >
                    <mat-select name="category" formControlName="category">
                        <mat-option
                            *ngFor="let category of sinbadVoucherCategory"
                            [value]="category.id"
                        >
                            {{ category.label }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="hasError(form.get('category'))">
                        {{ getFormError(form.get('category')) }}
                    </mat-error>
                </mat-form-field>
                <span
                    class="form-value"
                    fxFlexAlign="center"
                    [fxFlex]="formFieldLength"
                    *ngIf="isViewMode()"
                >
                    {{ form.get('category').value || '-' }}
                </span>
            </div>
            <!-- / Category -->

            <!-- SHORT DESCRIPTION -->
            <div [ngClass]="formClass" class="custom-field" fxLayoutAlign="start stretch">
                <label
                    class="pr-0 form-label"
                    fxFlex="12"
                    [class.mat-error]="!isViewMode() && hasError(form.get('shortDescription'))"
                    [class.mt-20]="!isViewMode()"
                >
                    <span class="sinbad-red-fg">*</span>Short Voucher<br />Description
                    <mat-icon
                        class="active-icon s-14 ml-8 cursor-pointer"
                        color="accent"
                        matTooltip="Short description of the voucher."
                        matTooltipClass="tooltip-br"
                    >
                        help
                    </mat-icon>
                </label>

                <mat-form-field
                    appearance="outline"
                    [fxFlex]="formFieldLength"
                    *ngIf="!isViewMode()"
                >
                    <textarea
                        matInput
                        rows="10"
                        name="shortDescription"
                        formControlName="shortDescription"
                    ></textarea>
                    <mat-error *ngIf="hasError(form.get('shortDescription'))">
                        {{ getFormError(form.get('shortDescription')) }}
                    </mat-error>
                </mat-form-field>
                <span class="form-value" [fxFlex]="formFieldLength" *ngIf="isViewMode()">
                    {{ form.get('shortDescription').value || '-' }}
                </span>
            </div>
            <!-- / SHORT DESCRIPTION -->

            <!-- DESCRIPTION -->
            <div [ngClass]="formClass" fxLayout="row" fxLayoutAlign="start stretch">
                <label
                    fxFlexAlign="start"
                    class="pr-0 form-label"
                    fxFlex="12"
                    [class.mat-error]="!isViewMode() && hasError(form.get('description'))"
                    [class.mt-20]="!isViewMode()"
                >
                    <span class="sinbad-red-fg">*</span>Voucher<br />Description
                    <mat-icon
                        class="active-icon s-14 ml-8 cursor-pointer"
                        color="accent"
                        matTooltip="Description of the voucher benefits."
                        matTooltipClass="tooltip-br"
                    >
                        help
                    </mat-icon>
                </label>

                <mat-form-field
                    appearance="outline"
                    [fxFlex]="formFieldLength"
                    *ngIf="!isViewMode()"
                >
                    <textarea
                        matInput
                        rows="10"
                        name="description"
                        formControlName="description"
                    ></textarea>
                    <mat-error *ngIf="hasError(form.get('description'))">
                        {{ getFormError(form.get('description')) }}
                    </mat-error>
                </mat-form-field>
                <span class="form-value" [fxFlex]="formFieldLength" *ngIf="isViewMode()">
                    {{ form.get('description').value || '-' }}
                </span>
            </div>
            <!-- / DESCRIPTION -->

            <!-- Voucher Terms & Conditions -->
            <div [ngClass]="formClass" class="custom-field" fxLayoutAlign="start stretch">
                <label
                    class="pr-0 form-label"
                    fxFlex="12"
                    [class.mat-error]="!isViewMode() && hasError(form.get('termsAndConditions'))"
                    [class.mt-20]="!isViewMode()"
                >
                    <span class="sinbad-red-fg">*</span>Voucher Terms<br />& Conditions
                    <mat-icon
                        class="active-icon s-14 ml-8 cursor-pointer"
                        color="accent"
                        matTooltip="Requirements need to be &#10;fulfilled to use the voucher."
                        matTooltipClass="tooltip-br"
                    >
                        help
                    </mat-icon>
                </label>

                <mat-form-field
                    appearance="none"
                    class="example-chip-list"
                    style="
                        overflow-y: auto;
                        overflow-x: hidden;
                        flex: 1 1 100%;
                        box-sizing: border-box;
                        max-width: 40%;
                        border: 1px solid rgba(0, 0, 0, 0.12);
                        margin-bottom: 25px;
                        height: 250px;
                        border-radius: 5px;
                    "
                >
                    <mat-chip-list #chipListTerms>
                        <mat-chip
                            *ngFor="let voucherterms of voucherTerms"
                            [selectable]="selectableVoucherTerms"
                            [removable]="removableVoucherTerms"
                            (removed)="removeVoucherTerms(voucherterms)"
                        >
                            {{ voucherterms.name }}
                            <mat-icon matChipRemove *ngIf="removableVoucherTerms">cancel</mat-icon>
                        </mat-chip>
                        <input
                            [matChipInputFor]="chipListTerms"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="addOnBlurVoucherTerms"
                            (matChipInputTokenEnd)="addVoucherTerms($event)"
                        />
                    </mat-chip-list>
                </mat-form-field>

                <span class="form-value" [fxFlex]="formFieldLength" *ngIf="isViewMode()">
                    {{ form.get('termsAndConditions').value || '-' }}
                </span>
            </div>
            <!-- / Voucher Terms & Conditions -->

            <!-- Voucher Instructions -->
            <div [ngClass]="formClass" class="custom-field" fxLayoutAlign="start stretch">
                <label
                    class="pr-0 form-label"
                    fxFlex="12"
                    [class.mat-error]="!isViewMode() && hasError(form.get('instructions'))"
                    [class.mt-20]="!isViewMode()"
                >
                    <span class="sinbad-red-fg">*</span>Voucher<br />Instruction
                    <mat-icon
                        class="active-icon s-14 ml-8 cursor-pointer"
                        color="accent"
                        matTooltip="Step on how to use vouchers."
                        matTooltipClass="tooltip-br"
                    >
                        help
                    </mat-icon>
                </label>

                <mat-form-field
                    appearance="none"
                    class="example-chip-list"
                    style="
                        overflow-y: auto;
                        overflow-x: hidden;
                        flex: 1 1 100%;
                        box-sizing: border-box;
                        max-width: 40%;
                        border: 1px solid rgba(0, 0, 0, 0.12);
                        margin-bottom: 25px;
                        height: 250px;
                        border-radius: 5px;
                    "
                >
                    <mat-chip-list #chipList1>
                        <mat-chip
                            *ngFor="let voucherins of voucherIns"
                            [selectable]="selectableVoucherIns"
                            [removable]="removableVoucherIns"
                            (removed)="removeVoucherIns(voucherins)"
                        >
                            {{ voucherins.name }}
                            <mat-icon matChipRemove *ngIf="removableVoucherIns">cancel</mat-icon>
                        </mat-chip>
                        <input
                            [matChipInputFor]="chipList1"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="addOnBlurVoucherIns"
                            (matChipInputTokenEnd)="addVoucherIns($event)"
                        />
                    </mat-chip-list>
                </mat-form-field>

                <span class="form-value" [fxFlex]="formFieldLength" *ngIf="isViewMode()">
                    {{ form.get('instructions').value || '-' }}
                </span>
            </div>
            <!-- / Voucher Instructions -->

            <!-- PLATFORM -->
            <div [ngClass]="formClass" fxLayout="row" fxLayoutAlign="start stretch">
                <label
                    fxFlexAlign="center"
                    class="pr-0 form-label"
                    fxFlex="12"
                    [class.mat-error]="!isViewMode() && hasError(form.get('platform'))"
                >
                    <span class="sinbad-red-fg">*</span>Platform
                </label>

                <mat-form-field
                    appearance="outline"
                    [fxFlex]="formFieldLength"
                    *ngIf="formMode !== 'view'"
                >
                    <mat-select name="platform" formControlName="platform">
                        <mat-option *ngFor="let platform of sinbadPlatforms" [value]="platform.id">
                            {{ platform.label }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="hasError(form.get('platform'))">
                        {{ getFormError(form.get('platform')) }}
                    </mat-error>
                </mat-form-field>
                <span
                    class="form-value"
                    fxFlexAlign="center"
                    fxFlexAlign="center"
                    [fxFlex]="formFieldLength"
                    *ngIf="isViewMode()"
                >
                    {{ (form.get('platform').value | titlecase) || '-' }}
                </span>
            </div>
            <!-- / PLATFORM -->

            <!-- Max number of collection -->
            <div [ngClass]="formClass" fxLayout="row" fxLayoutAlign="start stretch">
                <label
                    fxFlexAlign="center"
                    class="pr-0 form-label"
                    fxFlex="12"
                    [class.mat-error]="!isViewMode() && hasError(form.get('maxCollectionPerStore'))"
                >
                    <span class="sinbad-red-fg">*</span>Max number of<br />collection
                </label>

                <mat-form-field
                    appearance="outline"
                    [fxFlex]="formFieldLength"
                    *ngIf="!isViewMode()"
                >
                    <input
                        matInput
                        type="number"
                        min="0"
                        name="maxCollectionPerStore"
                        formControlName="maxCollectionPerStore"
                    />
                    <mat-error *ngIf="hasError(form.get('maxCollectionPerStore'))">
                        {{ getFormError(form.get('maxCollectionPerStore')) }}
                    </mat-error>
                </mat-form-field>
                <span
                    class="form-value"
                    fxFlexAlign="center"
                    [fxFlex]="formFieldLength"
                    *ngIf="isViewMode()"
                >
                    {{ form.get('maxRedemptionPerBuyer').value || '-' }}
                </span>
            </div>
            <!-- / Max number of collection -->

            <!-- max redem promo budget promo slot  by type allocation  -->
            <div
                *ngIf="selectPromo == 'promo_budget'"
                [ngClass]="formClass"
                fxLayout="row"
                fxLayoutAlign="start stretch"
            >
                <label
                    fxFlexAlign="center" class="pr-0 form-label" fxFlex="12"
                    [class.sinbad-red-fg]="hasError('voucherBudget')"
                >
                    <span class="sinbad-red-fg">*</span>Max Promo Redemption<br />(Rp)
                </label>

                <mat-form-field appearance="outline" fxFlex="40">
                    <input
                        matInput
                        name="voucherBudget"
                        formControlName="voucherBudget"
                        mask="separator.2"
                        thousandSeparator="."
                        prefix="Rp"
                        placeholder="Rp"
                    />

                    <mat-error *ngIf="hasError('voucherBudget', true)">
                        {{ getFormError(form.get('voucherBudget')) }}
                    </mat-error>
                </mat-form-field>
            </div>

            <div
                *ngIf="selectPromo == 'promo_slot'"
                [ngClass]="formClass"
                fxLayout="row"
                fxLayoutAlign="start stretch"
                [class.sinbad-red-fg]="hasError('voucherSlot')"
            >
                <label fxFlexAlign="center" class="pr-0 form-label" fxFlex="12">
                    <span class="sinbad-red-fg">*</span>Max Promo Redemption<br />(transaction)
                </label>

                <mat-form-field appearance="outline" fxFlex="40">
                    <input matInput name="voucherSlot" formControlName="voucherSlot" mask="0*" />

                    <mat-error *ngIf="hasError('voucherSlot', true)">
                        {{ getFormError(form.get('voucherSlot')) }}
                    </mat-error>
                </mat-form-field>
            </div>
            <!-- max redem promo budget promo slot  by type allocation -->

            <!-- upload voucher banner image -->
            <div [ngClass]="formClass" fxLayout="row" fxLayoutAlign="start stretch">
                <label fxFlexAlign="center" class="pr-0 form-label" fxFlex="12">
                    <span class="sinbad-red-fg">*</span>Voucher<br />Banner

                    <mat-icon
                        class="active-icon s-14 ml-8 cursor-pointer"
                        color="accent"
                        matTooltip="Image of the voucher banner.&#10;Maximum 2 mb of size,&#10;width 1441 px & height 589 px."
                        matTooltipClass="tooltip-br"
                    >
                        help
                    </mat-icon>
                </label>
                <div fxLayout="row" fxFlex="100" fxLayoutAlign="start center">
                    <mat-form-field
                        class="sinbad-file-field"
                        appearance="outline"
                        fxFlex="33"
                        [class.mat-sinbad-field-error]="hasError('voucherBanner')"
                    >
                        <input
                            #voucherBannerPicker
                            type="file"
                            class="custom-file"
                            accept=".jpg, .jpeg, .png"
                            formControlName="voucherBanner"
                            (click)="voucherBannerPicker.value = null"
                            (change)="onFileBrowse($event, 'voucherBanner')"
                            autocomplete="off"
                        />
                        <input
                            matInput
                            [formControl]="tmp.voucherBanner"
                            [value]="
                                tmp.voucherBanner.value && tmp.voucherBanner.value.name
                                    ? tmp.voucherBanner.value.name
                                    : null
                            "
                            placeholder="No file choose"
                            autocomplete="off"
                        />

                        <mat-hint class="mat-error" *ngIf="hasError('voucherBanner', true)">
                            {{ getFormError('voucherBanner') }}
                        </mat-hint>
                    </mat-form-field>

                    <button
                        type="button"
                        mat-flat-button
                        color="accent"
                        (click)="voucherBannerPicker.click()"
                        fxFlexAlign="center"
                    >
                        Upload Your File
                    </button>
                </div>
            </div>
            <!-- upload voucher banner image -->

            <ng-container *ngIf="selectTypeVoucher == 'collectible'; else otherTypeVoucher">
                <!-- *Available to be Collected From -->
                <div [ngClass]="formClass" fxLayout="row" fxLayoutAlign="start stretch">
                    <label
                        fxFlexAlign="center"
                        class="pr-0 form-label"
                        fxFlex="12"
                        [class.mat-error]="
                            !isViewMode() && hasError(form.get('availableCollectedFrom'))
                        "
                    >
                        <span class="sinbad-red-fg">*</span>Available to be <br />Collected From
                    </label>

                    <mat-form-field
                        appearance="outline"
                        [fxFlex]="formFieldLength"
                        *ngIf="!isViewMode()"
                    >
                        <input
                            matInput
                            [matDatetimepicker]="activeCollactibleFromPicker"
                            [min]="minCollectibleFrom"
                            (dateChange)="onChangeCollectibleFrom($event)"
                            autocomplete="false"
                            name="availableCollectedFrom"
                            formControlName="availableCollectedFrom"
                        />
                        <mat-datetimepicker-toggle
                            matSuffix
                            [for]="activeCollactibleFromPicker"
                        ></mat-datetimepicker-toggle>
                        <mat-datetimepicker
                            touchUi
                            #activeCollactibleFromPicker
                            [disabled]="false"
                            type="date"
                        >
                        </mat-datetimepicker>
                        <mat-error *ngIf="hasError(form.get('availableCollectedFrom'))">
                            {{ getFormError(form.get('availableCollectedFrom')) }}
                        </mat-error>
                    </mat-form-field>
                    <span
                        class="form-value"
                        fxFlexAlign="center"
                        [fxFlex]="formFieldLength"
                        *ngIf="isViewMode()"
                    >
                        {{ (form.get('availableCollectedFrom').value | date: 'dd/MM/yyyy') || '-' }}
                    </span>
                </div>
                <!-- / Available to be Collected From -->

                <!-- *Available to be Collected To -->
                <div [ngClass]="formClass" fxLayout="row" fxLayoutAlign="start stretch">
                    <label
                        fxFlexAlign="center"
                        class="pr-0 form-label"
                        fxFlex="12"
                        [class.mat-error]="!isViewMode() && hasError(form.get('availableCollectedTo'))"
                    >
                        <span class="sinbad-red-fg">*</span>Available to be<br />Collected To
                    </label>

                    <mat-form-field
                        appearance="outline"
                        [fxFlex]="formFieldLength"
                        *ngIf="!isViewMode()"
                        
                    >
                        <input
                            matInput
                            [matDatetimepicker]="activeCollactibleToPicker"
                            [max]="maxCollectibleTo"
                            [min]="minCollectibleTo"
                            autocomplete="false"
                            formControlName="availableCollectedTo"
                            readonly
                        />
                        <mat-datetimepicker-toggle
                            matSuffix
                            [for]="activeCollactibleToPicker"
                            [disabled]="true"
                        ></mat-datetimepicker-toggle>
                        <mat-datetimepicker
                            touchUi
                            #activeCollactibleToPicker
                            [disabled]="true"
                            type="date"
                        >
                        </mat-datetimepicker>
                        <mat-error *ngIf="hasError(form.get('availableCollectedTo'))">
                            {{ getFormError(form.get('availableCollectedTo')) }}
                        </mat-error>
                    </mat-form-field>
                    <span
                        class="form-value"
                        fxFlexAlign="center"
                        [fxFlex]="formFieldLength"
                        *ngIf="isViewMode()"
                    >
                        {{ (form.get('availableCollectedTo').value | date: 'dd/MM/yyyy') || '-' }}
                    </span>
                </div>
                <!-- / *Available to be Collected To -->

                <div [ngClass]="formClass" fxLayout="row" fxLayoutAlign="start stretch">
                    <label fxFlexAlign="center" class="pr-0 form-label" fxFlex="12">
                    </label>
                    <mat-checkbox
                        (change)="selectExpiration($event)"
                        [checked]="expirationCheck"
                        formControlName="expiration"
                    >
                        Expiration
                        <mat-icon
                            class="active-icon s-14 ml-8 cursor-pointer"
                            color="accent"
                            matTooltip="Define the expiration of the voucher.&#10;
                            If it remains unchecked, it means the voucher can&#10;
                            be used by the store anytime as long as&#10;
                            it is available. If it's checked,&#10;
                            define how long will it be available&#10;
                            to be used once it's collected."
                            matTooltipClass="tooltip-br"
                        >
                            help
                        </mat-icon>
                    </mat-checkbox>
                </div>

                <ng-container *ngIf="expirationCheck == true">
                    <div [ngClass]="formClass" fxLayout="row" fxLayoutAlign="start stretch">
                        <label fxFlexAlign="center" class="pr-0 form-label" fxFlex="12"
                        [class.mat-error]="!isViewMode() && hasError(form.get('expirationDays'))">
                            <span class="sinbad-red-fg">*</span>Expiration Days
                        </label>
    
                        <mat-form-field appearance="outline" fxFlex="40">
                            <input
                                matInput
                                name="expirationDays"
                                formControlName="expirationDays"
                                (ngModelChange)="inputExpirationDays($event)"
                                type="number"
                                min="1"
                            />
    
                            <mat-error *ngIf="hasError('expirationDays', true)">
                                {{ getFormError(form.get('expirationDays')) }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </ng-container>
                
            </ng-container>

            <ng-template #otherTypeVoucher>
                <!-- ACTIVE START DATE -->
                <div [ngClass]="formClass" fxLayout="row" fxLayoutAlign="start stretch">
                    <label
                        fxFlexAlign="center"
                        class="pr-0 form-label"
                        fxFlex="12"
                        [class.mat-error]="!isViewMode() && hasError(form.get('startDate'))"
                    >
                        <span class="sinbad-red-fg">*</span>Active From
                    </label>

                    <mat-form-field
                        appearance="outline"
                        [fxFlex]="formFieldLength"
                        *ngIf="!isViewMode()"
                    >
                        <input
                            matInput
                            [matDatetimepicker]="activeStartDatePicker"
                            [max]="maxActiveStartDate"
                            [min]="minActiveStartDate"
                            (dateChange)="onChangeActiveStartDate($event)"
                            autocomplete="false"
                            name="startDate"
                            formControlName="startDate"
                        />
                        <mat-datetimepicker-toggle
                            matSuffix
                            [for]="activeStartDatePicker"
                        ></mat-datetimepicker-toggle>
                        <mat-datetimepicker
                            touchUi
                            #activeStartDatePicker
                            [disabled]="false"
                            type="date"
                        >
                        </mat-datetimepicker>
                        <mat-error *ngIf="hasError(form.get('startDate'))">
                            {{ getFormError(form.get('startDate')) }}
                        </mat-error>
                    </mat-form-field>
                    <span
                        class="form-value"
                        fxFlexAlign="center"
                        [fxFlex]="formFieldLength"
                        *ngIf="isViewMode()"
                    >
                        {{ (form.get('startDate').value | date: 'dd/MM/yyyy') || '-' }}
                    </span>
                </div>
                <!-- / ACTIVE START DATE -->

                <!-- ACTIVE END DATE -->
                <div [ngClass]="formClass" fxLayout="row" fxLayoutAlign="start stretch">
                    <label
                        fxFlexAlign="center"
                        class="pr-0 form-label"
                        fxFlex="12"
                        [class.mat-error]="!isViewMode() && hasError(form.get('endDate'))"
                    >
                        <span class="sinbad-red-fg">*</span>To
                    </label>

                    <mat-form-field
                        appearance="outline"
                        [fxFlex]="formFieldLength"
                        *ngIf="!isViewMode()"
                    >
                        <input
                            matInput
                            [matDatetimepicker]="activeEndDatePicker"
                            [max]="maxActiveEndDate"
                            [min]="minActiveEndDate"
                            (dateChange)="onChangeActiveEndDate($event)"
                            autocomplete="false"
                            name="endDate"
                            formControlName="endDate"
                        />
                        <mat-datetimepicker-toggle
                            matSuffix
                            [for]="activeEndDatePicker"
                        ></mat-datetimepicker-toggle>
                        <mat-datetimepicker
                            touchUi
                            #activeEndDatePicker
                            [disabled]="false"
                            type="date"
                        >
                        </mat-datetimepicker>
                        <mat-error *ngIf="hasError(form.get('endDate'))">
                            {{ getFormError(form.get('endDate')) }}
                        </mat-error>
                    </mat-form-field>
                    <span
                        class="form-value"
                        fxFlexAlign="center"
                        [fxFlex]="formFieldLength"
                        *ngIf="isViewMode()"
                    >
                        {{ (form.get('endDate').value | date: 'dd/MM/yyyy') || '-' }}
                    </span>
                </div>
                <!-- / ACTIVE END DATE -->
            </ng-template>

            <!-- Voucher Tag -->
            <div [ngClass]="formClass" class="custom-field" fxLayoutAlign="start stretch">
                <label fxFlexAlign="center" fxFlex="12" class="pr-0 form-label">
                    Voucher Tag
                </label>

                <mat-form-field
                    appearance="none"
                    class="example-chip-list"
                    style="
                        overflow-y: auto;
                        overflow-x: hidden;
                        flex: 1 1 100%;
                        box-sizing: border-box;
                        max-width: 40%;
                        border: 1px solid rgba(0, 0, 0, 0.12);
                        margin-bottom: 25px;
                        height: 71px;
                        border-radius: 5px;
                    "
                >
                    <mat-chip-list #chipListTerms>
                        <mat-chip
                            *ngFor="let vouchertag of voucherTag"
                            [selectable]="selectableVoucherTag"
                            [removable]="removableVoucherTag"
                            (removed)="removeVoucherTag(vouchertag)"
                        >
                            {{ vouchertag.name }}
                            <mat-icon matChipRemove *ngIf="removableVoucherTag">cancel</mat-icon>
                        </mat-chip>
                        <input
                            [matChipInputFor]="chipListTerms"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="addOnBlurVoucherTag"
                            (matChipInputTokenEnd)="addVoucherTag($event)"
                        />
                    </mat-chip-list>
                </mat-form-field>

                <span class="form-value" [fxFlex]="formFieldLength" *ngIf="isViewMode()">
                    {{ form.get('voucherTag').value || '-' }}
                </span>
            </div>
            <!-- / Voucher Tag-->

            <!-- VOUCHER Code -->
            <div [ngClass]="formClass" fxLayout="row" fxLayoutAlign="start stretch">
                <label
                    fxFlexAlign="center"
                    fxFlex="12"
                    class="pr-0 form-label"
                    [class.mat-error]="!isViewMode() && hasError(form.get('code'))"
                >
                    <span class="sinbad-red-fg">*</span>Voucher Code
                </label>

                <mat-form-field
                    appearance="outline"
                    [fxFlex]="formFieldLength"
                    *ngIf="!isViewMode()"
                >
                    <input matInput name="code" formControlName="code" />
                    <mat-error *ngIf="hasError(form.get('code'))">
                        {{ getFormError(form.get('code')) }}
                    </mat-error>
                </mat-form-field>
                <span
                    class="form-value"
                    fxFlexAlign="center"
                    [fxFlex]="formFieldLength"
                    *ngIf="isViewMode()"
                >
                    {{ form.get('code').value || '-' }}
                </span>
            </div>
            <!-- / VOUCHER Code -->
        </form>
    </div>
</div>
<!-- / CONTENT CARD (INFORMASI PRODUK) -->
