<div #catalogueDetails id="catalogue-details" class="page-layout carded fullwidth inner-scroll line-height-1.75">
    <!-- TOP BACKGROUND -->
    <div class="top-bg h-168 accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center px-16">
        <!-- CONTENT HEADER -->
        <div
            class="h-120 accent mb-0"
            fxLayout="row"
            fxLayoutAlign="space-between center"
        >
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="['/pages/account/stores']">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <!-- <div
                    class="img-container mr-24"
                    style="width: 70px; height: 70px;"
                    [@animate]="{ value: '*', params: { delay: '50ms', scale: '0.2' } }"
                >
                    <ng-container *ngIf="(selectedCatalogue$ | async)?.catalogueImages[0]; else noCatalogueImage;">
                        <img
                            class="fit-image fuse-white"
                            style="border-radius: 5px;"
                            [defaultImage]="'assets/images/catalogue/no_photo.png'"
                            [lazyLoad]="(selectedCatalogue$ | async)?.catalogueImages[0]?.imageUrl"
                            [errorImage]="'assets/images/catalogue/no_photo.png'"
                        />
                    </ng-container>
                    <ng-template #noCatalogueImage>
                        <ngx-skeleton-loader
                            [theme]="{ width: '100px', 'margin-bottom': '-5px' }"
                        ></ngx-skeleton-loader>
                    </ng-template>
                </div> -->

                <div
                    fxLayout="column"
                    fxLayoutAlign="space-between start"
                    [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
                >
                    <div class="h2">
                        <ng-container *ngIf="!(selectedSupplierStore$ | async); else isSupplierStoreLoading;">
                            <ngx-skeleton-loader
                                [theme]="{ width: '100px', 'margin-bottom': '-5px' }"
                            ></ngx-skeleton-loader>
                        </ng-container>
                        <ng-template #isSupplierStoreLoading>
                            <strong>{{ (selectedSupplierStore$ | async)?.outerStore.name | uppercase }}</strong>
                        </ng-template>
                    </div>

                    <div class="subtitle secondary-text">
                        <span>Store Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->
            <!-- EDIT BUTTON -->
            <ng-container *ngIf="(selectedSupplierStore$ | async) as selectedSupplierStore">
                <button mat-flat-button (click)="editSupplierStore(selectedSupplierStore)" *ngIf="isViewMode() && section !== 'employee' && !(isEditLocation$ | async)">
                    <span class="red-500-fg">Edit</span>
                </button>
            </ng-container>
            <!-- / EDIT BUTTON -->
        </div>
        <!-- / CONTENT HEADER -->

        <!-- TAB GROUP -->
        <mat-tab-group
            color="accent" style="border-radius: 4px;"
            class="sinbad-white sinbad-mat-tab-group has-border mat-tab-header-px-12"
            animationDuration="0ms"
            dynamicHeight="true"
            (selectedIndexChange)="onSelectedTab($event)"
            fusePerfectScrollbar
        >
            <mat-tab label="Store" [disabled]="isEditMode()">
                <ng-template matTabContent>
                    <store-detail-component [supplierStore]="(selectedSupplierStore$ | async)"></store-detail-component>
                </ng-template>
            </mat-tab>
            <mat-tab label="Employee" [disabled]="isEditMode()">
                <ng-template matTabContent>
                    <store-employee-component [supplierStore]="(selectedSupplierStore$ | async)"></store-employee-component>
                </ng-template>
            </mat-tab>
            <mat-tab label="Location" [disabled]="isEditMode()">
                <ng-template matTabContent>
                    <app-merchant-location-detail></app-merchant-location-detail>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
        <!-- / TAB GROUP -->
    </div>
    <!-- / CENTER -->
</div>
<!-- Spinner Loader -->
<div class="loader" *ngIf="isLoading$ | async">
    <mat-spinner color="accent"></mat-spinner>
</div>
<!-- Spinner Loader -->