<div id="catalogues-add" class="page-layout carded fullwidth" fusePerfectScrollbar>
    <!-- TOP BACKGROUND -->
    <div class="accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- CONTENT CARD -->
        <div class="content-card" style="margin: 30px 0px;">
            <!-- CONTENT TOOLBAR -->
            <!-- <div class="toolbar px-24 py-8">
                <span>Content toolbar</span>
            </div> -->
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <!-- <div class="content p-24"></div> -->
            <!-- / CONTENT -->
            <div class="p-16">
                <div class="h1">Tambah Produk Baru</div>
                <div class="h4 secondary-text">Pilih kategori yang tepat untuk produkmu.</div>
            </div>
        
            <div class="p-16 pt-0 line-height-1.75">
                <!-- NAMA PRODUK -->
                <div
                    class="custom-field"
                    fxLayout="row"
                    fxLayoutAlign="space-between start"
                >
                    <label
                        fxFlexAlign="center"
                        fxFlex="12"
                        [class.mat-error]="
                            productName.errors &&
                            productName.untouched &&
                            (productName.dirty || productName.touched)
                        "
                    >
                        Nama Produk 
                    </label>
            
                    <mat-form-field appearance="outline" fxFlex="80">
                        <input
                            matInput
                            #productNameInput
                            name="product-name"
                            [formControl]="productName"
                            cdkFocusInitial
                        />
                    </mat-form-field>
                </div>
                <!-- / NAMA PRODUK -->
            </div>
            
            <div class="grey-300 p-8 line-height-1.75"
                fxLayout="row"
                fxLayoutGap="1px"
                fxLayoutAlign="space-between stretch"
                style="margin: 0px 16px 30px; border-radius: 8px;"
            >
                <ng-container
                    *ngFor="let _ of [0, 1, 2, 3]; index as $catLevel"
                >
                    <div
                        fxFlex="25"
                        class="fuse-white"
                    >
                        <ng-container *ngIf="$catLevel === 0; else aboveLevel0;">
                            <a
                                fxLayout="row"
                                fxLayoutAlign="space-between center"
                                class="category"
                                *ngFor="let category of (categoryTree); index as $index;"
                                (click)="onSelectCategory($event, category.id, category, category.category, $catLevel, category.hasChild)"
                                [class.fuse-black-fg]="selectedCategory.controls[$catLevel].get('id').value != category.id"
                                [class.red-fg]="selectedCategory.controls[$catLevel].get('id').value == category.id"
                            >
                                <span style="padding: 10px 0px 10px 8px;">{{ category.category }}</span>
                                <mat-icon *ngIf="category.hasChild">chevron_right</mat-icon>
                            </a>
                        </ng-container>
                        <ng-template #aboveLevel0>
                            <a
                                fxLayout="row"
                                fxLayoutAlign="space-between center"
                                class="category"
                                *ngFor="let category of (selectedCategories[$catLevel].data); index as $index;"
                                (click)="onSelectCategory($event, category.id, category, category.category, $catLevel, category.hasChild)"
                                [class.fuse-black-fg]="selectedCategory.controls[$catLevel].get('id').value != category.id"
                                [class.red-fg]="selectedCategory.controls[$catLevel].get('id').value == category.id"
                            >
                                <span style="padding: 10px 0px 10px 8px;">{{ category.category }}</span>
                                <mat-icon *ngIf="category.hasChild">chevron_right</mat-icon>
                            </a>
                        </ng-template>
                    </div>
                </ng-container>
                <!-- SEARCH -->
                <!-- <div class="search-wrapper">
                    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon>search</mat-icon>
                        <input [formControl]="search" placeholder="Cari Di sini" />
                    </div>
                </div> -->
                <!-- / SEARCH -->
                <!-- CATEGORIES -->
                <!-- <div
                    fxLayout="row"
                    fxLayoutAlign="start start"
                    fxLayoutGap="1px"
                >
                    </div>
                    <mat-tree [dataSource]="dataSource[0]" [treeControl]="treeControl">
                        <mat-tree-node
                            *matTreeNodeDef="let node"
                            fxLayout="row"
                            fxLayoutAlign="space-between stretch"
                            matTreeNodePadding
                        >
                            <button
                                mat-button
                                [disableRipple]="true"
                                (click)="onSelectCategory($event, node.id, node.data, node.name, node.level, false)"
                            >
                                {{ node.name }}
                            </button>
                            <button
                                disabled 
                                mat-icon-button
                            >
                            </button>
                        </mat-tree-node>
                        <mat-tree-node
                            *matTreeNodeDef="let node; when: hasChild;"
                            fxLayout="row"
                            fxLayoutAlign="space-between stretch"
                            matTreeNodePadding
                        >
                            <button
                                mat-button
                                [disableRipple]="true"
                                (click)="onSelectCategory($event, node.id, node.data, node.name, node.level, hasChild)"
                            >
                                {{ node.name }}
                            </button>
                            <button
                                mat-button
                                [disableRipple]="true"
                                (click)="onSelectCategory($event, node.id, node.data, node.name, node.level, hasChild)"
                            >
                                <mat-icon class="mat-icon-rtl-mirror">
                                    chevron_right
                                </mat-icon>
                            </button>
                        </mat-tree-node>
                    </mat-tree>

                    <mat-tree [dataSource]="dataSource[1]" [treeControl]="treeControl">
                        <mat-tree-node
                            *matTreeNodeDef="let node"
                            fxLayout="row"
                            fxLayoutAlign="space-between stretch"
                            matTreeNodePadding
                        >
                            <button
                                mat-button
                                [disableRipple]="true"
                                (click)="onSelectCategory($event, node.id, node.data, node.name, node.level + 1, false)"
                            >
                                {{ node.name }}
                            </button>
                            <button
                                disabled 
                                mat-icon-button
                            >
                            </button>
                        </mat-tree-node>
                        <mat-tree-node
                            *matTreeNodeDef="let node; when: hasChild;"
                            fxLayout="row"
                            fxLayoutAlign="space-between stretch"
                            matTreeNodePadding
                        >
                            <button
                                mat-button
                                [disableRipple]="true"
                                (click)="onSelectCategory($event, node.id, node.data, node.name, node.level + 1, hasChild)"
                            >
                                {{ node.name }}
                            </button>
                            <button
                                mat-button
                                [disableRipple]="true"
                                (click)="onSelectCategory($event, node.id, node.data, node.name, node.level + 1, hasChild)"
                            >
                                <mat-icon class="mat-icon-rtl-mirror">
                                    chevron_right
                                </mat-icon>
                            </button>
                        </mat-tree-node>
                    </mat-tree>

                    <mat-tree [dataSource]="dataSource[2]" [treeControl]="treeControl">
                        <mat-tree-node
                            *matTreeNodeDef="let node"
                            fxLayout="row"
                            fxLayoutAlign="space-between stretch"
                            matTreeNodePadding
                        >
                            <button
                                mat-button
                                [disableRipple]="true"
                                (click)="onSelectCategory($event, node.id, node.data, node.name, node.level + 2, false)"
                            >
                                {{ node.name }}
                            </button>
                            <button
                                disabled 
                                mat-icon-button
                            >
                            </button>
                        </mat-tree-node>
                        <mat-tree-node
                            *matTreeNodeDef="let node; when: hasChild;"
                            fxLayout="row"
                            fxLayoutAlign="space-between stretch"
                            matTreeNodePadding
                        >
                            <button
                                mat-button
                                [disableRipple]="true"
                                (click)="onSelectCategory($event, node.id, node.data, node.name, node.level + 2, hasChild)"
                            >
                                {{ node.name }}
                            </button>
                            <button
                                mat-button
                                [disableRipple]="true"
                                (click)="onSelectCategory($event, node.id, node.data, node.name, node.level + 2, hasChild)"
                            >
                                <mat-icon class="mat-icon-rtl-mirror">
                                    chevron_right
                                </mat-icon>
                            </button>
                        </mat-tree-node>
                    </mat-tree>
                </div> -->
                <div
                    fxLayout="row"
                    fxLayoutAlign="space-between center"
                >
                    
                </div>
                <!-- / CATEGORIES -->
            </div>
            <div
                fxLayout="column"
                fxLayoutGap="30px"
                fxLayoutAlign="center start"
                style="margin: 0px 16px 16px;"
            >
                <!-- SELECTED CATEGORIES -->
                <strong>Dipilih: <span class="warn-900-fg">{{ selectedCategories$ | async }}</span></strong>
                <!-- / SELECTED CATEGORIES -->
                <!-- CONTINUE BUTTON -->
                <button
                    mat-raised-button
                    class="warn-900"
                    (click)="addNewCatalogue()"
                    [disabled]="productName.errors || !isFulfilled"
                >
                    Lanjut
                </button>
                <!-- / CONTINUE BUTTON -->
            </div>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>