<div id="billing-detail" class="page-layout carded fullwidth tabbed inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg"></div>
    <!-- / TOP BACKGROUND -->
    <!-- CENTER -->
    <div class="center">
        <!-- CONTENT CARD Detail-->
        <div class="content-card" style="margin-top: 10px; margin-bottom: 10px">
            <!-- HEADER -->
            <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
                <!-- APP TITLE -->
                <div fxLayout="row" fxLayoutAlign="start center">
                    <button mat-icon-button class="mr-0 mr-sm-16" (click)="onClickBack()">
                        <mat-icon>arrow_back</mat-icon>
                    </button>

                    <div
                        fxLayout="column"
                        fxLayoutAlign="start start"
                        [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
                    >
                        <div class="h2 header-title">
                            {{ (detailBilling$ | async)?.data?.storeName || '-' }}
                        </div>
                    </div>
                </div>
                <!-- / APP TITLE -->
            </div>
            <!-- / HEADER -->

            <div class="pt-16 pl-16">
                <span class="mat-headline"> Billing General Information </span>
            </div>
            <app-detail-billing-generalinfo></app-detail-billing-generalinfo>

            <br />
            <!-- CONTENT -->
            <div class="content">
                <div class="tab-content pl-16 pr-16">
                    <app-collection-history-table [idDetail]="(detailBilling$ | async)?.data?.id || '-'"></app-collection-history-table>
                </div>
            </div>
            <br />
            <!-- / CONTENT CARD Table-->
        </div>
        <!-- / CENTER -->
    </div>
</div>
