<mat-card class="mb-16" fxLayout="column">
    <span class="mat-headline">Catalogue Segmentation</span>

    <form [formGroup]="form">
        <div class="form-box">
            <!-- SEGMENTATION NAME FIELD -->
            <div
                class="custom-field"
                fxLayout="row"
                fxLayoutAlign="start stretch"
                fxLayoutGap="16px"
                [@animate]="{ value: '*', params: { delay: '150ms', x: '-25px' } }"
            >
                <label
                    for="segmentation-name"
                    fxFlexAlign="center"
                    fxFlex="12"
                    fxFill
                    [class.sinbad-red-fg]="
                        form.get('segmentationName').value || form.get('segmentationName').touched
                            | hasErrorField: form.get('segmentationName'):false
                    "
                >
                    <span class="sinbad-red-fg">*</span>
                    Segmentation Name
                </label>

                <mat-form-field appearance="outline" fxFlex="50">
                    <input
                        matInput
                        id="segmentation-name"
                        formControlName="segmentationName"
                        autocapitalize="words"
                        autocomplete="off"
                    />

                    <mat-error>
                        {{
                            form.get('segmentationName').value
                                | errorMessage: form:'segmentationName'
                        }}
                    </mat-error>
                </mat-form-field>
            </div>
            <!-- / SEGMENTATION NAME FIELD -->

            <!-- WAREHOUSE FIELD -->
            <div
                class="custom-field"
                fxLayout="row"
                fxLayoutAlign="start stretch"
                fxLayoutGap="16px"
                [@animate]="{ value: '*', params: { delay: '150ms', x: '-25px' } }"
            >
                <label
                    for="chosen-warehouse"
                    fxFlexAlign="center"
                    fxFlex="12"
                    [class.sinbad-red-fg]="
                        form.get('chosenWarehouse').value || form.get('chosenWarehouse').touched
                            | hasErrorField: form.get('chosenWarehouse'):false
                    "
                >
                    <span class="sinbad-red-fg">*</span>
                    Warehouse<br />
                    ({{ form.get('chosenWarehouse').value?.length || 0 }} Selected)
                </label>

                <select-warehouses
                    id="chosen-warehouse"
                    [initialSelection]="form.get('chosenWarehouse').value || []"
                    [disabled]="form.get('chosenWarehouse').disabled"
                    placeholder="Choose Warehouse"
                    [required]="true"
                    (selected)="onWarehouseSelected($event)"
                    (selectAllChanged)="onSelectAllWarehouse($event)"
                    fxFlex="50"
                >
                    <div error>
                        {{
                            form.get('chosenWarehouse').value | errorMessage: form:'chosenWarehouse'
                        }}
                    </div>
                </select-warehouses>
            </div>
            <!-- / WAREHOUSE FIELD -->

            <!-- STORE TYPE FIELD -->
            <div
                class="custom-field"
                fxLayout="row"
                fxLayoutAlign="start stretch"
                fxLayoutGap="16px"
                [@animate]="{ value: '*', params: { delay: '150ms', x: '-25px' } }"
            >
                <label
                    for="chosen-store-type"
                    fxFlexAlign="center"
                    fxFlex="12"
                    [class.sinbad-red-fg]="
                        form.get('chosenStoreType').value || form.get('chosenStoreType').touched
                            | hasErrorField: form.get('chosenStoreType'):false
                    "
                >
                    Store Type<br />
                    ({{ form.get('chosenStoreType').value?.length || 0 }} Selected)
                </label>

                <select-store-segmentation
                    id="chosen-store-type"
                    [initialSelection]="form.get('chosenStoreType').value || []"
                    [disabled]="form.get('chosenStoreType').disabled"
                    placeholder="Choose Store Type"
                    title="Select Store Type"
                    segmentationType="type"
                    [required]="false"
                    (selected)="onStoreTypeSelected($event)"
                    fxFlex="50"
                >
                    <div error>
                        {{
                            form.get('chosenStoreType').value | errorMessage: form:'chosenStoreType'
                        }}
                    </div>
                </select-store-segmentation>
            </div>
            <!-- / STORE TYPE FIELD -->

            <!-- STORE GROUP FIELD -->
            <div
                class="custom-field"
                fxLayout="row"
                fxLayoutAlign="start stretch"
                fxLayoutGap="16px"
                [@animate]="{ value: '*', params: { delay: '150ms', x: '-25px' } }"
            >
                <label
                    for="chosen-store-group"
                    fxFlexAlign="center"
                    fxFlex="12"
                    [class.sinbad-red-fg]="
                        form.get('chosenStoreGroup').value || form.get('chosenStoreGroup').touched
                            | hasErrorField: form.get('chosenStoreGroup'):false
                    "
                >
                    Store Group<br />
                    ({{ form.get('chosenStoreGroup').value?.length || 0 }} Selected)
                </label>

                <select-store-segmentation
                    id="chosen-store-group"
                    [initialSelection]="form.get('chosenStoreGroup').value || []"
                    [disabled]="form.get('chosenStoreGroup').disabled"
                    placeholder="Choose Store Group"
                    title="Select Store Group"
                    segmentationType="group"
                    [required]="false"
                    (selected)="onStoreGroupSelected($event)"
                    fxFlex="50"
                >
                    <div error>
                        {{
                            form.get('chosenStoreGroup').value
                                | errorMessage: form:'chosenStoreGroup'
                        }}
                    </div>
                </select-store-segmentation>
            </div>
            <!-- / STORE GROUP FIELD -->

            <!-- STORE CHANNEL FIELD -->
            <div
                class="custom-field"
                fxLayout="row"
                fxLayoutAlign="start stretch"
                fxLayoutGap="16px"
                [@animate]="{ value: '*', params: { delay: '150ms', x: '-25px' } }"
            >
                <label
                    for="chosen-store-channel"
                    fxFlexAlign="center"
                    fxFlex="12"
                    [class.sinbad-red-fg]="
                        form.get('chosenStoreChannel').value ||
                            form.get('chosenStoreChannel').touched
                            | hasErrorField: form.get('chosenStoreChannel'):false
                    "
                >
                    Store Channel<br />
                    ({{ form.get('chosenStoreChannel').value?.length || 0 }} Selected)
                </label>

                <select-store-segmentation
                    id="chosen-store-channel"
                    [initialSelection]="form.get('chosenStoreChannel').value || []"
                    [disabled]="form.get('chosenStoreChannel').disabled"
                    placeholder="Choose Store Channel"
                    title="Select Store Channel"
                    segmentationType="channel"
                    [required]="false"
                    (selected)="onStoreChannelSelected($event)"
                    fxFlex="50"
                >
                    <div error>
                        {{
                            form.get('chosenStoreChannel').value
                                | errorMessage: form:'chosenStoreChannel'
                        }}
                    </div>
                </select-store-segmentation>
            </div>
            <!-- STORE CHANNEL FIELD -->
        </div>

        <sinbad-card-header [config]="cardHeaderConfig"></sinbad-card-header>

        <app-catalogue-list></app-catalogue-list>
    </form>
</mat-card>
