<div class="section pb-48" fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="start start">
    <button fxFlex="none" mat-flat-button color="primary">
        Filter List
    </button>

    <div class="w-100-p section__content" fxLayout="row" fxLayoutGap="15px" fxFlex>
        <div class="section__content--left grey-300-border" fxLayout="column" fxFlex>
            <div
                class="section__content--header grey-300-border px-4 py-8"
                fxLayout="row"
                fxLayoutAlign="space-between stretch"
            >
                <span fxFlexAlign="center" class="mr-16">Find:</span>

                <!-- SEARCH -->
                <div class="search-wrapper grey-300-border" fxFlexAlign="center">
                    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <input placeholder="Find Store" />
                        <mat-icon matSuffix>search</mat-icon>
                    </div>
                </div>
                <!-- / SEARCH -->
            </div>

            <div class="section__content--container" fxLayout="column" fxFlex>
                <ng-container *ngIf="(sources$ | async).length > 0">
                    <mat-selection-list
                        #sourceList
                        class="sinbad__selection--list"
                        (selectionChange)="onSelectionSource($event, 'source')"
                    >
                        <mat-list-option
                            class="sinbad__selection--option"
                            checkboxPosition="before"
                            *ngFor="let source of sources$ | async"
                            [value]="source"
                            [selected]="getSelected(source)"
                        >
                            {{ source?.name }}
                        </mat-list-option>
                    </mat-selection-list>
                </ng-container>

                <div class="loader-content" *ngIf="isLoadingSource$ | async">
                    <mat-spinner color="accent" [diameter]="25"></mat-spinner>
                </div>

                <ng-container *ngIf="!(sources$ | async).length && !(isLoadingSource$ | async)">
                    <span fxLayout="column" fxLayoutAlign="center center" fxFlex>
                        {{
                            (invoiceGroupId$ | async)
                                ? 'Not found store.'
                                : 'Please choose portfolio.'
                        }}
                    </span>
                </ng-container>
            </div>
        </div>

        <div class="section__content--right grey-300-border" fxLayout="column" fxFlex>
            <div
                class="section__content--header grey-300-border px-4 py-8"
                fxLayout="row"
                fxLayoutAlign="space-between stretch"
            >
                <span fxFlexAlign="center">
                    Your Selections ({{ totalSelectedSource$ | async }})
                </span>

                <ng-container *ngIf="totalSelectedSource$ | async as totalSelectedSource">
                    <button
                        type="button"
                        mat-button
                        color="accent"
                        fxFlexAlign="center"
                        (click)="onClearAll(totalSelectedSource)"
                        *ngIf="totalSelectedSource"
                        [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
                    >
                        Clear All
                    </button>
                </ng-container>
            </div>

            <div class="section__content--container" fxLayout="column" fxFlex>
                <ng-container *ngIf="(selectedSources$ | async).length > 0">
                    <mat-selection-list
                        #selectedSourceList
                        class="sinbad__selection--list"
                        (selectionChange)="onSelectionSource($event, 'selectedSource')"
                    >
                        <mat-list-option
                            class="sinbad__selection--option"
                            checkboxPosition="before"
                            [selected]="true"
                            *ngFor="let selectedSource of selectedSources$ | async"
                            [value]="selectedSource"
                        >
                            {{ selectedSource?.name }}
                        </mat-list-option>
                    </mat-selection-list>
                </ng-container>

                <ng-container *ngIf="!(selectedSources$ | async).length">
                    <span fxLayout="column" fxLayoutAlign="center center" fxFlex>
                        Not found selected store.
                    </span>
                </ng-container>
            </div>

            <!-- <div class="loader-content">
                    <mat-spinner color="accent" [diameter]="25"></mat-spinner>
                </div> -->
        </div>
    </div>
</div>
