<div id="invoices-view" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent with-navigation"></div>
    <!-- / TOP BACKGROUND -->
    <div class="center content-card">
        <div class="header sinbad accent" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <button
                        type="button"
                        mat-icon-button
                        class="mr-0 mr-sm-16"
                        [routerLink]="['/pages/finances/payment-status']"
                    >
                        <mat-icon>arrow_back</mat-icon>
                    </button>

                    <div
                        fxLayout="column"
                        fxLayoutAlign="start start"
                        [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
                    >
                        <div class="h2">Invoices Detail</div>
                    </div>
                </div>

                <div
                    fxLayout="column"
                    fxLayoutAlign="end end"
                    [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
                >
                    <button
                        type="button"
                        class="mr-0 mr-sm-16"
                        mat-raised-button
                        style="background-color: white"
                        (click)="print()"
                    >
                        print
                    </button>
                </div>
            </div>
        </div>
        <div class="order-box info-box" fxFlex="30">
            <mat-card *ngIf="(invoice$ | async) as invoice; else invoicePlaceholder">
                <pdf-viewer
                    [src]="invoice?.url"
                    [render-text]="true"
                    style="display: block;">
                </pdf-viewer>
            </mat-card>
          <ng-template #invoicePlaceholder>
              <mat-card>
                  <section class="mat-typography">
                      <h1> Your desire invoice currently not available please check again later</h1>
                  </section>
              </mat-card>
          </ng-template>
        </div>
    </div>
</div>

<div class="loader" *ngIf="(isLoading$ | async)">
    <mat-spinner color="accent"></mat-spinner>
</div>