<!-- CARD -->
<div id="merchant-setting"class="page-layout carded fullwidth" fusePerfectScrollbar>
    <!-- CENTER WRAPPER -->
    <div class="center p-16">
        <div class="h-412 content-card sinbad-content p-16">
            <!-- CARD TITLE -->
            <div class="p-16 pl-0 font-weight-600 font-size-24 line-height-20">
                Store Setting
            </div>
            <!-- / CARD TITLE -->
            <!-- FORM -->
            <form [formGroup]="form" class="w-100-p" fxLayout="column" fxLayoutGap="8px" novalidate>
                <!-- MAX DIGIT -->
                <div fxLayout="row" fxLayoutAlign="space-between stretch">
                    <label
                        fxFlexAlign="center"
                        fxFlex="18"
                        class="pr-0"
                        [class.mat-error]="hasError(form.get('maxDigit'))"
                    >
                        Max Digit
                    </label>
                    <mat-form-field appearance="outline" fxFlex="80">
                        <input matInput formControlName="maxDigit" suffix=" Digit" maxlength="8" mask="0*"/>
    
                        <mat-error>
                            {{ getFormError(form.get('maxDigit')) }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- / MAX DIGIT -->
                <!-- PREFIX -->
                <div fxLayout="row" fxLayoutAlign="space-between stretch">
                    <label
                        fxFlexAlign="center"
                        fxFlex="18"
                        class="pr-0"
                        [class.mat-error]="hasError(form.get('prefix'))"
                    >
                        Prefix
                    </label>
                    <mat-form-field appearance="outline" fxFlex="80">
                        <input matInput formControlName="prefix" maxlength="6" type="text"/>
    
                        <mat-error>
                            {{ getFormError(form.get('prefix')) }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- / PREFIX -->
                <!-- NEXT NUMBER -->
                <div fxLayout="row" fxLayoutAlign="space-between stretch">
                    <label
                        fxFlexAlign="center"
                        fxFlex="18"
                        class="pr-0"
                        [class.mat-error]="hasError(form.get('nextNumber'))"
                    >
                        Next Number
                    </label>
                    <mat-form-field appearance="outline" fxFlex="80">
                        <input matInput formControlName="nextNumber" [attr.maxlength]="+(form.get('maxDigit').value) + 1 || 4" mask="0*"/>
    
                        <mat-error>
                            {{ getFormError(form.get('nextNumber')) }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- / NEXT NUMBER -->
                <!-- HINT SUMMARY -->
                    <p class="grey-500-fg">
                        Next store number will look like this: {{ generateStoreNumber() }}
                    </p>
                <!-- / HINT SUMMARY -->
            </form>
            <!-- / FORM -->
            <div fxLayout="row" fxLayoutAlign="end center">
                <button mat-flat-button color="accent">Save</button>
            </div>
        </div>
    </div>
    <!-- / CENTER WRAPPER -->
</div>
<!-- / CARD -->