@mixin merchant-setting-theme($theme) {
    $accent: map-get($theme, accent);

    app-merchant-setting {
        .mat-tab-label.mat-tab-label-active {
            color: mat-color($accent);
            opacity: 1 !important;
        }
    }
}
