<!-- CARD -->
<div id="merchant-setting"class="page-layout carded" fusePerfectScrollbar>
    <!-- CENTER WRAPPER -->
    <div class="center p-16">
        <div class="content-card mat-elevation-z1">
            <mat-tab-group color="accent" animationDuration="0ms">
                <!-- STORE ID GENERATION -->
                <mat-tab label="Store ID Generation">
                    <app-merchant-setting-store-id-generation></app-merchant-setting-store-id-generation>
                </mat-tab>
                <!-- / STORE ID GENERATION -->
            </mat-tab-group>
        </div>
    </div>
    <!-- / CENTER WRAPPER -->
</div>