.cat-seg-message-dialog{
    color: black;
}
.sinbad-mat-btn-border{
    border: 1px solid #cccccc;
}
.mat-dialog-actions{
    margin-bottom: 0;
}
.sinbad-mat-btn-accent{
    background-color: #f0444c !important;
    color: white !important;
}