<div class="page-layout carded fullwidth" fusePerfectScrollbar>
    <!-- CENTER -->
    <div class="center px-16 pt-16"
        fxLayout="column"
        fxLayoutAlign="space-between none"
        fxLayoutGap="16px"
    >
        <div class="content-card">
            <period-target-promo-general-information></period-target-promo-general-information>
        </div>
        <div class="content-card">
            <period-target-promo-trigger-information></period-target-promo-trigger-information>
        </div>
        <div class="content-card">
            <period-target-promo-trigger-condition-benefit-settings></period-target-promo-trigger-condition-benefit-settings>
        </div>
        <div class="content-card">
            <period-target-promo-reward-information></period-target-promo-reward-information>
        </div>
        <div class="content-card">
            <period-target-promo-customer-segmentation-settings></period-target-promo-customer-segmentation-settings>
        </div>
    </div>
</div>
