<div id="period-target-promo-form" class="page-layout carded inner-scroll fullwidth" fusePerfectScrollbar trackScroll (scrolled)="onTrackScroll()">
    <!-- CENTER -->
    <div class="center px-16 pt-16"
        fxLayout="column"
        fxLayoutAlign="space-between none"
        fxLayoutGap="16px"
    >
        <mat-card class="p-0">
            <period-target-promo-general-information
                [formMode]="'add'"
                (formStatusChange)="generalInformationStatus$.next($event)"
                (formValueChange)="generalInformationValue$.next($event)"
            ></period-target-promo-general-information>
        </mat-card>
        <mat-card class="p-0">
            <period-target-promo-trigger-information
                [formMode]="'add'"
                (formStatusChange)="triggerInformationStatus$.next($event)"
                (formValueChange)="triggerInformationValue$.next($event)"
            ></period-target-promo-trigger-information>
        </mat-card>
        <mat-card class="p-0">
            <period-target-promo-trigger-condition-benefit-settings
                [formMode]="'add'"
                (formStatusChange)="conditionBenefitStatus$.next($event)"
                (formValueChange)="conditionBenefitValue$.next($event)"
            ></period-target-promo-trigger-condition-benefit-settings>
        </mat-card>
        <mat-card class="p-0">
            <period-target-promo-reward-information
                [formMode]="'add'"
                (formStatusChange)="rewardStatus$.next($event)"
                (formValueChange)="rewardValue$.next($event)"
            ></period-target-promo-reward-information>
        </mat-card>
        <mat-card class="p-0">
            <period-target-promo-customer-segmentation-settings
                [formMode]="'add'"
                (formStatusChange)="customerSegmentationStatus$.next($event)"
                (formValueChange)="customerSegmentationValue$.next($event)"
            ></period-target-promo-customer-segmentation-settings>
        </mat-card>
    </div>
</div>
<!-- LOADING SPINNER -->
<div class="loader" *ngIf="isLoading$ | async">
    <mat-spinner color="accent"></mat-spinner>
</div>
<!-- / LOADING SPINNER -->
