<div fxLayout="column" fxLayoutAlign="start stretch" fxFlex>
    <sinbad-card-header
        [config]="cardHeaderConfig"
        [addPermissions]="addPermissions"
        (onSearchChanged)="keyword = $event"
        (onActionSelected)="onActionSelected($event)"
        (onClickAdd)="onClickAdd()"
    ></sinbad-card-header>

    <app-catalogue-list
        [keyword]="keyword"
        [formMode]="formMode"
        [segmentationId]="item?.id"
        (loading)="onLoadingCatalogueList($event)"
        [(clickResetSelection)]="isResetAllCatalogue"
        [(clickSelectAllCatalogue)]="isSelectAllCatalogue"
        [(clickUnassignAllSelection)]="clickUnassignAllSelection"
        (showBatchActions)="onUpdateBatchActions($event)"
    ></app-catalogue-list>
</div>

<ng-template #availableCatalogueModal>
    <app-available-catalogue-list></app-available-catalogue-list>
</ng-template>
