<div id="merchant-employee" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg h-168 accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header h-120 accent" fxLayout="row" fxLayoutAlign="space-between center">
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <button
                    mat-icon-button
                    class="mr-0 mr-sm-16"
                    type="button"
                    (click)="goEmployeePage()"
                >
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div
                    *ngIf="employee$ | async"
                    class="employee-image mr-8 mr-sm-16"
                    [@animate]="{ value: '*', params: { delay: '50ms', scale: '0.2' } }"
                >
                    <img
                        [defaultImage]="'assets/images/avatars/profile.jpg'"
                        [useSrcset]="true"
                        [lazyLoad]="(employee$ | async)?.imageUrl"
                        [errorImage]="'assets/images/avatars/profile.jpg'"
                    />
                </div>

                <div
                    *ngIf="!(employee$ | async) || ((isLoading$ | async) && !isEdit)"
                    class="mr-8 mr-sm-16"
                    [@animate]="{ value: '*', params: { delay: '50ms', scale: '0.2' } }"
                >
                    <ngx-skeleton-loader
                        appearance="circle"
                        [theme]="{ width: '70px', height: '70px', 'border-radius': '4px' }"
                    ></ngx-skeleton-loader>
                </div>

                <div
                    fxLayout="column"
                    fxLayoutAlign="start start"
                    [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
                >
                    <div class="h2" *ngIf="employee$ | async">
                        {{
                            form?.value?.fullName
                                ? form?.value?.fullName
                                : (employee$ | async)?.fullName
                        }}
                    </div>

                    <ngx-skeleton-loader
                        *ngIf="!(employee$ | async) || ((isLoading$ | async) && !isEdit)"
                        [theme]="{ width: '150px', height: '25px', margin: 0 }"
                    ></ngx-skeleton-loader>

                    <div class="subtitle secondary-text">
                        <span
                            *ngIf="
                                (!(isLoading$ | async) || ((isLoading$ | async) && isEdit)) &&
                                    employee$ | async
                            "
                        >
                            Account Detail
                        </span>
                        <ngx-skeleton-loader
                            *ngIf="!(employee$ | async) || ((isLoading$ | async) && !isEdit)"
                            [theme]="{ width: '70px', margin: 0 }"
                        ></ngx-skeleton-loader>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <ng-template [ngxPermissionsOnly]="['ACCOUNT.STORE.EMPLOYEE.UPDATE']">
                <ngx-skeleton-loader
                    *ngIf="!(employee$ | async) || ((isLoading$ | async) && !isEdit)"
                    [theme]="{ width: '70px', height: '30px', margin: 0 }"
                ></ngx-skeleton-loader>

                <ng-container *ngIf="employee$ | async">
                    <button
                        mat-raised-button
                        type="button"
                        (click)="onEdit(isEdit)"
                        *ngIf="!isEdit"
                        class="sinbad-red-fg"
                    >
                        <span>Edit</span>
                    </button>

                    <button
                        mat-raised-button
                        type="submit"
                        [disabled]="form.invalid || form.pristine"
                        form="account-form"
                        *ngIf="isEdit"
                        class="sinbad-red-fg"
                    >
                        <span>Save</span>
                    </button>
                </ng-container>
            </ng-template>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card sinbad">
            <!-- CONTENT TOOLBAR -->
            <!-- <div class="toolbar px-24 py-8">
                <span>Basic Information</span>
            </div> -->
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content px-24 py-8" fxLayout="column">
                <span class="mat-title" *ngIf="(!(isLoading$ | async) && !isEdit) || isEdit">
                    Basic Information
                </span>
                <ngx-skeleton-loader
                    *ngIf="(isLoading$ | async) && !isEdit"
                    [theme]="{ width: '150px', height: '28px' }"
                ></ngx-skeleton-loader>

                <form
                    id="account-form"
                    name="accountForm"
                    class="account w-100-p"
                    [formGroup]="form"
                    (ngSubmit)="onSubmit()"
                    fxLayout="column"
                    fxFlex
                    novalidate
                >
                    <div class="custom-field" fxLayout="row" fxLayoutAlign="start stretch">
                        <label
                            fxFlexAlign="center"
                            fxFlex="12"
                            [class.mat-error]="
                                form.get('fullName').errors &&
                                !form.get('fullName').untouched &&
                                (form.get('fullName').dirty || form.get('fullName').touched)
                            "
                            *ngIf="(!(isLoading$ | async) && !isEdit) || isEdit"
                        >
                            *Name
                        </label>
                        <div
                            fxFlexAlign="center"
                            fxFlex="12"
                            *ngIf="(isLoading$ | async) && !isEdit"
                        >
                            <ngx-skeleton-loader [theme]="{ width: '40px' }"></ngx-skeleton-loader>
                        </div>

                        <mat-form-field
                            appearance="outline"
                            fxFlex="30"
                            [fxHide]="(isLoading$ | async) && !isEdit"
                        >
                            <input
                                matInput
                                name="fullName"
                                formControlName="fullName"
                                maxlength="30"
                            />

                            <mat-error
                                *ngIf="
                                    form.get('fullName').errors &&
                                    (form.get('fullName').dirty || form.get('fullName').touched)
                                "
                            >
                                {{ getErrorMessage('fullName') }}
                            </mat-error>
                        </mat-form-field>
                        <div
                            fxFlexAlign="center"
                            fxFlex="30"
                            *ngIf="(isLoading$ | async) && !isEdit"
                        >
                            <ngx-skeleton-loader
                                [theme]="{ width: '100%', height: '40px' }"
                            ></ngx-skeleton-loader>
                        </div>
                    </div>

                    <div class="custom-field" fxLayout="row" fxLayoutAlign="start stretch">
                        <label
                            fxFlexAlign="center"
                            fxFlex="12"
                            [class.mat-error]="
                                form.get('roles').errors &&
                                !form.get('roles').untouched &&
                                (form.get('roles').dirty || form.get('roles').touched)
                            "
                            *ngIf="(!(isLoading$ | async) && !isEdit) || isEdit"
                        >
                            *Role
                        </label>
                        <div
                            fxFlexAlign="center"
                            fxFlex="12"
                            *ngIf="(isLoading$ | async) && !isEdit"
                        >
                            <ngx-skeleton-loader [theme]="{ width: '40px' }"></ngx-skeleton-loader>
                        </div>

                        <mat-form-field
                            appearance="outline"
                            fxFlex="30"
                            [fxHide]="(isLoading$ | async) && !isEdit"
                        >
                            <mat-select formControlName="roles" placeholder="Choose Role" multiple>
                                <mat-option *ngFor="let role of roles$ | async" [value]="role?.id">
                                    {{ role?.role }}
                                </mat-option>
                            </mat-select>

                            <mat-error
                                *ngIf="
                                    form.get('roles').errors &&
                                    (form.get('roles').dirty || form.get('roles').touched)
                                "
                            >
                                {{ getErrorMessage('roles') }}
                            </mat-error>
                        </mat-form-field>
                        <div
                            fxFlexAlign="center"
                            fxFlex="30"
                            *ngIf="(isLoading$ | async) && !isEdit"
                        >
                            <ngx-skeleton-loader
                                [theme]="{ width: '100%', height: '40px' }"
                            ></ngx-skeleton-loader>
                        </div>
                    </div>

                    <div class="custom-field" fxLayout="row" fxLayoutAlign="start stretch">
                        <label
                            fxFlexAlign="center"
                            fxFlex="12"
                            [class.mat-error]="
                                form.get('phoneNumber').errors &&
                                !form.get('phoneNumber').untouched &&
                                (form.get('phoneNumber').dirty || form.get('phoneNumber').touched)
                            "
                            *ngIf="(!(isLoading$ | async) && !isEdit) || isEdit"
                        >
                            *Phone Number
                        </label>
                        <div
                            fxFlexAlign="center"
                            fxFlex="12"
                            *ngIf="(isLoading$ | async) && !isEdit"
                        >
                            <ngx-skeleton-loader [theme]="{ width: '70px' }"></ngx-skeleton-loader>
                        </div>

                        <mat-form-field
                            appearance="outline"
                            fxFlex="30"
                            [fxHide]="(isLoading$ | async) && !isEdit"
                        >
                            <input
                                matInput
                                type="tel"
                                name="phoneNumber"
                                formControlName="phoneNumber"
                            />

                            <mat-error
                                *ngIf="
                                    form.get('phoneNumber').errors &&
                                    (form.get('phoneNumber').dirty ||
                                        form.get('phoneNumber').touched)
                                "
                            >
                                {{ getErrorMessage('phoneNumber') }}
                            </mat-error>
                        </mat-form-field>
                        <div
                            fxFlexAlign="center"
                            fxFlex="30"
                            *ngIf="(isLoading$ | async) && !isEdit"
                        >
                            <ngx-skeleton-loader
                                [theme]="{ width: '100%', height: '40px' }"
                            ></ngx-skeleton-loader>
                        </div>
                    </div>
                </form>
            </div>
            <!-- / CONTENT -->

            <div class="loader" *ngIf="isLoading$ | async">
                <mat-spinner color="accent"></mat-spinner>
            </div>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
