<h2 mat-dialog-title>{{ data.editMode === 'price' ? 'Edit Price' : 'Edit Stock' }}</h2>

<mat-dialog-content class="mat-typography" style="min-width: 50em;">
    <div class="line-height-1.75">
        <ng-container *ngIf="data.editMode === 'price'; else editStock;">
            <form class="w-100-p" [formGroup]="form" fxLayout="row" fxLayoutGap="10px" novalidate>
                <div fxFlex="25" fxLayout="column" fxLayoutAlign="space-between end">
                    <!-- FORM INPUT LABEL -->
                    <p fxFlex="20"></p>
                    <p fxFlex="25">Current Price</p>
                    <p fxFlex="25" [class.mat-error]="
                            (form.get('retailPrice').errors &&
                            (form.get('retailPrice').dirty || form.get('retailPrice').touched))
                            ||
                            (form.get('salePrice').errors &&
                            (form.get('salePrice').dirty || form.get('salePrice').touched))
                        ">
                        New Price
                    </p>
                    <!-- / FORM INPUT LABEL -->
                </div>
                <div fxFlex="35" fxLayout="column" fxLayoutAlign="space-between center">
                    <p class="mb-36" [class.mat-error]="
                            form.get('retailPrice').errors &&
                            (form.get('retailPrice').dirty || form.get('retailPrice').touched)
                        ">
                        <strong>Retailer Buying Price</strong>
                    </p>
                    <!-- RETAILER BUYING PRICE (NOW) -->
                    <mat-form-field fxFlex="80" appearance="outline">
                        <input [hidden]="true" matInput name="oldRetailPrice" prefix="Rp" mask="separator"
                            thousandSeparator="." formControlName="oldRetailPrice" />
                        <span class="grey-500-fg">
                            {{ data?.catalogue?.retailBuyingPrice  | price: 'full':'IDR':'narrow':'1.0-2' }}
                        </span>
                    </mat-form-field>
                    <!-- / RETAILER BUYING PRICE (NOW) -->
                    <!-- RETAILER BUYING PRICE (NEW) -->
                    <mat-form-field fxFlex="80" appearance="outline">
                        <input matInput type="text" name="retailPrice" prefix="Rp" mask="separator"
                            thousandSeparator="." formControlName="retailPrice" />
                        <mat-error *ngIf="
                                form.get('retailPrice').errors &&
                                (form.get('retailPrice').dirty || form.get('retailPrice').touched)
                            ">
                            {{ getFormError(form, 'retailPrice') }}
                        </mat-error>
                    </mat-form-field>
                    <!-- / RETAILER BUYING PRICE (NEW) -->
                </div>
                <div fxFlex="35" fxLayout="column" fxLayoutAlign="space-between center">
                    <p class="text-center" [class.mat-error]="
                            form.get('salePrice').errors &&
                            (form.get('salePrice').dirty || form.get('salePrice').touched)
                        ">
                        <strong>
                            Discounted Retailer<br />Buying Price
                        </strong>
                    </p>
                    <!-- DISCOUNTED PRICE FOR RETAILER (SALE PRICE) (NOW) -->
                    <mat-form-field fxFlex="80" appearance="outline">
                        <input [hidden]="true" matInput name="oldSalePrice" prefix="Rp" mask="separator"
                            thousandSeparator="." formControlName="oldSalePrice" />
                        <span class="grey-500-fg">
                            {{ !data?.catalogue?.discountedRetailBuyingPrice 
                                ? ('Rp')
                                : (data?.catalogue?.discountedRetailBuyingPrice | price: 'full':'IDR':'narrow':'1.0-2') }}
                        </span>
                    </mat-form-field>
                    <!-- / DISCOUNTED FOR RETAILER (SALE PRICE) (NOW) -->
                    <!-- DISCOUNTED FOR RETAILER (SALE PRICE) (NEW) -->
                    <mat-form-field fxFlex="80" appearance="outline">
                        <input matInput type="text" name="salePrice" prefix="Rp" mask="separator" thousandSeparator="."
                            formControlName="salePrice" />
                        <mat-error *ngIf="
                                form.get('salePrice').errors &&
                                (form.get('salePrice').dirty || form.get('salePrice').touched)
                            ">
                            {{ getFormError(form, 'salePrice') }}
                        </mat-error>
                    </mat-form-field>
                    <!-- / DISCOUNTED FOR RETAILER (SALE PRICE) (NEW) -->
                </div>
                <div fxFlex="15" fxLayout="column" fxLayoutAlign="center center">
                    <!-- MARGIN (?) -->
                    <p fxFlex="20"><strong>Discount (%)</strong></p>
                    <p fxFlex="40" fxLayout="row" fxLayoutAlign="center center" [class.green-900-fg]="oldMargin > 0.00"
                        [class.orange-700-fg]="oldMargin === 0.00" [class.red-800-fg]="oldMargin < 0.00">
                        <ng-container *ngIf="oldMargin < 0.00; else oldHasDiscount;">
                            <mat-icon>arrow_drop_down</mat-icon>
                        </ng-container>
                        <ng-template #oldHasDiscount>
                            <ng-container *ngIf="oldMargin > 0.00; else oldSamePrice;">
                                <mat-icon>arrow_drop_up</mat-icon>
                            </ng-container>
                        </ng-template>
                        <ng-template #oldSamePrice>
                            <mat-icon>remove</mat-icon>
                        </ng-template>

                        <span>
                            {{ !oldMargin && oldMargin !== 0 ? '-' : (oldMargin | number: '1.0-2') }} %
                        </span>
                    </p>
                    <p fxFlex="40" fxLayout="row" fxLayoutAlign="center center" [class.green-900-fg]="newMargin > 0.00"
                        [class.orange-700-fg]="newMargin === 0.00" [class.red-800-fg]="newMargin < 0.00">
                        <ng-container *ngIf="newMargin < 0.00; else newHasDiscount;">
                            <mat-icon>arrow_drop_down</mat-icon>
                        </ng-container>
                        <ng-template #newHasDiscount>
                            <ng-container *ngIf="newMargin > 0.00; else newSamePrice;">
                                <mat-icon>arrow_drop_up</mat-icon>
                            </ng-container>
                        </ng-template>
                        <ng-template #newSamePrice>
                            <mat-icon>remove</mat-icon>
                        </ng-template>

                        <span>
                            {{ !newMargin && newMargin !== 0 ? '-' : (newMargin | number: '1.0-2') }} %
                        </span>
                    </p>
                    <!-- / MARGIN (?) -->
                </div>
            </form>
        </ng-container>
        <ng-template #editStock>
            <form class="w-100-p" [formGroup]="form" fxLayout="column" fxLayoutAlign="space-between stretch"
                fxLayoutGap="10px" novalidate>
                <!-- PROCESSED STOCK INFORMATION -->
                <!-- <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="30px"> -->
                <!-- RESERVED STOCK -->
                <!-- <div class="custom-field" fxLayout="row" fxLayoutGap="35px">
                        <label fxFlexAlign="center">
                            Reserved Stock
                        </label>
                        <mat-form-field appearance="outline" fxLayout="row" fxLayoutAlign="start">
                            <input
                                [hidden]="true"
                                matInput
                                name="reservedStock"
                                mask="separator"
                                thousandSeparator="."
                                formControlName="reservedStock"
                            />
                            <span class="grey-500-fg">
                                100 (static)
                            </span>
                            {{ data?.price | price: 'full':'IDR':'narrow':'1.0-2' }}
                        </mat-form-field>
                    </div> -->
                <!-- / RESERVED STOCK -->
                <!-- STOCK EN ROUTE -->
                <!-- <div class="custom-field" fxLayout="row">
                        <label fxFlex="20" fxFlexAlign="center">
                            Stock en route
                        </label>
                        <mat-form-field fxFlex="80" appearance="outline">
                            <input
                                matInput
                                name="stockEnroute"
                                mask="separator"
                                thousandSeparator="."
                                placeholder="Loading ..."
                                formControlName="stockEnroute"
                            />
                        </mat-form-field>
                    </div> -->
                <!-- / STOCK EN ROUTE -->
                <!-- </div> -->
                <!-- / PROCESSED STOCK INFORMATION -->
                <!-- STOCK EN ROUTE -->
                <div class="custom-field-right" fxLayout="row">
                    <label fxFlex="20" fxFlexAlign="center">
                        Stock en route
                    </label>
                    <mat-form-field fxFlex="80" appearance="outline">
                        <input matInput name="stockEnroute" mask="separator" thousandSeparator="."
                            placeholder="Loading ..." formControlName="stockEnroute" />
                        <!-- <span class="grey-500-fg">
                            {{ form.get('stockEnroute').value || 'Loading ...'  }}
                        </span> -->
                        <!-- {{ data?.price | price: 'full':'IDR':'narrow':'1.0-2' }} -->
                    </mat-form-field>
                </div>
                <!-- / STOCK EN ROUTE -->
                <!-- AVAILABLE STOCK INFORMATION -->
                <div class="custom-field-right" fxLayout="row">
                    <label fxFlex="20" fxFlexAlign="center">
                        Stock Sekarang
                    </label>
                    <mat-form-field fxFlex="80" appearance="outline">
                        <input matInput name="oldStock" mask="separator" thousandSeparator="."
                            formControlName="oldStock" />
                        <!-- <span class="grey-500-fg">
                            {{ data?.catalogue?.stock | number: '1.0-2' }}
                        </span> -->
                    </mat-form-field>
                </div>
                <!-- / AVAILABLE STOCK INFORMATION -->
                <!-- NEW STOCK -->
                <div class="custom-field-right" fxLayout="row">
                    <label fxFlex="20" fxFlexAlign="center" [class.mat-error]="
                            form.get('stock').errors &&
                            (form.get('stock').dirty || form.get('stock').touched)
                        ">
                        Stock Baru
                    </label>
                    <mat-form-field fxFlex="80" appearance="outline">
                        <input matInput type="text" name="stock" mask="separator" thousandSeparator="."
                            formControlName="stock" />
                        <mat-error *ngIf="
                                form.get('stock').errors &&
                                (form.get('stock').dirty || form.get('stock').touched)
                            ">
                            {{ getFormError(form, 'stock') }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- / NEW STOCK -->
            </form>
        </ng-template>

    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close [disabled]="isUpdating">
        Cancel
    </button>
    <button mat-button class="warn-900" [disabled]="form.invalid || isUpdating" (click)="updateData()">
        OK
    </button>
</mat-dialog-actions>