<div
    fxLayout="column"
    fxLayoutGap="25px"
    fxLayoutAlign="start start"
>
    <!-- "FILTER LIST" BUTTON -->
    <button
        fxFlex="none"
        mat-flat-button
        color="primary"
        (click)="openFilter()"
    >
        Filter List
    </button>
    <!-- / "FILTER LIST" BUTTON -->

    <!-- FILTER LISTS -->
    <div class="grey-300-border p-16 w-100-p" style="border: 1px solid #fafafa;" fxLayout="column" fxLayoutGap="10px" *ngIf="(filters$ | async)?.length > 0">
        <strong>Filter by</strong>
        <mat-chip-list [selectable]="false">
            <mat-chip [removable]="true" [selectable]="false" *ngFor="let filter of (filters$ | async)" (removed)="removeFilter$.next(filter.id)">
                {{ filter.title }}: {{ filter.value.title }}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
        </mat-chip-list>
    </div>
    <!-- / FILTER LISTS -->

    <!-- STORE LIST -->
    <div
        class="w-100-p"
        fxLayout="row"
        fxLayoutGap="16px"
        fxLayoutAlign="space-between stretch"
    >
        <!-- AVAILABLE STORES -->
        <div class="content" fxLayout="column" fxFlex>
            <!-- HEADER -->
            <div class="grey-300-border p-24" [style.border]="'1px solid'" fxLayout="row" fxLayoutGap="24px" fxLayoutAlign="space-between stretch">
                <!-- LABEL -->
                <p fxFlexAlign="center">Find:</p>
                <!-- / LABEL -->
                <!-- SEARCH -->
                <div fxFlexAlign="center" fxFlex class="search-wrapper grey-300-border">
                    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon>search</mat-icon>
                        <input [formControl]="search" placeholder="Find Store"/>
                    </div>
                </div>
                <!-- / SEARCH -->
            </div>
            <!-- / HEADER -->
            <!-- LIST -->
            <mat-selection-list
                fxFlex
                cdkScrollable
                #availableStoreScroll
                id="available-store-scroll"
                [style.overflow]="'auto'"
                [style.border]="'1px solid'"
                class="grey-300-border h-400"
                [disableRipple]="true"
                (selectionChange)="selectedStoreSub$.next($event)"
            >
                <mat-list-option
                    *ngFor="let store of (availableStores$ | async)"
                    [checkboxPosition]="'before'"
                    [value]="store"
                    [selected]="store?.isSelected"
                >
                    {{ printStoreName(store) }}
                </mat-list-option>
            </mat-selection-list>
            <!-- / LIST -->
            <!-- LOADER -->
            <div class="loader" *ngIf="isLoading$ | async">
                <mat-spinner color="accent"></mat-spinner>
            </div>
            <!-- / LOADER -->
        </div>
        <!-- / AVAILABLE STORES -->
        <!-- SELECTED STORES -->
        <div class="content" fxLayout="column" fxFlex>
            <!-- HEADER -->
            <div class="grey-300-border p-24" [style.border]="'1px solid'" fxLayout="row" fxLayoutAlign="space-between stretch">
                <!-- LABEL -->
                <p fxFlexAlign="center">Your Selections ({{ totalPortfolioStore$ | async }})</p>
                <!-- / LABEL -->
                <!-- CLEAR ALL -->
                <a
                    fxFlexAlign="center"
                    [style.cursor]="'pointer'"
                    class="red-500-fg"
                    (click)="clearAllSelectedStores()"
                    *ngIf="(totalPortfolioStore$ | async) > 0"
                >Clear All</a>
                <!-- / CLEAR ALL -->
            </div>
            <!-- / HEADER -->
            <!-- LIST -->
            <mat-selection-list
                fxFlex
                cdkScrollable
                [style.overflow]="'auto'"
                [style.border]="'1px solid'"
                class="grey-300-border h-400"
                [disableRipple]="true"
                (selectionChange)="selectedStoreSub$.next($event)"
            >
                <ng-container *ngFor="let store of (selectedStores$ | async)" class="relative">
                    <mat-list-option
                        *ngIf="!store?.deletedAt"
                        [class.yellow-800]="!!store.portfolio"
                        [matTooltip]="getStoreWarning(store)"
                        [checkboxPosition]="'before'"
                        [selected]="true"
                        [value]="store"
                    >
                        {{ printStoreName(store) }}
                    </mat-list-option>
                    <div class="loader" *ngIf="store?.isLoading">
                        <mat-spinner color="accent"></mat-spinner>
                    </div>
                </ng-container>
            </mat-selection-list>
            <!-- / LIST -->
        </div>
        <!-- / SELECTED STORES -->
    </div>
    <!-- / STORE LIST -->
</div>