<div id="attendance-detail" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="['/pages/attendances']">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div
                    class="attendance-image mr-8 mr-sm-16"
                    [@animate]="{ value: '*', params: { delay: '50ms', scale: '0.2' } }"
                >
                    <img
                        *ngIf="(attendance$ | async)?.user?.image"
                        [src]="(attendance$ | async)?.user?.image"
                    />
                    <img
                        *ngIf="!(attendance$ | async)?.user?.image"
                        [src]="'assets/images/avatars/profile.jpg'"
                    />
                </div>

                <div
                    fxLayout="column"
                    fxLayoutAlign="start start"
                    [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
                >
                    <div class="h2" *ngIf="pageType === 'edit'">
                        {{ (attendance$ | async)?.user?.email }}
                    </div>

                    <div class="subtitle secondary-text">
                        <span>Attendance Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content">
                <form
                    name="attendanceForm"
                    class="attendance w-100-p"
                    [formGroup]="form"
                    fxLayout="column"
                    fxFlex
                    novalidate
                >
                    <mat-tab-group>
                        <mat-tab label="Basic Info">
                            <ng-template matTabContent>
                                <div
                                    class="tab-content p-24"
                                    fusePerfectScrollbar
                                    fxLayout="column"
                                >
                                    <mat-form-field appearance="outline" floatLabel="always">
                                        <mat-label>Account</mat-label>

                                        <input matInput formControlName="searchAccount" />
                                    </mat-form-field>

                                    <mat-divider class="p-12"></mat-divider>

                                    <div fxLayout="row" fxLayoutAlign="space-between">
                                        <mat-form-field
                                            appearance="outline"
                                            floatLabel="always"
                                            fxFlex="45"
                                        >
                                            <mat-label>Check In</mat-label>
                                            <input
                                                matInput
                                                [matDatetimepicker]="checkInPicker"
                                                formControlName="checkIn"
                                                autocomplete="false"
                                            />
                                            <mat-datetimepicker-toggle
                                                matSuffix
                                                [for]="checkInPicker"
                                            ></mat-datetimepicker-toggle>
                                            <mat-datetimepicker
                                                touchUi
                                                #checkInPicker
                                                type="datetime"
                                            >
                                            </mat-datetimepicker>
                                        </mat-form-field>

                                        <mat-form-field
                                            appearance="outline"
                                            floatLabel="always"
                                            fxFlex="45"
                                        >
                                            <mat-label>Check Out</mat-label>
                                            <input
                                                matInput
                                                [matDatetimepicker]="checkOutPicker"
                                                formControlName="checkOut"
                                                autocomplete="false"
                                            />
                                            <mat-datetimepicker-toggle
                                                matSuffix
                                                [for]="checkOutPicker"
                                            ></mat-datetimepicker-toggle>
                                            <mat-datetimepicker
                                                touchUi
                                                #checkOutPicker
                                                type="datetime"
                                            >
                                            </mat-datetimepicker>
                                        </mat-form-field>
                                    </div>

                                    <div fxLayout="row" fxLayoutAlign="space-between">
                                        <mat-form-field
                                            appearance="outline"
                                            floatLabel="always"
                                            fxFlex="45"
                                        >
                                            <mat-label>Latitude</mat-label>

                                            <input
                                                matInput
                                                formControlName="latitude"
                                                autocomplete="off"
                                            />
                                        </mat-form-field>

                                        <mat-form-field
                                            appearance="outline"
                                            floatLabel="always"
                                            fxFlex="45"
                                        >
                                            <mat-label>Longitude</mat-label>

                                            <input
                                                matInput
                                                formControlName="longitude"
                                                autocomplete="off"
                                            />
                                        </mat-form-field>
                                    </div>
                                </div>
                            </ng-template>
                        </mat-tab>

                        <!-- <mat-tab label="Location" *ngIf="pageType !== 'new'">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div fxFlex fxLayout="column">
                                    <div class="address h4 py-24">
                                        377 E South Omaha Bridge Rd, Council Bluffs, IA 51501, USA
                                    </div>

                                    <agm-map
                                        class="w-100-p h-400"
                                        [zoom]="15"
                                        [latitude]="(attendance$ | async)?.latitude"
                                        [longitude]="(attendance$ | async)?.longitude"
                                    >
                                        <agm-marker
                                            [latitude]="(attendance$ | async)?.latitude"
                                            [longitude]="(attendance$ | async)?.longitude"
                                        >
                                        </agm-marker>
                                    </agm-map>
                                </div>
                            </div>
                        </mat-tab> -->
                    </mat-tab-group>
                </form>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>

<div class="loader" *ngIf="isLoading$ | async">
    <mat-spinner color="accent"></mat-spinner>
</div>
