/* .mat-form-field-infix {
    padding: 0.5em 0 !important;
    top: -0.25em;
}
 */

/* .custom-field-right {
    .mat-form-field {
        .mat-form-field-wrapper {
            > .mat-form-field-subscript-wrapper {
                padding: 0;
            }
        }
    }
} */

.mat-select-panel.virtual-scroll {
    max-height: 100% !important;
    overflow: inherit !important;
}

.mat-select-panel .cdk-virtual-scroll-viewport {
    max-height: 240px !important;
}

.mat-select-panel .cdk-virtual-scroll-content-wrapper {
    position: inherit !important;
    top: inherit !important;
    left: 0;
}

.viewport-select {
    height: 250px;
}
