@import 'src/@sinbad/scss/helper';

company-address-form-component {
    p {
        margin: 0;

        &.field-label {
            font-weight: 600;
        }

        &.field-value {
            color: sinbad-color('black', '80');
        }

        &.field-description {
            color: #A0A4A8;
            font-size: 12px;
            margin: 0;
        }
    }

    .mat-form-field-infix {
        border-top: 0.2em solid transparent;
    }
    .mat-form-field-wrapper {
        padding-bottom: 0px !important;
    }

    .mat-form-field-subscript-wrapper {
        position: inherit !important;
    }
    
}