<!-- CONTENT CARD (MSS SETTINGS) -->
<div >
	<!-- [ngClass]="catalogueContent" -->
  <div class="p-16 pb-28">
      <div class="font-weight-600 font-size-24 line-height-20">MSS Settings</div>
  </div>
  <div class="p-16 pt-0 pb-40 line-height-1.75">
      <form
          class="w-100-p"
          fxLayout="column"
          fxFlex
          [fxLayoutGap]="'32px'"
          novalidate
      >
				<!-- [ngClass]="formClass" -->
				<div>
					<label
						class="pr-0 font-size-14"
					>
							You can only set 1 type of must selling SKU (MSS) for each cluster
					</label>
				</div>
			
				<div *ngIf="formMode !== 'view'">
					<label fxFlexAlign="center" fxFlex="18" class="pr-0"> Select All </label>
					
					<mat-radio-group fxFlex="80" [formControl]="form.get('radioButton')">
						<mat-radio-button 
							class="pr-36" 
							[value]="'non-mss'"
						>Non-MSS</mat-radio-button>
						<mat-radio-button 
							class="pr-36" 
							[value]="'mss-only'"	
						>MSS Only</mat-radio-button>
						<mat-radio-button 
							class="pr-36" 
							[value]="'mss-core'"	
						>MSS Core</mat-radio-button>
					</mat-radio-group>
				</div>

				<div>
					<mat-table
						#table
						class="catalogue-price-table sinbad-table sinbad-table__hover"
						[dataSource]="dataSource$ | async"
						fusePerfectScrollbar
						[@animateStagger]="{ value: '50' }"
						[fusePerfectScrollbarOptions]="{
							updateOnRouteChange: true,
							suppressScrollX: true,
							wheelSpeed: 0.5,
							swipeEasing: true,
							minScrollbarLength: 40,
							maxScrollbarLength: 300
						}"
            [class.edit]="formMode | hasFormMode: 'edit'"	
						[class.sinbad-table-no-record]="!(isLoading$ | async) && (totalItem$ | async) === 0"
					>
						<!-- Selected Cluster Column -->
						<ng-container matColumnDef="selected-cluster">
							<mat-header-cell *matHeaderCellDef> Selected Cluster (n) </mat-header-cell>
							<mat-cell *matCellDef="let row">
								<p>{{ row?.name || '-' }}</p>
							</mat-cell>
						</ng-container>
						<!-- / Selected Cluster Column -->

						<!-- Non-MSS Column -->
						<ng-container matColumnDef="non-mss">
							<mat-header-cell *matHeaderCellDef> Non-MSS </mat-header-cell>
							<mat-cell *matCellDef="let row">
								<mat-radio-group [formControl]="form.get('columnRadioButton')"  fxFlex="80">
									<mat-radio-button 
										(click)="mssTypeColumnClick(row, 'non-mss')"
										[checked]="selectedData[row.id] && selectedData[row.id].nonMss" 
										class="pr-36" 
										[value]="'non-mss-table'"
									></mat-radio-button>
								</mat-radio-group>
							</mat-cell>
						</ng-container>
						<!-- / Non-MSS Column -->

						<!-- MSS Only Column -->
						<ng-container matColumnDef="mss-only">
							<mat-header-cell *matHeaderCellDef> MSS Only </mat-header-cell>
							<mat-cell *matCellDef="let row">
								<mat-radio-group [formControl]="form.get('columnRadioButton')"  fxFlex="80">
									<mat-radio-button 
										(click)="mssTypeColumnClick(row, 'mss-only')"
										[checked]="selectedData[row.id] && selectedData[row.id].mssOnly" 
										class="pr-36" 
										[value]="'non-mss-table'"
									></mat-radio-button>
								</mat-radio-group>
							</mat-cell>
						</ng-container>
						<!-- / MSS Only Column -->

						<!-- MSS Core Column -->
						<ng-container matColumnDef="mss-core">
							<mat-header-cell *matHeaderCellDef> MSS Core </mat-header-cell>
							<mat-cell *matCellDef="let row">
								<mat-radio-group [formControl]="form.get('columnRadioButton')"  fxFlex="80">
									<mat-radio-button 
										(click)="mssTypeColumnClick(row, 'mss-core')"
										[checked]="selectedData[row.id] && selectedData[row.id].mssCore" 
										class="pr-36" 
										[value]="'non-mss-table'"
									></mat-radio-button>
								</mat-radio-group>
							</mat-cell>
						</ng-container>
						<!-- / MSS Core Column -->
	
						<!-- No Record Column -->
						<ng-container matColumnDef="no-record">
								<mat-footer-cell *matFooterCellDef colspan="2">
									No Store Cluster Selected
								</mat-footer-cell>
						</ng-container>
						<!-- / No Record Column -->

						<mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
						<mat-footer-row
								*matFooterRowDef="['no-record']"
								[fxShow]="!(isLoading$ | async) && (totalItem$ | async) === 0"
						></mat-footer-row>

						<mat-row
								*matRowDef="let row; columns: displayedColumns"
						></mat-row>

					</mat-table>

					<mat-paginator
						[disabled]="!(isLoading$ | async) && (totalItem$ | async) === 0"
						[length]="totalItem$ | async"
						[pageSize]="defaultPageSize"
						[pageSizeOptions]="defaultPageOpts"
						(page)="onChangePage($event)"
						showFirstLastButtons
					>
					</mat-paginator>

				</div>
      </form>
  </div>
</div>
<!-- / CONTENT CARD (MSS SETTINGS) -->
