<div class="dialog-content-wrapper">
    <mat-toolbar class="m-0" [ngClass]="cssToolbar">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ dialogTitle }}</span>
            <button type="button" mat-icon-button aria-label="Close Dialog" (click)="onClose()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-16 pb-0 m-0 mat-typography" fusePerfectScrollbar>
        <mat-tab-group color="accent" fxLayout="column" fxFlex>
            <mat-tab
                *ngFor="let tab of tabs; let idx = index"
                [label]="tab.label"
                [disabled]="tab.disabled"
            >
                <ng-template matTabContent>
                    <div class="tab-content p-16" fusePerfectScrollbar>
                        <ng-container [ngSwitch]="tab.id">
                            <ng-container *ngSwitchCase="'import'">
                                <ng-container
                                    *ngTemplateOutlet="mainImport; context: importContext"
                                ></ng-container>
                            </ng-container>

                            <ng-container *ngSwitchCase="'import-history'">
                                <ng-container
                                    *ngTemplateOutlet="importHistory; context: importContext"
                                ></ng-container>
                            </ng-container>

                            <ng-container *ngSwitchCase="'template-history'">
                                <ng-container
                                    *ngTemplateOutlet="templateHistory; context: importContext"
                                ></ng-container>
                            </ng-container>

                            <ng-container *ngSwitchDefault>
                                <ng-container *ngTemplateOutlet="notFoundPage"></ng-container>
                            </ng-container>
                        </ng-container>
                    </div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>

        <!--  <form
            autocomplete="off"
            id="filter-form"
            [formGroup]="form"
            (ngSubmit)="onSubmit()"
            class="w-100-p"
            fxLayout="column"
            fxLayoutGap="10px"
            fxFlex
            novalidate
        >
            <div
                fxFlex="1 0 auto"
                fxLayout="column"
                fxLayoutAlign="center end"
                style="margin-bottom: 1em;"
            >
                <mat-slide-toggle formControlName="today" (change)="onChangeToday($event)">
                    Today
                </mat-slide-toggle>
            </div>

            <div fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">
                <mat-form-field
                    appearance="outline"
                    floatLabel="always"
                    class="pr-sm-8"
                    fxFlex="50"
                >
                    <mat-label>Start Date</mat-label>
                    <input
                        matInput
                        [matDatepicker]="startDatePicker"
                        [min]="minStartDate"
                        [max]="maxStartDate"
                        name="start"
                        (dateChange)="onChangeDate($event, 'startDate')"
                        required
                        formControlName="start"
                    />
                    <mat-datepicker-toggle
                        matSuffix
                        [for]="startDatePicker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #startDatePicker touchUi></mat-datepicker>

                    <mat-error
                        *ngIf="
                            form.get('start').errors &&
                            (form.get('start').dirty || form.get('start').touched)
                        "
                    >
                        {{ getErrorMessage('start') }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field
                    appearance="outline"
                    floatLabel="always"
                    class="pl-sm-8"
                    fxFlex="50"
                >
                    <mat-label>End Date</mat-label>
                    <input
                        matInput
                        [matDatepicker]="endDatePicker"
                        [min]="minEndDate"
                        [max]="maxEndDate"
                        name="end"
                        required
                        formControlName="end"
                    />
                    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #endDatePicker touchUi></mat-datepicker>

                    <mat-error
                        *ngIf="
                            form.get('end').errors &&
                            (form.get('end').dirty || form.get('end').touched)
                        "
                    >
                        {{ getErrorMessage('end') }}
                    </mat-error>
                </mat-form-field>
            </div>
        </form> -->
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <!-- <button
            type="submit"
            mat-flat-button
            color="accent"
            [disabled]="form.invalid"
            aria-label="EXPORT"
            form="filter-form"
        >
            EXPORT
        </button> -->
    </div>
</div>

<ng-template #mainImport let-pageType>
    <app-main-import [pageType]="pageType"></app-main-import>
</ng-template>

<ng-template #importHistory let-pageType>
    <app-import-history [pageType]="pageType"></app-import-history>
</ng-template>

<ng-template #templateHistory let-pageType>
    <app-template-history [pageType]="pageType"></app-template-history>
</ng-template>

<ng-template #notFoundPage>
    Page not found.
</ng-template>
