<mat-table
    class="billing-list-table sinbad-table"
    [class.sinbad-table-no-record]="!(isLoading$ | async) && (totalDataSource$ | async) === 0"
    #table
    [dataSource]="dataSource$ | async"
    matSort
    [@animateStagger]="{ value: '50' }"
    fusePerfectScrollbar
>
    <!-- External Id Column -->
    <ng-container matColumnDef="finance-external-id">
        <mat-header-cell *matHeaderCellDef> External Id </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <p style="word-break: break-word">
                {{ row?.paymentCollectionMethod.principal.externalId || '-' }}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Store Name Column -->
    <ng-container matColumnDef="finance-store-name">
        <mat-header-cell *matHeaderCellDef> Store Name</mat-header-cell>
        <mat-cell *matCellDef="let row">
            <p style="word-break: break-word">
                {{ row?.billing.orderParcel.order.store.name || '-' }}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Order Code Column -->
    <ng-container matColumnDef="finance-order-code">
        <mat-header-cell *matHeaderCellDef> Order Code </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <p style="word-break: break-word">
                {{ row?.billing.orderParcel.orderCode || '-' }}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Order Ref Column -->
    <ng-container matColumnDef="finance-order-ref">
        <mat-header-cell *matHeaderCellDef> Order Ref </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <p style="word-break: break-word">{{ row?.billing.orderParcel.orderRef || '-' }}</p>
        </mat-cell>
    </ng-container>

    <!-- Total Amount Column -->
    <ng-container matColumnDef="finance-total-amount">
        <mat-header-cell *matHeaderCellDef> Total Amount </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <p style="word-break: break-word">
                {{
                    numberFormatFromString(row?.billing.orderParcel.deliveredParcelFinalPriceBuyer)
                }}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Order Due Date Column -->
    <ng-container matColumnDef="finance-order-due-date">
        <mat-header-cell *matHeaderCellDef> Order Due Date </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <p style="word-break: break-word">
                {{ (row?.billing.orderParcel.orderDueDate | date: 'dd MMM yyyy') || '-' }}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Payment Status Column -->
    <ng-container matColumnDef="finance-payment-status">
        <mat-header-cell *matHeaderCellDef> Payment Status </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <p style="word-break: break-word">
                {{
                    row?.billing.orderParcel.paymentStatus === 'paid'
                        ? 'Paid'
                        : row?.billing.orderParcel.paymentStatus === 'waiting_for_payment'
                        ? 'Waiting For Payment'
                        : row?.billing.orderParcel.paymentStatus === 'overdue'
                        ? 'Overdue'
                        : (row?.billing.orderParcel.paymentStatus | titlecase) || '-'
                }}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Sales Rep Column -->
    <ng-container matColumnDef="finance-sales-rep">
        <mat-header-cell *matHeaderCellDef> Sales Rep </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <p style="word-break: break-word">
                {{ row?.paymentCollectionMethod.user.fullName || '-' }}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Collection Code Column -->
    <ng-container matColumnDef="finance-collect-code">
        <mat-header-cell *matHeaderCellDef> Collection Code </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <p style="word-break: break-word">
                {{ row?.paymentCollectionMethod.collectionCode || '-' }}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Collection Ref No Column -->
    <ng-container matColumnDef="finance-collection-ref">
        <mat-header-cell *matHeaderCellDef> Collection Ref No </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <p style="word-break: break-word">
                {{ row?.paymentCollectionMethod.collectionRef || '-' }}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Collection Total Amount Column -->
    <ng-container matColumnDef="finance-collection-amount">
        <mat-header-cell *matHeaderCellDef> Collection Total Amount </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <p style="word-break: break-word">
                {{ numberFormat(row?.paymentCollectionMethod.amount) }}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Collection Date Column -->
    <ng-container matColumnDef="finance-collection-date">
        <mat-header-cell *matHeaderCellDef> Collection Date </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <p style="word-break: break-word">
                {{ (row?.paymentCollectionMethod.createdAt | date: 'dd MMM yyyy') || '-' }}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Collection Status Column -->
    <ng-container matColumnDef="finance-collection-status">
        <mat-header-cell *matHeaderCellDef> Collection Status </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <p style="word-break: break-word">
                {{
                    row?.paymentCollectionMethod.approvalStatus === 'pending'
                        ? 'Pending'
                        : row?.paymentCollectionMethod.approvalStatus === 'waiting'
                        ? 'Waiting'
                        : row?.paymentCollectionMethod.approvalStatus === 'approved'
                        ? 'Approved'
                        : row?.paymentCollectionMethod.approvalStatus === 'rejected'
                        ? 'Rejected'
                        : (row?.paymentCollectionMethod.approvalStatus | titlecase) || '-'
                }}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Billing Code Column -->
    <ng-container matColumnDef="finance-billing-code">
        <mat-header-cell *matHeaderCellDef> Billing Code </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <p style="word-break: break-word">{{ row?.billingPaymentCode || '-' }}</p>
        </mat-cell>
    </ng-container>

    <!-- Billing Amount Column -->
    <ng-container matColumnDef="finance-bill-amount">
        <mat-header-cell *matHeaderCellDef> Billing Amount</mat-header-cell>
        <mat-cell *matCellDef="let row">
            <p style="word-break: break-word">
                {{ numberFormat(row?.paidByCollectionMethod) }}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Materai Column -->
    <ng-container matColumnDef="finance-materai">
        <mat-header-cell *matHeaderCellDef> Materai </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <p style="word-break: break-word">{{ numberFormat(row?.stampNominal) }}</p>
        </mat-cell>
    </ng-container>

    <!-- Total Billing Amount Column -->
    <ng-container matColumnDef="finance-total-bill-amount">
        <mat-header-cell *matHeaderCellDef> Total Billing Amount</mat-header-cell>
        <mat-cell *matCellDef="let row">
            <p style="word-break: break-word">{{ numberFormat(row?.paidAmount) }}</p>
        </mat-cell>
    </ng-container>

    <!-- Billing Date Column -->
    <ng-container matColumnDef="finance-bill-date">
        <mat-header-cell *matHeaderCellDef> Billing Date</mat-header-cell>
        <mat-cell *matCellDef="let row">
            <p style="word-break: break-word">
                {{ (row?.billing.orderParcel.orderDueDate | date: 'dd MMM yyyy') || '-' }}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Billing Status Column -->
    <ng-container matColumnDef="finance-bill-status">
        <mat-header-cell *matHeaderCellDef> Billing Status</mat-header-cell>
        <mat-cell *matCellDef="let row">
            <p style="word-break: break-word">
                {{
                    row?.billing.status === 'pending'
                        ? 'Pending'
                        : row?.billing.status === 'waiting'
                        ? 'Waiting'
                        : row?.billing.status === 'approved'
                        ? 'Approved'
                        : row?.billing.status === 'rejected'
                        ? 'Rejected'
                        : (row?.billing.status | titlecase) || '-'
                }}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Reason Column -->
    <ng-container matColumnDef="finance-reason">
        <mat-header-cell *matHeaderCellDef> Reason </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <p style="word-break: break-word">{{ row?.reason || '-' }}</p>
        </mat-cell>
    </ng-container>

    <!-- No Record Column -->
    <ng-container matColumnDef="no-record">
        <mat-footer-cell *matFooterCellDef colspan="8"> No records found </mat-footer-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumnsBilling; sticky: true"></mat-header-row>

    <mat-row
        *matRowDef="let row; columns: displayedColumnsBilling"
        class="sinbad-billing-list-item"
        [routerLink]="[row?.id, 'detail']"
        (click)="openDetailCollectionStatus(row)"
    ></mat-row>

    <mat-footer-row
    *matFooterRowDef="['no-record']"
    [fxShow]="!(isLoading$ | async) && (totalDataSource$ | async) === 0"
></mat-footer-row>
</mat-table>

<div
class="loader-content"
*ngIf="(isLoading$ | async) && (!(totalDataSource$ | async) || (totalDataSource$ | async))"
>
<mat-spinner color="accent"></mat-spinner>
</div>

<mat-paginator
[disabled]="
    ((isLoading$ | async) && !(totalDataSource$ | async)) ||
    (!(isLoading$ | async) && (totalDataSource$ | async) === 0)
"
[length]="totalDataSource$ | async"
[pageSize]="defaultPageSize"
[pageSizeOptions]="defaultPageOpts"
showFirstLastButtons
></mat-paginator>
