<!-- CONTENT CARD (INFORMASI PRODUK) -->
<div [ngClass]="catalogueContent">
    <div class="p-16 pb-28">
        <div class="font-weight-500 font-size-20 line-height-20 mt-10">Customer Segmentation Settings</div>
    </div>

    <div class="p-16 pt-0 pb-60 line-height-1.75">
        <form class="w-100-p" [formGroup]="form" fxLayout="column" fxFlex [fxLayoutGap]="isViewMode() ? '32px' : '5px'" novalidate>
            <!-- *HIDDEN* ID -->
            <input
                hidden
                name="id"
                formControlName="id"
            />
            <!-- / *HIDDEN* ID -->
            <!-- SEGMENTATION BASE -->
            <div
                [ngClass]="formClass"
                fxLayout="row"
                fxLayoutAlign="start stretch"
            >
                <label
                    fxFlexAlign="center"
                    fxFlex="12"
                    class="pr-0 form-label"
                    [class.mat-error]="!isViewMode() && hasError(form.get('segmentationBase'))"
                >
                    <span
                        class="sinbad-red-fg"
                    >* </span>Segmentation<br/>Base
                </label>

                <mat-radio-group formControlName="segmentationBase" [fxFlex]="formFieldLength" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
                    <mat-radio-button value="direct-store"> Direct Store </mat-radio-button>
                    <!-- <mat-radio-button value="segmentation" disabled> Segmentation </mat-radio-button> -->
                </mat-radio-group>
            </div>
            <!-- / SEGMENTATION BASE -->
            <!-- CHOSEN STORE -->
            <div
                [ngClass]="formClass"
                fxLayout="row"
                fxLayoutAlign="start stretch"
                [fxHide]="form.get('segmentationBase').value !== 'direct-store'"
                *ngIf="!isViewMode()"
            >
                <label
                    [fxFlexAlign]="!isViewMode() ? 'center' : 'start'"
                    fxFlex="12"
                    class="pr-0 form-label"
                    [class.mat-error]="!isViewMode() && hasError(form.get('chosenStore'))"
                >
                    Chosen Store<br/>({{ form.get('chosenStore').value?.length || '0' }} Selected)
                </label>

                <select-supplier-stores
                    [initialSelection]="form.get('chosenStore').value || []"
                    placeholder="Choose Store"
                    [required]="false"
                    [fxFlex]="formFieldLength"
                    (selected)="onStoreSelected($event)"
                    [segmentBases]="'store'"
                    [typePromo]="typePromo"
                    [catalogueIdSelect]="catalogueIdSelected"
                    [brandIdSelect]="brandIdSelected"
                    [fakturIdSelect]="fakturIdSelected"
                    [typeTrigger]="triggerSelected"
                >
                    <div error>
                        {{ getFormError(form.get('chosenStore')) }}
                    </div>
                </select-supplier-stores>
            </div>
            <div 
                [ngClass]="formClass"
                fxLayout="column"
                fxLayoutAlign="start stretch"
                [fxHide]="form.get('segmentationBase').value !== 'direct-store'"
                fxLayout="column" 
            >
                <!-- <span class="form-value" *ngFor="let data of form.get('chosenStore').value">
                    {{ (data?.store?.name | uppercase) || '-' }}
                </span> -->
                <div>
                    <div class="pb-28" *ngIf="isViewMode()">
                        <div class="font-weight-500 font-size-20 line-height-20 mt-10">Stores Selected</div>
                    </div>
                    
                    <div
                        class="pl-12 pr-12"
                        fxLayout="row"
                        fxLayoutGap="24px"
                        fxLayoutAlign="flex-end flex-end"
                        *ngIf="isViewMode()"
                    >
                        <!-- LABEL -->
                        <p fxFlexAlign="center">Find:</p>
                        <!-- / LABEL -->
                        <!-- SEARCH -->
                        <sinbad-search-bar 
                        style="align-self: center;
                        box-sizing: border-box;
                        border: solid 1px lightgray;
                        border-radius: 4px;
                        display: flex;"
                        (changed)="onSearch($event)"
                        ></sinbad-search-bar>
                        <!-- / SEARCH -->
                    </div>

                    <mat-table
                        *ngIf="isViewMode()"
                        class="voucher-store-list-table sinbad-table"
                        [class.sinbad-table-no-record]="!(isLoading$ | async) && (totalDataSource$ | async) === 0"
                        #table
                        [dataSource]="dataSource$ | async"
                        matSort
                        [@animateStagger]="{ value: '50' }"
                        fusePerfectScrollbar
                    >
                        <!-- External Id Column -->
                        <ng-container matColumnDef="external-id">
                            <mat-header-cell *matHeaderCellDef> External ID </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <p style="word-break: break-word">{{ row?.externalId || '-' }}</p>
                            </mat-cell>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <p style="word-break: break-word">{{ row?.name || '-' }}</p>
                            </mat-cell>
                        </ng-container>

                        <!-- Address Column -->
                        <ng-container matColumnDef="address">
                            <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <p style="word-break: break-word">{{ row?.address || '-' }}</p>
                            </mat-cell>
                        </ng-container>

                        <!-- No Record Column -->
                        <ng-container matColumnDef="no-record">
                            <mat-footer-cell *matFooterCellDef colspan="8"> No records found </mat-footer-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>

                        <mat-row
                            *matRowDef="let row; columns: displayedColumns"
                            class="sinbad-voucher-list-item"
                        ></mat-row>

                        <mat-footer-row
                            *matFooterRowDef="['no-record']"
                            [fxShow]="!(isLoading$ | async) && (totalDataSource$ | async) === 0"
                        ></mat-footer-row>
                    </mat-table>

                    <div
                        class="loader-content"
                        *ngIf="(isLoading$ | async) && (!(totalDataSource$ | async) || (totalDataSource$ | async))"
                    >
                        <mat-spinner color="accent"></mat-spinner>
                    </div>

                    <mat-paginator
                        [fxHide]="isViewMode() ? ((isLoading$ | async) || (totalDataSource$ | async) === 0) : true"
                        [length]="totalDataSource$ | async"
                        [pageSize]="defaultPageSize"
                        [pageSizeOptions]="defaultPageOpts"
                        (page)="onPageChange($event)"
                        showFirstLastButtons
                    ></mat-paginator>
                </div>
                
            </div>
            <!-- / CHOSEN STORE -->
            <!-- CHOSEN SEGMENTATION -->
            <div
                fxLayout="column"
                fxLayoutGap="20px"
                fxLayoutAlign="start stretch"
                [fxHide]="form.get('segmentationBase').value !== 'segmentation'"
            >
                <!-- WAREHOUSE -->
                <!-- <div
                    [ngClass]="formClass"
                    fxLayout="row"
                    fxLayoutAlign="start stretch"
                >
                    <label
                        [fxFlexAlign]="!isViewMode() ? 'center' : 'start'"
                        fxFlex="12"
                        class="pr-0 form-label"
                        [class.mat-error]="!isViewMode() && hasError(form.get('chosenWarehouse'))"
                    >
                        Warehouse<br/>({{ form.get('chosenWarehouse').value?.length || '0' }} Selected)
                    </label>

                    <select-warehouses
                        *ngIf="!isViewMode()"
                        [initialSelection]="chosen$[1] | async"
                        placeholder="Choose Warehouse"
                        [required]="false"
                        [fxFlex]="formFieldLength"
                        (selected)="onWarehouseSelected($event)"
                    >
                        <div error>
                            {{ getFormError(form.get('chosenWarehouse')) }}
                        </div>
                    </select-warehouses>
                    
                    <div fxLayout="column" [fxFlex]="formFieldLength" *ngIf="isViewMode()">
                        <span class="form-value" *ngFor="let data of form.get('chosenWarehouse').value">
                            {{ (data?.warehouse?.name | uppercase) || '-' }}
                        </span>
                    </div>
                </div> -->
                <!-- / WAREHOUSE -->
                <!-- STORE TYPE -->
                <!-- <div
                    [ngClass]="formClass"
                    fxLayout="row"
                    fxLayoutAlign="start stretch"
                >
                    <label
                        [fxFlexAlign]="!isViewMode() ? 'center' : 'start'"
                        fxFlex="12"
                        class="pr-0 form-label"
                        [class.mat-error]="!isViewMode() && hasError(form.get('chosenStoreType'))"
                    >
                        Store Type<br/>({{ form.get('chosenStoreType').value?.length || '0' }} Selected)
                    </label>

                    <select-store-segmentation
                        placeholder="Choose Store Type"
                        title="Select Store Type"
                        *ngIf="!isViewMode()"
                        [initialSelection]="chosen$[2] | async"
                        segmentationType="type"
                        [required]="false"
                        [fxFlex]="formFieldLength"
                        (selected)="onStoreTypeSelected($event)"
                    >
                        <div error>
                            {{ getFormError(form.get('chosenStoreType')) }}
                        </div>
                    </select-store-segmentation>
                    
                    <div fxLayout="column" [fxFlex]="formFieldLength" *ngIf="isViewMode()">
                        <span class="form-value" *ngFor="let data of form.get('chosenStoreType').value">
                            {{ (data?.type?.name | uppercase) || '-' }}
                        </span>
                    </div>
                </div> -->
                <!-- / STORE TYPE -->
                <!-- STORE GROUP -->
                <!-- <div
                    [ngClass]="formClass"
                    fxLayout="row"
                    fxLayoutAlign="start stretch"
                >
                    <label
                        [fxFlexAlign]="!isViewMode() ? 'center' : 'start'"
                        fxFlex="12"
                        class="pr-0 form-label"
                        [class.mat-error]="!isViewMode() && hasError(form.get('chosenStoreGroup'))"
                    >
                        Store Group<br/>({{ form.get('chosenStoreGroup').value?.length || '0' }} Selected)
                    </label>

                    <select-store-segmentation
                        placeholder="Choose Store Group"
                        title="Select Store Group"
                        *ngIf="!isViewMode()"
                        [initialSelection]="chosen$[3] | async"
                        segmentationType="group"
                        [required]="false"
                        [fxFlex]="formFieldLength"
                        (selected)="onStoreGroupSelected($event)"
                    >
                        <div error>
                            {{ getFormError(form.get('chosenStoreGroup')) }}
                        </div>
                    </select-store-segmentation>
                    
                    <div fxLayout="column" [fxFlex]="formFieldLength" *ngIf="isViewMode()">
                        <span class="form-value" *ngFor="let data of form.get('chosenStoreGroup').value">
                            {{ (data?.group?.name | uppercase) || '-' }}
                        </span>
                    </div>
                </div> -->
                <!-- / STORE GROUP -->
                <!-- STORE CHANNEL -->
                <!-- <div
                    [ngClass]="formClass"
                    fxLayout="row"
                    fxLayoutAlign="start stretch"
                >
                    <label
                        [fxFlexAlign]="!isViewMode() ? 'center' : 'start'"
                        fxFlex="12"
                        class="pr-0 form-label"
                        [class.mat-error]="!isViewMode() && hasError(form.get('chosenStoreChannel'))"
                    >
                        Store Channel<br/>({{ form.get('chosenStoreChannel').value?.length || '0' }} Selected)
                    </label>

                    <select-store-segmentation
                        placeholder="Choose Store Channel"
                        title="Select Store Channel"
                        *ngIf="!isViewMode()"
                        [initialSelection]="chosen$[4] | async"
                        segmentationType="channel"
                        [required]="false"
                        [fxFlex]="formFieldLength"
                        (selected)="onStoreChannelSelected($event)"
                    >
                        <div error>
                            {{ getFormError(form.get('chosenStoreChannel')) }}
                        </div>
                    </select-store-segmentation>
                    
                    <div fxLayout="column" [fxFlex]="formFieldLength" *ngIf="isViewMode()">
                        <span class="form-value" *ngFor="let data of form.get('chosenStoreChannel').value">
                            {{ (data?.channel?.name | uppercase) || '-' }}
                        </span>
                    </div>
                </div> -->
                <!-- / STORE CHANNEL -->
                <!-- STORE CLUSTER -->
                <!-- <div
                    [ngClass]="formClass"
                    fxLayout="row"
                    fxLayoutAlign="start stretch"
                >
                    <label
                        [fxFlexAlign]="!isViewMode() ? 'center' : 'start'"
                        fxFlex="12"
                        class="pr-0 form-label"
                        [class.mat-error]="!isViewMode() && hasError(form.get('chosenStoreCluster'))"
                    >
                        Store Cluster<br/>({{ form.get('chosenStoreCluster').value?.length || '0' }} Selected)
                    </label>

                    <select-store-segmentation
                        placeholder="Choose Store Cluster"
                        title="Select Store Cluster"
                        *ngIf="!isViewMode()"
                        [initialSelection]="chosen$[5] | async"
                        segmentationType="cluster"
                        [required]="false"
                        [fxFlex]="formFieldLength"
                        (selected)="onStoreClusterSelected($event)"
                    >
                        <div error>
                            {{ getFormError(form.get('chosenStoreCluster')) }}
                        </div>
                    </select-store-segmentation>
                    
                    <div fxLayout="column" [fxFlex]="formFieldLength" *ngIf="isViewMode()">
                        <span class="form-value" *ngFor="let data of form.get('chosenStoreCluster').value">
                            {{ (data?.cluster?.name | uppercase) || '-' }}
                        </span>
                    </div>
                </div> -->
                <!-- / STORE CLUSTER -->
            </div>
            <!-- / CHOSEN SEGMENTATION -->
        </form>
    </div>
</div>
<!-- / CONTENT CARD (INFORMASI PRODUK) -->