// .mat-column-name, .mat-column-price, .mat-column-stock, .mat-column-sku {
//     flex: 0 0 25%;
// }
app-catalogues-form {
    #catalogues-form {
        quill-editor {
            max-width: 100%;
            min-width: 100%;
        }

        .ql-container {
            min-height: 100px !important;

            // .ql-editor {
            //     padding-top: 12px;
            //     padding-right: 15px;
            //     padding-left: 15px;
            //     padding-bottom: 0px;
            // }
        }

        mat-radio-group {
            padding-top: 0.75em;
        }

        mat-form-field.no-padding {
            .mat-form-field-wrapper {
                padding-bottom: 0px !important;
            }
        }

        .img-container {
            width: 100px; /*any size*/
            height: 100px; /*any size*/

            .fit-image {
                width: 100%;
                height: 100%;
                object-fit: cover; /*magic*/
            }
        }
    }
}