// .mat-column-name, .mat-column-price, .mat-column-stock, .mat-column-sku {
//     flex: 0 0 25%;
// }
app-catalogues-form {
    #catalogues-form {
        quill-editor {
            max-width: 100%;
            min-width: 100%;
        }

        mat-radio-group {
            padding-top: 0.75em;
        }
    }
}