<div
    id="catalogue-segmentation-detail-page"
    class="page-layout carded fullwidth tabbed inner-scroll"
>
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <button type="button" mat-icon-button class="mr-0 mr-sm-16" backButton>
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div
                    fxLayout="column"
                    fxLayoutAlign="start start"
                    [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
                >
                    <div class="h2">
                        <ng-container *ngIf="!isLoading">
                            {{ catalogueSegmentation?.name || '-' }}
                        </ng-container>

                        <ngx-skeleton-loader
                            [theme]="{ width: '100px', height: '25px', 'margin-bottom': '-5px' }"
                            *ngIf="isLoading"
                        ></ngx-skeleton-loader>
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Catalogue Segmentation Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <ng-template [ngxPermissionsOnly]="['CATALOGUE.UPDATE']">
                <!-- [routerLink]="['../', 'edit']" -->
                <button
                    type="button"
                    mat-raised-button
                    class="accent-fg"
                    (click)="onEdit()"
                    *ngIf="!isLoadingCombine && formMode === 'view'"
                >
                    <span>Edit</span>
                </button>
            </ng-template>

            <ngx-skeleton-loader
                [theme]="{ width: '75px', height: '35px', 'margin-bottom': '-5px' }"
                *ngIf="isLoadingCombine && formMode === 'view'"
            ></ngx-skeleton-loader>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content">
                <mat-tab-group
                    [(selectedIndex)]="selectedIndex"
                    color="accent"
                    fxLayout="column"
                    fxFlex
                >
                    <mat-tab
                        label="Segmentation Information"
                        [disabled]="selectedIndex !== 0 && formMode === 'edit'"
                    >
                        <ng-template matTabContent>
                            <div class="tab-content p-16 pb-0" fusePerfectScrollbar>
                                <!-- <app-catalogue-segmentation-detail
                                    [formMode]="formMode"
                                    [item]="catalogueSegmentation$ | async"
                                    [isLoading]="isLoading$ | async"
                                    (loadingCatalogueList)="onSetLoadingCatalogueList($event)"
                                ></app-catalogue-segmentation-detail> -->

                                <app-catalogue-segmentation-information-tab
                                    [form]="form"
                                    [formMode]="formMode"
                                    (formModeChange)="onHandleFooter()"
                                    [item]="catalogueSegmentation$ | async"
                                    [isLoading]="isLoading$ | async"
                                    (formStatus)="onSetFormStatus($event)"
                                    (updateFormValue)="
                                        updateCatalogueSegmentationInfoFormDto = $event
                                    "
                                ></app-catalogue-segmentation-information-tab>
                            </div>
                        </ng-template>
                    </mat-tab>

                    <mat-tab
                        label="Assign SKU"
                        [disabled]="selectedIndex !== 1 && formMode === 'edit'"
                    >
                        <ng-template matTabContent>
                            <div class="tab-content p-16 pb-0" fusePerfectScrollbar>
                                <app-catalogue-segmentation-assign-sku-tab
                                    [form]="form"
                                    [formMode]="formMode"
                                    (formModeChange)="onHandleFooter()"
                                    [item]="catalogueSegmentation$ | async"
                                    [isLoading]="isLoading$ | async"
                                    (loadingCatalogueList)="onSetLoadingCatalogueList($event)"
                                ></app-catalogue-segmentation-assign-sku-tab>
                            </div>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
