<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">
                Filter Export {{ getExportFilterDialogTitle() }}
            </span>
            <button type="button" mat-icon-button aria-label="Close Dialog" (click)="onClose()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <!-- <ng-container [ngSwitch]="data.page">
        <div *ngSwitchCase="'orders'" mat-dialog-content class="p-16 pb-0 m-0 mat-typography" fusePerfectScrollbar>

        </div>
    </ng-container> -->
    <div class="mat-dialog-content p-16 pb-0 m-0 mat-typography" fusePerfectScrollbar>
        <form
            autocomplete="off"
            id="filter-form"
            [formGroup]="form"
            (ngSubmit)="onSubmit()"
            class="w-100-p"
            fxLayout="column"
            fxLayoutGap="10px"
            fxFlex
            novalidate
        >
            <div
                fxFlex="1 0 auto"
                fxLayout="column"
                fxLayoutAlign="center end"
                style="margin-bottom: 1em;"
                *ngIf="form.get('isToday')"
            >
                <mat-slide-toggle formControlName="isToday" (change)="onChangeToday($event)">
                    Today
                </mat-slide-toggle>
            </div>

            <mat-form-field
                *ngIf="activeConfiguration?.filterAspect?.status"
                appearance="outline"
                floatLabel="always"
                class="w-100-p"
            >
                <mat-label>
                    {{ activeConfiguration?.filterAspect?.status?.label || 'Status' }}
                </mat-label>
                <ng-container *ngIf="statusSources; else noStatusSources">
                    <mat-select
                        formControlName="status"
                        [placeholder]="
                            activeConfiguration?.filterAspect?.status?.placeholder ||
                            'Choose Status'
                        "
                        [required]="activeConfiguration?.filterAspect?.status?.required"
                    >
                        <mat-option>(None)</mat-option>
                        <mat-option *ngFor="let row of statusSources" [value]="row?.id">
                            {{ row?.label }}
                        </mat-option>
                    </mat-select>
                </ng-container>

                <ng-template #noStatusSources>
                    <mat-select
                        [placeholder]="
                            activeConfiguration?.filterAspect?.status?.placeholder ||
                            'Choose Status'
                        "
                    >
                        <mat-option
                            >{{ activeConfiguration?.filterAspect?.status?.label || 'Status' }} not
                            found</mat-option
                        >
                    </mat-select>
                </ng-template>

                <mat-error *ngIf="hasError(form.get('status'))">
                    {{ getFormError(form.get('status')) }}
                </mat-error>
            </mat-form-field>

            <div
                fxFlex="1 0 auto"
                fxLayout="column"
                fxLayout.gt-xs="row"
                *ngIf="activeConfiguration?.filterAspect?.rangeDate"
            >
                <mat-form-field
                    appearance="outline"
                    floatLabel="always"
                    class="pr-sm-8"
                    fxFlex="50"
                >
                    <mat-label>
                        Start Date
                    </mat-label>
                    <input
                        matInput
                        [matDatepicker]="startDatePicker"
                        formControlName="startDate"
                        [min]="minStartDate"
                        [max]="maxStartDate"
                        name="start"
                        (dateChange)="onChangeDate($event, 'startDate')"
                        required
                        *ngIf="isRequired('rangeDate')"
                    />
                    <input
                        matInput
                        [matDatepicker]="startDatePicker"
                        formControlName="startDate"
                        [min]="minStartDate"
                        [max]="maxStartDate"
                        name="start"
                        (dateChange)="onChangeDate($event, 'startDate')"
                        *ngIf="!isRequired('rangeDate')"
                    />
                    <mat-datepicker-toggle
                        matSuffix
                        [for]="startDatePicker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #startDatePicker touchUi></mat-datepicker>

                    <mat-error *ngIf="hasError(form.get('startDate'))">
                        {{ getFormError(form.get('startDate')) }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field
                    appearance="outline"
                    floatLabel="always"
                    class="pl-sm-8"
                    fxFlex="50"
                >
                    <mat-label>
                        End Date
                    </mat-label>
                    <input
                        matInput
                        [matDatepicker]="endDatePicker"
                        formControlName="endDate"
                        [min]="minEndDate"
                        [max]="maxEndDate"
                        name="end"
                        required
                        *ngIf="isRequired('rangeDate')"
                    />
                    <input
                        matInput
                        [matDatepicker]="endDatePicker"
                        formControlName="endDate"
                        [min]="minEndDate"
                        [max]="maxEndDate"
                        name="end"
                        *ngIf="!isRequired('rangeDate')"
                    />
                    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #endDatePicker touchUi></mat-datepicker>

                    <mat-error *ngIf="hasError(form.get('endDate'))">
                        {{ getFormError(form.get('endDate')) }}
                    </mat-error>
                </mat-form-field>
            </div>
        </form>
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button
            type="submit"
            mat-flat-button
            color="accent"
            [disabled]="form.invalid"
            aria-label="Export"
            form="filter-form"
        >
            Start Export
        </button>
    </div>
</div>
