<div class="box-container" fxLayout="column" fxLayoutGap="16px" fxFlex>
    <div class="box-container__title">
        <span class="mat-headline m-0"> Delivery Status </span>
    </div>

    <div class="box-content__container" fxLayout="column">
        <div class="tracking-info">
            <div class="content" fxLayout="column" fxLayoutGap="20px">
                <div class="status secondary-text" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center" [class.active]="data?.status === 'checkout'">
                    <div class="delivery-status-indicator-wrap" fxLayoutAlign="center center">
                        <div class="delivery-status-indicator"></div>
                        <div class="s-line"></div>
                    </div>
                    <div class="delivery-status-header">Quotation</div>
                </div>

                <div class="status secondary-text" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center" [class.active]="data?.status === 'pending'">
                    <div class="delivery-status-indicator-wrap" fxLayoutAlign="center center">
                        <div class="delivery-status-indicator"></div>
                        <div class="s-line"></div>
                    </div>
                    <div class="delivery-status-header">Awaiting to be verified</div>
                </div>

                <div
                    class="status secondary-text" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center"
                    [class.active]="data?.status === 'pending_payment'"
                >
                    <div class="delivery-status-indicator-wrap" fxLayoutAlign="center center">
                        <div class="delivery-status-indicator"></div>
                        <div class="s-line"></div>
                    </div>
                    <div class="delivery-status-header">Pending Payment</div>
                </div>

                <div class="status secondary-text" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center" [class.active]="data?.status === 'confirm'">
                    <div class="delivery-status-indicator-wrap" fxLayoutAlign="center center">
                        <div class="delivery-status-indicator"></div>
                        <div class="s-line"></div>
                    </div>
                        <div class="delivery-status-header">New Order</div>
                </div>

                <div
                    class="status secondary-text" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center"
                    [class.active]="data?.status === 'pending_supplier'"
                >
                    <div class="delivery-status-indicator-wrap" fxLayoutAlign="center center">
                        <div class="delivery-status-indicator"></div>
                        <div class="s-line"></div>
                    </div>
                    <div class="delivery-status-header">Pending Supplier</div>
                </div>

                <div class="status secondary-text" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center" [class.active]="data?.status === 'packing'">
                    <div class="delivery-status-indicator-wrap" fxLayoutAlign="center center">
                        <div class="delivery-status-indicator"></div>
                        <div class="s-line"></div>
                    </div>
                    <div class="delivery-status-header">Packed</div>
                </div>

                <div class="status secondary-text" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center" [class.active]="data?.status === 'shipping'">
                    <div class="delivery-status-indicator-wrap" fxLayoutAlign="center center">
                        <div class="delivery-status-indicator"></div>
                        <div class="s-line"></div>
                    </div>
                    <div class="delivery-status-header">Shipped</div>
                </div>

                <div class="status secondary-text" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center" [class.active]="data?.status === 'delivered'">
                    <div class="delivery-status-indicator-wrap" fxLayoutAlign="center center">
                        <div class="delivery-status-indicator"></div>
                        <div class="s-line"></div>
                    </div>
                    <div class="delivery-status-header">Delivered</div>
                </div>

                <div class="status secondary-text" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center" [class.active]="data?.status === 'done'">
                    <div class="delivery-status-indicator-wrap" fxLayoutAlign="center center">
                        <div class="delivery-status-indicator"></div>
                        <div class="s-line"></div>
                    </div>
                    <div class="delivery-status-header">Done</div>
                </div>

                <div class="status secondary-text" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center" [class.active]="data?.status === 'cancel'">
                    <div class="delivery-status-indicator-wrap" fxLayoutAlign="center center">
                        <div class="delivery-status-indicator"></div>
                    </div>
                    <div class="delivery-status-header">Canceled</div>
                    <div class="cancel-reason" fxLayoutGap="10px" *ngIf="data?.status === 'cancel'">
                        <mat-icon class="s-16">help</mat-icon>
                        <div class="cancel-reason-content-wrap">
                            <mat-icon class="s-16">signal_cellular_4_bar</mat-icon>
                            <div class="cancel-reason-content">
                                {{data?.orderCancelReason?.reason || '-'}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
