<div
    id="flexi-combo"
    class="page-layout carded fullwidth inner-scroll"
    cdkScrollable
    fusePerfectScrollbar
>
    <!-- TOP BACKGROUND -->
    <div class="accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <form
            id="flexi-combo-form"
            name="flexiComboForm"
            class="merchant pt-24 w-100-p"
            [formGroup]="form"
            fxLayout="column"
            fxFlex
            novalidate
        >
            <mat-card class="mb-24">
                <div fxLayout="column">
                    <span class="mat-headline">
                        General Information
                    </span>

                    <div class="form-box">
                        <div class="custom-field" fxLayout="row" fxLayoutAlign="start stretch">
                            <label
                                fxFlexAlign="center"
                                fxFlex="12"
                                [class.sinbad-red-fg]="hasError('promoId')"
                            >
                                Promo Seller ID
                            </label>

                            <mat-form-field appearance="outline" fxFlex="50">
                                <input matInput name="promoId" formControlName="promoId" />

                                <mat-error *ngIf="hasError('promoId', true)">
                                    {{ getErrorMessage('promoId') }}
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="custom-field" fxLayout="row" fxLayoutAlign="start stretch">
                            <label
                                fxFlexAlign="center"
                                fxFlex="12"
                                [class.sinbad-red-fg]="hasError('promoName')"
                            >
                                *Promo Name
                            </label>

                            <mat-form-field appearance="outline" fxFlex="50">
                                <input matInput name="promoName" formControlName="promoName" />

                                <mat-error *ngIf="hasError('promoName', true)">
                                    {{ getErrorMessage('promoName') }}
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="custom-field" fxLayout="row" fxLayoutAlign="start stretch">
                            <label
                                fxFlexAlign="center"
                                fxFlex="12"
                                [class.sinbad-red-fg]="hasError('platform')"
                            >
                                Platform
                            </label>

                            <mat-form-field appearance="outline" fxFlex="50">
                                <ng-container>
                                    <mat-select
                                        #invoiceSelect
                                        formControlName="platform"
                                        placeholder="Choose Platform"
                                        multiple
                                    >
                                        <!-- <mat-select-trigger>
                                            {{
                                                invoices && invoices?.length > 0
                                                    ? displayInvoices(invoiceGroups, invoices[0])
                                                    : ''
                                            }}
                                            <span
                                                *ngIf="invoices?.length > 1"
                                                class="example-additional-selection"
                                            >
                                                (+{{ invoices.length - 1 }}
                                                {{ invoices?.length === 2 ? 'other' : 'others' }})
                                            </span>
                                        </mat-select-trigger> -->
                                        <mat-option>
                                            <!-- {{ row?.name || '-' }} -->
                                        </mat-option>
                                    </mat-select>
                                </ng-container>

                                <!-- <ng-template #noInvoiceGroups>
                                    <mat-select placeholder="Faktur not found" disabled>
                                        <mat-option>None</mat-option>
                                    </mat-select>
                                </ng-template>

                                <mat-error *ngIf="hasError('invoices', true)">
                                    {{ getErrorMessage('invoices') }}
                                </mat-error> -->
                            </mat-form-field>
                        </div>

                        <div class="custom-field" fxLayout="row" fxLayoutAlign="start stretch">
                            <label
                                fxFlexAlign="center"
                                fxFlex="12"
                                [class.sinbad-red-fg]="hasError('maxRedemption')"
                            >
                                *Max Redemption User
                            </label>

                            <mat-form-field appearance="outline" fxFlex="50">
                                <input
                                    matInput
                                    name="maxRedemption"
                                    formControlName="maxRedemption"
                                />

                                <mat-error *ngIf="hasError('maxRedemption', true)">
                                    {{ getErrorMessage('maxRedemption') }}
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="custom-field" fxLayout="row" fxLayoutAlign="start stretch">
                            <label
                                fxFlexAlign="center"
                                fxFlex="12"
                                [class.sinbad-red-fg]="hasError('promoBudget')"
                            >
                                Promo Budget
                            </label>

                            <mat-form-field appearance="outline" fxFlex="50">
                                <input matInput name="promoBudget" formControlName="promoBudget" />

                                <mat-error *ngIf="hasError('promoBudget', true)">
                                    {{ getErrorMessage('promoBudget') }}
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </mat-card>

            <mat-card class="mb-24">
                <div fxLayout="column">
                    <span class="mat-headline">
                        Trigger
                    </span>

                    <div class="form-box">
                        <div class="custom-field" fxLayout="row" fxLayoutAlign="start stretch">
                            <label fxFlexAlign="center" fxFlex="12">
                                Base
                            </label>

                            <mat-radio-group formControlName="base">
                                <mat-radio-button value="1">
                                    SKU
                                </mat-radio-button>

                                <mat-radio-button value="2">
                                    Brand
                                </mat-radio-button>

                                <mat-radio-button value="3">
                                    Faktur
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>

                        <div class="custom-field" fxLayout="row" fxLayoutAlign="start stretch">
                            <label fxFlexAlign="center" fxFlex="12">
                                *Chosen SKU (0 Selected)
                            </label>

                            <mat-form-field appearance="outline" fxFlex="50">
                                <ng-container>
                                    <mat-select
                                        formControlName="chosenSku"
                                        placeholder="Choose SKU"
                                    >
                                        <mat-option>
                                            <!-- {{ row?.name || '-' }} -->
                                        </mat-option>
                                    </mat-select>
                                </ng-container>

                                <!-- <ng-template #noWarehouseValues>
                                    <mat-select placeholder="Value not found" disabled>
                                        <mat-option>None</mat-option>
                                    </mat-select>
                                </ng-template> -->
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </mat-card>

            <mat-card class="mb-24">
                <div fxLayout="column">
                    <span class="mat-headline">
                        Condition & Benefit Settings
                    </span>

                    <div class="form-box">
                        <div class="custom-field" fxLayout="row" fxLayoutAlign="start stretch">
                            <label fxFlexAlign="center" fxFlex="12">
                                Calculation Mechanism
                            </label>

                            <div>
                                <mat-radio-group formControlName="calculationMechanism">
                                    <mat-radio-button value="1">
                                        Non Cumulative
                                    </mat-radio-button>

                                    <mat-radio-button value="2">
                                        Cumulative
                                    </mat-radio-button>
                                </mat-radio-group>

                                <a href="javascript:;">What is this?</a>
                            </div>
                        </div>

                        <span>Tier 1</span>

                        <div class="custom-field" fxLayout="row" fxLayoutAlign="start stretch">
                            <label fxFlexAlign="center" fxFlex="12">
                                Base
                            </label>

                            <mat-radio-group>
                                <mat-radio-button>Qty</mat-radio-button>
                                <mat-radio-button>Order Value</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </div>
            </mat-card>

            <mat-card class="mb-24">
                <div fxLayout="column">
                    <span class="mat-headline">
                        Customer Segmentation Setting
                    </span>

                    <div class="form-box">
                        <div class="custom-field" fxLayout="row" fxLayoutAlign="start stretch">
                            <label fxFlexAlign="center" fxFlex="12">
                                Segmentation Base
                            </label>

                            <mat-radio-group>
                                <mat-radio-button>
                                    Direct Store
                                </mat-radio-button>

                                <mat-radio-button>
                                    Segmentation
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>

                        <div class="custom-field" fxLayout="row" fxLayoutAlign="start stretch">
                            <label fxFlexAlign="center" fxFlex="12">
                                Store (0 Selected)
                            </label>

                            <mat-form-field appearance="outline" fxFlex="50">
                                <ng-container>
                                    <mat-select placeholder="Choose Value">
                                        <mat-option>
                                            <!-- {{ row?.name || '-' }} -->
                                        </mat-option>
                                    </mat-select>
                                </ng-container>

                                <!-- <ng-template #noWarehouseValues>
                                    <mat-select placeholder="Value not found" disabled>
                                        <mat-option>None</mat-option>
                                    </mat-select>
                                </ng-template> -->
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </mat-card>
        </form>
    </div>
    <!-- / CENTER -->
</div>

<div class="loader" *ngIf="isLoading$ | async">
    <mat-spinner color="accent"></mat-spinner>
</div>
