<div
    id="flexi-combo"
    class="page-layout carded fullwidth inner-scroll"
    cdkScrollable
    fusePerfectScrollbar
>
    <!-- TOP BACKGROUND -->
    <div class="accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center p-8">
        <form
            id="flexi-combo-form"
            name="flexiComboForm"
            class="merchant w-100-p"
            [formGroup]="form"
            fxLayout="column"
            fxFlex
            novalidate
        >
            <mat-card class="mb-24">
                <div fxLayout="column">
                    <span class="mat-headline">
                        General Information
                    </span>

                    <div class="form-box">
                        <div
                            class="custom-field"
                            fxLayout="row"
                            fxLayoutAlign="start stretch"
                            fxLayoutGap="16px"
                        >
                            <label
                                fxFlexAlign="center"
                                fxFlex="10"
                                [class.sinbad-red-fg]="hasError('promoId')"
                            >
                                Promo Seller ID
                            </label>

                            <mat-form-field appearance="outline" fxFlex="50">
                                <input matInput name="promoId" formControlName="promoId" />

                                <mat-error *ngIf="hasError('promoId', true)">
                                    {{ getErrorMessage('promoId') }}
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div
                            class="custom-field"
                            fxLayout="row"
                            fxLayoutAlign="start stretch"
                            fxLayoutGap="16px"
                        >
                            <label
                                fxFlexAlign="center"
                                fxFlex="10"
                                [class.sinbad-red-fg]="hasError('promoName')"
                            >
                                *Promo Name
                            </label>

                            <mat-form-field appearance="outline" fxFlex="50">
                                <input matInput name="promoName" formControlName="promoName" />

                                <mat-error *ngIf="hasError('promoName', true)">
                                    {{ getErrorMessage('promoName') }}
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div
                            class="custom-field"
                            fxLayout="row"
                            fxLayoutAlign="start stretch"
                            fxLayoutGap="16px"
                        >
                            <label
                                fxFlexAlign="center"
                                fxFlex="10"
                                [class.sinbad-red-fg]="hasError('platform')"
                            >
                                *Platform
                            </label>

                            <mat-form-field appearance="outline" fxFlex="50">
                                <ng-container *ngIf="platformsSinbad; else noPlatformsSinbad">
                                    <mat-select
                                        formControlName="platform"
                                        placeholder="Choose Platform"
                                    >
                                        <mat-option>None</mat-option>
                                        <mat-option
                                            *ngFor="let row of platformsSinbad"
                                            [value]="row.id"
                                        >
                                            {{ row.label }}
                                        </mat-option>
                                    </mat-select>
                                </ng-container>

                                <ng-template #noPlatformsSinbad>
                                    <mat-select placeholder="Platform not found" disabled>
                                        <mat-option>None</mat-option>
                                    </mat-select>
                                </ng-template>

                                <mat-error *ngIf="hasError('platform', true)">
                                    {{ getErrorMessage('platform') }}
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div
                            class="custom-field"
                            fxLayout="row"
                            fxLayoutAlign="start stretch"
                            fxLayoutGap="16px"
                        >
                            <label
                                fxFlexAlign="center"
                                fxFlex="10"
                                [class.sinbad-red-fg]="hasError('maxRedemption')"
                            >
                                *Max Redemption per
                            </label>

                            <mat-form-field appearance="outline" fxFlex="50">
                                <input
                                    matInput
                                    name="maxRedemption"
                                    formControlName="maxRedemption"
                                />

                                <mat-error *ngIf="hasError('maxRedemption', true)">
                                    {{ getErrorMessage('maxRedemption') }}
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div
                            class="custom-field"
                            fxLayout="row"
                            fxLayoutAlign="start stretch"
                            fxLayoutGap="16px"
                        >
                            <label
                                fxFlexAlign="center"
                                fxFlex="10"
                                [class.sinbad-red-fg]="hasError('promoBudget')"
                            >
                                Promo Budget
                            </label>

                            <mat-form-field appearance="outline" fxFlex="50">
                                <input
                                    matInput
                                    name="promoBudget"
                                    formControlName="promoBudget"
                                    mask="separator.2"
                                    thousandSeparator="."
                                    prefix="Rp"
                                    placeholder="Rp"
                                />

                                <mat-error *ngIf="hasError('promoBudget', true)">
                                    {{ getErrorMessage('promoBudget') }}
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div
                            class="custom-field"
                            fxLayout="row"
                            fxLayoutAlign="start stretch"
                            fxLayoutGap="16px"
                        >
                            <label
                                fxFlexAlign="center"
                                fxFlex="10"
                                [class.sinbad-red-fg]="hasError('startDate')"
                            >
                                *Active From
                            </label>

                            <mat-form-field appearance="outline" fxFlex="50">
                                <input
                                    matInput
                                    [matDatetimepicker]="startDatePicker"
                                    autocomplete="false"
                                    name="startDate"
                                    formControlName="startDate"
                                />
                                <mat-datetimepicker-toggle
                                    matSuffix
                                    [for]="startDatePicker"
                                ></mat-datetimepicker-toggle>
                                <mat-datetimepicker
                                    touchUi
                                    #startDatePicker
                                    [disabled]="false"
                                    type="datetime"
                                >
                                </mat-datetimepicker>

                                <mat-error *ngIf="hasError('startDate', true)">
                                    {{ getErrorMessage('startDate') }}
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div
                            class="custom-field"
                            fxLayout="row"
                            fxLayoutAlign="start stretch"
                            fxLayoutGap="16px"
                        >
                            <label
                                fxFlexAlign="center"
                                fxFlex="10"
                                [class.sinbad-red-fg]="hasError('endDate')"
                            >
                                *To
                            </label>

                            <mat-form-field appearance="outline" fxFlex="50">
                                <input
                                    matInput
                                    [matDatetimepicker]="endDatePicker"
                                    autocomplete="false"
                                    name="endDate"
                                    formControlName="endDate"
                                />
                                <mat-datetimepicker-toggle
                                    matSuffix
                                    [for]="endDatePicker"
                                ></mat-datetimepicker-toggle>
                                <mat-datetimepicker
                                    touchUi
                                    #endDatePicker
                                    [disabled]="false"
                                    type="datetime"
                                >
                                </mat-datetimepicker>

                                <mat-error *ngIf="hasError('endDate', true)">
                                    {{ getErrorMessage('endDate') }}
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div
                            class="custom-field"
                            fxLayout="row"
                            fxLayoutAlign="start stretch"
                            fxLayoutGap="16px"
                        >
                            <label
                                fxFlexAlign="center"
                                fxFlex="10"
                                [class.sinbad-red-fg]="hasError('endDate')"
                            >
                                Image Suggestion

                                <mat-icon
                                    class="active-icon s-14 ml-8 cursor-pointer"
                                    color="accent"
                                    matTooltip="Limited: Admin can set and manage stock level in Sinbad Seller Center&#10;Unlimited: Admin can not set and manage&#10;stock level in Sinbad Seller Center"
                                    matTooltipClass="tooltip-br"
                                >
                                    help
                                </mat-icon>
                            </label>

                            <div fxLayout="row" fxFlex="100" fxLayoutAlign="start center">
                                <mat-form-field
                                    class="sinbad-file-field"
                                    appearance="outline"
                                    fxFlex="44"
                                    [class.mat-sinbad-field-error]="hasError('imgSuggestion')"
                                >
                                    <input
                                        #photoPicker
                                        type="file"
                                        class="custom-file"
                                        accept=".jpg, .jpeg, .png"
                                        formControlName="imgSuggestion"
                                        autocomplete="off"
                                    />
                                    <input
                                        matInput
                                        name="photos"
                                        placeholder="No file choose"
                                        autocomplete="off"
                                    />

                                    <mat-hint
                                        class="mat-error"
                                        *ngIf="hasError('imgSuggestion', true)"
                                    >
                                        {{ getErrorMessage('imgSuggestion') }}
                                    </mat-hint>
                                </mat-form-field>

                                <button
                                    mat-flat-button
                                    color="accent"
                                    type="button"
                                    (click)="photoPicker.click()"
                                    fxFlexAlign="center"
                                >
                                    Upload Your File
                                </button>

                                <!-- <ng-container
                                    *ngIf="pageType === 'edit' && (stores$ | async) as stores"
                                >
                                    <a
                                        [href]="stores?.imageUrl"
                                        target="_blank"
                                        *ngIf="stores?.imageUrl"
                                        style="position: relative; top: -0.78em;"
                                    >
                                        <mat-icon>remove_red_eye</mat-icon>
                                    </a>
                                </ng-container> -->
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>

            <mat-card class="mb-24">
                <div fxLayout="column">
                    <span class="mat-headline">
                        Trigger
                    </span>

                    <div class="form-box">
                        <div
                            class="custom-field"
                            fxLayout="row"
                            fxLayoutAlign="start stretch"
                            fxLayoutGap="16px"
                        >
                            <label fxFlexAlign="center" fxFlex="10">
                                Base
                            </label>

                            <div fxFlexAlign="center" fxFlex="50">
                                <mat-radio-group formControlName="base">
                                    <mat-radio-button value="1">
                                        SKU
                                    </mat-radio-button>

                                    <mat-radio-button value="2">
                                        Brand
                                    </mat-radio-button>

                                    <mat-radio-button value="3">
                                        Faktur
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>

                        <div
                            class="custom-field"
                            fxLayout="row"
                            fxLayoutAlign="start stretch"
                            fxLayoutGap="16px"
                        >
                            <label fxFlexAlign="center" fxFlex="10">
                                *Chosen SKU (0 Selected)
                            </label>

                            <mat-form-field appearance="outline" fxFlex="50">
                                <ng-container>
                                    <mat-select
                                        formControlName="chosenSku"
                                        placeholder="Choose SKU"
                                    >
                                        <mat-option>
                                            <!-- {{ row?.name || '-' }} -->
                                        </mat-option>
                                    </mat-select>
                                </ng-container>

                                <!-- <ng-template #noWarehouseValues>
                                    <mat-select placeholder="Value not found" disabled>
                                        <mat-option>None</mat-option>
                                    </mat-select>
                                </ng-template> -->
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </mat-card>

            <mat-card class="mb-24">
                <div fxLayout="column">
                    <span class="mat-headline">
                        Condition & Benefit Settings
                    </span>

                    <div class="form-box">
                        <div
                            class="custom-field"
                            fxLayout="row"
                            fxLayoutAlign="start stretch"
                            fxLayoutGap="16px"
                        >
                            <label fxFlexAlign="center" fxFlex="10">
                                Calculation Mechanism
                            </label>

                            <div fxFlexAlign="center" fxFlex="50">
                                <mat-radio-group formControlName="calculationMechanism">
                                    <mat-radio-button value="1">
                                        Non Cumulative
                                    </mat-radio-button>

                                    <mat-radio-button value="2">
                                        Cumulative
                                    </mat-radio-button>
                                </mat-radio-group>

                                <a href="javascript:;">What is this?</a>
                            </div>
                        </div>

                        <!-- START DYNAMIC BOX-GROUP -->
                        <div class="box-group" fxLayout="column" fxLayoutGap="16px">
                            <span class="box-title">Tier 1</span>

                            <div fxLayout="row" fxLayoutAlign="start stretch">
                                <!-- START FIELD-WRAPPER -->
                                <div
                                    class="field-wrapper p-16"
                                    fxLayout="column"
                                    fxLayoutAlign="start stretch"
                                    fxFlex="1 1 auto"
                                    fusePerfectScrollbar
                                >
                                    <span class="field-title">
                                        Condition

                                        <mat-icon
                                            class="active-icon s-14 ml-8 cursor-pointer"
                                            color="accent"
                                            matTooltip="Limited: Admin can set and manage stock level in Sinbad Seller Center&#10;Unlimited: Admin can not set and manage&#10;stock level in Sinbad Seller Center"
                                            matTooltipClass="tooltip-br"
                                        >
                                            help
                                        </mat-icon>
                                    </span>

                                    <div
                                        class="custom-field"
                                        fxLayout="row"
                                        fxLayoutAlign="start stretch"
                                        fxLayoutGap="16px"
                                    >
                                        <label fxFlexAlign="center" fxFlex="12">
                                            Base
                                        </label>

                                        <div fxFlexAlign="center" fxFlex="50">
                                            <mat-radio-group>
                                                <mat-radio-button>Qty</mat-radio-button>
                                                <mat-radio-button>Order Value</mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>

                                    <div
                                        class="custom-field"
                                        fxLayout="row"
                                        fxLayoutAlign="start stretch"
                                        fxLayoutGap="16px"
                                    >
                                        <label fxFlexAlign="center" fxFlex="12">
                                            Qty >=
                                        </label>

                                        <mat-form-field appearance="outline" fxFlex="50">
                                            <input matInput name="promoBudget" />

                                            <!-- <mat-error *ngIf="hasError('promoBudget', true)">
                                            {{ getErrorMessage('promoBudget') }}
                                        </mat-error> -->
                                        </mat-form-field>
                                    </div>

                                    <span class="field-title">
                                        Benefit

                                        <mat-icon
                                            class="active-icon s-14 ml-8 cursor-pointer"
                                            color="accent"
                                            matTooltip="Limited: Admin can set and manage stock level in Sinbad Seller Center&#10;Unlimited: Admin can not set and manage&#10;stock level in Sinbad Seller Center"
                                            matTooltipClass="tooltip-br"
                                        >
                                            help
                                        </mat-icon>
                                    </span>

                                    <div
                                        class="custom-field"
                                        fxLayout="row"
                                        fxLayoutAlign="start stretch"
                                        fxLayoutGap="16px"
                                    >
                                        <label fxFlexAlign="center" fxFlex="12">
                                            Benefit Type
                                        </label>

                                        <div fxFlexAlign="center" fxFlex="50">
                                            <mat-radio-group>
                                                <mat-radio-button>Qty</mat-radio-button>
                                                <mat-radio-button>Rp</mat-radio-button>
                                                <mat-radio-button>%</mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>

                                    <div
                                        class="custom-field"
                                        fxLayout="row"
                                        fxLayoutAlign="start stretch"
                                        fxLayoutGap="16px"
                                    >
                                        <label fxFlexAlign="center" fxFlex="12">
                                            *Bonus SKU
                                        </label>

                                        <mat-form-field appearance="outline" fxFlex="50">
                                            <ng-container>
                                                <mat-select placeholder="Choose Value">
                                                    <mat-option>
                                                        <!-- {{ row?.name || '-' }} -->
                                                    </mat-option>
                                                </mat-select>
                                            </ng-container>

                                            <!-- <ng-template #noWarehouseValues>
                                    <mat-select placeholder="Value not found" disabled>
                                        <mat-option>None</mat-option>
                                    </mat-select>
                                </ng-template> -->
                                        </mat-form-field>
                                    </div>

                                    <div
                                        class="custom-field"
                                        fxLayout="row"
                                        fxLayoutAlign="start stretch"
                                        fxLayoutGap="16px"
                                    >
                                        <label fxFlexAlign="center" fxFlex="12"></label>

                                        <div fxFlexAlign="center" fxFlex="50">
                                            <mat-checkbox>Apply Same SKU</mat-checkbox>
                                        </div>
                                    </div>

                                    <div
                                        class="custom-field"
                                        fxLayout="row"
                                        fxLayoutAlign="start stretch"
                                        fxLayoutGap="16px"
                                    >
                                        <label
                                            fxFlexAlign="center"
                                            fxFlex="12"
                                            [class.sinbad-red-fg]="hasError('promoBudget')"
                                        >
                                            Bonus Qty
                                        </label>

                                        <mat-form-field appearance="outline" fxFlex="50">
                                            <input matInput name="promoBudget" />

                                            <!-- <mat-error *ngIf="hasError('promoBudget', true)">
                                    {{ getErrorMessage('promoBudget') }}
                                </mat-error> -->
                                        </mat-form-field>
                                    </div>
                                </div>
                                <!-- ./ FIELD-WRAPPER -->

                                <!-- START CARD-INSTRUCTION -->
                                <card-instruction fxFlex="0 2 auto">
                                    <p class="title">Sample Case</p>

                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
                                        dignissim interdum accumsan. Sed pretium, felis sit amet
                                        finibus ullamcorper, elit ligula vehicula diam, eu posuere
                                        quam nibh ut elit. Nunc suscipit nisi id felis facilisis
                                        malesuada. Pellentesque suscipit venenatis neque, vel
                                        aliquet tortor dictum vitae. Mauris eu imperdiet nisl,
                                        pharetra condimentum lorem. Sed faucibus purus tortor, vel
                                        sagittis tortor maximus sed. Maecenas lorem arcu, porttitor
                                        non tellus ut, placerat sollicitudin nibh. Sed vel felis
                                        vitae augue dictum egestas elementum non nulla. Donec ut
                                        nunc neque.
                                    </p>
                                </card-instruction>
                                <!-- ./ CARD-INSTRUCTION -->
                            </div>
                        </div>
                        <!-- ./ DYNAMIC BOX-GROUP -->

                        <!-- START DYNAMIC BOX-GROUP -->
                        <div class="box-group" fxLayout="column" fxLayoutGap="16px">
                            <span class="box-title">Tier 2</span>

                            <div fxLayout="row" fxLayoutAlign="start stretch">
                                <!-- START FIELD-WRAPPER -->
                                <div
                                    class="field-wrapper p-16"
                                    fxLayout="column"
                                    fxLayoutAlign="start stretch"
                                    fxFlex="1 1 auto"
                                    fusePerfectScrollbar
                                >
                                    <span class="field-title">
                                        Condition

                                        <mat-icon
                                            class="active-icon s-14 ml-8 cursor-pointer"
                                            color="accent"
                                            matTooltip="Limited: Admin can set and manage stock level in Sinbad Seller Center&#10;Unlimited: Admin can not set and manage&#10;stock level in Sinbad Seller Center"
                                            matTooltipClass="tooltip-br"
                                        >
                                            help
                                        </mat-icon>
                                    </span>

                                    <div
                                        class="custom-field"
                                        fxLayout="row"
                                        fxLayoutAlign="start stretch"
                                        fxLayoutGap="16px"
                                    >
                                        <label fxFlexAlign="center" fxFlex="12">
                                            Base
                                        </label>

                                        <div fxFlexAlign="center" fxFlex="50">
                                            <mat-radio-group>
                                                <mat-radio-button>Qty</mat-radio-button>
                                                <mat-radio-button>Order Value</mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>

                                    <div
                                        class="custom-field"
                                        fxLayout="row"
                                        fxLayoutAlign="start stretch"
                                        fxLayoutGap="16px"
                                    >
                                        <label fxFlexAlign="center" fxFlex="12">
                                            Qty >=
                                        </label>

                                        <mat-form-field appearance="outline" fxFlex="50">
                                            <input matInput name="promoBudget" />

                                            <!-- <mat-error *ngIf="hasError('promoBudget', true)">
                                            {{ getErrorMessage('promoBudget') }}
                                        </mat-error> -->
                                        </mat-form-field>
                                    </div>

                                    <span class="field-title">
                                        Benefit

                                        <mat-icon
                                            class="active-icon s-14 ml-8 cursor-pointer"
                                            color="accent"
                                            matTooltip="Limited: Admin can set and manage stock level in Sinbad Seller Center&#10;Unlimited: Admin can not set and manage&#10;stock level in Sinbad Seller Center"
                                            matTooltipClass="tooltip-br"
                                        >
                                            help
                                        </mat-icon>
                                    </span>

                                    <div
                                        class="custom-field"
                                        fxLayout="row"
                                        fxLayoutAlign="start stretch"
                                        fxLayoutGap="16px"
                                    >
                                        <label fxFlexAlign="center" fxFlex="12">
                                            Benefit Type
                                        </label>

                                        <div fxFlexAlign="center" fxFlex="50">
                                            <mat-radio-group>
                                                <mat-radio-button>Qty</mat-radio-button>
                                                <mat-radio-button>Rp</mat-radio-button>
                                                <mat-radio-button>%</mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>

                                    <div
                                        class="custom-field"
                                        fxLayout="row"
                                        fxLayoutAlign="start stretch"
                                        fxLayoutGap="16px"
                                    >
                                        <label fxFlexAlign="center" fxFlex="12">
                                            *Bonus SKU
                                        </label>

                                        <mat-form-field appearance="outline" fxFlex="50">
                                            <ng-container>
                                                <mat-select placeholder="Choose Value">
                                                    <mat-option>
                                                        <!-- {{ row?.name || '-' }} -->
                                                    </mat-option>
                                                </mat-select>
                                            </ng-container>

                                            <!-- <ng-template #noWarehouseValues>
                                    <mat-select placeholder="Value not found" disabled>
                                        <mat-option>None</mat-option>
                                    </mat-select>
                                </ng-template> -->
                                        </mat-form-field>
                                    </div>

                                    <div
                                        class="custom-field"
                                        fxLayout="row"
                                        fxLayoutAlign="start stretch"
                                        fxLayoutGap="16px"
                                    >
                                        <label fxFlexAlign="center" fxFlex="12"></label>

                                        <div fxFlexAlign="center" fxFlex="50">
                                            <mat-checkbox>Apply Same SKU</mat-checkbox>
                                        </div>
                                    </div>

                                    <div
                                        class="custom-field"
                                        fxLayout="row"
                                        fxLayoutAlign="start stretch"
                                        fxLayoutGap="16px"
                                    >
                                        <label
                                            fxFlexAlign="center"
                                            fxFlex="12"
                                            [class.sinbad-red-fg]="hasError('promoBudget')"
                                        >
                                            Bonus Qty
                                        </label>

                                        <mat-form-field appearance="outline" fxFlex="50">
                                            <input matInput name="promoBudget" />

                                            <!-- <mat-error *ngIf="hasError('promoBudget', true)">
                                    {{ getErrorMessage('promoBudget') }}
                                </mat-error> -->
                                        </mat-form-field>
                                    </div>
                                </div>
                                <!-- ./ FIELD-WRAPPER -->
                            </div>
                        </div>
                        <!-- ./ DYNAMIC BOX-GROUP -->
                    </div>

                    <div>
                        <button type="button" mat-button color="accent">
                            Add Tier
                        </button>

                        <mat-icon
                            class="active-icon s-14 ml-8 cursor-pointer"
                            color="accent"
                            matTooltip="Limited: Admin can set and manage stock level in Sinbad Seller Center&#10;Unlimited: Admin can not set and manage&#10;stock level in Sinbad Seller Center"
                            matTooltipClass="tooltip-br"
                        >
                            help
                        </mat-icon>
                    </div>
                </div>
            </mat-card>

            <mat-card class="mb-24">
                <div fxLayout="column">
                    <span class="mat-headline">
                        Customer Segmentation Setting
                    </span>

                    <div class="form-box">
                        <div
                            class="custom-field"
                            fxLayout="row"
                            fxLayoutAlign="start stretch"
                            fxLayoutGap="16px"
                        >
                            <label fxFlexAlign="center" fxFlex="10">
                                Segmentation Base
                            </label>

                            <div fxFlexAlign="center" fxFlex="50">
                                <mat-radio-group>
                                    <mat-radio-button>
                                        Direct Store
                                    </mat-radio-button>

                                    <mat-radio-button>
                                        Segmentation
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>

                        <div
                            class="custom-field"
                            fxLayout="row"
                            fxLayoutAlign="start stretch"
                            fxLayoutGap="16px"
                        >
                            <label fxFlexAlign="center" fxFlex="10">
                                Store (0 Selected)
                            </label>

                            <mat-form-field appearance="outline" fxFlex="50">
                                <ng-container>
                                    <mat-select placeholder="Choose Value">
                                        <mat-option>
                                            <!-- {{ row?.name || '-' }} -->
                                        </mat-option>
                                    </mat-select>
                                </ng-container>

                                <!-- <ng-template #noWarehouseValues>
                                    <mat-select placeholder="Value not found" disabled>
                                        <mat-option>None</mat-option>
                                    </mat-select>
                                </ng-template> -->
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </mat-card>
        </form>
    </div>
    <!-- / CENTER -->
</div>

<div class="loader" *ngIf="isLoading$ | async">
    <mat-spinner color="accent"></mat-spinner>
</div>
