<div
    id="catalogue-segmentation-form-view"
    class="page-layout carded fullwidth inner-scroll"
    fusePerfectScrollbar
>
    <!-- TOP BACKGROUND -->
    <div class="accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center p-8">
        <app-catalogue-segmentation-form
            [form]="form"
            [formMode]="formMode"
            [item]="catalogueSegmentation$ | async"
            (formStatus)="onSetFormStatus($event)"
            (createFormValue)="createCatalogueSegmentationFormDto = $event"
        ></app-catalogue-segmentation-form>
    </div>
    <!-- / CENTER -->
</div>
