<div id="credit-limit-balance" class="page-layout carded fullwidth inner-scroll line-height-1.75" fusePerfectScrollbar>
    <!-- TOP BACKGROUND -->
    <div class="accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- CONTENT HEADER -->
        <div class="header sinbad" [class.with-search]="urlActive" fxLayout="column" fxLayoutAlign="center stretch">
            <nav mat-tab-nav-bar class="mat-elevation-z1 sinbad-tab"
                [ngClass]="(fuseConfig$ | async)?.layout?.toolbar?.background">
                <a mat-tab-link *ngFor="let link of links" [routerLink]="[link?.path]" routerLinkActive
                    #rla="routerLinkActive" [active]="rla?.isActive" skipLocationChange>
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <span class="label">{{ link?.label }}</span>
                        <span class="indicator" fxFlex="70" *ngIf="rla?.isActive"></span>
                    </div>
                </a>
            </nav>

            <!-- <div class="mt-16" *ngIf="urlActive">Today: {{ today | date: 'dd-MMMM-yyyy' }}</div> -->

            <div class="mt-16" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="urlActive">
                <div>Today: {{ today | date: 'dd-MMMM-yyyy' }}</div>

                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <!-- SEARCH -->
                    <div class="search-wrapper">
                        <!-- mx-12 -->
                        <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon>search</mat-icon>
                            <input [formControl]="search" placeholder="Search" />
                        </div>
                    </div>
                    <!-- / SEARCH -->

                    <!-- <button mat-flat-button class="grey-600">
                    <mat-icon>filter_list</mat-icon>
                    Filter Lists
                </button>

                <button mat-flat-button class="grey-600">
                    Group By
                </button> -->
                </div>
            </div>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <router-outlet *ngIf="true"></router-outlet>

        <div class="loader" *ngIf="
                ((isLoading$ | async) && !urlActive) ||
                ((isLoading$ | async) && urlActive && (totalDataSource$ | async))
            ">
            <mat-spinner color="accent"></mat-spinner>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>