<form id="sales-form" [formGroup]="form" novalidate>
    <div class="section pb-48">
        <div class="pb-16 section__top--contents" fxLayout="row" fxLayoutAlign="start center">
            <div class="h2 section__title">Sales Rep Detail</div>
        </div>

        <div class="box-info horizontal" fxLayout="column">
            <div
                class="custom-field"
                fxLayout="row"
                fxLayoutAlign="start center"
                fxLayoutGap="15px"
            >
                <label
                    class="custom-field__label"
                    fxFlexAlign="center"
                    fxFlex="13"
                    [class.mat-error]="hasError('name')"
                >
                    *Sales Rep Name
                </label>

                <div class="custom-field__field" fxFlex="100">
                    <mat-form-field appearance="outline" fxFlex="50">
                        <input type="text" matInput formControlName="name" />

                        <mat-error *ngIf="hasError('name', true)">
                            {{ getErrorMessage('name') }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div
                class="custom-field"
                fxLayout="row"
                fxLayoutAlign="start center"
                fxLayoutGap="15px"
            >
                <label
                    class="custom-field__label"
                    fxFlexAlign="center"
                    fxFlex="13"
                    [class.mat-error]="hasError('phone')"
                >
                    *Phone Number
                </label>

                <div class="custom-field__field" fxFlex="100">
                    <mat-form-field appearance="outline" fxFlex="50">
                        <input type="tel" matInput formControlName="phone" />

                        <mat-error *ngIf="hasError('phone', true)">
                            {{ getErrorMessage('phone') }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div
                class="custom-field"
                fxLayout="row"
                fxLayoutAlign="start center"
                fxLayoutGap="15px"
            >
                <label
                    class="custom-field__label"
                    fxFlexAlign="center"
                    fxFlex="13"
                    [class.mat-error]="hasError('nik')"
                >
                    *NIK
                </label>

                <div class="custom-field__field" fxFlex="100">
                    <mat-form-field appearance="outline" fxFlex="50">
                        <input type="text" matInput formControlName="nik" />

                        <mat-error *ngIf="hasError('nik', true)">
                            {{ getErrorMessage('nik') }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <!-- <div
                class="custom-field"
                fxLayout="row"
                fxLayoutAlign="start center"
                fxLayoutGap="15px"
            >
                <label class="custom-field__label" fxFlexAlign="center" fxFlex="12">
                    Area
                </label>

                <div class="custom-field__field" fxFlex="100">
                    <mat-form-field appearance="outline" fxFlex="50">
                        <input type="text" matInput formControlName="area" />
                    </mat-form-field>
                </div>
            </div> -->

            <div
                class="custom-field"
                fxLayout="row"
                fxLayoutAlign="start center"
                fxLayoutGap="15px"
            >
                <label fxFlex="12"></label>
                <div class="custom-field__field" fxFlex="100">
                    <mat-slide-toggle formControlName="status">
                        Active
                    </mat-slide-toggle>
                </div>
            </div>
        </div>
    </div>
</form>
