<div id="flexi-combo" class="page-layout carded fullwidth inner-scroll" fusePerfectScrollbar>
    <!-- CENTER -->
    <div class="center p-8">
        <!-- CONTENT CARD -->
        <div class="content-card">
            <sinbad-card-header
                [config]="cardHeaderConfig"
                (onClickAdd)="onClickAdd()"
            ></sinbad-card-header>

            <app-flexi-combo-list class="px-16"></app-flexi-combo-list>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
