<div id="orders" class="page-layout carded fullwidth inner-scroll" fusePerfectScrollbar>
    <!-- <navbar variant="horizontal-custom-style-1" class="top-navbar"></navbar> -->

    <!-- TOP BACKGROUND -->
    <div class="accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- CONTENT HEADER -->
        <div class="header sinbad" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <!-- <button mat-flat-button color="accent">
                    EXPORT
                </button>

                <button mat-stroked-button color="accent" class="sinbad">
                    IMPORT
                </button> -->
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <!-- SEARCH -->
                <div class="search-wrapper">
                    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon>search</mat-icon>
                        <input [formControl]="search" placeholder="Cari Disini" />
                    </div>
                </div>
                <!-- / SEARCH -->

                <!-- <button mat-flat-button class="grey-600">
                    <mat-icon>filter_list</mat-icon>
                    Filter Lists
                </button>

                <button mat-flat-button class="grey-600">
                    Group By
                </button> -->
            </div>
        </div>
        <!-- / CONTENT HEADER -->

        <mat-card
            class="mt-8 mb-24"
            *ngIf="(filterStatus && filterStatus !== 'all-status') || search.value"
        >
            <div fxLayout="column" fxLayoutGap="10px">
                <small>
                    Filter & Group By
                </small>

                <div>
                    <mat-chip-list aria-label="Filter">
                        <mat-chip *ngIf="searchStatus || filterStatus">
                            Status:
                            <!-- {{ searchStatus | titlecase | replace: '-':' ' }} -->

                            <ng-container [ngSwitch]="searchStatus">
                                <ng-container *ngSwitchCase="'checkout'">
                                    Order Baru
                                </ng-container>

                                <ng-container *ngSwitchCase="'packing'">
                                    Dikemas
                                </ng-container>

                                <ng-container *ngSwitchCase="'confirm'">
                                    Siap Dikirim
                                </ng-container>

                                <ng-container *ngSwitchCase="'delivery'">
                                    Dikirim
                                </ng-container>

                                <ng-container *ngSwitchCase="'arrived'">
                                    Diterima
                                </ng-container>

                                <ng-container *ngSwitchCase="'done'">
                                    Selesai
                                </ng-container>
                            </ng-container>

                            <mat-icon matChipRemove (click)="onRemoveSearchStatus()">
                                cancel
                            </mat-icon>
                        </mat-chip>

                        <mat-chip *ngIf="searchOrder || search.value">
                            {{ searchOrder || search.value }}

                            <mat-icon matChipRemove (click)="onRemoveSearchOrder()">
                                cancel
                            </mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>
        </mat-card>

        <!-- CONTENT CARD -->
        <div
            class="sinbad-content mat-elevation-z1"
            [class.mt-8]="!filterStatus || filterStatus === 'all-status'"
        >
            <mat-table
                class="orders-table"
                #table
                [dataSource]="dataSource$ | async"
                [trackBy]="onTrackBy"
                matSort
                [@animateStagger]="{ value: '50' }"
                fusePerfectScrollbar
            >
                <!-- Checkbox Column -->
                <!-- <ng-container matColumnDef="checkbox">
                    <mat-header-cell *matHeaderCellDef>
                        <mat-checkbox
                            [(ngModel)]="hasSelected"
                            (click)="$event.stopPropagation()"
                        ></mat-checkbox>
                    </mat-header-cell>

                    <mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"></mat-checkbox>
                    </mat-cell>
                </ng-container> -->

                <!-- Origins Column -->
                <ng-container matColumnDef="origins">
                    <mat-header-cell *matHeaderCellDef>
                        Order Origins
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{ safeValue(row?.order?.originOrderCode) }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Order Code Column -->
                <ng-container matColumnDef="orderCode">
                    <mat-header-cell *matHeaderCellDef>
                        Order Code
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{ safeValue(row?.orderCode) }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Order Date Column -->
                <ng-container matColumnDef="orderDate">
                    <mat-header-cell *matHeaderCellDef>
                        Order Date
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{
                                safeValue(row?.createdAt) !== '-'
                                    ? (row?.createdAt | date: 'dd/MM/yyyy HH:mm:ss')
                                    : safeValue(row?.createdAt)
                            }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Store Name Column -->
                <ng-container matColumnDef="storeName">
                    <mat-header-cell *matHeaderCellDef>
                        Store Name
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{ safeValue(row?.store?.name) }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Trx Amount Column -->
                <ng-container matColumnDef="trxAmount">
                    <mat-header-cell *matHeaderCellDef>
                        Order Value
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p class="price" style="word-break: break-word;">
                            {{
                                safeValue(row?.totalPrice) !== '-'
                                    ? (+row?.totalPrice | price: 'full':'IDR':'narrow':'1.2-2')
                                    : +row?.totalPrice
                            }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Payment Method Column -->
                <ng-container matColumnDef="paymentMethod">
                    <mat-header-cell *matHeaderCellDef>
                        Payment Method/TOP
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{ safeValue(row?.paymentTypeSupplierMethod?.paymentMethod?.name) }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Total Product Column -->
                <ng-container matColumnDef="totalProduct">
                    <mat-header-cell *matHeaderCellDef>
                        Qty(pcs)
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{
                                safeValue(row?.totalQty) !== '-'
                                    ? (+row?.totalQty | number)
                                    : +row?.totalQty
                            }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef>
                        Status
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            <ng-container [ngSwitch]="row?.status">
                                <ng-container *ngSwitchCase="'checkout'">
                                    Order Baru
                                </ng-container>

                                <ng-container *ngSwitchCase="'packing'">
                                    Dikemas
                                </ng-container>

                                <ng-container *ngSwitchCase="'confirm'">
                                    Siap Dikirim
                                </ng-container>

                                <ng-container *ngSwitchCase="'delivery'">
                                    Dikirim
                                </ng-container>

                                <ng-container *ngSwitchCase="'arrived'">
                                    Diterima
                                </ng-container>

                                <ng-container *ngSwitchCase="'done'">
                                    Selesai
                                </ng-container>
                            </ng-container>
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Delivered On Column -->
                <!-- <ng-container matColumnDef="deliveredOn">
                    <mat-header-cell *matHeaderCellDef>
                        Delivered On
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{ row?.deliveredOn | date: 'dd/MM/yyyy' }}
                        </p>
                    </mat-cell>
                </ng-container> -->

                <!-- Actual Amt Delivered Column -->
                <ng-container matColumnDef="actualAmountDelivered">
                    <mat-header-cell *matHeaderCellDef>
                        Actual Amt Delivered
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p class="price" style="word-break: break-word;">
                            {{
                                safeValue(row?.totalPrice) !== '-'
                                    ? (+row?.totalPrice | price: 'full':'IDR':'narrow':'1.2-2')
                                    : +row?.totalPrice
                            }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Active Column -->
                <!-- <ng-container matColumnDef="active">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>
                        Active
                    </mat-header-cell>

                    <mat-cell *matCellDef="let row" fxHide fxShow.gt-xs>
                        <mat-icon *ngIf="row.active" class="active-icon green-600 s-16">
                            check
                        </mat-icon>

                        <mat-icon *ngIf="!row.active" class="active-icon red-500 s-16">
                            close
                        </mat-icon>
                    </mat-cell>
                </ng-container> -->

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>
                        <button mat-icon-button *ngIf="hasSelected">
                            <mat-icon class="secondary-text">delete</mat-icon>
                        </button>
                    </mat-header-cell>

                    <mat-cell *matCellDef="let row">
                        <div fxFlex="row" fxLayoutAlign="end center">
                            <button
                                mat-icon-button
                                [matMenuTriggerFor]="moreMenu"
                                aria-label="More"
                                (click)="$event.stopPropagation()"
                            >
                                <mat-icon class="secondary-text">more_vert</mat-icon>
                            </button>

                            <mat-menu #moreMenu="matMenu">
                                <button
                                    mat-menu-item
                                    type="button"
                                    class="sinbad-mat-menu-item"
                                    aria-label="send"
                                    (click)="onChangeStatus(row)"
                                >
                                    <mat-icon>send</mat-icon>
                                    <span>
                                        <ng-container [ngSwitch]="row?.status">
                                            <ng-container *ngSwitchCase="'checkout'">
                                                Dikemas
                                            </ng-container>

                                            <ng-container *ngSwitchCase="'packing'">
                                                Siap Dikirim
                                            </ng-container>

                                            <ng-container *ngSwitchCase="'confirm'">
                                                Dikirim
                                            </ng-container>

                                            <ng-container *ngSwitchCase="'delivery'">
                                                Diterima
                                            </ng-container>

                                            <ng-container *ngSwitchCase="'arrived'">
                                                Selesai
                                            </ng-container>
                                        </ng-container>
                                        <!--  {{ 'GLOBAL_STATUS.TO_BE_SHIPPED' | translate }} -->
                                    </span>
                                </button>

                                <!-- <button
                                    mat-menu-item
                                    type="button"
                                    class="sinbad-mat-menu-item"
                                    aria-label="edit"
                                    [routerLink]="[row?.id]"
                                >
                                    <mat-icon>edit</mat-icon>
                                    <span>Edit</span>
                                </button> -->

                                <!-- <button
                                    mat-menu-item
                                    type="button"
                                    class="sinbad-mat-menu-item"
                                    aria-label="remove"
                                    (click)="onDelete(row)"
                                >
                                    <mat-icon>delete</mat-icon>
                                    <span>Remove</span>
                                </button> -->

                                <!-- <button
                                    mat-menu-item
                                    type="button"
                                    class="sinbad-mat-menu-item"
                                    aria-label="archive"
                                >
                                    <mat-icon>archive</mat-icon>
                                    <span>Archive</span>
                                </button> -->

                                <!-- <button
                                    mat-menu-item
                                    type="button"
                                    class="sinbad-mat-menu-item"
                                    aria-label="print"
                                >
                                    <mat-icon>print</mat-icon>
                                    <span>{{ 'ACTION.PRINT' | translate }}</span>
                                </button> -->
                            </mat-menu>
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>

                <mat-row
                    *matRowDef="let row; columns: displayedColumns"
                    class="order"
                    matRipple
                    [routerLink]="['/pages/orders/' + row.id + '/detail']"
                >
                </mat-row>
            </mat-table>

            <div class="no-records" *ngIf="(isLoading$ | async) && !(totalDataSource$ | async)">
                <mat-spinner color="accent"></mat-spinner>
            </div>

            <div
                class="no-records"
                *ngIf="
                    !(isLoading$ | async) &&
                    ((totalDataSource$ | async) === 0 || (dataSource$ | async)?.length === 0)
                "
            >
                No records found
            </div>

            <mat-paginator
                [fxHide]="
                    ((isLoading$ | async) && !(totalDataSource$ | async)) ||
                    (!(isLoading$ | async) && (totalDataSource$ | async) === 0)
                "
                [length]="totalDataSource$ | async"
                [pageSize]="5"
                [pageSizeOptions]="[5, 10, 25, 100]"
                (page)="onChangePage($event)"
                showFirstLastButtons
            >
            </mat-paginator>

            <div class="loader" *ngIf="(isLoading$ | async) && (totalDataSource$ | async)">
                <mat-spinner color="accent"></mat-spinner>
            </div>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
