<div id="orders" class="page-layout carded fullwidth inner-scroll">
    <!-- <navbar variant="horizontal-custom-style-1" class="top-navbar"></navbar> -->

    <!-- TOP BACKGROUND -->
    <div class="accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center p-8">
        <!-- CONTENT HEADER -->
        <!-- / CONTENT HEADER -->

        <!-- <mat-card
            class="mt-8 mb-24"
            *ngIf="(filterStatus && filterStatus !== 'all-status') || search.value"
        >
            <div fxLayout="column" fxLayoutGap="10px">
                <small>
                    Filter & Group By
                </small>

                <div>
                    <mat-chip-list aria-label="Filter">
                        <mat-chip *ngIf="searchStatus || filterStatus">
                            Status:

                            <ng-container [ngSwitch]="searchStatus">
                                <ng-container *ngSwitchCase="'confirm'">
                                    New Order
                                </ng-container>

                                <ng-container *ngSwitchCase="'packing'">
                                    Packed
                                </ng-container>

                                <ng-container *ngSwitchCase="'shipping'">
                                    Shipped
                                </ng-container>

                                <ng-container *ngSwitchCase="'delivered'">
                                    Delivered
                                </ng-container>

                                <ng-container *ngSwitchCase="'done'">
                                    Done
                                </ng-container>

                                <ng-container *ngSwitchCase="'cancel'">
                                    Canceled
                                </ng-container>
                            </ng-container>

                            <mat-icon matChipRemove (click)="onRemoveSearchStatus()">
                                cancel
                            </mat-icon>
                        </mat-chip>

                        <mat-chip *ngIf="search.value">
                            {{ search.value }}

                            <mat-icon matChipRemove (click)="onRemoveSearchOrder()">
                                cancel
                            </mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>
        </mat-card> -->
        <mat-tab-group
            color="accent"
            style="border-radius: 4px;"
            class="px-16 mt-0 my-8 sinbad-white sinbad-mat-tab-group narrow mat-tab-header-px-12"
            animationDuration="0ms"
            (selectedIndexChange)="onSelectedTab($event)"
        >
            <mat-tab [label]="'All (' + allOrder + ')'"></mat-tab>
            <mat-tab [label]="'Pending (' + pendingOrder + ')'"></mat-tab>
            <mat-tab [label]="'Pending Payment (' + pendingPayment + ')'"></mat-tab>
            <mat-tab [label]="'New Order (' + newOrder + ')'"></mat-tab>
            <mat-tab [label]="'Packed (' + packedOrder + ')'"></mat-tab>
            <mat-tab [label]="'Shipped (' + shippedOrder + ')'"></mat-tab>
            <mat-tab [label]="'Delivered (' + deliveredOrder + ')'"></mat-tab>
            <mat-tab [label]="'Done (' + completedOrder + ')'"></mat-tab>
            <mat-tab [label]="'Canceled (' + canceledOrder + ')'"></mat-tab>
        </mat-tab-group>

        <!-- CONTENT CARD [class.mt-8]="!filterStatus || filterStatus === 'all-status'" -->
        <div class="content-card">
            <sinbad-card-header [config]="cardHeaderConfig"></sinbad-card-header>

            <mat-table
                class="orders-table sinbad-table mx-12"
                [class.sinbad-table-no-record]="
                    !(isLoading$ | async) && (totalDataSource$ | async) === 0
                "
                #table
                [dataSource]="dataSource$ | async"
                [trackBy]="onTrackBy"
                matSort
                [@animateStagger]="{ value: '50' }"
                fusePerfectScrollbar
            >
                <!-- Checkbox Column -->
                <!-- <ng-container matColumnDef="checkbox">
                    <mat-header-cell *matHeaderCellDef>
                        <mat-checkbox
                            [(ngModel)]="hasSelected"
                            (click)="$event.stopPropagation()"
                        ></mat-checkbox>
                    </mat-header-cell>

                    <mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"></mat-checkbox>
                    </mat-cell>
                </ng-container> -->

                <!-- SNB Order ID Column -->
                <ng-container matColumnDef="order-code">
                    <mat-header-cell *matHeaderCellDef>
                        SNB Order ID
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{ safeValue(row?.orderCode) }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- SUP Order ID Column -->
                <ng-container matColumnDef="order-ref">
                    <mat-header-cell *matHeaderCellDef>
                        SUP Order ID
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{ safeValue(row?.orderRef) }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Order Date Column -->
                <ng-container matColumnDef="order-date">
                    <mat-header-cell *matHeaderCellDef>
                        Order Date
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{
                                safeValue(row?.createdAt) !== '-'
                                    ? (row?.createdAt | date: 'dd/MM/yyyy HH:mm:ss')
                                    : safeValue(row?.createdAt)
                            }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Store Name Column -->
                <ng-container matColumnDef="store-name">
                    <mat-header-cell *matHeaderCellDef>
                        Store Name
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{ safeValue(row?.order?.store?.supplierStores[0]?.name) }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Trx Amount Column -->
                <ng-container matColumnDef="trx-amount">
                    <mat-header-cell *matHeaderCellDef>
                        Order Value
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p class="price" style="word-break: break-word;">
                            {{
                                row?.parcelFinalPrice > 0 || row?.parcelFinalPrice == 0
                                    ? (row?.parcelFinalPrice | price: 'full':'IDR':'narrow':'1.2-2')
                                    : safeValue(row?.parcelNettPrice)
                            }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Warehouse Column -->
                <ng-container matColumnDef="warehouse">
                    <mat-header-cell *matHeaderCellDef>
                        Warehouse
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{ safeValue(row?.warehouse) }}
                        </p>
                    </mat-cell>
                </ng-container>


                <!-- Paylater type Column -->
                <ng-container matColumnDef="paylater-type">
                    <mat-header-cell *matHeaderCellDef>
                        Pay Later Type
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{ safeValue(row?.paylaterType?.name) }}
                        </p>
                    </mat-cell>
                </ng-container>


                <!-- Payment Method Column -->
                <ng-container matColumnDef="payment-method">
                    <mat-header-cell *matHeaderCellDef>
                        Payment Method/TOP
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{ safeValue(row?.paymentChannel?.name) }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef>
                        Order Status
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            <ng-container [ngSwitch]="row?.status">
                                <ng-container *ngSwitchCase="'checkout'">
                                    Quotation
                                </ng-container>

                                <ng-container *ngSwitchCase="'pending_payment'">
                                    Pending Payment
                                </ng-container>

                                <ng-container *ngSwitchCase="'confirm'">
                                    New Order
                                </ng-container>

                                <ng-container *ngSwitchCase="'packing'">
                                    Packed
                                </ng-container>

                                <!-- <ng-container *ngSwitchCase="'confirm'">
                                    Siap Dikirim
                                </ng-container> -->

                                <ng-container *ngSwitchCase="'shipping'">
                                    Shipped
                                </ng-container>

                                <ng-container *ngSwitchCase="'delivered'">
                                    Delivered
                                </ng-container>

                                <ng-container *ngSwitchCase="'done'">
                                    Done
                                </ng-container>
                                
                                <ng-container *ngSwitchCase="'pending_partial'">
                                    Pending Partial
                                </ng-container>

                                <ng-container *ngSwitchCase="'pending_supplier'">
                                    Pending Supplier
                                </ng-container>

                                <ng-container *ngSwitchCase="'cancel'">
                                    Canceled
                                </ng-container>

                                <ng-container *ngSwitchDefault>
                                    -
                                </ng-container>
                            </ng-container>
                        </p>
                    </mat-cell>
                </ng-container>                

                <!-- Warehouse Column -->
                <ng-container matColumnDef="payment-status">
                    <mat-header-cell *matHeaderCellDef>
                        Payment Status
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{ safeValue(row?.statusPayment) }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Total Product Column -->
                <ng-container matColumnDef="total-product">
                    <mat-header-cell *matHeaderCellDef>
                        Qty(pcs)
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{
                                row?.parcelQty > 0 || row?.parcelQty == 0
                                    ? (row?.parcelQty | number)
                                    : safeValue(row?.parcelQty)
                            }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Delivered On Column -->
                <!-- <ng-container matColumnDef="deliveredOn">
                    <mat-header-cell *matHeaderCellDef>
                        Delivered On
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{ row?.deliveredOn | date: 'dd/MM/yyyy' }}
                        </p>
                    </mat-cell>
                </ng-container> -->

                <!-- Actual Amt Delivered Column -->
                <ng-container matColumnDef="actual-amount-delivered">
                    <mat-header-cell *matHeaderCellDef>
                        Actual Amt Delivered
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p class="price" style="word-break: break-word;">
                            {{
                                row?.parcelNettPrice > 0 || row?.parcelNettPrice == 0
                                    ? (row?.parcelNettPrice | price: 'full':'IDR':'narrow':'1.2-2')
                                    : safeValue(row?.parcelNettPrice)
                            }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Delivered Date Column -->
                <ng-container matColumnDef="delivered-date">
                    <mat-header-cell *matHeaderCellDef>
                        Delivered Date
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p class="price" style="word-break: break-word;">
                            {{
                                row?.deliveredDate
                                    ? (row?.deliveredDate | date: 'dd/MM/yyyy HH:mm:ss')
                                    : '-'
                            }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Order Source Column -->
                <ng-container matColumnDef="order-source">
                    <mat-header-cell *matHeaderCellDef>
                        Order Source
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{ safeValue(row?.order?.source) }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Active Column -->
                <!-- <ng-container matColumnDef="active">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>
                        Active
                    </mat-header-cell>

                    <mat-cell *matCellDef="let row" fxHide fxShow.gt-xs>
                        <mat-icon *ngIf="row.active" class="active-icon green-600 s-16">
                            check
                        </mat-icon>

                        <mat-icon *ngIf="!row.active" class="active-icon red-500 s-16">
                            close
                        </mat-icon>
                    </mat-cell>
                </ng-container> -->

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>
                        <!-- <button mat-icon-button *ngIf="hasSelected">
                            <mat-icon class="secondary-text">delete</mat-icon>
                        </button> -->
                        Actions
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div fxFlex="row" fxLayoutAlign="end center">
                            <button
                                mat-icon-button
                                [matMenuTriggerFor]="moreMenu"
                                aria-label="More"
                                *ngIf="
                                    row?.status !== 'done' &&
                                    row?.status !== 'cancel' &&
                                    row?.status !== 'checkout' &&
                                    row?.status !== 'pending' &&
                                    row?.status !== 'pending_partial'
                                "
                                (click)="$event.stopPropagation()"
                            >
                                <mat-icon class="secondary-text">more_vert</mat-icon>
                            </button>

                            <mat-menu #moreMenu="matMenu">
                                <ng-template [ngxPermissionsOnly]="['OMS.UPDATE']">
                                    <button
                                        mat-menu-item
                                        type="button"
                                        class="sinbad-mat-menu-item"
                                        aria-label="Send"
                                        *ngIf="
                                            row?.status !== 'done' &&
                                            row?.status !== 'cancel' &&
                                            row?.status !== 'checkout' &&
                                            row?.status !== 'pending' &&
                                            row?.status !== 'pending_payment'
                                        "
                                        (click)="onChangeStatus(row)"
                                    >
                                        <mat-icon>send</mat-icon>
                                        <span>
                                            <ng-container [ngSwitch]="row?.status">
                                                <ng-container *ngSwitchCase="'confirm'">
                                                    Packed
                                                </ng-container>

                                                <ng-container *ngSwitchCase="'packing'">
                                                    Shipped
                                                </ng-container>

                                                <ng-container *ngSwitchCase="'shipping'">
                                                    Delivered
                                                </ng-container>

                                                <ng-container *ngSwitchCase="'delivered'">
                                                    Done
                                                </ng-container>

                                            </ng-container>
                                            <!--  {{ 'GLOBAL_STATUS.TO_BE_SHIPPED' | translate }} -->
                                        </span>
                                    </button>

                                    <button
                                        mat-menu-item
                                        type="button"
                                        class="sinbad-mat-menu-item"
                                        aria-label="Cancel"
                                        *ngIf="row?.status === 'confirm' || row?.status === 'pending_payment'"
                                        (click)="onChangeCancelStatus(row)"
                                    >
                                        <mat-icon>send</mat-icon>
                                        <span>Cancel</span>
                                    </button>
                                </ng-template>

                                <!-- <button
                                    mat-menu-item
                                    type="button"
                                    class="sinbad-mat-menu-item"
                                    aria-label="edit"
                                    [routerLink]="[row?.id]"
                                >
                                    <mat-icon>edit</mat-icon>
                                    <span>Edit</span>
                                </button> -->

                                <!-- <button
                                    mat-menu-item
                                    type="button"
                                    class="sinbad-mat-menu-item"
                                    aria-label="remove"
                                    (click)="onDelete(row)"
                                >
                                    <mat-icon>delete</mat-icon>
                                    <span>Remove</span>
                                </button> -->

                                <!-- <button
                                    mat-menu-item
                                    type="button"
                                    class="sinbad-mat-menu-item"
                                    aria-label="archive"
                                >
                                    <mat-icon>archive</mat-icon>
                                    <span>Archive</span>
                                </button> -->

                                <!-- <button
                                    mat-menu-item
                                    type="button"
                                    class="sinbad-mat-menu-item"
                                    aria-label="print"
                                >
                                    <mat-icon>print</mat-icon>
                                    <span>{{ 'ACTION.PRINT' | translate }}</span>
                                </button> -->
                            </mat-menu>
                        </div>
                    </mat-cell>
                </ng-container>

                <!-- No Record Column -->
                <ng-container matColumnDef="no-record">
                    <mat-footer-cell *matFooterCellDef colspan="10">
                        No records found
                    </mat-footer-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                <mat-row
                    *matRowDef="let row; columns: displayedColumns"
                    class="order"
                    matRipple
                    [routerLink]="['/pages/orders', row.id, 'detail']"
                >
                </mat-row>
                <mat-footer-row
                    *matFooterRowDef="['no-record']"
                    [fxShow]="!(isLoading$ | async) && (totalDataSource$ | async) === 0"
                ></mat-footer-row>
            </mat-table>

            <div
                class="loader-content"
                *ngIf="
                    (isLoading$ | async) &&
                    (!(totalDataSource$ | async) || (totalDataSource$ | async))
                "
            >
                <mat-spinner color="accent"></mat-spinner>
            </div>

            <!-- <div class="no-records" *ngIf="(isLoading$ | async) && !(totalDataSource$ | async)">
                <mat-spinner color="accent"></mat-spinner>
            </div>

            <div
                class="no-records"
                *ngIf="
                    !(isLoading$ | async) &&
                    ((totalDataSource$ | async) === 0 || (dataSource$ | async)?.length === 0)
                "
            >
                No records found
            </div> -->

            <mat-paginator
                [disabled]="
                    ((isLoading$ | async) && !(totalDataSource$ | async)) ||
                    (!(isLoading$ | async) && (totalDataSource$ | async) === 0)
                "
                [length]="totalDataSource$ | async"
                [pageSize]="defaultPageSize"
                [pageSizeOptions]="defaultPageOpts"
                showFirstLastButtons
            >
            </mat-paginator>


            <!-- <div
                class="loader"
                *ngIf="
                    ((isLoading$ | async) && (totalDataSource$ | async)) ||
                    (isRequestingExport$ | async)
                "
            >
                <mat-spinner color="accent"></mat-spinner>
            </div> -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
