<div id="attendance" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="['/pages/attendances/' + storeId + '/employee/' + employeeId + '/detail']">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div
                    class="attendance-image mr-8 mr-sm-16"
                    [@animate]="{ value: '*', params: { delay: '50ms', scale: '0.2' } }"
                >
                    <img
                        *ngIf="(attendance$ | async)?.user?.imageUrl"
                        [src]="(attendance$ | async)?.user?.imageUrl"
                    />
                    <img
                        *ngIf="!(attendance$ | async)?.user?.imageUrl"
                        [src]="'assets/images/avatars/profile.jpg'"
                    />
                </div>

                <div
                    fxLayout="column"
                    fxLayoutAlign="start start"
                    [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
                >
                    <div class="h2" *ngIf="pageType === 'edit'">
                        {{
                            form.get('searchAccount')?.value
                                ? form.get('searchAccount')?.value?.email
                                    ? form.get('searchAccount')?.value?.email
                                    : form.get('searchAccount')?.value
                                : (attendance$ | async)?.user?.email
                        }}
                    </div>

                    <div class="h2" *ngIf="pageType === 'new'">
                        {{
                            form.get('searchAccount')?.value
                                ? form.get('searchAccount')?.value?.email
                                    ? form.get('searchAccount')?.value?.email
                                    : form.get('searchAccount')?.value
                                : 'New Attendance'
                        }}
                    </div>

                    <div class="subtitle secondary-text">
                        <span>Attendance Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <!-- <button
                mat-raised-button
                type="submit"
                class="save-product-button"
                [disabled]="
                    form.invalid || !form.get('checkIn').value || !form.get('checkOut').value
                "
                *ngIf="pageType === 'new'"
                form="attendance-form"
            >
                <span>ADD</span>
            </button> -->

            <button
                mat-raised-button
                type="submit"
                class="save-product-button"
                [disabled]="
                    form.invalid ||
                    form.pristine ||
                    !form.get('checkInTime').value ||
                    !form.get('checkOutTime').value
                "
                *ngIf="pageType === 'edit'"
                form="attendance-form"
                (click)="onSubmit(pageType)"
            >
                <span>SAVE</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="sinbad-content mat-elevation-z1 fuse-white">
            <!-- CONTENT -->
            <div class="content">
                <form
                    id="attendance-form"
                    name="attendanceForm"
                    class="attendance w-100-p ml-32 mr-32"
                    [formGroup]="form"
                    fxLayout="column"
                    fxFlex
                    novalidate
                >
                    <h1>Attendance Detail</h1>

                    <mat-divider class="mb-16"></mat-divider>

                    <!-- ATTENDANCE ID -->
                    <input
                        matInput
                        name="id"
                        formControlName="id"
                        hidden
                    />
                    <!-- <div
                        class="custom-field"
                        fxLayout="row"
                        fxLayoutAlign="space-between stretch"
                    >
                        <label
                            fxFlexAlign="center"
                            fxFlex="12"
                            [class.mat-error]="
                                form.get('id').errors &&
                                !form.get('id').untouched &&
                                (form.get('id').dirty || form.get('id').touched)
                            "
                        >
                            *Attendance ID
                        </label>
                
                        <mat-form-field appearance="outline" fxFlex="80">
                            <input
                                matInput
                                name="id"
                                formControlName="id"
                            />
                        </mat-form-field>
                    </div> -->
                    <!-- / ATTENDANCE ID -->

                    <!-- CHECK DATE -->
                    <div
                        class="custom-field"
                        fxLayout="row"
                        fxLayoutAlign="space-between stretch"
                    >
                        <label
                            fxFlexAlign="center"
                            fxFlex="12"
                            [class.mat-error]="
                                form.get('checkDate').errors &&
                                !form.get('checkDate').untouched &&
                                (form.get('checkDate').dirty || form.get('checkDate').touched)
                            "
                        >
                            *Check Date
                        </label>
                
                        <mat-form-field appearance="outline" fxFlex="80">
                            <input
                                matInput
                                [matDatetimepicker]="checkDatePicker"
                                [max]="maxCheckInDate"
                                [min]="minCheckInDate"
                                autocomplete="false"
                                name="checkDate"
                                formControlName="checkDate"
                            />
                            <mat-datetimepicker-toggle
                                matSuffix
                                [for]="checkDatePicker"
                            ></mat-datetimepicker-toggle>
                            <mat-datetimepicker
                                touchUi
                                #checkDatePicker
                                [disabled]="false"
                                type="date"
                            >
                            </mat-datetimepicker>
                        </mat-form-field>
                    </div>
                    <!-- / CHECK DATE -->

                    <!-- CHECK-IN TIME -->
                    <div
                        class="custom-field"
                        fxLayout="row"
                        fxLayoutAlign="space-between stretch"
                    >
                        <label
                            fxFlexAlign="center"
                            fxFlex="12"
                            [class.mat-error]="
                                form.get('checkInTime').errors &&
                                !form.get('checkInTime').untouched &&
                                (form.get('checkInTime').dirty || form.get('checkInTime').touched)
                            "
                        >
                            *Check-in Time
                        </label>
                
                        <mat-form-field appearance="outline" fxFlex="80">
                            <input
                                matInput
                                [matDatetimepicker]="checkInPicker"
                                [max]="maxCheckInDate"
                                [min]="minCheckInDate"
                                (dateChange)="onChangeCheckInDate($event)"
                                autocomplete="false"
                                name="checkInTime"
                                formControlName="checkInTime"
                            />
                            <mat-datetimepicker-toggle
                                matSuffix
                                [for]="checkInPicker"
                            ></mat-datetimepicker-toggle>
                            <mat-datetimepicker
                                touchUi
                                #checkInPicker
                                [disabled]="false"
                                type="datetime"
                            >
                            </mat-datetimepicker>
                        </mat-form-field>
                    </div>
                    <!-- / CHECK-IN TIME -->

                    <!-- CHECK-OUT TIME -->
                    <div
                        class="custom-field"
                        fxLayout="row"
                        fxLayoutAlign="space-between stretch"
                    >
                        <label
                            fxFlexAlign="center"
                            fxFlex="12"
                            [class.mat-error]="
                                form.get('checkOutTime').errors &&
                                !form.get('checkOutTime').untouched &&
                                (form.get('checkOutTime').dirty || form.get('checkOutTime').touched)
                            "
                        >
                            *Check-out Time
                        </label>
                
                        <mat-form-field appearance="outline" fxFlex="80">
                            <input
                                matInput
                                [matDatetimepicker]="checkOutPicker"
                                [max]="maxCheckOutDate"
                                [min]="minCheckOutDate"
                                (dateChange)="onChangeCheckOutDate($event)"
                                autocomplete="false"
                                name="checkOutTime"
                                formControlName="checkOutTime"
                            />
                            <mat-datetimepicker-toggle
                                matSuffix
                                [for]="checkOutPicker"
                            ></mat-datetimepicker-toggle>
                            <mat-datetimepicker
                                touchUi
                                #checkOutPicker
                                [disabled]="false"
                                type="datetime"
                            >
                            </mat-datetimepicker>
                        </mat-form-field>
                    </div>
                    <!-- / CHECK-OUT TIME -->

                    <!-- LOCATION TYPE -->
                    <div
                        class="custom-field"
                        fxLayout="row"
                        fxLayoutAlign="space-between stretch"
                    >
                        <label
                            fxFlexAlign="center"
                            fxFlex="12"
                            [class.mat-error]="
                                form.get('locationType').errors &&
                                !form.get('locationType').untouched &&
                                (form.get('locationType').dirty || form.get('locationType').touched)
                            "
                        >
                            *Location Type
                        </label>
                
                        <mat-form-field
                            appearance="outline"
                            fxFlex="80"
                        >
                            <mat-select
                                name="locationType"
                                formControlName="locationType"
                            >
                                <mat-option *ngFor="let locType of locationTypes" [value]="locType.value">
                                    {{ locType.text }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <!-- / LOCATION TYPE -->

                    <!-- ATTENDANCE TYPE -->
                    <div
                        class="custom-field"
                        fxLayout="row"
                        fxLayoutAlign="space-between stretch"
                    >
                        <label
                            fxFlexAlign="center"
                            fxFlex="12"
                            [class.mat-error]="
                                form.get('attendanceType').errors &&
                                !form.get('attendanceType').untouched &&
                                (form.get('attendanceType').dirty || form.get('attendanceType').touched)
                            "
                        >
                            *Attendance Type
                        </label>
                
                        <mat-form-field
                            appearance="outline"
                            fxFlex="80"
                        >
                            <mat-select
                                name="attendanceType"
                                formControlName="attendanceType"
                            >
                                <mat-option
                                    *ngFor="let attType of attendanceTypes"
                                    [value]="attType.value"
                                >
                                    {{ attType.text }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <!-- / ATTENDANCE TYPE -->
                </form>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
