<span #filterMenu="matMenuTrigger" [matMenuTriggerFor]="filterColumnMenu"></span>

<mat-menu #filterColumnMenu="matMenu" [overlapTrigger]="false">
    <div
        class="page-layout carded fullwidth inner-scroll"
        (click)="$event.stopPropagation()"
        (keyup)="$event.stopPropagation()"
        (keydown)="$event.stopPropagation()"
    >
        <form autocomplete="off" (ngSubmit)="onFilterSubmit()" [formGroup]="filterForm">
            <div class="p-12" fxLayout="column" fxFlex>
                <span class="mat-title">{{ title }}</span>

                <mat-form-field>
                    <mat-select formControlName="operator" placeholder="Condition:">
                        <mat-option *ngFor="let condition of conditions" [value]="condition.id">
                            {{ condition.text }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="!forFirstValue" fxFlex>
                    <input formControlName="filterVal1" matInput placeholder="Value" />
                </mat-form-field>

                <mat-form-field class="font-sm" *ngIf="forSecondValue">
                    <input formControlName="filterVal2" matInput placeholder="Second Value" />
                </mat-form-field>

                <button [disabled]="hasNoValue" matRipple type="submit"></button>
            </div>
        </form>
    </div>
</mat-menu>
