/* .mat-dialog-container {
    padding: 16px !important;
}

:host {
    padding: 16px !important;
}
 */

.resend-store-dialog {
    .mat-dialog-container {
        padding: 0 16px 16px 16px;
    }

    .mat-dialog-content {
        color: #25282b !important;
    }

    .mat-dialog-actions {
        button {
            min-width: 98px;
        }
    }
}
