<div class="dialog-content-wrapper p-0 m-0">
    <mat-toolbar class="m-0 fuse-white-bg h-45">
        <mat-toolbar-row
            class="p-0 h-45"
            fxFlex
            fxLayout="row"
            fxLayoutAlign="space-between center"
        >
            <span class="title dialog-title">Re-send</span>
            <button
                type="button"
                mat-icon-button
                aria-label="Close Dialog"
                mat-dialog-close
                disableRipple
            >
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-dialog-content class="mat-typography p-0 m-0">
        <p [innerHTML]="data?.message"></p>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button type="button" mat-button mat-dialog-close>Cancel</button>
        <button type="button" mat-flat-button color="accent" (click)="onConfirm()">Confirm</button>
    </mat-dialog-actions>
</div>
