@import 'src/@fuse/scss/fuse';

#order-detail {
    .content-card{
        background-color: inherit !important;
        box-shadow: none;
    }

    .top-bg {
        height: 144px;
    }

    .header {
        height: 100px !important;
        min-height: 100px !important;
        max-height: 100px !important;

        .subtitle {
            margin: 6px 0 0 0;
        }

        .btn-action {
            min-width: 84px;
        }
    }

    .content {
        .mat-headline {
            font-size: 18px;
            font-weight: 600;
        }
    }
}
