<div id="associations-form" class="page-layout carded fullwidth" fusePerfectScrollbar>
    <!-- TOP BACKGROUND -->
    <!-- <div class="accent"></div> -->
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center p-32" fxLayout="column" fxLayoutAlign="space-between none" fxLayoutGap="10px">
        <!-- CONTENT CARD (INFORMASI ASSOCIATION) -->
        <div class="content-card p-16" fxLayout="column" fxLayoutAlign="start none" fxLayoutGap="25px">
            <div>
                <div class="font-weight-600 font-size-24 line-height-20">Association Information</div>
            </div>
        
            <div class="pt-0 line-height-1.75" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="100px">
                <form class="w-100-p" [formGroup]="form" fxLayout="column" fxFlex="50" fxLayoutGap="5px" novalidate>
                    <!-- SALES REP -->
                    <div
                        class="custom-field"
                        fxLayout="row"
                        fxLayoutAlign="space-between stretch"
                    >
                        <label
                            fxFlexAlign="center"
                            fxFlex="18"
                            class="pr-0"
                            [class.mat-error]="hasError(form.get('salesRep'))"
                        >
                            <span
                                class="red-500-fg"
                            >* </span>
                            Sales Rep
                        </label>
                
                        <mat-form-field fxFlexAlign="center" appearance="outline" fxFlex="80">
                            <input
                                matInput
                                placeholder="Pick a Sales Rep."
                                formControlName="salesRep"
                                [matAutocomplete]="salesRepScroll"
                            />
                            <mat-autocomplete
                                #salesRepScroll="matAutocomplete"
                                [displayWith]="displaySalesRep"
                                (opened)="listenSalesRepScroll()"
                            >
                                <!-- SALES REP. OPTIONS -->
                                <mat-option
                                    *ngFor="let salesRep of (salesReps$ | async)"
                                    [value]="salesRep"
                                >
                                    {{ salesRep?.user?.fullName }}
                                </mat-option>
                                <!-- SALES REP. OPTIONS -->

                                <!-- LOADING OPTION -->
                                <mat-option
                                    [disabled]="true"
                                    style="text-align: center; font-style: italic; max-height: 30px;"
                                    *ngIf="(totalSalesReps$ | async) > (salesReps$ | async)?.length"
                                >
                                    Loading ...
                                </mat-option>
                                <!-- / LOADING OPTION -->
                            </mat-autocomplete>
                            <mat-error *ngIf="hasError(form.get('salesRep'))">
                                {{ getFormError(form.get('salesRep')) }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <!-- / SALES REP -->
                    <!-- INVOICE GROUP (GRUP FAKTUR) -->
                    <div
                        class="custom-field"
                        fxLayout="row"
                        fxLayoutAlign="space-between start"
                    >
                        <label
                            fxFlexAlign="center"
                            fxFlex="18"
                            class="pr-0"
                            [class.mat-error]="hasError(form.get('invoiceGroup'))"
                        >
                            <span
                                class="red-500-fg"
                            >* </span>Faktur
                        </label>
                
                        <mat-form-field fxFlexAlign="center" appearance="outline" fxFlex="80">
                            <mat-select
                                name="invoiceGroup"
                                formControlName="invoiceGroup"
                            >
                                <mat-option
                                    *ngFor="let invoiceGroup of (invoiceGroups$ | async)"
                                    [value]="invoiceGroup"
                                >
                                    {{ invoiceGroup.name }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="hasError(form.get('invoiceGroup'))">
                                {{ getFormError(form.get('invoiceGroup')) }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <!-- / INVOICE GROUP (GRUP FAKTUR) -->
                    <!-- PORTFOLIO TYPE -->
                    <!-- <div
                        class="custom-field mt-16"
                        fxLayout="row"
                        fxLayoutAlign="space-between start"
                    >
                        <label
                            fxFlexAlign="start"
                            fxFlex="18"
                            class="pr-0 pt-12"
                            [class.mat-error]="hasError(form.get('type'))"
                        >
                            <span
                                class="red-500-fg"
                            >* </span>Portfolio Type
                        </label>

                        <div fxFlex="80" fxFlexAlign="center" fxLayout="column" fxLayoutAlign="start stretch">
                            <mat-radio-group formControlName="type" fxLayout="row" fxLayoutGap="50px" fxFlex="80">
                                <mat-radio-button value="direct">Direct</mat-radio-button>
                                <mat-radio-button value="group">Group</mat-radio-button>
                            </mat-radio-group>

                            <mat-error *ngIf="hasError(form.get('type'))">
                                {{ getFormError(form.get('type')) }}
                            </mat-error>

                            <mat-hint *ngIf="form.get('type').value === 'direct'">
                                Only a store allowed to be added for Portfolio Type direct.
                            </mat-hint>
                        </div>
                    </div> -->
                    <!-- / PORTFOLIO TYPE -->
                </form>
                <div class="img-container mb-32" *ngIf="!hasError(form.get('salesRep'), { ignoreTouched: true, ignoreDirty: true })">
                    <img
                        class="fit-image"
                        [style.border-radius]="'6px'"
                        [defaultImage]="'assets/images/avatars/profile.jpg'"
                        [useSrcset]="true"
                        [lazyLoad]="(selectedSalesRep$ | async)?.user?.imageUrl"
                        [errorImage]="'assets/images/avatars/profile.jpg'"
                    />
                </div>
            </div>

            <div class="content-card mat-elevation-z1">
                <mat-tab-group color="accent" animationDuration="0ms" (selectedIndexChange)="updateSelectedTab($event)">
                    <!-- IN PORTFOLIO -->
                    <mat-tab label="Portfolio">
                    </mat-tab>
                    <!-- / IN PORTFOLIO -->
                    <!-- OUT OF PORTFOLIO -->
                    <mat-tab label="Out of Portfolio">
                    </mat-tab>
                    <!-- / OUT OF PORTFOLIO -->
                </mat-tab-group>
    
                <div class="content-card p-16">
                    <app-associations-selected-portfolios></app-associations-selected-portfolios>
                </div>
            </div>
        </div>
        <!-- / CONTENT CARD (INFORMASI PRODUK) -->
    </div>
    <!-- / CENTER -->
    <!-- Spinner Loader -->
    <!-- <div class="loader" *ngIf="isPortfolioLoading$ | async">
        <mat-spinner color="accent"></mat-spinner>
    </div> -->
    <!-- Spinner Loader -->
</div>
