<div id="merchants" class="page-layout carded fullwidth inner-scroll" fusePerfectScrollbar>
    <!-- <navbar variant="horizontal-custom-style-1" class="top-navbar"></navbar> -->

    <!-- TOP BACKGROUND -->
    <div class="accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- CONTENT HEADER -->
        <div class="header sinbad" fxLayout="row" fxLayoutAlign="space-between center">
            <!--  <h2 class="m-0">Full width with content scroll</h2> -->

            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <button mat-flat-button color="accent" [routerLink]="['/pages/account/stores/new']">
                    <mat-icon>add</mat-icon>

                    TAMBAH TOKO
                </button>

                <button mat-stroked-button color="accent" class="sinbad">
                    IMPORT
                </button>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <!-- SEARCH -->
                <div class="search-wrapper mx-12">
                    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon>search</mat-icon>
                        <input #filter placeholder="Cari Disini" />
                    </div>
                </div>
                <!-- / SEARCH -->

                <button mat-flat-button class="grey-600">
                    <mat-icon>filter_list</mat-icon>
                    Filter Lists
                </button>

                <button mat-flat-button class="grey-600">
                    Group By
                </button>
            </div>
        </div>
        <!-- / CONTENT HEADER -->

        <mat-card class="mb-24">
            <div fxLayout="column" fxLayoutGap="10px">
                <small>
                    Filter & Group By
                </small>

                <div>
                    <mat-chip-list aria-label="Filter">
                        <mat-chip>
                            Status: Diterima

                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>

                        <mat-chip>
                            Geo Coverage
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>
        </mat-card>

        <!-- CONTENT CARD -->
        <!-- <div class="content-card">

        </div> -->

        <div class="sinbad-content mat-elevation-z1">
            <mat-table
                class="merchants-table"
                #table
                [dataSource]="dataSource$ | async"
                matSort
                [@animateStagger]="{ value: '50' }"
                fusePerfectScrollbar
            >
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        <span class="text-left">ID</span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p *ngIf="row?.id" style="word-break: break-word;">
                            {{ row?.id }}
                        </p>
                        <div *ngIf="!row?.id" class="skeleton"></div>
                    </mat-cell>
                </ng-container>

                <!-- Store Name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        <span class="text-left">Store Name</span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p *ngIf="row?.store?.name" style="word-break: break-word;">
                            {{ row?.store?.name }}
                        </p>
                        <div *ngIf="!row?.store?.name" class="skeleton w-100-p"></div>
                    </mat-cell>
                </ng-container>

                <!-- City Column -->
                <ng-container matColumnDef="city">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        <span class="text-left">City</span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p *ngIf="row?.store?.urban?.urban" style="word-break: break-word;">
                            {{ row?.store?.urban?.urban }}
                        </p>
                        <div *ngIf="!row?.store?.urban?.urban" class="skeleton w-100-p"></div>
                    </mat-cell>
                </ng-container>

                <!-- Address Column -->
                <ng-container matColumnDef="address">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        <span class="text-left">Address</span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p *ngIf="row?.store?.urban?.urban" style="word-break: break-word;">
                            {{ row?.store?.address }}
                        </p>
                        <div *ngIf="!row?.store?.address" class="skeleton w-100-p"></div>
                    </mat-cell>
                </ng-container>

                <!-- Owner Phone Number Column -->
                <ng-container matColumnDef="owner-phone-no">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>
                        <span class="text-left">Owner Phone Number</span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxHide fxShow.gt-xs>
                        <p *ngIf="row?.store?.phoneNo">
                            {{ row?.store?.phoneNo }}
                        </p>
                        <div *ngIf="!row?.store?.phoneNo" class="skeleton w-100-p"></div>
                    </mat-cell>
                </ng-container>

                <!-- Store Segment Column -->
                <ng-container matColumnDef="store-segment">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>
                        <span class="text-left">Store Segment</span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>
                        <p *ngIf="row?.store?.storeSegment?.name" style="word-break: break-word;">
                            {{ row?.store?.storeSegment?.name }}
                        </p>
                        <div *ngIf="!row?.store?.storeSegment?.name" class="skeleton"></div>
                    </mat-cell>
                </ng-container>

                <!-- Store Type Column -->
                <ng-container matColumnDef="store-type">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>
                        <span class="text-left">Store Type</span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p *ngIf="row?.store?.storeType?.name" style="word-break: break-word;">
                            {{ row?.store?.storeType?.name | titlecase }}
                        </p>
                        <div *ngIf="!row?.store?.storeType?.name" class="skeleton w-100-p"></div>
                    </mat-cell>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        <span class="text-left">Status</span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p *ngIf="row?.store?.status" style="word-break: break-word;">
                            {{ row?.store?.status | uppercase }}
                        </p>
                        <div *ngIf="!row?.store?.status" class="skeleton w-100-p"></div>
                    </mat-cell>
                </ng-container>

                <!-- Reason Column -->
                <ng-container matColumnDef="reason">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        <span class="text-left">Reason</span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p *ngIf="row?.store?.reason" style="word-break: break-word;">
                            {{ row?.store?.reason | titlecase }}
                        </p>
                        <div *ngIf="!row?.store?.reason" class="skeleton w-100-p"></div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>
                        <span class="text-left">Action</span>
                    </mat-header-cell>

                    <mat-cell *matCellDef="let row">
                        <div fxFlex="row" fxLayoutAlign="end center" *ngIf="row?.store">
                            <button
                                mat-icon-button
                                [matMenuTriggerFor]="moreMenu"
                                aria-label="More"
                                (click)="$event.stopPropagation()"
                            >
                                <mat-icon class="secondary-text">more_vert</mat-icon>
                            </button>

                            <mat-menu #moreMenu="matMenu">
                                <button
                                    mat-menu-item
                                    type="button"
                                    class="sinbad-mat-menu-item"
                                    aria-label="edit"
                                    [routerLink]="[row?.id]"
                                >
                                    <mat-icon>edit</mat-icon>
                                    <span>Edit</span>
                                </button>

                                <button
                                    mat-menu-item
                                    type="button"
                                    class="sinbad-mat-menu-item"
                                    aria-label="remove"
                                    (click)="onDelete(row)"
                                >
                                    <mat-icon>delete</mat-icon>
                                    <span>Remove</span>
                                </button>

                                <button
                                    mat-menu-item
                                    type="button"
                                    class="sinbad-mat-menu-item"
                                    aria-label="deactive"
                                >
                                    <mat-icon>archive</mat-icon>
                                    <span>Deactive</span>
                                </button>

                                <button
                                    mat-menu-item
                                    type="button"
                                    class="sinbad-mat-menu-item"
                                    [attr.aria-label]="
                                        row?.store?.status === 'active' ? 'inactive' : 'active'
                                    "
                                >
                                    <mat-icon>{{
                                        row?.store?.status === 'active'
                                            ? 'remove_circle_outline'
                                            : 'check_circle_outline'
                                    }}</mat-icon>
                                    <span>{{
                                        (row?.store?.status === 'active'
                                            ? 'ACTION.INACTIVE'
                                            : 'ACTION.ACTIVE') | translate
                                    }}</span>
                                </button>
                            </mat-menu>
                        </div>
                        <div *ngIf="!row?.store" class="skeleton w-25-p"></div>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>

                <mat-row
                    *matRowDef="let row; columns: displayedColumns"
                    class="merchant"
                    matRipple
                    [routerLink]="['/pages/account/stores/' + row.id + '/detail']"
                >
                </mat-row>
            </mat-table>

            <mat-paginator
                [length]="totalDataSource$ | async"
                [pageSize]="5"
                [pageSizeOptions]="[5, 10, 25, 100]"
                (page)="onChangePage($event)"
                showFirstLastButtons
            >
            </mat-paginator>

            <div class="loader" *ngIf="isLoading$ | async">
                <mat-spinner color="accent"></mat-spinner>
            </div>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
