<div id="merchants" class="page-layout carded fullwidth inner-scroll" fusePerfectScrollbar>
    <!-- <navbar variant="horizontal-custom-style-1" class="top-navbar"></navbar> -->

    <!-- TOP BACKGROUND -->
    <div class="accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- CONTENT HEADER -->
        <div
            class="header sinbad"
            fxLayout="column"
            fxLayoutAlign="center stretch"
            fxLayoutGap="10px"
        >
            <!--  <h2 class="m-0">Full width with content scroll</h2> -->

            <div fxLayout="row" fxLayoutAlign="space-between center">
                <!-- APP TITLE -->
                <span
                    class="mat-title mb-24 mb-md-0"
                    fxFlexAlign="center"
                    [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
                >
                    Store List
                </span>
                <!-- / APP TITLE -->

                <!-- SEARCH -->
                <div class="search-wrapper mx-32 mx-md-0">
                    <!-- mx-12 -->
                    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon>search</mat-icon>
                        <input [formControl]="search" placeholder="Search for a store" />
                    </div>
                </div>
                <!-- / SEARCH -->

                <!-- <button mat-stroked-button color="accent" class="sinbad">
                    IMPORT
                </button> -->
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <ng-template [ngxPermissionsOnly]="['ACCOUNT.STORE.CREATE']">
                        <button
                            type="button"
                            mat-flat-button
                            color="accent"
                            [routerLink]="['/pages/account/stores/new']"
                        >
                            ADD
                        </button>
                    </ng-template>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center">
                    <!-- <button type="button" mat-flat-button color="accent" class="sinbad mr-16">
                        EXPORT
                    </button> -->

                    <app-export-advanced
                        title="EXPORT"
                        color="accent"
                        action="export"
                        [formConfig]="formConfig"
                        (clickExport)="onExport($event)"
                    ></app-export-advanced>

                    <!-- <sinbad-import-advanced
                        class="mr-16"
                        pageType="oms"
                        [btnConfig]="importBtnConfig"
                    ></sinbad-import-advanced> -->
                </div>

                <!-- <button mat-flat-button class="grey-600">
                    <mat-icon>filter_list</mat-icon>
                    Filter Lists
                </button>

                <button mat-flat-button class="grey-600">
                    Group By
                </button> -->
            </div>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- <mat-card class="mb-24" *ngIf="search.value">
            <div fxLayout="column" fxLayoutGap="10px">
                <small>
                    Filter & Group By
                </small>

                <div>
                    <mat-chip-list aria-label="Filter">
                        <mat-chip *ngIf="searchStore || search.value">
                            {{ searchStore || search.value }}

                            <mat-icon matChipRemove (click)="onRemoveSearchStore()">
                                cancel
                            </mat-icon>
                        </mat-chip>

                        <mat-chip>
                            Geo Coverage
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>
        </mat-card> -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <mat-table
                class="merchants-table"
                #table
                [dataSource]="dataSource$ | async"
                [trackBy]="onTrackBy"
                matSort
                [@animateStagger]="{ value: '50' }"
                fusePerfectScrollbar
            >
                <!-- ID Column -->
                <ng-container matColumnDef="store-code">
                    <mat-header-cell *matHeaderCellDef>
                        Supplier's Store ID
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{ row?.store?.externalId || '-' }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Store Name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef>
                        Store Name
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{ row?.store?.name || '-' }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- City Column -->
                <ng-container matColumnDef="city">
                    <mat-header-cell *matHeaderCellDef>
                        City
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{ row?.store?.urban?.city || '-' }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Address Column -->
                <ng-container matColumnDef="address">
                    <mat-header-cell *matHeaderCellDef>
                        Address
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{ row?.store?.address || '-' }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Store Phone No Column -->
                <ng-container matColumnDef="store-phone-no">
                    <mat-header-cell *matHeaderCellDef>
                        Store Phone Number
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{ row?.store?.phoneNo || '-' }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Owner Phone Number Column -->
                <ng-container matColumnDef="owner-phone-no">
                    <mat-header-cell *matHeaderCellDef>
                        Owner Phone Number
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{ row?.store?.owner?.mobilePhoneNo || '-' }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Owner Name Column -->
                <ng-container matColumnDef="owner-name">
                    <mat-header-cell *matHeaderCellDef>
                        Owner Name
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{ row?.store?.owner?.fullName || '-' }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Store Segment Column -->
                <ng-container matColumnDef="store-segment">
                    <mat-header-cell *matHeaderCellDef>
                        Store Segment
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{ row?.store?.storeSegment?.name || '-' }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Store Type Column -->
                <ng-container matColumnDef="store-type">
                    <mat-header-cell *matHeaderCellDef>
                        Store Type
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{ (row?.store?.storeType?.name | titlecase) || '-' }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- SR Name Column -->
                <ng-container matColumnDef="sr-name">
                    <mat-header-cell *matHeaderCellDef>
                        SR Name
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p [innerHTML]="generateSalesRep(row?.store?.sales) | safe: 'html'"></p>
                    </mat-cell>
                </ng-container>

                <!-- Joining Date Column -->
                <ng-container matColumnDef="joining-date">
                    <mat-header-cell *matHeaderCellDef>
                        Joining Date
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p style="word-break: break-word;">
                            {{ (row?.store?.createdAt | date: 'dd/MM/yyyy HH:mm:ss') || '-' }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef>
                        Status
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <ng-container *ngIf="row?.status">
                            <mat-icon
                                class="active-icon s-16"
                                [matTooltip]="row?.status | titlecase"
                                svgIcon="sinbad-check-active"
                                *ngIf="row?.status === 'active'"
                            >
                            </mat-icon>

                            <mat-icon
                                class="active-icon s-16"
                                [matTooltip]="row?.status | titlecase"
                                svgIcon="sinbad-check-inactive"
                                *ngIf="row?.status === 'inactive'"
                            >
                            </mat-icon>
                        </ng-container>

                        <ng-container *ngIf="!row?.status">
                            -
                        </ng-container>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>
                        Actions
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div fxFlex="row" fxLayoutAlign="end center">
                            <button
                                mat-icon-button
                                [matMenuTriggerFor]="moreMenu"
                                aria-label="More"
                                (click)="$event.stopPropagation()"
                            >
                                <mat-icon class="secondary-text">more_vert</mat-icon>
                            </button>

                            <mat-menu #moreMenu="matMenu">
                                <ng-template [ngxPermissionsOnly]="['ACCOUNT.STORE.UPDATE']">
                                    <button
                                        mat-menu-item
                                        type="button"
                                        class="sinbad-mat-menu-item"
                                        aria-label="Edit"
                                        [routerLink]="[row?.storeId]"
                                    >
                                        <mat-icon>edit</mat-icon>
                                        <span>Edit</span>
                                    </button>
                                </ng-template>

                                <ng-template [ngxPermissionsOnly]="['ACCOUNT.STORE.DELETE']">
                                    <button
                                        mat-menu-item
                                        type="button"
                                        class="sinbad-mat-menu-item"
                                        aria-label="Delete"
                                        (click)="onDelete(row)"
                                    >
                                        <mat-icon>delete</mat-icon>
                                        <span>Delete</span>
                                    </button>
                                </ng-template>

                                <!-- <button
                                    mat-menu-item
                                    type="button"
                                    class="sinbad-mat-menu-item"
                                    aria-label="Deactivate"
                                >
                                    <mat-icon>archive</mat-icon>
                                    <span>Deactivate</span>
                                </button> -->

                                <ng-template [ngxPermissionsOnly]="['ACCOUNT.STORE.UPDATE']">
                                    <button
                                        mat-menu-item
                                        type="button"
                                        class="sinbad-mat-menu-item"
                                        [attr.aria-label]="
                                            row?.status === 'active' ? 'inactive' : 'active'
                                        "
                                        (click)="onChangeStatus(row)"
                                    >
                                        <mat-icon>
                                            {{
                                                row?.status === 'active'
                                                    ? 'archive'
                                                    : 'check_circle_outline'
                                            }}
                                        </mat-icon>
                                        <span>
                                            {{
                                                (row?.status === 'active'
                                                    ? 'ACTION.INACTIVE'
                                                    : 'ACTION.ACTIVE'
                                                ) | translate
                                            }}
                                        </span>
                                    </button>
                                </ng-template>
                            </mat-menu>
                        </div>
                        <!-- <div
                            *ngIf="!row?.store"
                            style="text-align: right; margin-right: 15px;"
                            fxFlex
                        >
                            <ngx-skeleton-loader
                                [theme]="{ width: '50%', 'margin-top': '10px' }"
                            ></ngx-skeleton-loader>
                        </div> -->
                        <!-- <div *ngIf="!row?.store" class="skeleton w-25-p"></div> -->
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>

                <mat-row
                    *matRowDef="let row; columns: displayedColumns"
                    class="merchant"
                    [ngClass]="{ 'highlight-row': (selectedRowIndex$ | async) === row?.id }"
                    matRipple
                    (click)="goStoreInfoPage(row?.id)"
                >
                </mat-row>
            </mat-table>

            <div class="no-records" *ngIf="(isLoading$ | async) && !(totalDataSource$ | async)">
                <mat-spinner color="accent"></mat-spinner>
            </div>

            <div
                class="no-records"
                *ngIf="!(isLoading$ | async) && (totalDataSource$ | async) === 0"
            >
                No records found
            </div>

            <mat-paginator
                [fxHide]="
                    ((isLoading$ | async) && !(totalDataSource$ | async)) ||
                    (!(isLoading$ | async) && (totalDataSource$ | async) === 0)
                "
                [length]="totalDataSource$ | async"
                [pageSize]="defaultPageSize"
                [pageSizeOptions]="defaultPageOpts"
                (page)="onChangePage($event)"
                showFirstLastButtons
            >
            </mat-paginator>

            <div class="loader" *ngIf="(isLoading$ | async) && (totalDataSource$ | async)">
                <mat-spinner color="accent"></mat-spinner>
            </div>
        </div>

        <!-- <div class="sinbad-content mat-elevation-z1"></div> -->
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
