<div class="pb-16">
    <span class="mat-headline"> Benefit Settings </span>
</div>

<!-- <ng-container *ngIf="(crossSellingPromo$ | async)?.promoBenefit as conditions; else noConditions"> -->
    <div
        class="box-info horizontal"
        fxLayout="column"
        fxLayoutGap="16px"
    >

    <span class="box-title"> Benefit </span>

    <br/>
        <div
            class="custom-field info-field"
            fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="15px"
        >
            <div class="label group-label" fxFlexAlign="center" fxFlex="10">Benefit</div>

            <div class="info" fxFlexAlign="center" fxFlex="100"></div>
        </div>

            <div
            class="custom-field info-field"
            fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="15px"
        >
            <div class="label" fxFlexAlign="center" fxFlex="10">Benefit</div>

            <div class="info" fxFlexAlign="center" fxFlex="100">
                <ng-container *ngIf="benefitType; else noBenefitType">
                    <!-- <mat-radio-group [value]="condition?.benefitType"> -->
                        <mat-radio-group [value]="'qty'">
                        <mat-radio-button
                            *ngFor="let row of benefitType"
                            [value]="row?.id"
                            [disabled]="true"
                        >
                            {{ row?.label }}
                        </mat-radio-button>

                    </mat-radio-group>
                </ng-container>

                <ng-template #noBenefitType> - </ng-template>
            </div>
        </div>
        <!-- <ng-container [ngSwitch]="condition?.benefitType"> -->
        <ng-container [ngSwitch]="'qty'">
            <!-- Benefit Type Qty -->
            <ng-container *ngSwitchCase="eBenefitType.QTY">
                <div
                    class="custom-field info-field"
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    fxLayoutGap="15px"
                >
                    <div class="label" fxFlexAlign="center" fxFlex="10">Bonus SKU</div>

                    <div class="info" fxFlex="100">
                        Sunlight
                        <!-- {{ condition?.catalogue?.name || '-' }} -->
                    </div>
                </div>

                <div
                    class="custom-field info-field"
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    fxLayoutGap="15px"
                >
                    <div class="label" fxFlexAlign="center" fxFlex="10">Bonus Qty</div>

                    <div class="info" fxFlex="100">
                        1
                        <!-- {{ condition?.benefitBonusQty || '-' }} -->
                    </div>
                </div>
            </ng-container>
            <!-- ./ Benefit Type Qty -->

            <!-- Benefit Type Amount -->
            <ng-container *ngSwitchCase="eBenefitType.AMOUNT">
                <div
                    class="custom-field info-field"
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    fxLayoutGap="15px"
                >
                    <div class="label" fxFlexAlign="center" fxFlex="10">Rebate</div>

                    <div class="info" fxFlex="100">
                        <p thousandSeparator=".">
                            1
                            <!-- {{ (condition?.benefitRebate | number )|| '-' }} -->
                        </p>
                    </div>
                </div>
            </ng-container>
            <!-- ./ Benefit Type Amount -->

            <!-- Benefit Type Percent -->
            <ng-container *ngSwitchCase="eBenefitType.PERCENT">
                <div
                    class="custom-field info-field"
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    fxLayoutGap="15px"
                >
                    <div class="label" fxFlexAlign="center" fxFlex="10">% Discount</div>

                    <div class="info" fxFlex="100">
                        1
                        <!-- {{ condition?.benefitDiscount || '-' }} -->
                    </div>
                </div>

                <div
                    class="custom-field info-field"
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    fxLayoutGap="15px"
                >
                    <div class="label" fxFlexAlign="center" fxFlex="10">Max Rebate</div>

                    <div class="info" fxFlex="100">
                        1
                        <!-- {{ condition?.benefitMaxRebate || '-' }} -->
                    </div>
                </div>
            </ng-container>
            <!-- ./ Benefit Type Percent -->

            <ng-container *ngSwitchDefault>-</ng-container>
        </ng-container>
     
    </div>

<!-- </ng-container> -->

<ng-template #noConditions> Not found Benefit Settings. </ng-template>
