<!-- CONTENT CARD (BERAT DAN DIMENSI PRODUK) -->
<div [ngClass]="catalogueContent">
    <div class="p-16 pb-28">
        <div class="font-weight-600 font-size-24 line-height-20">Amount Settings</div>
    </div>

    <div class="p-16 pt-0 pb-40 line-height-1.75">
        <form class="w-100-p" [formGroup]="form" fxLayout="column" fxFlex [fxLayoutGap]="isViewMode() ? '32px' : '5px'" novalidate>
            <!-- QUANTITY PER MASTER BOX -->
            <div
                [ngClass]="formClass"
                fxLayout="row"
                fxLayoutAlign="space-between center"
                formGroupName="productCount"
            >
                <label
                    class="pr-0"
                    fxFlexAlign="center"
                    fxFlex="18"
                    [class.mat-error]="!isViewMode() && hasError(form.get('productCount.qtyPerMasterBox'))"
                >
                    <span
                        class="red-500-fg"
                    >* </span>Quantity <br/>per Master Box
                </label>
        
                <mat-form-field appearance="outline" fxFlex="80" fxFlexAlign="center" *ngIf="!isViewMode()">
                    <input
                        matInput
                        name="qtyPerMasterBox"
                        formControlName="qtyPerMasterBox"
                        mask="separator"
                        thousandSeparator="."
                    />
                    <mat-error
                        *ngIf="hasError(form.get('productCount.qtyPerMasterBox'))"
                    >
                        {{ getFormError(form.get('productCount.qtyPerMasterBox')) }}
                    </mat-error>
                </mat-form-field>
                <span class="grey-fg" fxFlexAlign="center" fxFlex="80" *ngIf="isViewMode() && form.get('productCount.qtyPerMasterBox').value">
                    {{ form.get('productCount.qtyPerMasterBox').value | number: '1.0-2' }}
                </span>
                <span class="grey-fg" fxFlexAlign="center" fxFlex="80" *ngIf="isViewMode() && !form.get('productCount.qtyPerMasterBox').value">
                    -
                </span>
            </div>
            <!-- / QUANTITY PER MASTER BOX -->
            <!-- MINIMUM OF QUANTITY -->
            <div
                [ngClass]="formClass"
                fxLayout="row"
                fxLayoutAlign="space-between stretch"
                formGroupName="productCount"
            >
                <label
                    class="pr-0"
                    fxFlexAlign="start"
                    fxFlex="18"
                    [class.mat-error]="hasError(form.get('productCount.minQtyValue'))"
                >
                    Minimum Order <br/>Quantity
                </label>

                <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="5px" fxFlex="80" *ngIf="!isViewMode()">
                    <!-- RADIO BUTTON SELECT TYPE -->
                    <mat-radio-group formControlName="minQtyOption">
                        <mat-radio-button class="pr-36" *ngFor="let choice of quantityChoices;" [value]="choice.id">{{ choice.label }}</mat-radio-button>
                    </mat-radio-group>
                    <!-- / RADIO BUTTON SELECT TYPE -->
                    <!-- INPUT TEXT BOX -->
                    <mat-form-field appearance="outline">
                        <input matInput
                            name="minQtyValue"
                            formControlName="minQtyValue"
                            mask="separator"
                            thousandSeparator="."
                        />
                        <mat-error
                            *ngIf="hasError(form.get('productCount.minQtyValue'))"
                        >
                            {{ getFormError(form.get('productCount.minQtyValue')) }}
                        </mat-error>
                    </mat-form-field>
                    <!-- / INPUT TEXT BOX -->
                </div>
                <span class="grey-fg" fxFlexAlign="center" fxFlex="80" *ngIf="isViewMode() && form.get('productCount.minQtyValue').value">
                    {{ form.get('productCount.minQtyValue').value | number: '1.0-2' }}
                </span>
                <span class="grey-fg" fxFlexAlign="center" fxFlex="80" *ngIf="isViewMode() && !form.get('productCount.minQtyValue').value">
                    -
                </span>
            </div>
            <!-- / MINIMUM OF QUANTITY -->
            <!-- ADDITIONAL QUANTITY -->
            <div
                [ngClass]="formClass"
                fxLayout="row"
                fxLayoutAlign="space-between stretch"
                formGroupName="productCount"
            >
                <label
                    class="pr-0"
                    fxFlexAlign="start"
                    fxFlex="18"
                    [class.mat-error]="hasError(form.get('productCount.additionalQtyValue'))"
                >
                    Additional <br/>Quantity
                </label>

                <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="5px" fxFlex="80" *ngIf="!isViewMode()">
                    <!-- RADIO BUTTON SELECT TYPE -->
                    <mat-radio-group formControlName="additionalQtyOption">
                        <mat-radio-button class="pr-36" *ngFor="let choice of quantityChoices;" [value]="choice.id">{{ choice.label }}</mat-radio-button>
                    </mat-radio-group>
                    <!-- / RADIO BUTTON SELECT TYPE -->
                    <!-- INPUT TEXT BOX -->
                    <mat-form-field appearance="outline">
                        <input matInput
                            name="additionalQtyValue"
                            formControlName="additionalQtyValue"
                            mask="separator"
                            thousandSeparator="."
                        />
                        <mat-error
                            *ngIf="hasError(form.get('productCount.additionalQtyValue'))"
                        >
                            {{ getFormError(form.get('productCount.additionalQtyValue')) }}
                        </mat-error>
                    </mat-form-field>
                    <!-- / INPUT TEXT BOX -->
                </div>
                <span class="grey-fg" fxFlexAlign="center" fxFlex="80" *ngIf="isViewMode() && form.get('productCount.additionalQtyValue').value">
                    {{ form.get('productCount.additionalQtyValue').value | number: '1.0-2' }}
                </span>
                <span class="grey-fg" fxFlexAlign="center" fxFlex="80" *ngIf="isViewMode() && !form.get('productCount.additionalQtyValue').value">
                    -
                </span>
            </div>
            <!-- / ADDITIONAL QUANTITY -->
        </form>
    </div>
</div>
<!-- / CONTENT CARD (BERAT DAN DIMENSI PRODUK) -->