<!-- CONTENT CARD (BERAT DAN DIMENSI PRODUK) -->
<div [ngClass]="catalogueContent">
    <div class="p-16 pb-28">
        <div class="font-weight-600 font-size-24 line-height-20">Amount Settings</div>
    </div>

    <div class="p-16 pt-0 pb-40 line-height-1.75">
        <form
            class="w-100-p"
            [formGroup]="form"
            fxLayout="row"
            fxFlex
            [fxLayoutGap]="isViewMode() ? '32px' : '5px'"
            novalidate
        >
            <div
                fxLayout="column"
                [fxLayoutGap]="(formMode | hasFormMode: 'view') ? '32px' : '15px'"
                fxFlex
            >
                <div class="p-16 pl-0 pb-20">
                    <div class="font-weight-700 font-size-14 line-height-20">Small Unit</div>
                </div>
                <!-- UNIT OF MEASUREMENT (UOM) -->
                <div
                    class="custom-field"
                    fxLayout="column"
                    fxLayoutAlign="space-between center"
                    formGroupName="productCount"
                >
                    <label
                        class="pr-0 font-size-14"
                        fxFlexAlign="start"
                        fxFlex="18"
                        [class.mat-error]="
                            !isViewMode() && hasError(form.get('productCount.uomSmallUnit'))
                        "
                    >
                        <span class="red-500-fg">*</span>
                        Unit of Measurement (UoM)
                    </label>

                    <mat-form-field
                        style="width: 100%"
                        appearance="outline"
                        fxFlex="100"
                        fxFlexAlign="start"
                        *ngIf="!isViewMode()"
                    >
                        <mat-select
                            name="uomSmallUnit"
                            formControlName="uomSmallUnit"
                            placeholder="Set type of measurement"
                        >
                            <mat-option *ngFor="let unit of catalogueSmallUnits" [value]="unit.id">
                                {{ unit.unit }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="hasError(form.get('productCount.uomSmallUnit'))">
                            {{ getFormError(form.get('productCount.uomSmallUnit')) }}
                        </mat-error>
                    </mat-form-field>
                    <span
                        class="grey-fg"
                        fxFlexAlign="center"
                        fxFlex="80"
                        *ngIf="isViewMode() && form.get('productCount.uomSmallUnit').value"
                    >
                        {{ form.get('productCount.uomSmallUnit').value | number: '1.0-2' }}
                    </span>
                    <span
                        class="grey-fg"
                        fxFlexAlign="center"
                        fxFlex="80"
                        *ngIf="isViewMode() && !form.get('productCount.uomSmallUnit').value"
                    >
                        -
                    </span>
                </div>
                <!-- / UNIT OF MEASUREMENT (UOM) -->
                <!-- AMOUNT INCREASE -->
                <div
                    class="custom-field"
                    fxLayout="column"
                    fxLayoutAlign="space-between center"
                    formGroupName="productCount"
                >
                    <label
                        class="pr-0 font-size-14"
                        fxFlexAlign="start"
                        fxFlex="18"
                        [class.mat-error]="
                            !isViewMode() && hasError(form.get('productCount.amountIncrease'))
                        "
                    >
                        <span class="red-500-fg">*</span>
                        Amount Increase
                    </label>
                    <div
                        style="width: 100%; justify-content: space-between"
                        fxFlex="100"
                        fxLayoutGap="10"
                        fxLayout="row"
                        *ngIf="!isViewMode()"
                    >
                        <mat-form-field
                            style="width: 79%"
                            appearance="outline"
                            [class.mat-error]="
                                !isViewMode() && hasError(form.get('productCount.amountIncrease'))
                            "
                        >
                            <input
                                matInput
                                formControlName="amountIncrease"
                                mask="separator"
                                thousandSeparator="."
                                placeholder="Set amount (minimum 1)"
                            />

                            <mat-error>
                                {{
                                    form.get('productCount.amountIncrease').value
                                        | errorMessage: form:'productCount.amountIncrease'
                                }}
                            </mat-error>
                        </mat-form-field>
                        <div style="width: 20%" class="box-type">
                            {{ (uomNames$ | async).smallName }}
                        </div>
                    </div>
                    <span
                        class="grey-fg"
                        fxFlexAlign="center"
                        fxFlex="80"
                        *ngIf="isViewMode() && form.get('productCount.amountIncrease').value"
                    >
                        {{ form.get('productCount.amountIncrease').value | number: '1.0-2' }}
                    </span>
                    <span
                        class="grey-fg"
                        fxFlexAlign="center"
                        fxFlex="80"
                        *ngIf="isViewMode() && !form.get('productCount.amountIncrease').value"
                    >
                        -
                    </span>
                </div>
                <!-- / AMOUNT INCREASE -->
                <!-- MINIMUM ORDER QUANTITY -->
                <div
                    class="custom-field"
                    fxLayout="column"
                    fxLayoutAlign="space-between center"
                    formGroupName="productCount"
                >
                    <label
                        class="pr-0 font-size-14"
                        fxFlexAlign="start"
                        fxFlex="18"
                        [class.mat-error]="
                            !isViewMode() && hasError(form.get('productCount.minQtyValue'))
                        "
                    >
                        <span class="red-500-fg">*</span>
                        Minimum Order Quantity
                    </label>
                    <div
                        style="width: 100%; justify-content: space-between"
                        fxFlex="100"
                        fxLayoutGap="10"
                        fxLayout="row"
                        *ngIf="!isViewMode()"
                    >
                        <mat-form-field
                            style="width: 79%"
                            appearance="outline"
                            [class.mat-error]="
                                !isViewMode() && hasError(form.get('productCount.minQtyValue'))
                            "
                        >
                            <input
                                matInput
                                formControlName="minQtyValue"
                                mask="separator"
                                thousandSeparator="."
                                placeholder="Set minimum order here"
                            />

                            <mat-error>
                                {{
                                    form.get('productCount.minQtyValue').value
                                        | errorMessage: form:'productCount.minQtyValue'
                                }}
                            </mat-error>
                        </mat-form-field>
                        <div style="width: 20%" class="box-type">
                            {{ (uomNames$ | async).smallName }}
                        </div>
                    </div>
                    <span
                        class="grey-fg"
                        fxFlexAlign="center"
                        fxFlex="80"
                        *ngIf="isViewMode() && form.get('productCount.minQtyValue').value"
                    >
                        {{ form.get('productCount.minQtyValue').value | number: '1.0-2' }}
                    </span>
                    <span
                        class="grey-fg"
                        fxFlexAlign="center"
                        fxFlex="80"
                        *ngIf="isViewMode() && !form.get('productCount.minQtyValue').value"
                    >
                        -
                    </span>
                </div>
                <!-- / MINIMUM ORDER QUANTITY -->
                <!-- MAXIMUM ORDER QUANTITY  -->
                <div
                    class="custom-field"
                    fxLayout="column"
                    fxLayoutAlign="space-between center"
                    formGroupName="productCount"
                >
                    <div style="width: 100%" fxLayout="row" fxLayoutAlign="space-between center">
                        <label
                            class="pr-0 font-size-14"
                            fxFlexAlign="start"
                            [class.mat-error]="
                                !isViewMode() && hasError(form.get('productCount.maxQtyValue'))
                            "
                        >
                            <span class="red-500-fg">*</span>
                            Maximum Order Quantity
                            <mat-icon
                                class="active-icon s-14 ml-8 cursor-pointer"
                                color="accent"
                                matTooltip="Maximum order quantity, will be&#10; applied if SKU does not have a&#10; maximum quantities orders in a&#10; particular segmentation"
                                matTooltipClass="tooltip-br"
                                *ngIf="formMode === 'edit'"
                            >
                                help
                            </mat-icon>
                        </label>
                        <mat-checkbox
                            formControlName="isMaximum"
                            (change)="onChangeMaxOrderQty($event)"
                            *ngIf="formMode === 'edit'"
                        >
                            Unlimited
                        </mat-checkbox>
                    </div>

                    <div
                        style="width: 100%; justify-content: space-between"
                        fxFlex="100"
                        fxLayoutGap="10"
                        fxLayout="row"
                        *ngIf="formMode === 'edit'"
                    >
                        <mat-form-field style="width: 79%" appearance="outline">
                            <input
                                matInput
                                formControlName="maxQtyValue"
                                mask="separator"
                                thousandSeparator="."
                                [placeholder]="
                                    form.get('productCount.isMaximum').value
                                        ? 'Set maximum order here'
                                        : 'Unlimited'
                                "
                            />

                            <mat-error>
                                {{
                                    form.get('productCount.maxQtyValue').value
                                        | errorMessage: form:'productCount.maxQtyValue'
                                }}
                            </mat-error>
                        </mat-form-field>
                        <div style="width: 20%" class="box-type">
                            {{ (uomNames$ | async).smallName }}
                        </div>
                    </div>
                    <span
                        class="grey-fg"
                        fxFlexAlign="center"
                        fxFlex="80"
                        *ngIf="isViewMode() && form.get('productCount.maxQtyValue').value"
                    >
                        {{ form.get('productCount.maxQtyValue').value | number: '1.0-2' }}
                    </span>
                    <span
                        class="grey-fg"
                        fxFlexAlign="center"
                        fxFlex="80"
                        *ngIf="isViewMode() && !form.get('productCount.maxQtyValue').value"
                    >
                        -
                    </span>
                </div>
                <!-- / MAXIMUM ORDER QUANTITY  -->
            </div>

            <div
                class="box-largest-unit"
                fxLayout="column"
                [fxLayoutGap]="(formMode | hasFormMode: 'view') ? '32px' : '15px'"
                fxFlex
            >
                <!-- ENABLE ORDER BY LARGE UNIT -->
                <div style="width: 100%" fxLayout="row" fxLayoutAlign="space-between center">
                    <label class="pr-0" fxFlexAlign="center"> Enable Order By Large Unit </label>
                    <mat-checkbox
                        formControlName="isEnableLargeUnit"
                        (change)="onChangeIsEnableLargeUnit($event)"
                    >
                        Enable Large Unit
                    </mat-checkbox>
                </div>
                <div class="p-16 pl-0 pb-20">
                    <div class="font-weight-700 font-size-14 line-height-20">Large Unit</div>
                </div>
                <!-- / ENABLE ORDER BY LARGE UNIT -->
                <!-- UNIT OF MEASUREMENT (UOM) -->
                <div
                    class="custom-field"
                    fxLayout="column"
                    fxLayoutAlign="space-between center"
                    formGroupName="productCount"
                >
                    <label
                        class="pr-0 font-size-14"
                        fxFlexAlign="start"
                        fxFlex="18"
                        [class.mat-error]="
                            !isViewMode() && hasError(form.get('productCount.uomLargeUnit'))
                        "
                    >
                        <span class="red-500-fg">*</span>
                        Unit of Measurement (UoM)
                    </label>

                    <mat-form-field
                        style="width: 100%"
                        appearance="outline"
                        fxFlex="100"
                        fxFlexAlign="start"
                        *ngIf="!isViewMode()"
                    >
                        <mat-select
                            name="uomLargeUnit"
                            formControlName="uomLargeUnit"
                            placeholder="Set type of measurement"
                        >
                            <mat-option *ngFor="let unit of catalogueLargeUnits" [value]="unit.id">
                                {{ unit.unit }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="hasError(form.get('productCount.uomLargeUnit'))">
                            {{ getFormError(form.get('productCount.uomLargeUnit')) }}
                        </mat-error>
                    </mat-form-field>
                    <span
                        class="grey-fg"
                        fxFlexAlign="center"
                        fxFlex="80"
                        *ngIf="isViewMode() && form.get('productCount.uomLargeUnit').value"
                    >
                        {{ form.get('productCount.uomLargeUnit').value | number: '1.0-2' }}
                    </span>
                    <span
                        class="grey-fg"
                        fxFlexAlign="center"
                        fxFlex="80"
                        *ngIf="isViewMode() && !form.get('productCount.uomLargeUnit').value"
                    >
                        -
                    </span>
                </div>
                <!-- / UNIT OF MEASUREMENT (UOM) -->
                <!-- CONSIST OF -->
                <div
                    class="custom-field"
                    fxLayout="column"
                    fxLayoutAlign="space-between center"
                    formGroupName="productCount"
                >
                    <label
                        class="pr-0 font-size-14"
                        fxFlexAlign="start"
                        fxFlex="18"
                        [class.mat-error]="
                            !isViewMode() &&
                            hasError(form.get('productCount.consistOfQtyLargeUnit'))
                        "
                    >
                        <span class="red-500-fg">*</span>
                        Consist Of
                    </label>
                    <div
                        style="width: 100%; justify-content: space-between"
                        fxFlex="100"
                        fxLayoutGap="10"
                        fxLayout="row"
                        *ngIf="!isViewMode()"
                    >
                        <mat-form-field style="width: 79%" appearance="outline">
                            <input
                                matInput
                                formControlName="consistOfQtyLargeUnit"
                                mask="separator"
                                thousandSeparator="."
                                placeholder="Set consist of"
                            />

                            <mat-error>
                                {{
                                    form.get('productCount.consistOfQtyLargeUnit').value
                                        | errorMessage: form:'productCount.consistOfQtyLargeUnit'
                                }}
                            </mat-error>
                        </mat-form-field>
                        <div style="width: 20%" class="box-type">
                            {{ (uomNames$ | async).smallName }}
                        </div>
                    </div>
                    <span
                        class="grey-fg"
                        fxFlexAlign="center"
                        fxFlex="80"
                        *ngIf="isViewMode() && form.get('productCount.consistOfQtyLargeUnit').value"
                    >
                        {{ form.get('productCount.consistOfQtyLargeUnit').value | number: '1.0-2' }}
                    </span>
                    <span
                        class="grey-fg"
                        fxFlexAlign="center"
                        fxFlex="80"
                        *ngIf="
                            isViewMode() && !form.get('productCount.consistOfQtyLargeUnit').value
                        "
                    >
                        -
                    </span>
                </div>
                <!-- / CONSIST OF -->
            </div>
        </form>
    </div>
</div>
<!-- / CONTENT CARD (BERAT DAN DIMENSI PRODUK) -->
