@import 'src/@fuse/scss/fuse';
@import './detail-collection-info/detail-collection-info.component.scss';

$red-color: #f0444c;
$white-color: #ffffff;
$grey-color: #677a8e;

#collection-detail {
    .header {
        height: 80px !important;
        min-height: 80px !important;
        max-height: 80px !important;
        margin-top: 10px;

        &-title {
            font-weight: bold;
            letter-spacing: -0.02em;
        }
        .subtitle {
            margin: 6px 0 0 0;
        }

        .btn-approved {
            justify-content: center;
            align-items: center;
            padding: 12px 16px;
            background: $red-color;
            border: $red-color;
            border-radius: 4px;
            color: $white-color;
            margin-right: 10px;
        }
        .btn-rejected {
            justify-content: center;
            align-items: center;
            padding: 12px 16px;
            background: $white-color;
            border: 1px solid $grey-color;
            box-sizing: border-box;
            border-radius: 4px;
            margin-right: 3px;
        }

        .label-collection {
            padding: 4px 6px 4px 0px;
            color: $grey-color;
            font-size: 14px;
        }

        .text-approved {
            color: #31b057;
            background: #effbf3;
            border-radius: 4px;
            word-break: break-word;
            padding: 4px 6px;
        }

        .text-waiting,
        .text-pending {
            color: #e79b04;
            background: #fff8eb;
            border-radius: 4px;
            word-break: break-word;
            padding: 4px 6px;
        }

        .text-rejected {
            color: #ec1a24;
            background: #ffedee;
            border-radius: 4px;
            word-break: break-word;
            padding: 4px 6px;
        }
    }

    .content {
        flex: 1 1 auto;
        max-width: 100%;
        display: flex;

        .mat-tab-group,
        .mat-tab-body-wrapper,
        .tab-content {
            flex: 1 1 auto;
            max-width: 100%;
        }

        .tab-content {
            .mat-title-headline {
                font-family: Inter;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: -0.02em;
                color: #0b1a28;
            }
            .mat-headline {
                font-family: Inter;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: -0.01em;
                color: #677a8e;
            }
        }

        .mat-tab-body-content {
            display: flex;
        }

        .mat-tab-label {
            height: 44px;
            opacity: 1;

            &.mat-tab-label-active {
                > .mat-tab-label-content {
                    color: #f0444c;
                }
            }
        }
    }
}
