@import 'src/@fuse/scss/fuse';

app-password {
    .header {
        height: 80px;
        min-height: 80px;
        max-height: 136px;

        @include media-breakpoint('lt-md') {
            padding: 8px 0;
            height: 192px !important;
            min-height: 192px !important;
            max-height: 192px !important;
        }
    }
}
