<div class="content-card mt-16">
    <div
        fxLayout="column"
        fxLayoutAlign="start stretch"
        class="p-20"
    >
        <!-- TITLE -->
        <div class="h1 pb-40">
            Ubah Password
        </div>
        <!-- / TITLE -->

        <!-- SUB TITLE -->
        <div class="h3 pb-40">
            Kata sandi harus terdiri dari 8 karakter dan harus memiliki kombinasi dari huruf besar, huruf kecil, simbol, dan angka.
        </div>
        <!-- / SUB TITLE -->

        <div class="p-16 pt-0 pl-0 line-height-1.75">
            <!-- FORM -->
            <form
                class="w-100-p"
                [formGroup]="form"
                fxLayout="column"
                fxLayoutAlign="space-between stretch"
                fxFlex
                novalidate
            >
                <div fxFlex="60">
                    <!-- OLD PASSWORD -->
                    <div
                        class="custom-field"
                        fxLayout="row"
                        fxLayoutAlign="space-between center"
                    >
                        <label
                            fxFlexAlign="center"
                            fxFlex="18"
                            [class.mat-error]="
                                form.get('oldPassword').errors && form.get('oldPassword').dirty
                            "
                        >
                            *Password Sekarang
                        </label>
                
                        <mat-form-field appearance="outline" fxFlex="80">
                            <input
                                matInput
                                type="password"
                                name="oldPassword"
                                formControlName="oldPassword"
                            />

                            <mat-error
                                *ngIf="
                                    form.get('oldPassword').errors && form.get('oldPassword').dirty
                                "
                            >
                                {{ getErrorMessage('oldPassword') }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <!-- / OLD PASSWORD -->

                    <!-- NEW PASSWORD -->
                    <div
                        class="custom-field"
                        fxLayout="row"
                        fxLayoutAlign="space-between center"
                    >
                        <label
                            fxFlexAlign="center"
                            fxFlex="18"
                            [class.mat-error]="
                                form.get('newPassword').errors && form.get('newPassword').dirty
                            "
                        >
                            *Password Baru
                        </label>
                
                        <mat-form-field appearance="outline" fxFlex="80">
                            <input
                                matInput
                                type="password"
                                name="newPassword"
                                formControlName="newPassword"
                            />

                            <mat-error
                                *ngIf="
                                    form.get('newPassword').errors && form.get('newPassword').dirty
                                "
                            >
                                {{ getErrorMessage('newPassword') }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <!-- / NEW PASSWORD -->

                    <!-- CONFIRM NEW PASSWORD -->
                    <div
                        class="custom-field"
                        fxLayout="row"
                        fxLayoutAlign="space-between center"
                    >
                        <label
                            fxFlexAlign="center"
                            fxFlex="18"
                            [class.mat-error]="
                                form.get('confirmNewPassword').errors && form.get('confirmNewPassword').dirty
                            "
                        >
                            *Ulangi Password Baru
                        </label>
                
                        <mat-form-field appearance="outline" fxFlex="80">
                            <input
                                matInput
                                type="password"
                                name="confirmNewPassword"
                                formControlName="confirmNewPassword"
                            />

                            <mat-error
                                *ngIf="
                                    form.get('confirmNewPassword').errors && form.get('confirmNewPassword').dirty
                                "
                            >
                                {{ getErrorMessage('confirmNewPassword') }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <!-- / CONFIRM NEW PASSWORD -->

                    <div
                        fxLayout="column"
                        fxLayoutAlign="space-between stretch"
                    >
                        <!-- SUBMIT BUTTON -->
                        <button
                            color="warn"
                            mat-flat-button
                            type="button"
                            fxFlexAlign="end"
                            [disabled]="form.invalid || form.pristine || (isRequesting$ | async)"
                            (click)="onSubmit()"
                        >
                            Simpan
                        </button>
                        <!-- / SUBMIT BUTTON -->
                    </div>
                </div>
            </form>
            <!-- / FORM -->
        </div>
    </div>
</div>
