<div class="pb-16">
    <span class="mat-headline"> Collection Information </span>
</div>

<div class="box-info horizontal" fxLayout="column" fxLayoutGap="16px">
    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="30">Collection Code</div>

        <div class="info" fxFlex="100">
            {{ (detailCollection$ | async)?.data.paymentCollectionMethod.collectionCode || '-' }}
        </div>
    </div>

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="30">Collection Status</div>

        <div class="info" fxFlex="100">
            {{
                statusLabel((detailCollection$ | async)?.data.paymentCollectionMethod.approvalStatus)
            }}
        </div>
    </div>

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="30">Collection Method</div>

        <div class="info" fxFlex="100">
            {{
                (detailCollection$ | async)?.data.paymentCollectionMethod.paymentCollectionType.name
            }}
        </div>
    </div>

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="30">Collection Ref No</div>

        <div class="info" fxFlex="100">
            {{ (detailCollection$ | async)?.data.paymentCollectionMethod.refNo || '-' }}
        </div>
    </div>

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="30">Collection Amount</div>

        <div class="info" fxFlex="100">
            {{ numberFormat((detailCollection$ | async)?.data.paymentCollectionMethod.amount) }}
        </div>
    </div>

    <ng-container
        *ngIf="
            (detailCollection$ | async)?.data.paymentCollectionMethod.paymentCollectionType.id ==
                2 ||
            (detailCollection$ | async)?.data.paymentCollectionMethod.paymentCollectionType.id == 3
        "
    >
        <div
            class="custom-field info-field"
            fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="15px"
        >
            <div class="label" fxFlexAlign="center" fxFlex="30">Materai</div>

            <div class="info" fxFlex="100">
                {{
                    numberMateraiFormat(
                        (detailCollection$ | async)?.data.paymentCollectionMethod.stamp.nominal
                    )
                }}
            </div>
        </div>
    </ng-container>

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="30">Collection Total Amount</div>

        <div class="info" fxFlex="100">
            {{
                numberFormat((detailCollection$ | async)?.data.paymentCollectionMethod.totalAmount)
            }}
        </div>
    </div>

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="30">Collection Used Amount</div>

        <div class="info" fxFlex="100">
            {{ numberFormat((detailCollection$ | async)?.data.paymentCollectionMethod.usedAmount) }}
        </div>
    </div>

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="30">Collection Date</div>

        <div class="info" fxFlex="100">
            {{
                ((detailCollection$ | async)?.data.paymentCollectionMethod.createdDate
                    | date: 'dd MMM yyyy') || '-'
            }}
        </div>
    </div>
</div>
