<form id="sales-form" [formGroup]="form" novalidate>
    <div class="section pb-48">
        <div class="pb-16 section__top--contents" fxLayout="row" fxLayoutAlign="start center">
            <div class="h2 section__title">Change Password</div>
        </div>

        <div class="box-info horizontal" fxLayout="column" fxLayoutGap="15px">
            <div class="box-info__subtitle">
                The password must be 8 characters long and it must have a combination of uppercase
                letters small and numbers.
            </div>

            <div
                class="custom-field"
                fxLayout="row"
                fxLayoutAlign="start center"
                fxLayoutGap="15px"
            >
                <label class="custom-field__label" fxFlexAlign="center" fxFlex="12">
                    Email Address
                </label>

                <div class="custom-field__field" fxFlex="100">
                    <!-- <mat-form-field appearance="outline" fxFlex="50">
                        <input type="text" matInput formControlName="name" />
                    </mat-form-field> -->
                </div>
            </div>

            <div
                class="custom-field"
                fxLayout="row"
                fxLayoutAlign="start center"
                fxLayoutGap="15px"
            >
                <label class="custom-field__label" fxFlexAlign="center" fxFlex="12">
                    *New Password
                </label>

                <div class="custom-field__field" fxFlex="100">
                    <mat-form-field appearance="outline" fxFlex="50">
                        <input type="password" matInput formControlName="password" />
                    </mat-form-field>
                </div>
            </div>

            <div
                class="custom-field"
                fxLayout="row"
                fxLayoutAlign="start center"
                fxLayoutGap="15px"
            >
                <label class="custom-field__label" fxFlexAlign="center" fxFlex="12">
                    *re-Type Pass..
                </label>

                <div class="custom-field__field" fxFlex="100">
                    <mat-form-field appearance="outline" fxFlex="50">
                        <input type="password" matInput formControlName="confirmPassword" />
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</form>
