<form id="sales-form" [formGroup]="form" novalidate>
    <div class="section pb-48">
        <div class="pb-16 section__top--contents" fxLayout="row" fxLayoutAlign="start center">
            <div class="h2 section__title">Reset Password</div>
        </div>

        <div class="box-info horizontal" fxLayout="column" fxLayoutGap="15px">
            <div class="box-info__subtitle">
                The password must be at least 8 characters long and it must have a combination of
                uppercase letters, lowercase letters and numbers.
            </div>

            <!-- <div
                class="custom-field"
                fxLayout="row"
                fxLayoutAlign="start center"
                fxLayoutGap="15px"
            >
                <label class="custom-field__label" fxFlexAlign="center" fxFlex="12">
                    Email Address
                </label>

                <label class="custom-field__label" fxFlexAlign="center" fxFlex="100">
                    <span>{{ safeValue((salesRep$ | async)?.user?.email) }}</span>
                </label>
            </div> -->

            <!-- <div
                class="custom-field"
                fxLayout="row"
                fxLayoutAlign="start center"
                fxLayoutGap="15px"
            >
                <label class="custom-field__label" fxFlexAlign="center" fxFlex="12">
                    *Old Password
                </label>

                <div class="custom-field__field" fxFlex="100">
                    <mat-form-field appearance="outline" fxFlex="50">
                        <input type="password" matInput formControlName="oldPassword" />
                    </mat-form-field>
                </div>
            </div> -->

            <div
                class="custom-field"
                fxLayout="row"
                fxLayoutAlign="start center"
                fxLayoutGap="15px"
            >
                <label
                    class="custom-field__label"
                    fxFlexAlign="center"
                    fxFlex="12"
                    [class.mat-error]="hasError('newPassword')"
                >
                    *New Password
                </label>

                <div class="custom-field__field" fxFlex="100">
                    <mat-form-field appearance="outline" fxFlex="50">
                        <input type="password" matInput formControlName="newPassword" />

                        <mat-error *ngIf="hasError('newPassword', true)">
                            {{ getErrorMessage('newPassword') }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div
                class="custom-field"
                fxLayout="row"
                fxLayoutAlign="start center"
                fxLayoutGap="15px"
            >
                <label
                    class="custom-field__label"
                    fxFlexAlign="center"
                    fxFlex="12"
                    [class.mat-error]="hasError('confirmPassword')"
                >
                    *Re-Type New Password
                </label>

                <div class="custom-field__field" fxFlex="100">
                    <mat-form-field appearance="outline" fxFlex="50">
                        <input type="password" matInput formControlName="confirmPassword" />

                        <mat-error *ngIf="hasError('confirmPassword', true)">
                            {{ getErrorMessage('confirmPassword') }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</form>
