<form id="journey-plan-store-form" [formGroup]="form" novalidate>
    <div class="section pb-48">
        <div class="pb-16 section__top--contents" fxLayout="row" fxLayoutAlign="start center">
            <div class="h2 section__title">Add Journey Plan</div>
        </div>

        <div class="box-info horizontal" fxLayout="column">
            <div fxLayout="row">
                <div fxLayout="column" fxLayoutGap="15px" fxFlex>
                    <div
                        class="custom-field"
                        fxLayout="row"
                        fxLayoutAlign="start center"
                        fxLayoutGap="15px"
                    >
                        <label
                            class="custom-field__label"
                            fxFlexAlign="center"
                            fxFlex="18"
                            [class.mat-error]="hasError('startDate')"
                        >
                            *Start Date
                        </label>

                        <div class="custom-field__field" fxFlex="100">
                            <mat-form-field appearance="outline" fxFlex="80">
                                <input
                                    matInput
                                    [matDatepicker]="startDatePicker"
                                    name="startDate"
                                    formControlName="startDate"
                                />

                                <mat-datepicker-toggle
                                    matSuffix
                                    [for]="startDatePicker"
                                ></mat-datepicker-toggle>

                                <mat-datepicker #startDatePicker touchUi></mat-datepicker>

                                <mat-error *ngIf="hasError('startDate', true)">
                                    {{ getErrorMessage('startDate') }}
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div
                        class="custom-field"
                        fxLayout="row"
                        fxLayoutAlign="start center"
                        fxLayoutGap="15px"
                    >
                        <label
                            class="custom-field__label"
                            fxFlexAlign="center"
                            fxFlex="18"
                            [class.mat-error]="hasError('portfolio')"
                        >
                            *Portfolio
                        </label>

                        <div class="custom-field__field" fxFlex="100">
                            <mat-form-field appearance="outline" fxFlex="80">
                                <input
                                    #triggerPortfolio
                                    matInput
                                    formControlName="portfolio"
                                    placeholder="Search Portfolio"
                                    aria-label="Portfolio"
                                    [matAutocomplete]="autoPortfolio"
                                    (keyup)="onKeyup($event, 'portfolio')"
                                    (keydown)="onKeydown($event, 'portfolio')"
                                />

                                <mat-autocomplete
                                    #autoPortfolio="matAutocomplete"
                                    [displayWith]="onDisplayPortfolio"
                                    (opened)="onOpenAutocomplete('portfolio')"
                                    (optionSelected)="onSelectAutocomplete($event, 'portfolio')"
                                >
                                    <mat-option
                                        *ngIf="
                                            !(isLoadingPortfolio$ | async) && field.portfolio.typing
                                        "
                                    >
                                        Searching...
                                    </mat-option>

                                    <ng-container
                                        *ngIf="
                                            !field.portfolio.typing &&
                                            (portfolios$ | async)?.length > 0
                                        "
                                    >
                                        <ng-container
                                            *ngIf="
                                                portfolios$ | async as portfolios;
                                                else noPortfolios
                                            "
                                        >
                                            <mat-option
                                                *ngFor="let source of portfolios"
                                                [value]="source"
                                                [attr.title]="displayOption(source, 'portfolio')"
                                            >
                                                <ng-container
                                                    *ngIf="source && !(isLoadingPortfolio$ | async)"
                                                >
                                                    <span
                                                        [innerHtml]="
                                                            displayOption(
                                                                source,
                                                                'portfolio',
                                                                true
                                                            ) | highlight: getHighlight('portfolio')
                                                        "
                                                    ></span>
                                                </ng-container>

                                                <ng-container
                                                    *ngIf="!source || (isLoadingPortfolio$ | async)"
                                                >
                                                    Loading...
                                                </ng-container>
                                            </mat-option>
                                        </ng-container>

                                        <ng-template #noPortfolios>
                                            <mat-option>None</mat-option>
                                        </ng-template>
                                    </ng-container>

                                    <ng-container
                                        *ngIf="
                                            !field.portfolio.typing &&
                                            !(portfolios$ | async)?.length
                                        "
                                    >
                                        <mat-option>None</mat-option>
                                    </ng-container>
                                </mat-autocomplete>

                                <mat-hint align="end" *ngIf="hasLength('portfolio', 3)">
                                    Please enter 3 or more characters.
                                </mat-hint>

                                <mat-error *ngIf="hasError('portfolio', true)">
                                    {{ getErrorMessage('portfolio') }}
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div fxLayout="column" fxFlex>
                    <div
                        class="custom-field"
                        fxLayout="row"
                        fxLayoutAlign="start center"
                        fxLayoutGap="15px"
                    >
                        <label
                            class="custom-field__label"
                            fxFlexAlign="center"
                            fxFlex="18"
                            [class.mat-error]="hasError('endDate')"
                        >
                            *End Date
                        </label>

                        <div class="custom-field__field" fxFlex="100">
                            <mat-form-field appearance="outline" fxFlex="80">
                                <input
                                    matInput
                                    [matDatepicker]="endDatePicker"
                                    name="endDate"
                                    formControlName="endDate"
                                />

                                <mat-datepicker-toggle
                                    matSuffix
                                    [for]="endDatePicker"
                                ></mat-datepicker-toggle>

                                <mat-datepicker #endDatePicker touchUi></mat-datepicker>

                                <mat-error *ngIf="hasError('endDate', true)">
                                    {{ getErrorMessage('endDate') }}
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section mb-48">
        <mat-divider></mat-divider>
    </div>

    <div class="section pb-48">
        <div class="pb-16 section__top--contents" fxLayout="row" fxLayoutAlign="start center">
            <div class="h2 section__title">Find Store</div>
        </div>

        <mat-card class="sinbad-card">
            <mat-card-content>
                <mat-tab-group
                    color="accent"
                    (selectedIndexChange)="onSelectedIndexChange($event)"
                    fxLayout="column"
                    fxFlex
                >
                    <mat-tab label="In Portfolio">
                        <ng-template matTabContent>
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <app-journey-plan-selected-stores></app-journey-plan-selected-stores>
                            </div>
                        </ng-template>
                    </mat-tab>

                    <mat-tab label="Out of Portfolio">
                        <ng-template matTabContent>
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <app-journey-plan-selected-stores></app-journey-plan-selected-stores>
                            </div>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </div>
</form>
