<h2 mat-dialog-title>Remove Product</h2>

<mat-dialog-content
    class="mat-typography"
    style="min-width: 50em;"
>
    <p>Are you sure want to remove product {{ data?.catalogue?.name }}?</p>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button
        mat-button
        mat-dialog-close
        class="warn-A700"
    >
        Cancel
    </button>
    <button
        mat-button
        class="green-800"
    >
        OK
    </button>
</mat-dialog-actions>