<h2 mat-dialog-title *ngIf="data?.title">{{ data?.title | titlecase }}</h2>

<mat-dialog-content class="mat-typography">
    <form class="w-100-p" [formGroup]="form" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px" fxFlex novalidate>
        <!-- STORE TYPE -->
        <div class="custom-field" fxLayout="row" fxLayoutAlign="start stretch">
            <label
                fxFlexAlign="center"
                fxFlex="12"
                [class.mat-error]="hasError(form.get('storeType'))"
            >
                Store Type
            </label>
            
            <mat-form-field appearance="outline" fxFlex="100">
                <mat-select
                    name="storeType"
                    formControlName="storeType"
                    placeholder="Choose Store Type"
                >
                    <mat-option
                        *ngFor="let storeType of (storeTypes$ | async)"
                        [value]="storeType.id"
                    >
                        {{ storeType.name }}
                    </mat-option>
                </mat-select>

                <mat-error *ngIf="hasError(form.get('storeType'))">
                    {{ getFormError(form.get('storeType')) }}
                </mat-error>
            </mat-form-field>
        </div>
        <!-- / STORE TYPE -->
        <!-- STORE SEGMENT -->
        <div class="custom-field" fxLayout="row" fxLayoutAlign="start stretch">
            <label
                fxFlexAlign="center"
                fxFlex="12"
                [class.mat-error]="hasError(form.get('storeSegment'))"
            >
                Store Segment
            </label>
            
            <mat-form-field appearance="outline" fxFlex="100">
                <mat-select
                    name="storeSegment"
                    formControlName="storeSegment"
                    placeholder="Choose Store Segment"
                >
                    <mat-option
                        *ngFor="let storeSegment of (storeSegments$ | async)"
                        [value]="storeSegment.id"
                    >
                        {{ storeSegment.name }}
                    </mat-option>
                </mat-select>

                <mat-error *ngIf="hasError(form.get('storeSegment'))">
                    {{ getFormError(form.get('storeSegment')) }}
                </mat-error>
            </mat-form-field>
        </div>
        <!-- / STORE TYPE -->
        <!-- ACTION BUTTONS -->
        <div
            fxLayout="row"
            fxLayoutAlign="end center"
            fxLayoutGap="20px"
        >
            <button
                mat-stroked-button
                color="primary"
                (click)="close()"
            >
                Cancel
            </button>
            <button
                mat-flat-button
                color="accent"
                (click)="click.next()"
                [disabled]="form.invalid || form.untouched || form.pristine"
            >
                Apply
            </button>
        </div>
        <!-- / ACTION BUTTONS -->
    </form>
</mat-dialog-content>