<div class="dialog-content-wrapper">
    <mat-toolbar class="m-0 fuse-white-bg">
        <mat-toolbar-row class="pr-8" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ data.title }}</span>
            <button mat-icon-button aria-label="Close Dialog" *ngIf="data?.showCloseButton" (click)="onClose()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content [ngClass]="data?.contentClass || defaultContentClass">
        <ng-container [ngTemplateOutlet]="data.template"></ng-container>
    </div>

    <div class="m-16" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px" *ngIf="data.showApplyButton || data.showCloseButton">
        <!-- CLOSE BUTTON -->
        <button mat-stroked-button class="primary-100-border" (click)="onClose()" [disabled]=!(!!data?.isApplyEnabled) *ngIf="data.showCloseButton">
            {{ data?.closeButtonLabel || 'Close' }}
        </button>
        <!-- / CLOSE BUTTON -->
        <!-- APPLY BUTTON -->
        <button mat-flat-button color="accent" (click)="onApply()" [disabled]=!(!!data?.isApplyEnabled) *ngIf="data.showApplyButton">
            {{ data?.applyButtonLabel || 'Apply' }}
        </button>
        <!-- / APPLY BUTTON -->
    </div>
</div>
