<!-- ENTITY (STORE SEGMENTATION TYPE) -->
<!-- <div class="custom-field" fxLayout="row">
    <mat-form-field fxFlexAlign="center" appearance="outline" fxFlex>
        <input
            #triggerEntity
            matInput
            autocomplete="new-password"
            placeholder="Search Store Type"
            [formControl]="entityForm"
            [matAutocomplete]="entityAutoComplete"
        />
        <mat-autocomplete
            #entityAutoComplete
            [displayWith]="displayEntity"
            (opened)="listenEntityAutoComplete()"
            (optionSelected)="onSelectedEntity($event)"
        > -->
            <!-- NONE OPTION -->
            <!-- <mat-option *ngIf="!(isEntityLoading$ | async)">(None)</mat-option> -->
            <!-- / NONE OPTION -->

            <!-- ENTITY (STORE SEGMENTATION TYPE) OPTIONS -->
            <!-- <mat-option
                *ngFor="let entity of (availableEntities$ | async)"
                [value]="entity"
            >
                {{ entity?.name || '-' }}
            </mat-option> -->
            <!-- / ENTITY (STORE SEGMENTATION TYPE) OPTIONS -->

            <!-- LOADING OPTION -->
            <!-- <mat-option
                [disabled]="true"
                style="text-align: center; font-style: italic; max-height: 30px;"
                *ngIf="!(totalEntities$ | async) && ((totalEntities$ | async) > (availableEntities$ | async)?.length)"
            >
                Loading ...
            </mat-option> -->
            <!-- / LOADING OPTION -->
        <!-- </mat-autocomplete>
        <mat-error *ngIf="hasError(entityForm)">
            {{ getFormError(entityForm) }}
        </mat-error>
    </mat-form-field>
</div> -->
<ng-template #errorMessage>
    <ng-content select="[error]"></ng-content>
</ng-template>
<div class="custom-field" fxLayout="row" *ngIf="mode === 'single'; else multiMode">
    <mat-form-field fxFlexAlign="center" appearance="outline" fxFlex>
        <input
            matInput
            type="text"
            #triggerEntity
            [formControl]="entityForm"
            autocomplete="new-password"
            [placeholder]="placeholder"
            [matAutocomplete]="entityAutocomplete"
        >
        <mat-autocomplete
            #entityAutocomplete="matAutocomplete"
            [displayWith]="showLabel"
            (opened)="listenEntityAutoComplete()"
            (optionSelected)="onSelectedEntity($event)"
        >
            <mat-option *ngIf="!(isEntityLoading$ | async)">(None)</mat-option>

            <mat-option *ngFor="let option of (availableEntities$ | async)" [value]="option">
                {{ option?.label || '-' }}
            </mat-option>

            <!-- <mat-option
                [disabled]="true"
                style="text-align: center; font-style: italic; max-height: 30px;"
                *ngIf="!(totalSalesReps$ | async) || (totalSalesReps$ | async) > (salesReps$ | async)?.length"
            >
                Loading ...
            </mat-option> -->

        </mat-autocomplete>
        <!-- LOADER -->
        <div class="pt-4 loader" style="justify-content: flex-end;" *ngIf="isEntityLoading$ | async">
            <mat-spinner [diameter]="25" color="accent"></mat-spinner>
        </div>
        <!-- / LOADER -->
        <mat-error *ngIf="entityForm?.errors?.required; else hasCustomError">
            {{ entityForm?.errors?.required?.message }}
        </mat-error>
        <ng-template #hasCustomError>
            <mat-error>
                {{ entityForm?.errors?.custom?.message }}
            </mat-error>
        </ng-template>
    </mat-form-field>
    <!-- <mat-form-field fxFlexAlign="center" appearance="outline" fxFlex>
        <mat-select [placeholder]="placeholder" [formControl]="entityForm" (openedChange)="onOpenedChangeEntity($event)" #dropdown>
            <mat-option>(None)</mat-option>
            <mat-option *ngFor="let option of (availableEntities$ | async)" [value]="option.id">
                {{ option?.label || '-' }}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="mode === 'single'">
            <ng-container *ngTemplateOutlet="errorMessage"></ng-container>
        </mat-error>
    </mat-form-field> -->
</div>
<ng-template #multiMode>
    <div class="custom-field" fxLayout="row">
        <mat-form-field fxFlexAlign="center" appearance="outline" fxFlex (click)="openCatalogueSelection()">
            <input
                matInput
                autocomplete="new-password"
                [placeholder]="placeholder"
                [formControl]="entityFormView"
                [value]="entityFormView.value"
            />

            <mat-error *ngIf="entityFormView?.errors?.required; else hasCustomError">
                {{ entityFormView?.errors?.required?.message }}
            </mat-error>
            <ng-template #hasCustomError>
                <mat-error>
                    {{ entityFormView?.errors?.custom?.message }}
                </mat-error>
            </ng-template>
        </mat-form-field>
    </div>
    <ng-template #selectStoreType>
        <sinbad-multiple-selection
            [disableClearAll]="false"
            [enableSelectAll]="true"
            [disabledOptions]="disabledCatalogues"
            [availableOptions]="(availableEntities$ | async)"
            [totalAvailableOptions]="(totalEntities$ | async)"
            [initialSelectedOptions]="initialSelection"
            [totalInitialSelectedOptions]="initialSelection.length"
            [isAvailableOptionsLoading]="(isEntityLoading$ | async)"
            (availableReachedBottom)="onEntityReachedBottom()"
            (selectionListChanged)="onSelectionChanged($event)"
            (clearAll)="onClearAll()"
            (search)="onEntitySearch($event)"
        ></sinbad-multiple-selection>
    </ng-template>
</ng-template>
<!-- <select-advanced
    [isMultipleSelections]="false"
    [placeholder]="'Search Store Type'"
    [availableOptions]="(availableEntities$ | async)"
    [totalAvailableOptions]="(totalEntities$ | async)"
    [isAvailableOptionsLoading]="(isEntityLoading$ | async)"
    (availableReachedBottom)="onEntityReachedBottom($event)"
    (selected)="onSelectedEntity($event)"
    (search)="onEntitySearch($event)"
></select-advanced> -->
<!-- / ENTITY (STORE SEGMENTATION TYPE) -->
