<div class="pb-16">
    <span class="mat-headline">
        Condition & Benefit
    </span>
</div>

<div class="box-info horizontal" fxLayout="column" fxLayoutGap="16px">
    <span class="box-title">Tier 1</span>

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label group-label" fxFlexAlign="center" fxFlex="10">
            Condition
        </div>

        <div class="info" fxFlexAlign="center" fxFlex="100"></div>
    </div>

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="10">
            Base
        </div>

        <div class="info" fxFlexAlign="center" fxFlex="100">
            <mat-radio-group>
                <mat-radio-button value="1">
                    Qty
                </mat-radio-button>

                <mat-radio-button value="2">
                    Order Value
                </mat-radio-button>
            </mat-radio-group>
            <!-- <ng-container *ngIf="!(isLoading$ | async)">
                {{ (warehouse$ | async)?.code || '-' }}
            </ng-container>

            <ngx-skeleton-loader
                [theme]="{ width: '100px', 'margin-bottom': '-5px' }"
                *ngIf="isLoading$ | async"
            ></ngx-skeleton-loader> -->
        </div>
    </div>

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="10">
            Qty >=
        </div>

        <div class="info" fxFlex="100">
            10
            <!-- <ng-container *ngIf="!(isLoading$ | async)">
                {{ (warehouse$ | async)?.name || '-' }}
            </ng-container>

            <ngx-skeleton-loader
                [theme]="{ width: '100px', 'margin-bottom': '-5px' }"
                *ngIf="isLoading$ | async"
            ></ngx-skeleton-loader> -->
        </div>
    </div>

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label group-label" fxFlexAlign="center" fxFlex="10">
            Benefit
        </div>

        <div class="info" fxFlexAlign="center" fxFlex="100"></div>
    </div>

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="10">
            Benefit Type
        </div>

        <div class="info" fxFlexAlign="center" fxFlex="100">
            <mat-radio-group>
                <mat-radio-button value="1">
                    Qty
                </mat-radio-button>

                <mat-radio-button value="2">
                    Rp
                </mat-radio-button>

                <mat-radio-button value="3">
                    %
                </mat-radio-button>
            </mat-radio-group>
            <!-- <ng-container *ngIf="!(isLoading$ | async)">
                {{ (warehouse$ | async)?.code || '-' }}
            </ng-container>

            <ngx-skeleton-loader
                [theme]="{ width: '100px', 'margin-bottom': '-5px' }"
                *ngIf="isLoading$ | async"
            ></ngx-skeleton-loader> -->
        </div>
    </div>

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="10">
            Bonus SKU
        </div>

        <div class="info" fxFlex="100">
            Ovaltine 3in1 10gr
            <!-- <ng-container *ngIf="!(isLoading$ | async)">
                {{ (warehouse$ | async)?.name || '-' }}
            </ng-container>

            <ngx-skeleton-loader
                [theme]="{ width: '100px', 'margin-bottom': '-5px' }"
                *ngIf="isLoading$ | async"
            ></ngx-skeleton-loader> -->
        </div>
    </div>

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="10"></div>

        <div class="info" fxFlex="100">
            <mat-checkbox>Apply Some SKU</mat-checkbox>
            <!-- <ng-container *ngIf="!(isLoading$ | async)">
                {{ (warehouse$ | async)?.name || '-' }}
            </ng-container>

            <ngx-skeleton-loader
                [theme]="{ width: '100px', 'margin-bottom': '-5px' }"
                *ngIf="isLoading$ | async"
            ></ngx-skeleton-loader> -->
        </div>
    </div>

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="10">
            Bonus Qty
        </div>

        <div class="info" fxFlex="100">
            1
            <!-- <ng-container *ngIf="!(isLoading$ | async)">
                {{ (warehouse$ | async)?.name || '-' }}
            </ng-container>

            <ngx-skeleton-loader
                [theme]="{ width: '100px', 'margin-bottom': '-5px' }"
                *ngIf="isLoading$ | async"
            ></ngx-skeleton-loader> -->
        </div>
    </div>

    <div
        class="custom-field info-field"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
    >
        <div class="label" fxFlexAlign="center" fxFlex="10"></div>

        <div class="info" fxFlex="100">
            <mat-checkbox>Multiplication Only</mat-checkbox>
            <!-- <ng-container *ngIf="!(isLoading$ | async)">
                {{ (warehouse$ | async)?.name || '-' }}
            </ng-container>

            <ngx-skeleton-loader
                [theme]="{ width: '100px', 'margin-bottom': '-5px' }"
                *ngIf="isLoading$ | async"
            ></ngx-skeleton-loader> -->
        </div>
    </div>
</div>
