<div class="pb-16">
    <span class="mat-headline">
        Condition & Benefit
    </span>
</div>

<ng-container *ngIf="(flexiCombo$ | async)?.promoConditions as conditions; else noConditions">
    <div
        class="box-info horizontal"
        [class.mb-16]="!isLast"
        fxLayout="column"
        fxLayoutGap="16px"
        *ngFor="let condition of conditions; index as idx; last as isLast"
    >
        <span class="box-title"> Tier {{ idx + 1 }} </span>

        <div
            class="custom-field info-field"
            fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="15px"
        >
            <div class="label group-label" fxFlexAlign="center" fxFlex="10">
                Condition
            </div>

            <div class="info" fxFlexAlign="center" fxFlex="100"></div>
        </div>

        <div
            class="custom-field info-field"
            fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="15px"
        >
            <div class="label" fxFlexAlign="center" fxFlex="10">
                Base
            </div>

            <div class="info" fxFlexAlign="center" fxFlex="100">
                <ng-container *ngIf="conditionBase; else noConditionBase">
                    <mat-radio-group [value]="condition?.conditionBase">
                        <mat-radio-button *ngFor="let row of conditionBase" [value]="row?.id">
                            {{ row?.label }}
                        </mat-radio-button>
                    </mat-radio-group>
                </ng-container>

                <ng-template #noConditionBase>
                    -
                </ng-template>
            </div>
        </div>

        <div
            class="custom-field info-field"
            fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="15px"
        >
            <div class="label" fxFlexAlign="center" fxFlex="10">
                <ng-container [ngSwitch]="condition?.conditionBase">
                    <ng-container *ngSwitchCase="eConditionBase.QTY">
                        Qty >=
                    </ng-container>
                    <ng-container *ngSwitchCase="eConditionBase.ORDER_VALUE">
                        Order Value >=
                    </ng-container>
                    <ng-container *ngSwitchDefault>-</ng-container>
                </ng-container>
            </div>

            <div class="info" fxFlex="100">
                <ng-container [ngSwitch]="condition?.conditionBase">
                    <ng-container *ngSwitchCase="eConditionBase.QTY">
                        {{ condition?.conditionQty }}
                    </ng-container>
                    <ng-container *ngSwitchCase="eConditionBase.ORDER_VALUE">
                        {{ condition?.conditionValue }}
                    </ng-container>
                    <ng-container *ngSwitchDefault>-</ng-container>
                </ng-container>
            </div>
        </div>

        <div
            class="custom-field info-field"
            fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="15px"
        >
            <div class="label group-label" fxFlexAlign="center" fxFlex="10">
                Benefit
            </div>

            <div class="info" fxFlexAlign="center" fxFlex="100"></div>
        </div>

        <div
            class="custom-field info-field"
            fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="15px"
        >
            <div class="label" fxFlexAlign="center" fxFlex="10">
                Benefit Type
            </div>

            <div class="info" fxFlexAlign="center" fxFlex="100">
                <ng-container *ngIf="benefitType; else noBenefitType">
                    <mat-radio-group [value]="condition?.benefitType">
                        <mat-radio-button *ngFor="let row of benefitType" [value]="row?.id">
                            {{ row?.label }}
                        </mat-radio-button>
                    </mat-radio-group>
                </ng-container>

                <ng-template #noBenefitType>
                    -
                </ng-template>
            </div>
        </div>

        <ng-container [ngSwitch]="condition?.benefitType">
            <!-- Benefit Type Qty -->
            <ng-container *ngSwitchCase="eBenefitType.QTY">
                <div
                    class="custom-field info-field"
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    fxLayoutGap="15px"
                >
                    <div class="label" fxFlexAlign="center" fxFlex="10">
                        Bonus SKU
                    </div>

                    <div class="info" fxFlex="100">
                        {{ condition?.benefitCatalogueId }}
                    </div>
                </div>

                <div
                    class="custom-field info-field"
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    fxLayoutGap="15px"
                >
                    <div class="label" fxFlexAlign="center" fxFlex="10"></div>

                    <div class="info" fxFlex="100">
                        <mat-checkbox
                            [checked]="
                                isApplySameSku(
                                    (flexiCombo$ | async)?.promoCatalogues,
                                    condition?.benefitCatalogueId
                                )
                            "
                        >
                            Apply Some SKU
                        </mat-checkbox>
                    </div>
                </div>

                <div
                    class="custom-field info-field"
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    fxLayoutGap="15px"
                >
                    <div class="label" fxFlexAlign="center" fxFlex="10">
                        Bonus Qty
                    </div>

                    <div class="info" fxFlex="100">
                        {{ condition?.benefitBonusQty || '-' }}
                    </div>
                </div>

                <div
                    class="custom-field info-field"
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    fxLayoutGap="15px"
                >
                    <div class="label" fxFlexAlign="center" fxFlex="10"></div>

                    <div class="info" fxFlex="100">
                        <mat-checkbox [checked]="condition?.multiplication">
                            Multiplication Only
                        </mat-checkbox>
                    </div>
                </div>
            </ng-container>
            <!-- ./ Benefit Type Qty -->

            <!-- Benefit Type Amount -->
            <ng-container *ngSwitchCase="eBenefitType.AMOUNT">
                <div
                    class="custom-field info-field"
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    fxLayoutGap="15px"
                >
                    <div class="label" fxFlexAlign="center" fxFlex="10">
                        Rebate
                    </div>

                    <div class="info" fxFlex="100">
                        {{ condition?.benefitRebate || '-' }}
                    </div>
                </div>
            </ng-container>
            <!-- ./ Benefit Type Amount -->

            <!-- Benefit Type Percent -->
            <ng-container *ngSwitchCase="eBenefitType.PERCENT">
                <div
                    class="custom-field info-field"
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    fxLayoutGap="15px"
                >
                    <div class="label" fxFlexAlign="center" fxFlex="10">
                        % Discount
                    </div>

                    <div class="info" fxFlex="100">
                        {{ condition?.benefitDiscount || '-' }}
                    </div>
                </div>

                <div
                    class="custom-field info-field"
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    fxLayoutGap="15px"
                >
                    <div class="label" fxFlexAlign="center" fxFlex="10">
                        Max Rebate
                    </div>

                    <div class="info" fxFlex="100">
                        {{ condition?.benefitMaxRebate || '-' }}
                    </div>
                </div>
            </ng-container>
            <!-- ./ Benefit Type Percent -->

            <ng-container *ngSwitchDefault>-</ng-container>
        </ng-container>
    </div>
</ng-container>

<ng-template #noConditions>
    Not found Condition & Benefit Settings.
</ng-template>
