<div id="error-403" class="page-layout carded fullwidth inner-scroll line-height-1.75" fxLayout="column" fxLayoutAlign="center center">
    <div class="center p-8">
        <div class="content-card" fxLayout="column" fxLayoutAlign="center center">
            <!-- <div class="error-code">403</div> -->

            <div>
                <img
                    class="fit-image fuse-white"
                    style="border-radius: 5px"
                    src="assets/images/errors/access_denied.png"
                />
            </div>

            <div class="message">
                <h1>Maaf, Anda tidak memiliki akses ke halaman ini</h1>
                <h4>Silakan hubungi admin untuk proses lebih lanjut</h4>
            </div>

            <!-- <div class="search" fxLayout="row" fxLayoutAlign="start center" *ngIf="false">
                <mat-icon class="icon s-24">search</mat-icon>
                <input placeholder="Search for something" fxFlex />
            </div> -->
        </div>
    </div>
</div>
