<div id="error-403" fxLayout="column" fxLayoutAlign="center center">
    <div class="content" fxLayout="column" fxLayoutAlign="center center">
        <div class="error-code">403</div>

        <div class="message">
            Sorry but you don't have permission to access. Please contact administrator.
        </div>

        <!-- <div class="search" fxLayout="row" fxLayoutAlign="start center" *ngIf="false">
            <mat-icon class="icon s-24">search</mat-icon>
            <input placeholder="Search for something" fxFlex />
        </div> -->

        <a class="back-link mt-24" [routerLink]="['/']">
            Go back to main page
        </a>

        or

        <button type="button" mat-flat-button color="accent" (click)="onLogout()">
            Logout
        </button>
    </div>
</div>
