@import 'src/@fuse/scss/fuse';
@import 'src/@sinbad/scss/helper';

.merchant-segment-alert-dialog {
    min-height: 406px;

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint('gt-xs') {
        width: 743px;
    }

    .mat-dialog-container {
        padding: 0;
        min-height: 250px;

        app-merchant-segmentation-alert {
            .mat-toolbar {
                background: none;
            }

            .mat-toolbar-row {
                max-height: 49px;
            }

            .spacer {
                flex: 1 1 auto;
            }

            .merchant-alert-table {
                flex: 1 1 auto;
                border: 1px solid rgba(0, 0, 0, 0.12);
                border-radius: 4px;
                min-height: 235px !important;
                overflow: auto;
                -webkit-overflow-scrolling: touch;
                background: #fafafa !important;

                &.sinbad-table-no-record {
                    background: #ffffff !important;
                }

                .mat-header-row,
                .mat-row {
                    min-width: fit-content;
                    width: 100%;
                }

                .mat-header-row {
                    background: sinbad-color('black', '10');
                }

                .mat-row {
                    background: white;
                    min-height: unset;
                }

                .merchant-alert {
                    position: relative;
                }

                .mat-header-cell {
                    color: sinbad-color('black', '80');
                    text-align: left;
                    font-weight: 700;

                    &:not(:last-of-type) {
                        padding-right: 8px;
                    }
                }

                mat-header-cell:first-of-type,
                .mat-header-cell:first-of-type,
                .mat-cell:first-of-type {
                    padding-left: 12px;
                }

                mat-cell:last-of-type,
                .mat-header-cell:last-of-type,
                .mat-cell:last-of-type {
                    padding-right: 12px;
                }

                .mat-cell {
                    font-size: 12px;
                    min-width: 0;
                    display: flex;
                    align-items: center;
                    padding-right: 8px;
                }

                .mat-column-checkbox {
                    flex: 0 1 60px;
                    min-width: 60px;
                }

                .mat-column-store-id {
                    flex: 0 1 120px;
                    min-width: 120px;
                }

                .mat-column-store-name {
                    flex: 1 2 50em;
                    min-width: 125px;
                }

                .mat-column-store-type {
                    color: sinbad-color('red', '50');
                    flex: 1 2 20em;
                    min-width: 125px;
                }

                .mat-column-store-group {
                    flex: 1 2 20em;
                    min-width: 125px;
                }

                .mat-column-store-channel {
                    flex: 1 2 20em;
                    min-width: 125px;
                }

                .mat-column-store-cluster {
                    flex: 1 2 20em;
                    min-width: 125px;
                }

                .mat-column-actions {
                    flex: 0 1 60px;
                    min-width: 60px;
                    justify-content: flex-end;
                }

                .mat-column-no-record {
                    position: relative;
                    top: 15em;
                    justify-content: center;
                }

                .quantity-indicator {
                    display: inline-block;
                    vertical-align: middle;
                    width: 8px;
                    height: 8px;
                    border-radius: 4px;
                    margin-right: 8px;

                    & + span {
                        display: inline-block;
                        vertical-align: middle;
                    }
                }

                .active-icon {
                    border-radius: 50%;
                }
            }
        }
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }

    .primary-color-input,
    .secondary-color-input {
        padding: 6px 8px;
    }

    .mat-form-field-prefix {
        top: -0.2em;
    }

    .mat-form-field-infix {
        padding: 0.5em 0 !important;
        top: -0.25em;
    }
}
