// Import Fuse core library
@import '@fuse/scss/core';

@import '@sinbad/scss/core';

@import 'src/@sinbad/scss/helper';

@import 'app/app.theme';

// Import app.theme.scss
/* mat-editor should be applied to the container of contenteditable (<mat-form-field>)*/
// .mat-editor .mat-form-field-wrapper,
// .mat-editor .mat-form-field-infix {
//     padding-top: 0;
//     padding-bottom: 0;
// }

// .mat-editor .mat-form-field-flex {
//     align-items: center;
// }

/* https://github.com/angular/material2/issues/13322 */
// .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon-button,
// .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
//     display: inline-block !important;
// }

// .date-form:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
//     height: unset !important;
// }

// Reference https://stackoverflow.com/a/20402340
// @media all and (min-width: 0px) and (max-width: 320px) {
//     .mat-datetimepicker-calendar-header-date-time {
//         font-size: 25px !important;
//     }

//     .mat-datetimepicker-calendar {
//         width: inherit !important;
//         height: inherit !important;
//     }
// }

quill-editor {
    display: block;
}

// .ql-editor:focus {
//     border: 1px solid #80bdff !important;
//     box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
// }

/* Set default font-family */
[quill-editor-element] {
    font-family: 'Roboto';
}

/* Set dropdown font-families */
[quill-editor-toolbar] .ql-font span[data-label='Aref Ruqaa']::before {
    font-family: 'Aref Ruqaa';
}

[quill-editor-toolbar] .ql-font span[data-label='Mirza']::before {
    font-family: 'Mirza';
}

[quill-editor-toolbar] .ql-font span[data-label='Roboto']::before {
    font-family: 'Roboto';
}

/* Set content font-families */
.ql-font-mirza {
    font-family: 'Mirza';
}

.ql-font-aref {
    font-family: 'Aref Ruqaa';
}

.table-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    overflow: hidden;
}

// .ql-container {
//     height: auto;
// }

//.ql-bubble .ql-tooltip {
//    left: unset !important;
//}
//
//.ql-bubble .ql-tooltip-arrow {
//    top: unset !important;
//}

// .ql-container .ql-editor {
//     min-height: 200px;
//     padding: 10px 0;
// }

// .ql-toolbar.ql-snow {
//     margin-top: -10px !important;
//     margin-left: -10px !important;
//     margin-right: -10px !important;
//     border: unset !important;
//     border-bottom: 1px solid #cccccc !important;
//     padding: 8px 0 !important;
// }

// .ql-container.ql-snow {
//     border: unset !important;
// }

// .ql-editor.ql-blank::before {
//     left: unset !important;
//     right: unset !important;
// }

.loader {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-content {
    position: absolute;
    top: 20%;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.highlight-row {
    background-color: #e5e5e5 !important;
}

.panel-error {
    color: #d8000c !important;
    background-color: rgba(255, 210, 210, 0.9) !important;
}

.panel-info {
    color: #0c5460 !important;
    background-color: rgba(209, 236, 241, 0.9) !important;
}

.panel-success {
    color: #4f8a10 !important;
    background-color: rgba(223, 242, 191, 0.9) !important;
}

.panel-warning {
    color: #856404 !important;
    background-color: rgba(255, 243, 205, 0.9) !important;
}

.indicator-error {
    background-color: #d8000c !important;
    color: #fff !important;
}

.indicator-info {
    background-color: #0c5460 !important;
    color: #fff !important;
}

.indicator-success {
    background-color: #4f8a10 !important;
    color: #fff !important;
}

.indicator-warning {
    background-color: #856404 !important;
    color: #fff !important;
}

.sinbad-orange {
    background-color: #fdb000 !important;
    color: #fff !important;
}

.skeleton {
    background-color: #e8e8e8;
    padding: 10px;
}

.bg-f9f9f9-simple {
    background-color: #f9f9f9;
    border-radius: 4px;
}

.bg-f9f9f9 {
    background-color: #f9f9f9;
    border-radius: 4px;

    div {
        label {
            color: #bdbdbd;
            text-align: right;
        }

        .mat-form-field-outline {
            background-color: white;
        }
    }
}

.btn-sinbad-outline {
    border: 2px dashed #2dc3ab;
    text-align: center;
    color: #2dc3ab;
    border-radius: 4px;
    cursor: pointer;
}

.btn-sinbad-link {
    line-height: 0 !important;
    min-width: 0 !important;
    padding: 0 !important;
    margin: 0 !important;

    &:hover {
        text-decoration: underline;
    }
}

.btn-sinbad-link.mat-button.mat-primary .mat-button-focus-overlay,
.btn-sinbad-link.mat-button.mat-accent .mat-button-focus-overlay,
.btn-sinbad-link.mat-button.mat-warn .mat-button-focus-overlay {
    background-color: transparent !important;
}

// .leaflet-tile-container {
//     display: none;
// }

.leaflet-control-container {
    .leaflet-control-zoom {
        a {
            &:hover {
                text-decoration: none !important;
            }
        }
    }

    .leaflet-control-attribution {
        display: none;
        // a {
        //     display: none;
        // }
    }
}

.no-records {
    display: flex;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

// Text format helper
.text-word-break-break-word {
    word-break: break-word;
}

// Table helper
.sinbad-table {
    min-height: 42px !important;
}

.mat-table {
    &.sinbad-table-no-record {
        background: #ffffff !important;

        .mat-footer-row {
            border-bottom: none;
        }
    }
}

// Tooltip helper
.tooltip-br {
    white-space: pre-line;
}

body.theme-sinbad-light {
    label[disabled] {
        color: rgba(0, 0, 0, 0.38);
    }

    .mat-stroked-button.sinbad:not([disabled]),
    .mat-stroked-button.sinbad {
        border-color: #f0444c;
    }

    .page-layout.carded.fullwidth > .center {
        padding-right: 12px;
        padding-left: 12px;
    }

    .page-layout.carded.fullwidth > .center > .header.sinbad {
        // height: 80px !important;
        // min-height: 80px !important;
        height: 70px !important;
        min-height: 65px !important;
    }

    .header.sinbad {
        .active {
            color: #f0444c;
        }
    }

    .sinbad-content {
        border-radius: 4px;

        mat-table {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }

        mat-paginator {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }

    .custom-field {
        label {
            font-weight: 600 !important;
            position: relative;
            top: -0.78em;
        }

        .mat-form-field-prefix {
            top: -0.2em;
        }

        .mat-form-field-infix {
            padding: 0.5em 0 !important;
            top: -0.25em;
        }

        &.sinbad-textarea {
            label {
                top: -3em;
            }
        }

        &.sinbad-button {
            label {
                top: 0;
            }
        }
    }

    .custom-field-right {
        label {
            font-weight: 600 !important;
            position: relative;
            top: -0.78em;
            text-align: right;
            padding-right: 2em;
            // padding-right: 10px;
        }

        .mat-form-field-prefix {
            top: -0.2em;
        }

        .mat-form-field-infix {
            padding: 0.5em 0 !important;
            top: -0.25em;
        }

        &.sinbad-textarea {
            label {
                top: -3em;
            }
        }

        &.sinbad-button {
            label {
                top: 0;
            }
        }
    }

    .form-box {
        .mat-subheading-2 {
            font-weight: 600;
        }
    }

    .sinbad-file-field {
        + button:not(.single-file-btn) {
            position: relative;
            top: -0.78em;
            left: -0.8em;
            height: 42px;
        }

        + button {
            &.single-file-btn {
                position: relative;
                top: -0.78em;
                height: 42px;
            }
        }
    }

    .custom-file {
        display: none;
    }

    navbar-horizontal-custom-style-1 {
        // .nav {
        //     &.horizontal {
        //         > .nav-item {
        //             > .nav-link {
        //                 height: 40px;
        //             }
        //         }
        //     }
        // }

        @include mat-elevation(1);
    }

    .sinbad-mat-menu-item {
        line-height: 24px;
        height: 36px;

        span {
            display: inline-block;
        }
    }

    // Sinbad tab
    nav.sinbad-tab {
        border-bottom: none;
    }

    .sinbad-tab {
        a:hover,
        a:visited,
        a:link,
        a:active {
            text-decoration: none !important;
        }

        .mat-tab-link {
            min-width: 120px;

            &:hover {
                background-color: rgba(0, 0, 0, 0.04);
            }
        }

        .mat-ink-bar {
            visibility: hidden !important;
        }

        .mat-tab-link:focus:not(.mat-tab-disabled) {
            opacity: 1;

            .label {
                color: #f0444c;
            }
        }

        .mat-tab-label-active {
            opacity: 1;

            .label {
                color: #f0444c;
            }
        }

        .indicator {
            border-bottom: 2px solid #f0444c;
            width: 70%;
        }
    }

    .sinbad-progress-bar {
        border-radius: 50px;

        .mat-progress-bar-fill {
            &::after {
                border-radius: 50px;
                background-color: #f0444c;
            }
        }
    }

    .credit-box-action {
        border: 2px dashed black;
        border-radius: 10px;
        width: 20em;
        min-width: 20em;
        min-height: 180px;
        max-height: 180px;

        button {
            mat-icon {
                color: #2dc3ab;
                font-size: 36px;
                height: 36px;
                width: 36px;
                line-height: 36px;
            }
        }
    }

    .credit-box-action-fill {
        background-color: white;
        // border: 2px dashed black;
        border-radius: 10px;
        width: 20em;
        min-width: 20em;
        min-height: 180px;
        max-height: 180px;

        .top-content {
            mat-icon {
                color: #2dc3ab;
            }
        }

        .background-box {
            .top {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            .content {
                .content-top {
                    .top-image {
                        img {
                            border-radius: 4px;
                        }
                    }

                    .top-content {
                        div {
                            span {
                                color: #2dc3ab;
                            }
                        }
                    }
                }
            }
        }
    }

    /* navbar-horizontal-custom-style-1 {
        .nav {
            &.horizontal {
                > .nav-item {
                    > .nav-link {
                        height: 40px;
                    }
                }
            }
        }
    } */
}

.mat-btn-medium {
    width: 300px;
}

mat-header-row {
    height: 40px !important;
    min-height: 40px !important;
    max-height: 40px !important;
}

.sinbad-mat-tab-group {
    &.has-border {
        .mat-tab-header {
            border-bottom: 1px solid rgba(0,0,0,0.12) !important;
        }
    }

    .mat-tab-header {
        border-bottom: 0px solid rgba(0,0,0,0) !important;
    }

    &.narrow {
        .mat-tab-label {
            min-width: 100px !important;
            width: 100px !important;
        }
    }

    .mat-tab-label {
        color: sinbad-color('black', '50');

        &.mat-tab-label-active {
            color: sinbad-color('red', '50');
            opacity: 1;
        }
    }
}

.no-top {
    top: 0 !important;
}

.view-field {
    .form-label {
        font-weight: normal !important;
        font-size: 14px !important;
        color: sinbad-color('black', '80') !important;
    }

    span.form-value {
        font-weight: normal !important;
        font-size: 14px !important;
        color: rgba(37, 40, 43, 0.5);
    }
    
    &.label-no-padding {
        label {
            font-weight: 600;
            position: relative;
            padding-right: 0 !important;
            // top: -0.78em;
            // text-align: right;
            // padding-right: 2em;
            // padding-right: 10px;
        }
    }

    label {
        font-weight: 600;
        position: relative;
        // top: -0.78em;
        // text-align: right;
        padding-right: 2em;
        // padding-right: 10px;
    }

    .mat-form-field-prefix {
        top: -0.2em;
    }

    .mat-form-field-infix {
        padding: 0.5em 0 !important;
        top: -0.25em;
    }

    &.sinbad-textarea {
        label {
            top: -3em;
        }
    }

    &.sinbad-button {
        label {
            top: 0;
        }
    }
}

.dialog-container-no-padding {
    .mat-dialog-container {
        padding: 0;
    }
}