@import 'src/@sinbad/scss/helper';

#cross-selling-promo-form {
    .mat-headline {
        font-size: 18px;
        font-weight: 600;
    }

    .mat-radio-button ~ .mat-radio-button {
        margin-left: 16px;
    }

    .mat-checkbox ~ .mat-checkbox {
        margin-left: 16px;
    }

    .form-box {
        .custom-field {
            label {
                font-weight: normal;
                color: sinbad-color('black', '80');

                + div {
                    a[href] {
                        margin-left: 16px;
                        position: relative;
                        top: -0.6em;
                    }
                }
            }

            .mat-radio-group {
                position: relative;
                top: 0.1em;
            }

            .mat-form-field-outline {
                background: #ffffff !important;
            }

            .mat-datetimepicker-toggle {
                .mat-icon-button {
                    top: -0.2em;
                }

                /* Set color icon in datepicker */
                .mat-icon {
                    color: sinbad-color('red', '50');
                }
            }

            .form-info {
                .mat-radio-group {
                    top: 0.7em;
                }

                .mat-form-field-outline {
                    visibility: hidden;
                }
            }
        }

        .box-group {
            margin-bottom: 16px;

            .field-head-wrapper {
                width: 700px;
                min-width: 700px;
                max-width: 700px;
            }

            .box-title {
                font-size: 16px;
                font-weight: 600;
            }

            .field-content-instruction {
                background-color: rgba(232, 232, 232, 0.25);
            }

            .field-wrapper {
                background-color: rgba(232, 232, 232, 0.25);
                width: 700px;
                min-width: 700px;
                max-width: 700px;
                height: 410px;
                border-radius: 4px;

                /* &.no-instruction {
                    height: 370px;
                } */

                &.instruction {
                    // height: 370px;
                    height: auto;
                    background-color: transparent;
                }

                &.benefit-qty-full {
                    height: 435px;
                }

                &.benefit-qty-empty {
                    height: 370px;
                }

                &.benefit-amount {
                    height: 300px;
                }

                .field-title {
                    font-weight: 600;
                    color: sinbad-color('black', '100');
                    margin-bottom: 18px;
                }

                .custom-field {
                    .mat-form-field {
                        max-width: 400px !important;
                    }
                }
            }

            card-instruction {
                .title {
                    font-size: 18px;
                    font-weight: 600;
                    text-decoration: underline;
                }
            }
        }
    }
}
