<div
    id="order-preview-confirm"
    class="page-layout carded fullwidth inner-scroll"
    cdkScrollable
    fusePerfectScrollbar
>
    <div class="store-shipment-preview">
        <div class="page-layout carded fullwidth inner-scroll" cdkScrollable fusePerfectScrollbar>
            <div style="display: flex">
                <button mat-icon-button class="mr-0" (click)="btnBack()">
                    <mat-icon style="margin-top: 18px">arrow_back</mat-icon>
                </button>
                <p class="title-section">Store & Shipment Information</p>
            </div>

            <div class="content">
                <div class="tab-content">
                    <div class="horizontal" fxLayout="column" fxLayoutGap="16px">
                        <div class="box-info">
                            <div
                                class="custom-field info-field"
                                fxLayout="column"
                                fxLayoutGap="0.5%"
                            >
                                <div class="label">Order Date</div>

                                <div class="description">{{ dataStore?.date || '-' }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="horizontal" fxLayout="column" fxLayoutGap="16px">
                        <div class="box-info">
                            <div
                                class="custom-field info-field"
                                fxLayout="column"
                                fxLayoutGap="0.5%"
                            >
                                <div class="label">Supplier ID</div>
                                <div class="description">
                                    <ng-container
                                        *ngIf="!(isLoading$ | async); else supplierLoading"
                                    >
                                        {{ (dataCartCheckout$ | async)?.supplier?.id || '-' }}
                                    </ng-container>
                                    <ng-template #supplierLoading> - </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="horizontal" fxLayout="column" fxLayoutGap="16px">
                        <div class="box-info">
                            <div
                                class="custom-field info-field"
                                fxLayout="column"
                                fxLayoutGap="0.5%"
                            >
                                <div class="label">Store Name</div>

                                <div class="description">{{ dataStore?.storeName || '-' }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="horizontal" fxLayout="column" fxLayoutGap="16px">
                        <div class="box-info">
                            <div
                                class="custom-field info-field"
                                fxLayout="column"
                                fxLayoutGap="0.5%"
                            >
                                <div class="label">Owner Name</div>

                                <div class="description">{{ dataStore?.ownerName || '-' }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content" style="padding-left: 16px">
                    <div class="horizontal" fxLayout="column" fxLayoutGap="16px">
                        <div class="box-info">
                            <div
                                class="custom-field info-field"
                                fxLayout="column"
                                fxLayoutGap="0.5%"
                            >
                                <div class="label">Store Address</div>

                                <div class="description">
                                    {{ dataStore?.storeAddress || '-' }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="horizontal" fxLayout="column" fxLayoutGap="16px">
                        <div class="box-info">
                            <div
                                class="custom-field info-field"
                                fxLayout="column"
                                fxLayoutGap="0.5%"
                            >
                                <div class="label">Delivery Address</div>

                                <div class="description">
                                    {{ dataStore?.deliveryAddress || '-' }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="horizontal" fxLayout="column" fxLayoutGap="16px">
                        <div class="box-info">
                            <div
                                class="custom-field info-field"
                                fxLayout="column"
                                fxLayoutGap="0.5%"
                            >
                                <div class="label">Urban</div>

                                <div class="description">{{ dataStore?.urban || '-' }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="horizontal" fxLayout="column" fxLayoutGap="16px">
                        <div class="box-info">
                            <div
                                class="custom-field info-field"
                                fxLayout="column"
                                fxLayoutGap="0.5%"
                            >
                                <div class="label">Warehouse</div>

                                <div class="description">{{ dataStore?.warehouse || '-' }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div
        class="loader-content"
        *ngIf="
            (isLoading$ | async)
        "
    >
        <mat-spinner color="accent"></mat-spinner>
    </div>

    <ng-container #elem *ngIf="(dataCartCheckout$ | async)">
        <div class="tab-group">
            <mat-tab-group
                color="accent"
                style="border-radius: 4px; margin: 0px 16px; background-color: white"
                animationDuration="0ms"
                (selectedTabChange)="onSelectedTab($event)"
                [selectedIndex]="selectedTab"
            >
                <ng-container *ngFor="let item of (dataCartCheckout$ | async)?.items ; let idx = index">
                    <mat-tab aria-label="all" [label]="item.invoiceGroup?.name"></mat-tab>
                </ng-container>
                <!-- <mat-tab *ngFor="let item of item; let i = index" aria-label="all" [label]="item[i].orderBrands[i].brandName"></mat-tab> -->
            </mat-tab-group>
        </div>

        <div class="order-list-container">
            <div class="order-list-preview" *ngFor="let item of (dataCartCheckout$ | async)?.items; let idx = index" [attr.data-id]="idx">

                <p style="font-size: 18px; font-weight: 700; margin-left: 16px;scroll-margin-top: 10vw;margin-bottom:0px;" [id]="item.invoiceGroup?.name">
                    {{ item.invoiceGroup?.name }}
                </p>

                <div
                    *ngFor="let orderBrand of item.orderBrands"
                    [id]="orderBrand?.brandName"
                >
                    <p style="font-size: 14px; font-weight: 700; margin-left: 16px">
                        {{ orderBrand?.brandName }}
                    </p>

                    <!-- table catalogue -->
                    <mat-table
                        class="order-preview-list-table sinbad-table"
                        [class.sinbad-table-no-record]="orderBrand?.catalogues.length === 0"
                        #table
                        [dataSource]="orderBrand?.catalogues"
                        matSort
                        [@animateStagger]="{ value: '50' }"
                        fusePerfectScrollbar
                    >
                        <!-- SKU ID Column -->
                        <ng-container matColumnDef="order-sku-id">
                            <mat-header-cell *matHeaderCellDef> SKU ID </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <p style="word-break: break-word">
                                    {{ row?.catalogueId || '-' }}
                                </p>
                            </mat-cell>
                        </ng-container>

                        <!-- SKU Supplier Column -->
                        <ng-container matColumnDef="order-sku-supplier">
                            <mat-header-cell *matHeaderCellDef> SKU Supplier </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <p style="word-break: break-word">
                                    {{ row?.skuSupplier || '-' }}
                                </p>
                            </mat-cell>
                        </ng-container>

                        <!-- Product Name Column -->
                        <ng-container matColumnDef="order-product-name">
                            <mat-header-cell *matHeaderCellDef> Product Name </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <img
                                    [src]="row?.productImage"
                                    alt="Product Images"
                                    class="product-image"
                                />
                                <p style="word-break: break-word">
                                    {{ row?.productName || '-' }}
                                </p>
                            </mat-cell>
                        </ng-container>

                        <!-- QTY Column -->
                        <ng-container matColumnDef="order-qty">
                            <mat-header-cell *matHeaderCellDef> QTY </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <p style="word-break: break-word">
                                    {{ row?.qty || '-' }}
                                </p>
                            </mat-cell>
                        </ng-container>

                        <!-- UOM Column -->
                        <ng-container matColumnDef="order-uom">
                            <mat-header-cell *matHeaderCellDef> UOM </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <p style="word-break: break-word">
                                    {{ (row?.UOM) || '-' }}
                                </p>
                            </mat-cell>
                        </ng-container>

                        <!-- Price Column -->
                        <ng-container matColumnDef="order-price">
                            <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <p style="word-break: break-word">
                                    {{ numberFormat(row?.price) }}
                                </p>
                            </mat-cell>
                        </ng-container>

                        <!-- Tax Column -->
                        <ng-container matColumnDef="order-tax">
                            <mat-header-cell *matHeaderCellDef> Tax </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <p style="word-break: break-word">
                                    <ng-container *ngIf="row?.tax; else noResultTax">
                                        {{ row?.tax }}%
                                    </ng-container>
                                    <ng-template #noResultTax> - </ng-template>
                                </p>
                            </mat-cell>
                        </ng-container>

                        <!-- Promo -->
                        <ng-container matColumnDef="order-promo">
                            <mat-header-cell *matHeaderCellDef> Promo </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <p style="word-break: break-word">
                                    <ng-container *ngIf="row?.promo; else noResultTax">
                                        {{ numberFormat(row?.promo) }}
                                    </ng-container>
                                    <ng-template #noResultTax> - </ng-template>
                                </p>
                            </mat-cell>
                        </ng-container>

                        <!-- No Record Column -->
                        <ng-container matColumnDef="no-record">
                            <mat-footer-cell *matFooterCellDef colspan="8">{{
                                labelNoRecord
                            }}</mat-footer-cell>
                        </ng-container>

                        <mat-header-row
                            *matHeaderRowDef="displayedColumnsOrderPreviewList; sticky: true"
                        ></mat-header-row>

                        <mat-row
                            *matRowDef="let row; columns: displayedColumnsOrderPreviewList"
                            class="sinbad-order-preview-list-table"
                        ></mat-row>

                        <mat-footer-row
                            *matFooterRowDef="['no-record']"
                            [fxShow]="orderBrand?.catalogues.length === 0"
                        ></mat-footer-row>
                    </mat-table>

                    <!-- table for bonus -->
                    <div
                        *ngIf="orderBrand?.bonusCatalogues?.length > 0"
                        id="orderBrand.brandName"
                        style="margin-top: 16px"
                    >
                        <p style="font-size: 16px; font-weight: 700; margin-left: 16px">Bonus</p>

                        <mat-table
                            class="order-preview-list-table sinbad-table"
                            [class.sinbad-table-no-record]="orderBrand?.bonusCatalogues.length === 0"
                            #table
                            [dataSource]="orderBrand?.bonusCatalogues"
                            matSort
                            [@animateStagger]="{ value: '50' }"
                            fusePerfectScrollbar
                        >
                            <ng-container matColumnDef="bonus-order-sku-id">
                                <mat-header-cell *matHeaderCellDef> SKU ID </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <p style="word-break: break-word">
                                        {{ row?.catalogueId || '-' }}
                                    </p>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="bonus-order-sku-supplier">
                                <mat-header-cell *matHeaderCellDef> SKU Supplier </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <p style="word-break: break-word">
                                        {{ row?.skuSupplier || '-' }}
                                    </p>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="bonus-order-product-name">
                                <mat-header-cell *matHeaderCellDef> Product Name </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <img
                                        [src]="row?.productImage"
                                        alt="Product Images"
                                        class="product-image"
                                    />
                                    <p style="word-break: break-word">
                                        {{ row?.productName || '-' }}
                                    </p>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="bonus-order-qty">
                                <mat-header-cell *matHeaderCellDef> QTY </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <p style="word-break: break-word">
                                        {{ row?.qty || '-' }}
                                    </p>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="bonus-order-uom">
                                <mat-header-cell *matHeaderCellDef> UOM </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <p style="word-break: break-word">
                                        {{ (row?.UOM) || '-' }}
                                    </p>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="no-record">
                                <mat-footer-cell *matFooterCellDef colspan="8">{{
                                    labelNoRecord
                                }}</mat-footer-cell>
                            </ng-container>

                            <mat-header-row
                                *matHeaderRowDef="displayedColumnsBonusPreviewList; sticky: true"
                            ></mat-header-row>

                            <mat-row
                                *matRowDef="let row; columns: displayedColumnsBonusPreviewList"
                                class="sinbad-order-preview-list-table"
                            ></mat-row>

                            <mat-footer-row
                                *matFooterRowDef="['no-record']"
                                [fxShow]="orderBrand?.bonusCatalogues.length === 0"
                            ></mat-footer-row>
                        </mat-table>
                    </div>

                </div>

                <!-- for payment type, method, order summary -->
                <div
                style="
                    display: flex;
                    background-color: white;
                    margin: 16px 0px 0px 0px;
                    justify-content: space-between;
                "
            >
                <!-- payment type -->
                <div style="margin: 0px 16px 0px 0px">
                    <div style="display: flex; flex-direction: column">
                        <label style="font-size: 14px; font-weight: 600">
                            <b>Payment Type</b>
                        </label>

                        <ng-container *ngIf="paymentMethod?.length !== 0; else noPaymentType">
                            <mat-form-field appearance="outline">
                                <mat-select
                                    [value]="getSelectedPaymentList(item?.orderParcelId,'type')"
                                    style="width: 25vw"
                                    (selectionChange)="
                                        onChangePaymentType($event, item?.orderParcelId)
                                    "
                                    placeholder="Select payment type"
                                >
                                    <mat-option
                                        *ngFor="let row of getPaymentList(item?.orderParcelId,'type')"
                                        style="font-size: 14px;
                                            height: fit-content;
                                            line-height: 20px;"
                                        class="cutom-mat-option"
                                        [value]="row"
                                        [disabled]="row?.validation?.overLimitStatus"
                                    >
                                        <p>{{ row?.name }}</p>
                                        <div>
                                            <p style="font-size: 10px; white-space: normal">
                                                {{ row?.validation?.warningMessage }}
                                            </p>
                                        </div>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <ng-template #noPaymentType>
                                <mat-select placeholder="Select payment type" disabled>
                                    <mat-option>None</mat-option>
                                </mat-select>
                            </ng-template>

                            <!-- <mat-error>
                            {{
                                form.get(['groups', groupIdx, 'invoiceGroup']).value
                                | errorMessage: form:'invoiceGroup':'groups':groupIdx
                            }}
                        </mat-error> -->
                        </ng-container>
                    </div>

                    <br />

                    <!-- payment method -->
                    <div style="display: flex; flex-direction: column">
                        <label style="font-size: 14px; font-weight: 600">
                            <b>Payment Method</b>
                        </label>

                        <mat-form-field appearance="outline">
                            <ng-container *ngIf="paymentMethod?.length !== 0; else noPaymentMethod">
                    
                                <mat-select
                                    [value]="getSelectedPaymentList(item?.orderParcelId,'type')"
                                    style="width: 25vw"
                                    placeholder="Select payment method"
                                    (selectionChange)="
                                        onChangePaymentMethod($event, item?.orderParcelId)
                                    "
                                >
                                    <mat-option
                                        *ngFor="let row of getPaymentList(item?.orderParcelId,'method')"
                                        style="
                                            font-size: 14px;
                                            height: fit-content;
                                            line-height: 20px;
                                        "
                                        class="cutom-mat-option"
                                        [value]="row?.id"
                                    >
                                        <p>{{ row?.name }}</p>
                                    </mat-option>
                                </mat-select>
                            </ng-container>

                            <ng-template #noPaymentMethod>
                                <mat-select placeholder="Select payment method" disabled>
                                    <mat-option>None</mat-option>
                                </mat-select>
                            </ng-template>

                    <!-- <mat-error>
                            {{
                                form.get(['groups', groupIdx, 'invoiceGroup']).value
                                | errorMessage: form:'invoiceGroup':'groups':groupIdx
                            }}
                        </mat-error> -->
                        </mat-form-field>
                    </div>
                </div>

                <!-- order summary -->
                <div
                    style="
                        margin: 0px 0px 16px 16px;
                        background-color: whitesmoke;
                        width: 30vw;
                        padding: 0px 16px 8px 16px;
                    "
                >
                    <p style="font-size: 16px; font-weight: 700">Order Summary</p>
                    <div style="display: flex; align-items: center">
                        <p style="width: 50%; margin: 5px">Gross</p>
                        <b>{{ calculateMoney(item.orderBrands, 'grossPrice') }}</b>
                    </div>
                    <div style="display: flex; align-items: center">
                        <p style="width: 50%; margin: 5px">Promo</p>
                        <b>{{ calculateMoney(item.orderBrands, 'promo') }}</b>
                    </div>
                    <div style="display: flex; align-items: center">
                        <p style="width: 50%; margin: 5px">Untaxed</p>
                        <b>{{ calculateMoney(item.orderBrands, 'untaxed') }}</b>
                    </div>
                    <div style="display: flex; align-items: center">
                        <p style="width: 50%; margin: 5px">Tax</p>
                        <b>{{ calculateMoney(item.orderBrands, 'taxes') }}</b>
                    </div>
                    <div style="display: flex; align-items: center">
                        <p style="width: 50%; margin: 5px">Total</p>
                        <b>{{ calculateMoney(item.orderBrands, 'finalPrice') }}</b>
                    </div>
                    <div *ngIf="item?.minTrx" class="text-error ml-4 mt-12 mb-12 mr-4">
                        Minimum transactions {{ item?.minTrx | price: 'full':'IDR':'narrow':'1.0-2' }}
                    </div>
                </div>
            </div>
            </div>
        </div>
    </ng-container>
</div>

<div
    class="loader"
    *ngIf="
       (isLoadingConfirmOrder$ | async)
    "
>
    <div class="loader-content">
        <mat-spinner color="accent"></mat-spinner>
    </div>
</div>
