
<div class="pb-16">
    <span class="mat-headline"> Promo List </span>
</div>

<mat-table
    class="detail-promo-list-table sinbad-table"
    [class.sinbad-table-no-record]="!(isLoading$ | async) && (totalDataSource$ | async) === 0"
    #table
    [dataSource]="dataSource$ | async"
    matSort
    [@animateStagger]="{ value: '50' }"
    fusePerfectScrollbar
>

    <!-- seller Id Column -->
    <ng-container matColumnDef="sellerId">
        <mat-header-cell *matHeaderCellDef> Seller ID</mat-header-cell>
        <mat-cell *matCellDef="let row">
            <p style="word-break: break-word">{{ row?.external_id || '-' }}</p>
        </mat-cell>
    </ng-container>

    <!-- Promo Name Column-->
    <ng-container matColumnDef="storeName">
        <mat-header-cell *matHeaderCellDef> Promo Name </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <p style="word-break: break-word">{{ row?.name || '-' }}</p>
        </mat-cell>
    </ng-container>

    <!-- Start Date Column -->
    <ng-container matColumnDef="start_date">
        <mat-header-cell *matHeaderCellDef> Start Date </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <p style="word-break: break-word">
                {{ (row?.startDate | date: 'dd/MM/yyyy') || '-' }}
            </p>
        </mat-cell>
    </ng-container>

    <!-- End Date Column -->
    <ng-container matColumnDef="end_date">
        <mat-header-cell *matHeaderCellDef> End Date </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <p style="word-break: break-word">
                {{ (row?.endDate | date: 'dd/MM/yyyy') || '-' }}
            </p>
        </mat-cell>
    </ng-container>

    <!-- No Record Column -->
    <ng-container matColumnDef="no-record">
        <mat-footer-cell *matFooterCellDef colspan="8"> No records found </mat-footer-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>

    <mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="sinbad-skp-promo-list-item"
    ></mat-row>

    <mat-footer-row
        *matFooterRowDef="['no-record']"
        [fxShow]="!(isLoading$ | async) && (totalDataSource$ | async) === 0"
    ></mat-footer-row>
</mat-table>

<div
    class="loader-content"
    *ngIf="(isLoading$ | async) && (!(totalDataSource$ | async) || (totalDataSource$ | async))"
>
    <mat-spinner color="accent"></mat-spinner>
</div>

<mat-paginator
    [fxHide]="(isLoading$ | async) || (totalDataSource$ | async) === 0"
    [length]="totalDataSource$ | async"
    [pageSize]="defaultPageSize"
    [pageSizeOptions]="defaultPageOpts"
    showFirstLastButtons
></mat-paginator>
