app-order-status-info{
    .box-container{
        .mat-button[disabled] {
            background-color: rgb(128 128 128) !important;
        }

        .btn-cancel-status{
            border: 2px solid rgb(141, 141, 141);
        }

        .progress-bar {
            .content {
                .bar-left-wrapper {
                    margin-right: 3px;
                    .bar-left {
                        width: 100px;
                        height: 0;
                        border-top: 10px solid #f0444c;
                        border-right: 3px solid transparent;
                        margin-right: 1px;
                    }
                }

                .bar-center-wrapper {
                    margin-right: 3px;
                    margin-left: 3px;
                    .bar-center {
                        width: 100px;
                        height: 0;
                        transform: skewX(-15deg);
                        border-bottom: 10px solid #cacccf;
                        &.active {
                            border-bottom: 10px solid #f0444c;
                        }
                    }
                }

                .bar-right-wrapper {
                    margin-left: 3px;
                    .bar-right {
                        width: 100px;
                        height: 0;
                        border-bottom: 10px solid #cacccf;
                        border-left: 3px solid transparent;
                        margin-left: 1px;
                        &.active {
                            border-bottom: 10px solid #f0444c;
                        }
                    }
                }
            }
        }
    }

    // .status {
    //     &.active {
    //         .order-status-indicator{
    //             width: 20px !important;
    //             height: 20px !important;
    //             border: 3px solid #fcc0c3 !important;
    //             background-color: #f0444c !important;
    //         }                        
    //     }

    //     .order-status-indicator-wrap{
    //         width: 25px;
    //         height: 25px;
    //         position: relative;
    //         .order-status-indicator{
    //             background-color: rgba(0, 0, 0, 0.12);
    //             width: 15px;
    //             height: 15px;
    //             border-radius: 50%;
    //             z-index: 2 !important;
    //         }
    //         .s-line {
    //             height: 122%;
    //             z-index: 1 !important;
    //             width: 19px;
    //             top: 3px;
    //             background-color: rgba(0, 0, 0, 0.12);
    //             position: absolute;
    //         }
    //     }
    // }

    .sinbad-red-50-fg{
        margin-left: 7px;
    }

    .tracking-info-simple.horizontal {
        .content {
            font-size: 13px;

            .status {
                .detail {
                    .step {
                        .indicator {
                            //  After second circle
                            height: 50px;

                            .circle {
                                text-align: center;
                                width: 2.5em;
                                height: 2.5em;
                                color: white;
                                border-radius: 3em;
                                background: rgb(197, 197, 197);
                                font-size: 8px;
                                z-index: 1;

                                .mat-icon {
                                    margin: 3px 1px 0px 0px;
                                    color: white;
                                }
                            }
                        }

                        .v-line {
                            border-top: 2px solid rgba(155, 155, 155);
                            margin-left: 10px;
                            position: relative;

                            // After second circle
                            top: -22px;
                        }

                        .content {
                            max-width: 80%;

                            .label {
                                font-weight: bold;
                                font-size: 12px;
                            }
                        }

                        &:last-child {
                            .v-line {
                                content: '';
                                display: none;
                            }
                        }
                    }

                    .step.check {
                        .circle {
                            background: rgb(80, 80, 80);
                        }
                        .v-line{
                            border-top: 2px solid rgb(80, 80, 80) !important;
                        }
                    }

                    .step.active {
                        .indicator {
                            .circle {
                                background: #f0444c;
                                border: 5px solid rgb(255 255 255 / 50%);
                                box-sizing: content-box;
                                margin-top: -7px;

                                // After second circle
                                position: relative;
                                left: 2.3px;
                            }
                        }

                        // After second circle
                        .v-line {
                            top: -22px;
                            margin-left: 15px;
                        }

                        .content {
                            // After second circle
                            position: relative;
                            top: 10;

                            .label {
                                color: #f0444c;
                            }
                        }

                        &:last-child {
                            .indicator {
                                // background: #fcc0c3;

                                .circle {
                                    background: #f0444c;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .final-status {
        font-weight: bold;
    }

    .log-info {
        .status {
            position: relative;
            top: 0;
            margin-top: 0px;
            padding-top: 0px;

            .timeline-indicator-wrap{
                width: auto;
                height: 100%;
                position: relative;
                top: 0;
                margin-top: 0px;
                padding-top: 0px;

                .timeline-indicator{
                    width: auto;
                    height: auto;
                    margin-top: 0px;
                    padding-top: 0px;
                    z-index: 1;
                }

                .s-line {
                    height: 100%;
                    overflow: hidden;
                    margin-top: 10%;
                    width: 2px;
                    background-color: #f0444c;
                    position: absolute;
                }
            }

            .timeline-label-wrap {
                font-weight: 500;

                .timeline-desc{
                    font-size: 14px;
                    // font-weight: 500;
                }

                .timeline-time{
                    font-size: 12px;
                    // font-weight: 500;
                }
            }
        }
    }
}