app-order-status-info{
    .box-container{
        .box-container__title{
            .mat-button[disabled] {
                background-color: rgb(128 128 128) !important;
            }

            .btn-cancel-status{
                border: 2px solid rgb(141, 141, 141);
            }

            .order-status-content{
                margin-top: 2px;
            }
            .cancel-reason{
                cursor: help;
                position: relative;
                &>mat-icon{
                    margin-left: -9px;
                    margin-top: 9px;
                    color: #f0444c;
                }
                .cancel-reason-content-wrap{
                    display: none;
                    z-index: 2;
                    left: 0;
                    bottom: -20px;
                    position: absolute;
                    &>mat-icon{
                        color: rgb(53, 55, 62);
                        transform: rotate(225deg);
                    }
                    .cancel-reason-content{
                        left: -5px;
                        top: 8px;
                        border-radius: 5px;
                        background-color: rgb(53, 55, 62);
                        color: white;
                        padding: 10px;
                        max-width: 200px;
                        width: max-content;
                        position: absolute;
                    }
                }
                &:hover{
                    .cancel-reason-content-wrap{
                        display: inherit;
                    }
                }
            }
        }
    }

    // .status {
    //     &.active {
    //         .order-status-indicator{
    //             width: 20px !important;
    //             height: 20px !important;
    //             border: 3px solid #fcc0c3 !important;
    //             background-color: #f0444c !important;
    //         }                        
    //     }

    //     .order-status-indicator-wrap{
    //         width: 25px;
    //         height: 25px;
    //         position: relative;
    //         .order-status-indicator{
    //             background-color: rgba(0, 0, 0, 0.12);
    //             width: 15px;
    //             height: 15px;
    //             border-radius: 50%;
    //             z-index: 2 !important;
    //         }
    //         .s-line {
    //             height: 122%;
    //             z-index: 1 !important;
    //             width: 19px;
    //             top: 3px;
    //             background-color: rgba(0, 0, 0, 0.12);
    //             position: absolute;
    //         }
    //     }
    // }

    .sinbad-red-50-fg{
        margin-left: 7px;
    }

    .tracking-info-simple.horizontal {
        .content {
            font-size: 13px;

            .status {
                .detail {
                    .step {
                        .indicator {
                            //  After second circle
                            height: 50px;

                            .circle {
                                text-align: center;
                                width: 2.5em;
                                height: 2.5em;
                                color: white;
                                border-radius: 3em;
                                background: rgb(197, 197, 197);
                                font-size: 8px;
                                z-index: 1;

                                .mat-icon {
                                    margin: 3px 1px 0px 0px;
                                    color: white;
                                }
                            }
                        }

                        .v-line {
                            border-top: 2px solid rgba(155, 155, 155);
                            margin-left: 10px;
                            position: relative;

                            // After second circle
                            top: -22px;
                        }

                        .content {
                            max-width: 80%;

                            .label {
                                font-weight: bold;
                                font-size: 12px;
                            }
                        }

                        &:last-child {
                            .v-line {
                                content: '';
                                display: none;
                            }
                        }
                    }

                    .step.check {
                        .circle {
                            background: rgb(80, 80, 80);
                        }
                        .v-line{
                            border-top: 2px solid rgb(80, 80, 80) !important;
                        }
                    }

                    .step.active {
                        .indicator {
                            .circle {
                                background: #f0444c;
                                border: 5px solid rgb(255 255 255 / 50%);
                                box-sizing: content-box;
                                margin-top: -7px;

                                // After second circle
                                position: relative;
                                left: 2.3px;
                            }
                        }

                        // After second circle
                        .v-line {
                            top: -22px;
                            margin-left: 15px;
                        }

                        .content {
                            // After second circle
                            position: relative;
                            top: 10;

                            .label {
                                color: #f0444c;
                            }
                        }

                        &:last-child {
                            .indicator {
                                // background: #fcc0c3;

                                .circle {
                                    background: #f0444c;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}