<!-- CONTENT CARD (INFORMASI PRODUK) -->
<div [ngClass]="catalogueContent" class="px-16 pb-40 page-layout carded fullwidth inner-scroll">
    <div class="py-16 pb-28">
        <div class="font-weight-600 font-size-24 line-height-20">Price Settings</div>
    </div>

    <ng-template #catalogueIsLoading>
        <ngx-skeleton-loader
            [theme]="{ width: '100px', 'margin-bottom': '-5px' }"
        ></ngx-skeleton-loader>
    </ng-template>

    <form class="w-100-p" [formGroup]="form" fxLayout="column" fxLayoutGap="16px" novalidate>
        <!-- PRODUCT ID (HIDDEN) -->
        <input
            hidden
            name="id"
            formControlName="id"
        />
        <!-- PRODUCT ID (HIDDEN) -->
        <!-- PRODUCT PRICE SECTION -->
        <div class="mb-28" fxLayout="row" fxFlexAlign="start center" fxLayoutGap="16px" fxFlex>
            <!-- PRODUCT BASE PRICE -->
            <!-- <div
                [ngClass]="formClass"
                fxLayout="row"
                fxLayoutAlign="start center"
                fxFlex="40"
                fxLayoutGap="16px"
            >
                <label
                    fxFlexAlign="center"
                    class="pr-0"
                    [class.mat-error]="!isViewMode() && hasError(form.get('basePrice'))"
                >
                    <span
                        class="red-500-fg"
                    >* </span>Base Price
                </label>
        
                <mat-form-field appearance="outline" *ngIf="!isViewMode()">
                    <input
                        matInput
                        name="basePrice"
                        formControlName="basePrice"
                    />
                    <mat-error
                        *ngIf="!isViewMode() && hasError(form.get('basePrice'))"
                    >
                        {{ getFormError(form.get('basePrice')) }}
                    </mat-error>
                </mat-form-field>
                <span fxFlexAlign="center" class="grey-fg" *ngIf="isViewMode()">
                    {{ form.get('basePrice').value | price: 'full':'IDR':'narrow':'1.0-2' }}
                </span>
            </div> -->
            <!-- / PRODUCT BASE PRICE -->
            <!-- PRODUCT RETAIL BUYING PRICE -->
            <div
                [ngClass]="formClass"
                fxLayout="row"
                fxLayoutAlign="start center"
                fxFlex="40"
                fxLayoutGap="16px"
            >
                <label
                    fxFlexAlign="center"
                    class="pr-0"
                    [class.mat-error]="!isViewMode() && hasError(form.get('retailBuyingPrice'))"
                >
                    <span
                        class="red-500-fg"
                    >* </span>Retail Buying Price
                </label>
        
                <mat-form-field appearance="outline" *ngIf="!isViewMode()">
                    <input
                        matInput
                        name="retailBuyingPrice"
                        formControlName="retailBuyingPrice"
                        mask="separator.2"
                        thousandSeparator="."
                        prefix="Rp"
                    />
                    <mat-error
                        *ngIf="!isViewMode() && hasError(form.get('retailBuyingPrice'))"
                    >
                        {{ getFormError(form.get('retailBuyingPrice')) }}
                    </mat-error>
                </mat-form-field>
                <span fxFlexAlign="center" class="grey-fg" *ngIf="isViewMode()">
                    {{ form.get('retailBuyingPriceView').value | price: 'full':'IDR':'narrow':'1.0-2' }}
                </span>
            </div>
            <!-- / PRODUCT RETAIL BUYING PRICE -->
        </div>
        <!-- PRODUCT PRICE SECTION -->
        <!-- ADVANCE PRICE -->
        <div
            [ngClass]="formClass"
        >
            <mat-checkbox
                formControlName="advancePrice"
                labelPosition="after"
                fxFlexAlign="center"
            >
                <ng-container [class.mat-error]="!isViewMode() && hasError(form.get('advancePrice'))">
                    Advance Price
                </ng-container>
            </mat-checkbox>
        </div>
        <!-- / ADVANCE PRICE -->
        <!-- APPLY PRICE FOR ALL FILTERED -->
        <div
            [ngClass]="formClass"
            fxLayout="row"
            fxLayoutAlign="start center"
            fxFlex="40"
            fxLayoutGap="16px"
            *ngIf="isEditMode()"
        >
            <label
                fxFlexAlign="center"
                class="pr-0"
            >
                Price to All
            </label>

            <mat-form-field appearance="outline" *ngIf="isEditMode()">
                <input
                    matInput
                    name="priceToAll"
                    formControlName="priceToAll"
                    mask="separator.2"
                    thousandSeparator="."
                    prefix="Rp"
                />
                <mat-error
                    *ngIf="isEditMode() && hasError(form.get('priceToAll'))"
                >
                    {{ getFormError(form.get('priceToAll')) }}
                </mat-error>
            </mat-form-field>

            <!-- APPLY BUTTON -->
            <button
                mat-flat-button
                class="sinbad-yellow w-84 h-32 mb-28"
                (click)="onApplyPriceToAll()"
            >
                Apply
            </button>
            <!-- / APPLY BUTTON -->
        </div>
        <!-- / APPLY PRICE FOR ALL FILTERED -->
        <!-- APPLICATION ADVANCE PRICE -->
        <div
            fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="16px"
            *ngIf="isEditMode() && form.get('advancePrice').value === true"
        >
            <!-- PRICE SEGMENTATION -->
            <div
                cdkDropList
                class="dnd-catalogue-price-toolbar w-100-p"
                cdkDropListOrientation="horizontal"
                (cdkDropListDropped)="drop($event)"
            >
                <ng-container *ngFor="let tool of cataloguePriceTools">
                    <div class="dnd-catalogue-price-tools" *ngIf="tool === 'warehouse'" cdkDrag>
                        <!-- <span>A</span> -->
                        <select-warehouse-catalogues
                            [catalogueId]="selectedCatalogueId"
                            (selected)="onSelectedWarehouses($event)"
                            class="w-100-p"
                        ></select-warehouse-catalogues>
                        <mat-icon class="sinbad-black-40-fg" cdkDragHandle>control_camera</mat-icon>
                    </div>
                    <div class="dnd-catalogue-price-tools" *ngIf="tool === 'type'" cdkDrag>
                        <!-- <span>B</span> -->
                        <select-store-segmentation-types
                            class="w-100-p"
                            (selected)="onSelectedStoreSegmentationTypes($event)"
                        ></select-store-segmentation-types>
                        <mat-icon class="sinbad-black-40-fg" cdkDragHandle>control_camera</mat-icon>
                    </div>
                    <div class="dnd-catalogue-price-tools" *ngIf="tool === 'group'" cdkDrag>
                        <!-- <span>C</span> -->
                        <select-store-segmentation-groups
                            class="w-100-p"
                            (selected)="onSelectedStoreSegmentationGroup($event)"
                        ></select-store-segmentation-groups>
                        <mat-icon class="sinbad-black-40-fg" cdkDragHandle>control_camera</mat-icon>
                    </div>
                    <div class="dnd-catalogue-price-tools" *ngIf="tool === 'channel'" cdkDrag>
                        <!-- <span>D</span> -->
                        <select-store-segmentation-channels
                            class="w-100-p"
                            (selected)="onSelectedStoreSegmentationChannel($event)"
                        ></select-store-segmentation-channels>
                        <mat-icon class="sinbad-black-40-fg" cdkDragHandle>control_camera</mat-icon>
                    </div>
                    <div class="dnd-catalogue-price-tools" *ngIf="tool === 'cluster'" cdkDrag>
                        <!-- <span>E</span> -->
                        <select-store-segmentation-clusters
                            class="w-100-p"
                            (selected)="onSelectedStoreSegmentationCluster($event)"
                        ></select-store-segmentation-clusters>
                        <mat-icon class="sinbad-black-40-fg" cdkDragHandle>control_camera</mat-icon>
                    </div>
                </ng-container>
            </div>
            <!-- / PRICE SEGMENTATION -->
            <!-- APPLY BUTTON -->
            <button
                mat-flat-button
                class="sinbad-yellow w-84 h-32 mb-28"
                (click)="onApplyFilter()"
            >
                Apply
            </button>
            <!-- / APPLY BUTTON -->
        </div>
        <!-- / APPLICATION ADVANCE PRICE -->
        <!-- ADVANCE PRICE TABLE -->
        <mat-table
            #table
            class="catalogue-price-table grey-300-border"
            [class.h-360]="(totalCataloguePrice$ | async) > 0"
            [dataSource]="(cataloguePrices$ | async)"
            [@animateStagger]="{ value: '50' }"
            fusePerfectScrollbar
            [fxHide]="form.get('advancePrice').value === false"
        >
            <!-- Warehouse Column -->
            <ng-container matColumnDef="warehouse">
                <mat-header-cell *matHeaderCellDef>Warehouse</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <p>{{ row?.warehouseCatalogue?.warehouse?.name || '-' }}</p>
                </mat-cell>
            </ng-container>

            <!-- Store Type Column -->
            <ng-container matColumnDef="storeType">
                <mat-header-cell *matHeaderCellDef>Store Type</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <p>{{ row?.type?.name || '-' }}</p>
                </mat-cell>
            </ng-container>

            <!-- Store Group Column -->
            <ng-container matColumnDef="storeGroup">
                <mat-header-cell *matHeaderCellDef>Store Group</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <p>{{ row?.group?.name || '-' }}</p>
                </mat-cell>
            </ng-container>

            <!-- Store Channel Column -->
            <ng-container matColumnDef="storeChannel">
                <mat-header-cell *matHeaderCellDef>Store Channel</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <p>{{ row?.channel?.name || '-' }}</p>
                </mat-cell>
            </ng-container>

            <!-- Store Cluster Column -->
            <ng-container matColumnDef="storeCluster">
                <mat-header-cell *matHeaderCellDef>Store Cluster</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <p>{{ row?.cluster?.name || '-' }}</p>
                </mat-cell>
            </ng-container>

            <!-- SKU's Price Column -->
            <ng-container matColumnDef="price">
                <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
                <mat-cell *matCellDef="let row; index as idx;">
                    <p *ngIf="!isEditMode()">{{ row?.price  | price: 'full':'IDR':'narrow':'1.0-2' }}</p>

                    <div
                        [ngClass]="formClass"
                        fxLayout="row"
                        fxLayoutAlign="start center"
                        fxFlex="40"
                        fxLayoutGap="16px"
                        *ngIf="isEditMode()"
                    >
                        <mat-form-field appearance="outline" *ngIf="!isViewMode()">
                            <input
                                matInput
                                name="retailBuyingPrice"
                                [formControl]="form.get(['priceSettings', idx, 'price'])"
                                [class.mat-error]="hasError(form.get(['priceSettings', idx, 'price']))"
                                mask="separator.2"
                                thousandSeparator="."
                                prefix="Rp"
                            />
                        </mat-form-field>
                    </div>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>

            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

        </mat-table>
        
        <div class="no-records" *ngIf="!(isLoading$ | async) && (totalCataloguePrice$ | async) === 0">
            No records found
        </div>

        <mat-paginator
            [fxHide]="(totalCataloguePrice$ | async) === 0 || form.get('advancePrice').value === false"
            [length]="totalCataloguePrice$ | async"
            [pageSize]="defaultPageSize"
            [pageSizeOptions]="defaultPageSizeTable"
            (page)="onChangePage($event)"
            showFirstLastButtons
        >
        </mat-paginator>
        <!-- / ADVANCE PRICE TABLE -->
    </form>
</div>
<!-- / CONTENT CARD (INFORMASI PRODUK) -->