@import 'src/@fuse/scss/fuse';
@import 'src/@sinbad/scss/helper';

// .btn-sinbad-dashed {
//     border: 1.8px dashed sinbad-color('green', '60');
// }

// .btn-sinbad-disabled {
//     opacity: 0.5;
// }
catalogue-price-settings {
    .custom-field-right {
        label {
            text-align: left !important;
        }
    }

    .catalogue-price-table {
        flex: 1 1 auto;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        background: sinbad-color('black', '5') !important;

        // No record table
        &.sinbad-table-no-record {
            background: #ffffff !important;

            .mat-header-row {
                pointer-events: none;
            }
        }

        .mat-header-row,
        .mat-row {
            background: white;

            // For horizontal scroll
            min-width: 110vw;
        }

        &.edit {
            .mat-header-row,
            .mat-row {
                // For horizontal scroll
                min-width: 115vw;
            }
        }

        .mat-header-cell,
        .mat-cell {
            padding: 0 16px;
        }

        .mat-header-cell {
            text-align: left;
        }

        .catalogue-price-list__item {
            position: relative;

            // If row can be click
            // cursor: pointer;
            // min-height: unset;
        }

        mat-header-cell:first-of-type,
        mat-cell:first-of-type,
        .mat-header-cell:first-of-type,
        .mat-cell:first-of-type {
            padding-right: 0;
        }

        // .mat-header-cell:nth-last-of-type(2),
        // .mat-cell:nth-last-of-type(2) {
        //     padding-right: 0;
        // }

        mat-header-cell:last-of-type,
        mat-cell:last-of-type,
        .mat-header-cell:last-of-type,
        .mat-cell:last-of-type {
            padding-left: 0;
        }

        .mat-cell {
            font-size: 12px;
            min-width: 0;
            display: flex;
            align-items: center;
        }

        .mat-column-segmentation-name {
            flex: 0 0 150px;
        }

        .mat-column-warehouse-name,
        .mat-column-store-type,
        .mat-column-store-group,
        .mat-column-store-channel,
        .mat-column-store-cluster {
            flex: 0 0 150px;
        }

        .mat-column-price {
            flex: 0 0 135px;
        }

        .mat-column-price-after-tax {
            flex: 0 0 130px;
        }

        .mat-column-custom-qty {
            flex: 0 0 150px;
            justify-content: center;
        }

        .mat-column-max-order-qty {
            flex: 0 0 170px;
        }

        .mat-column-actions {
            flex: 0 0 80px;
            justify-content: flex-end;
        }

        .mat-column-no-record {
            justify-content: center;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        .mat-form-field-wrapper {
            padding-bottom: 0 !important;
        }

        .mat-column-no-record {
            justify-content: center;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
    .catalogue-price-settings-table {
        flex: 1 1 auto;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        background: sinbad-color('black', '5') !important;

        // No record table
        &.sinbad-table-no-record {
            background: #ffffff !important;

            .mat-header-row {
                pointer-events: none;
            }
        }

        .mat-header-row,
        .mat-row {
            background: white;

            &:hover {
                background-color: white;
            }
            // For horizontal scroll
            max-width: 105vw;
        }

        &.edit {
            .mat-header-row,
            .mat-row {
                // For horizontal scroll
                max-width: 105vw;
            }
        }

        .mat-header-cell,
        .mat-cell {
            padding: 0 16px;
        }

        .mat-header-cell {
            text-align: left;
            background-color: #f3f5f7;
        }

        .catalogue-price-settings-list__item {
            position: relative;

            // If row can be click
            // cursor: pointer;
            // min-height: unset;
        }

        mat-header-cell:first-of-type,
        mat-cell:first-of-type,
        .mat-header-cell:first-of-type,
        .mat-cell:first-of-type {
            padding-right: 0;
        }

        // .mat-header-cell:nth-last-of-type(2),
        // .mat-cell:nth-last-of-type(2) {
        //     padding-right: 0;
        // }

        mat-header-cell:last-of-type,
        mat-cell:last-of-type,
        .mat-header-cell:last-of-type,
        .mat-cell:last-of-type {
            padding-left: 0;
        }

        .mat-cell {
            font-size: 12px;
            min-width: 0;
            display: flex;
            align-items: center;
        }

        .mat-column-price-exclude-tax,
        .mat-column-price-include-tax,
        .mat-column-min-qty {
            flex: 0 0 148px;
            // background-color:  #F3F5F7;
            color: #0b1a28;
        }

        .mat-column-level {
            flex: 0 0 120px;
            // background-color:  #F3F5F7;
            color: #0b1a28;
        }

        .mat-column-no-record {
            justify-content: center;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        .mat-form-field-wrapper {
            padding-bottom: 0 !important;
        }

        .mat-column-no-record {
            justify-content: center;
            position: absolute;
            top: 25px;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
}

.box-info {
    margin-bottom: 8px;
    padding-bottom: 8px;
    box-shadow: inset 0px -1px 0px rgba(218, 224, 231, 0.5);
    .label {
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #677a8e;
        margin-bottom: 0;
    }
    .description {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #0b1a28;
    }
    .custom-field {
        // margin-bottom: 0.5%;
        .mat-form-field {
            &.mat-form-field-type-mat-select {
                .mat-form-field-wrapper {
                    margin: 0;
                }
            }
        }
    }
}

.box-type {
    background: #f3f5f7;
    min-height: 43px;
    height: 43px;
    border: 1px solid #dae0e7;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    align-items: center;
    color: #acb8c3;
    margin-top: 0.25em;
    padding: 0px 0.75em;
}

#adjust-price-form {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.dnd-catalogue-price-toolbar {
    max-width: 100%;
    // border: solid 1px #ccc;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 4px;
    overflow: auto;
}

.dnd-catalogue-price-tools {
    padding-right: 10px;
    // padding-top: 10px !important;
    // padding-left: 10px !important;
    // padding-bottom: 10px !important;
    // border-right: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    // cursor: move;
    background: white;
    font-size: 14px;
    flex-grow: 1;
    flex-basis: 0;

    // .cdk-dragging {
    //     height: 44px !important;

    //     .mat-form-field-wrapper {
    //         padding-bottom: 0px;
    //     }

    //     mat-icon {
    //         margin-bottom: 0px !important;
    //         cursor: move;
    //     }
    // }

    .mat-form-field-wrapper {
        margin: 0;

        .mat-form-field-infix {
            padding: 0.2em 0 0.75em 0;
        }
    }

    mat-icon {
        margin-bottom: 20px !important;
        margin-left: 10px !important;
        cursor: move;
    }

    &.cdk-drag-preview {
        // padding-top: 10px !important;
        // padding-left: 10px !important;
        // padding-bottom: 10px !important;
        height: 60px !important;

        .mat-form-field-wrapper {
            margin: 0;
            padding-bottom: 0px;

            .mat-form-field-infix {
                padding: 0.2em 0 0.75em 0;
            }
        }

        mat-icon {
            margin-bottom: 0px !important;
            cursor: move;
        }
    }
}

.cdk-drag-preview {
    box-sizing: border-box;
    // border-radius: 4px;
    // box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    //             0 8px 10px 1px rgba(0, 0, 0, 0.14),
    //             0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.dnd-catalogue-price-tools:last-child {
    border: none;
}

.catalogue-price-toolbar.cdk-drop-list-dragging .catalogue-price-tools:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-menu-panel {
    min-height: 52px;
}

.btnBulkPrice {
    &-active {
        border: 1px solid #f0444c;
        color: #f0444c;
        width: 129px;
        border-radius: 4px;
        text-align: center;
        background-color: white;
        height: 44px;
        margin-top: 10px;
        padding: 3px 0;
    }
    &-disabled {
        border: 1px solid #fbc9cc;
        color: #fbc9cc;
        width: 129px;
        border-radius: 4px;
        text-align: center;
        background-color: white;
        height: 44px;
        margin-top: 10px;
        padding: 3px 0;
    }
    &-active-box {
        border: 1px solid #f0444c;
        color: #f0444c;
        width: 129px;
        border-radius: 4px;
        text-align: center;
        background-color: white;
        height: 44px;
        padding: 3px 0;
    }
}

.levelmore {
    color: #acb8c3;
    background: transparent;
    border: 1px solid #dae0e7;
    width: 50px;
    height: 44px;
    padding: 7px 0;
    border-radius: 4px;
    border-radius: 4px;
    text-align: center;
}

.bulkTax {
    display: inline-grid;
    color: #acb8c3;
    background: transparent;
    border: 1px solid #dae0e7;
    width: 141px;
    // height: 44px;
    padding: 7px;
    border-radius: 4px;
    margin: 0 8px;
    word-break: break-all;
}

.box-bulk-price {
    background: #f3f5f7;
    border-radius: 4px;
    padding: 1em;
    height: fit-content;
    margin-top: 10px;

    .mat-form-field {
        .mat-form-field-wrapper {
            margin: 0;
        }
    }
}

.minQtyBulk,
.priceBulk {
    width: 20%;
    margin-right: 5px;
    margin-left: 5px;
    height: 44px;
    background-color: white;
    color: black;
    border: 1px solid lightgray;
    padding-left: 10px;
    border-radius: 4px;
}

.priceBulk {
    background-color: white;
    // border: 1px solid #dae0e7;
    border-radius: 4px;
    width: 141px;
    height: 44px;
    padding: 10px;
    input:invalid {
        border-color: red;
    }
    input:required:valid {
        border-color: green;
    }
}

.priceBulk.disabled {
    color: rgba(0, 0, 0, 0.38) !important;
    caret-color: #353a48 !important;
    border: 1px solid lightgrey;
}

.btn-delete-bulk {
    float: right;
    justify-content: end;
    display: inline-flex;
}
