<div id="stock-management-detail" class="page-layout carded fullwidth tabbed inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <button
                    mat-icon-button
                    class="mr-0 mr-sm-16"
                    [routerLink]="['/pages', 'logistics', 'stock-managements']"
                >
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div
                    fxLayout="column"
                    fxLayoutAlign="start start"
                    [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
                >
                    <div class="h2">
                        <ng-container *ngIf="!(isLoading$ | async)">
                            {{ (warehouse$ | async)?.name }}
                        </ng-container>

                        <ngx-skeleton-loader
                            [theme]="{ width: '100px', height: '25px', 'margin-bottom': '-5px' }"
                            *ngIf="isLoading$ | async"
                        ></ngx-skeleton-loader>
                    </div>

                    <div class="subtitle secondary-text">
                        <span>Stock Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button
                mat-raised-button
                type="button"
                class="accent-fg"
                [routerLink]="['../']"
                *ngIf="!(isLoading$ | async)"
            >
                <span>Edit</span>
            </button>

            <ngx-skeleton-loader
                [theme]="{ width: '75px', height: '35px', 'margin-bottom': '-5px' }"
                *ngIf="isLoading$ | async"
            ></ngx-skeleton-loader>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content">
                <mat-tab-group color="accent" fxLayout="column" fxFlex>
                    <mat-tab label="General">
                        <ng-template matTabContent>
                            <div
                                class="tab-content p-16 pb-0"
                                fxLayout="column"
                                fusePerfectScrollbar
                            >
                                <app-stock-management-detail-general
                                    fxLayout="column"
                                ></app-stock-management-detail-general>
                            </div>
                        </ng-template>
                    </mat-tab>

                    <mat-tab label="History">
                        <ng-template matTabContent>
                            <div
                                class="tab-content p-16 pb-0"
                                fxLayout="column"
                                fusePerfectScrollbar
                            >
                                <app-stock-management-detail-history
                                    fxLayout="column"
                                ></app-stock-management-detail-history>
                            </div>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
