<ng-container *ngIf="viewByPromo === 'cStatus'">
    <mat-table
        class="collection-list-table sinbad-table"
        [class.sinbad-table-no-record]="!totalDataSource === 0"
        #table
        [dataSource]="dataSource"
        matSort
        [@animateStagger]="{ value: '50' }"
        fusePerfectScrollbar
    >
        <!-- Collection Code Column -->
        <ng-container matColumnDef="finance-collection-code">
            <mat-header-cell *matHeaderCellDef> Collection Code </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p style="word-break: break-word">
                    <!-- {{ row?.promoSellerId || '-' }} -->
                    test 2
                </p>
            </mat-cell>
        </ng-container>

        <!-- Collection Method Column -->
        <ng-container matColumnDef="finance-collection-method">
            <mat-header-cell *matHeaderCellDef> Collection Method </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p style="word-break: break-word">
                    test 1
                    <!-- {{ row?.name || '-' }} -->
                </p>
            </mat-cell>
        </ng-container>

        <!-- Collection Ref No Column -->
        <ng-container matColumnDef="finance-collection-ref">
            <mat-header-cell *matHeaderCellDef> Collection Ref No </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p style="word-break: break-word">29292929</p>
            </mat-cell>
        </ng-container>

        <!-- Collection Total Amount Column -->
        <ng-container matColumnDef="finance-collection-amount">
            <mat-header-cell *matHeaderCellDef> Collection Total Amount </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p style="word-break: break-word">29292929</p>
            </mat-cell>
        </ng-container>

        <!-- Collection Date Column -->
        <ng-container matColumnDef="finance-collection-date">
            <mat-header-cell *matHeaderCellDef> Collection Date </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p style="word-break: break-word">24 Januari 2021</p>
            </mat-cell>
        </ng-container>

        <!-- Collection Due Date Column -->
        <ng-container matColumnDef="finance-collection-due-date">
            <mat-header-cell *matHeaderCellDef> Collection Due Date </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p style="word-break: break-word">-</p>
            </mat-cell>
        </ng-container>

        <!-- Collection Status Column -->
        <ng-container matColumnDef="finance-collection-status">
            <mat-header-cell *matHeaderCellDef> Collection Status </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p style="word-break: break-word">Approved</p>
            </mat-cell>
        </ng-container>

        <!-- Sales Rep Column -->
        <ng-container matColumnDef="finance-sales-rep">
            <mat-header-cell *matHeaderCellDef> Sales Rep </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p style="word-break: break-word">Anggie</p>
            </mat-cell>
        </ng-container>

        <!-- External Id Column -->
        <ng-container matColumnDef="finance-external-id">
            <mat-header-cell *matHeaderCellDef> External Id </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p style="word-break: break-word">DS10101</p>
            </mat-cell>
        </ng-container>

        <!-- Store Name Column -->
        <ng-container matColumnDef="finance-store-name">
            <mat-header-cell *matHeaderCellDef> Store Name</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p style="word-break: break-word">Toko 123</p>
            </mat-cell>
        </ng-container>

        <!-- Order Code Column -->
        <ng-container matColumnDef="finance-order-code">
            <mat-header-cell *matHeaderCellDef> Order Code </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p style="word-break: break-word">SNB10101 (+2 more)</p>
            </mat-cell>
        </ng-container>

        <!-- Order Red Column -->
        <ng-container matColumnDef="finance-order-ref">
            <mat-header-cell *matHeaderCellDef> Order Ref </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p style="word-break: break-word">A010101 (+2 more)</p>
            </mat-cell>
        </ng-container>

        <!-- Reason Column -->
        <ng-container matColumnDef="finance-reason">
            <mat-header-cell *matHeaderCellDef> Reason </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p style="word-break: break-word">-</p>
            </mat-cell>
        </ng-container>

        <!-- Actions Column -->
        <!-- <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <div fxFlex="row" fxLayoutAlign="end center">
                <button
                    mat-icon-button
                    [matMenuTriggerFor]="moreMenu"
                    aria-label="More"
                    (click)="$event.stopPropagation()"
                >
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                    <ng-template [ngxPermissionsOnly]="['PRM.PH.UPDATE']">
                        <button
                            type="button"
                            mat-menu-item
                            class="sinbad-mat-menu-item"
                            aria-label="Settings"
                            (click)="settingCollection(row)"
                        >
                            <mat-icon>settings</mat-icon>
                            <span>Set</span>
                        </button>
                        <button
                            type="button"
                            mat-menu-item
                            class="sinbad-mat-menu-item"
                            aria-label="Detail"
                            (click)="openDetailPage(row)"
                            [routerLink]="[row?.id, 'detail']"
                        >
                            <mat-icon>remove_red_eye</mat-icon>
                            <span>Detail</span>
                        </button>
                    </ng-template>
                </mat-menu>
            </div>
        </mat-cell>
    </ng-container> -->

        <!-- No Record Column -->
        <ng-container matColumnDef="no-record">
            <mat-footer-cell *matFooterCellDef colspan="8"> No records found </mat-footer-cell>
        </ng-container>

        <mat-header-row
            *matHeaderRowDef="displayedColumnsCollection; sticky: true"
        ></mat-header-row>

        <mat-row
            *matRowDef="let row; columns: displayedColumnsCollection"
            class="sinbad-collection-list-item"
            [routerLink]="[row?.id, 'detail']"
            (click)="openDetailCollectionStatus(row)"
        ></mat-row>

        <mat-footer-row
            *matFooterRowDef="['no-record']"
            [fxShow]="!totalDataSource === 0"
        ></mat-footer-row>
    </mat-table>

    <div class="loader-content" *ngIf="!totalDataSource">
        <mat-spinner color="accent"></mat-spinner>
    </div>

    <mat-paginator
        [disabled]="totalDataSource == 0"
        [length]="totalDataSource"
        [pageSize]="size"
        showFirstLastButtons
    ></mat-paginator>
</ng-container>

<ng-container *ngIf="viewByPromo === 'bStatus'">
    <mat-table
        class="billing-list-table sinbad-table"
        [class.sinbad-table-no-record]="!totalDataSourceBilling === 0"
        #table
        [dataSource]="dataSourceBilling"
        matSort
        [@animateStagger]="{ value: '50' }"
        fusePerfectScrollbar
    >
        <!-- External Id Column -->
        <ng-container matColumnDef="finance-external-id">
            <mat-header-cell *matHeaderCellDef> External Id </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p style="word-break: break-word">DS10101</p>
            </mat-cell>
        </ng-container>

        <!-- Store Name Column -->
        <ng-container matColumnDef="finance-store-name">
            <mat-header-cell *matHeaderCellDef> Store Name</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p style="word-break: break-word">Toko 123</p>
            </mat-cell>
        </ng-container>

        <!-- Order Code Column -->
        <ng-container matColumnDef="finance-order-code">
            <mat-header-cell *matHeaderCellDef> Order Code </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p style="word-break: break-word">SNB10101 (+2 more)</p>
            </mat-cell>
        </ng-container>

        <!-- Order Ref Column -->
        <ng-container matColumnDef="finance-order-ref">
            <mat-header-cell *matHeaderCellDef> Order Ref </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p style="word-break: break-word">A010101 (+2 more)</p>
            </mat-cell>
        </ng-container>

        <!-- Total Amount Column -->
        <ng-container matColumnDef="finance-total-amount">
            <mat-header-cell *matHeaderCellDef> Total Amount </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p style="word-break: break-word">Rp 1.000.000</p>
            </mat-cell>
        </ng-container>

        <!-- Order Due Date Column -->
        <ng-container matColumnDef="finance-order-due-date">
            <mat-header-cell *matHeaderCellDef> Order Due Date </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p style="word-break: break-word">12 Agustus 2020</p>
            </mat-cell>
        </ng-container>

        <!-- Payment Status Column -->
        <ng-container matColumnDef="finance-payment-status">
            <mat-header-cell *matHeaderCellDef> Payment Status </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p style="word-break: break-word">Overdue</p>
            </mat-cell>
        </ng-container>

        <!-- Sales Rep Column -->
        <ng-container matColumnDef="finance-sales-rep">
            <mat-header-cell *matHeaderCellDef> Sales Rep </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p style="word-break: break-word">Overdue</p>
            </mat-cell>
        </ng-container>

        <!-- Collection Code Column -->
        <ng-container matColumnDef="finance-collect-code">
            <mat-header-cell *matHeaderCellDef> Collection Code </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p style="word-break: break-word">1010101010</p>
            </mat-cell>
        </ng-container>

        <!-- Collection Ref No Column -->
        <ng-container matColumnDef="finance-collection-ref">
            <mat-header-cell *matHeaderCellDef> Collection Ref No </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p style="word-break: break-word">29292929</p>
            </mat-cell>
        </ng-container>

        <!-- Collection Total Amount Column -->
        <ng-container matColumnDef="finance-collection-amount">
            <mat-header-cell *matHeaderCellDef> Collection Total Amount </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p style="word-break: break-word">29292929</p>
            </mat-cell>
        </ng-container>

        <!-- Collection Date Column -->
        <ng-container matColumnDef="finance-collection-date">
            <mat-header-cell *matHeaderCellDef> Collection Date </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p style="word-break: break-word">24 Januari 2021</p>
            </mat-cell>
        </ng-container>

        <!-- Collection Status Column -->
        <ng-container matColumnDef="finance-collection-status">
            <mat-header-cell *matHeaderCellDef> Collection Status </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p style="word-break: break-word">Approved</p>
            </mat-cell>
        </ng-container>

        <!-- Billing Code Column -->
        <ng-container matColumnDef="finance-billing-code">
            <mat-header-cell *matHeaderCellDef> Billing Code </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p style="word-break: break-word">1.000.000</p>
            </mat-cell>
        </ng-container>

        <!-- Materai Column -->
        <ng-container matColumnDef="finance-materai">
            <mat-header-cell *matHeaderCellDef> Materai </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p style="word-break: break-word">-</p>
            </mat-cell>
        </ng-container>

        <!-- Total Billing Amount Column -->
        <ng-container matColumnDef="finance-total-bill-amount">
            <mat-header-cell *matHeaderCellDef> Total Billing Amount</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p style="word-break: break-word">1.000.000</p>
            </mat-cell>
        </ng-container>

        <!-- Billing Date Column -->
        <ng-container matColumnDef="finance-bill-date">
            <mat-header-cell *matHeaderCellDef> Billing Date</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p style="word-break: break-word">12 Juni 2020</p>
            </mat-cell>
        </ng-container>

        <!-- Billing Statu Column -->
        <ng-container matColumnDef="finance-bill-status">
            <mat-header-cell *matHeaderCellDef> Billing Status</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p style="word-break: break-word">Rejected</p>
            </mat-cell>
        </ng-container>

        <!-- Reason Column -->
        <ng-container matColumnDef="finance-reason">
            <mat-header-cell *matHeaderCellDef> Reason </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p style="word-break: break-word">-</p>
            </mat-cell>
        </ng-container>

        <!-- No Record Column -->
        <ng-container matColumnDef="no-record">
            <mat-footer-cell *matFooterCellDef colspan="8"> No records found </mat-footer-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnsBilling; sticky: true"></mat-header-row>

        <mat-row
            *matRowDef="let row; columns: displayedColumnsBilling"
            class="sinbad-billing-list-item"
            [routerLink]="[row?.id, 'detail']"
            (click)="openDetailPage(row)"
        ></mat-row>

        <mat-footer-row
            *matFooterRowDef="['no-record']"
            [fxShow]="!(isLoading$ | async) && (totalDataSource$ | async) === 0"
        ></mat-footer-row>
    </mat-table>

    <div
        class="loader-content"
        *ngIf="(isLoading$ | async) && (!(totalDataSource$ | async) || (totalDataSource$ | async))"
    >
        <mat-spinner color="accent"></mat-spinner>
    </div>

    <mat-paginator
        [disabled]="totalDataSourceBilling == 0"
        [length]="totalDataSourceBilling"
        [pageSize]="size"
        showFirstLastButtons
    ></mat-paginator>
</ng-container>
