<div id="attendances" class="page-layout carded fullwidth inner-scroll" fusePerfectScrollbar>
    <!-- TOP BACKGROUND -->
    <div class="accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div
            class="header sinbad"
            fxLayout="row"
            fxLayoutAlign="space-between center"
        >
            <!-- <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <button
                    mat-raised-button
                    color="accent"
                    class="sinbad"
                    type="button"
                >
                    EXPORT
                </button>
                <button
                    mat-stroked-button
                    color="accent"
                    class="sinbad"
                    type="button"
                >
                    IMPOORT
                </button>
            </div> -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Cari di sini"/>
                </div>
            </div>
            <!-- / SEARCH -->
            <!-- ADD BUTTON -->
            <!-- <mat-button-toggle-group class="fuse-white mt-24 mt-md-0" #group="matButtonToggleGroup">
                <mat-button-toggle value="left" aria-label="Filter">
                    <mat-icon>filter_list</mat-icon>
                </mat-button-toggle>

                <mat-button-toggle
                    value="center"
                    aria-label="Add New Attendance"
                    [routerLink]="['/pages/attendances/new']"
                >
                    <mat-icon>add</mat-icon>
                </mat-button-toggle>
            </mat-button-toggle-group> -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <mat-table
                class="attendances-table"
                #table
                [dataSource]="dataSource$ | async"
                matSort
                [@animateStagger]="{ value: '50' }"
                fusePerfectScrollbar
            >
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p class="text-truncate">{{ row.id }}</p>
                    </mat-cell>
                </ng-container>

                <!-- "ID Toko" Column -->
                <ng-container matColumnDef="idToko">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ID Toko</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p class="text-truncate">{{ row.storeCode }}</p>
                    </mat-cell>
                </ng-container>

                <!-- Store Name Column -->
                <ng-container matColumnDef="storeName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nama Toko</mat-header-cell>

                    <mat-cell *matCellDef="let row">
                        <p class="text-truncate">{{ row.name }}</p>
                    </mat-cell>
                </ng-container>

                <!-- GS Column -->
                <ng-container matColumnDef="GS">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>GS</mat-header-cell>

                    <mat-cell *matCellDef="let row">
                        <p class="text-truncate">{{ row?.user?.fullname }}</p>
                    </mat-cell>
                </ng-container>

                <!-- SPV Column -->
                <ng-container matColumnDef="SPV">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>SPV</mat-header-cell>

                    <mat-cell *matCellDef="let row">
                        <p class="text-truncate">{{ row?.user?.fullname }}</p>
                    </mat-cell>
                </ng-container>

                <!-- Sum of Check-in Column -->
                <ng-container matColumnDef="check-in">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>
                        Sum of Check-in
                    </mat-header-cell>

                    <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>
                        {{ row?.checkIn }}
                    </mat-cell>
                </ng-container>

                <!-- Sum of Check-out Column -->
                <ng-container matColumnDef="check-out">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>
                        Sum of Check-out
                    </mat-header-cell>

                    <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>
                        {{ row?.checkOut | date: 'MMM dd, yyyy HH:mm:ss' }}
                    </mat-cell>
                </ng-container>

                <!-- Inventory Column -->
                <ng-container matColumnDef="inventory">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>
                        Inventory
                    </mat-header-cell>

                    <mat-cell *matCellDef="let row" fxHide fxShow.gt-xs>
                        {{ row?.checkDate | date: 'mediumDate' }}
                    </mat-cell>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>
                        Action
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div fxFlex="row" fxLayoutAlign="end center">
                            <button
                                mat-icon-button
                                [matMenuTriggerFor]="moreMenu"
                                aria-label="More"
                                (click)="$event.stopPropagation()"
                            >
                                <mat-icon class="secondary-text">more_vert</mat-icon>
                            </button>

                            <mat-menu #moreMenu="matMenu">
                                <button mat-menu-item aria-label="edit" (click)="openStoreAttendanceDetail(row)">
                                    <mat-icon>edit</mat-icon>
                                    <span>Edit</span>
                                </button>

                                <button mat-menu-item aria-label="remove" disabled>
                                    <mat-icon>delete</mat-icon>
                                    <span>Remove</span>
                                </button>
                            </mat-menu>
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>

                <mat-row
                    *matRowDef="let row; columns: displayedColumns"
                    class="attendance"
                    matRipple
                    (click)="openStoreAttendanceDetail(row)"
                >
                </mat-row>
            </mat-table>

            <mat-paginator
                [length]="totalDataSource$ | async"
                [pageSize]="5"
                [pageSizeOptions]="[5, 10, 25, 100]"
                (page)="onChangePage()"
                showFirstLastButtons
            >
            </mat-paginator>

            <div class="loader" *ngIf="isLoading$ | async">
                <mat-spinner color="accent"></mat-spinner>
            </div>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
