@import 'src/@fuse/scss/fuse';

app-attendances {
    .attendances-table {
        flex: 1 1 auto;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        min-height: 40px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        background: #fafafa !important;

        &.sinbad-table-no-record {
            background: #ffffff !important;
        }

        .mat-header-row,
        .mat-row {
            background: white;
        }

        .mat-row {
            min-height: unset;
        }

        .attendance {
            position: relative;
            cursor: pointer;
        }

        .mat-header-cell {
            text-align: left;
            font-weight: 700;

            &:not(:last-of-type) {
                padding-right: 8px;
            }
        }

        mat-header-cell:first-of-type,
        .mat-header-cell:first-of-type,
        .mat-cell:first-of-type {
            padding-left: 12px;
        }

        mat-cell:last-of-type,
        .mat-header-cell:last-of-type,
        .mat-cell:last-of-type {
            padding-right: 12px;
        }

        .mat-cell {
            font-size: 12px;
            min-width: 0;
            display: flex;
            align-items: center;
            padding-right: 8px;
        }

        .mat-column-store-code {
            flex: 0 1 10em;
            min-width: 130px;
        }

        .mat-column-store-name {
            flex: 1 1 10em;
            min-width: 150px;
        }

        .mat-column-store-address {
            flex: 1 1 10em;
            min-width: 125px;
        }

        .mat-column-store-phone-no {
            flex: 0 1 10em;
            min-width: 100px;
        }

        .mat-column-actions {
            flex: 0 1 60px;
            min-width: 60px;
            justify-content: flex-end;
        }

        .mat-column-no-record {
            position: relative;
            top: 15em;
            justify-content: center;
        }
    }
}

.mat-menu-panel {
    min-height: 52px;
}
