<mat-card>
    <div fxLayout="column">
        <span class="mat-headline">
            Toko Abadi Jaya
        </span>

        <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap="40px">
            <div fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="10px">
                <div class="order-box info-box" fxFlex="30">
                    <header>
                        <div class="title">Profile Information</div>
                    </header>

                    <div class="content">
                        <table class="info-group-1">
                            <tr>
                                <td class="info-title">User</td>
                                <td>Ivan</td>
                            </tr>

                            <tr>
                                <td class="info-title">Phone Number</td>
                                <td>081312345678</td>
                            </tr>

                            <tr>
                                <td class="info-title">KTP ID</td>
                                <td>00001123132132131</td>
                            </tr>

                            <tr>
                                <td class="info-title">NPWP ID</td>
                                <td>91919192121212121</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="order-box info-box" fxFlex="30">
                    <header>
                        <div class="title">Store ID</div>
                    </header>

                    <div class="content">
                        <table class="info-group-1">
                            <tr>
                                <td class="info-title">Nama Toko</td>
                                <td>Toko Abadi Jaya</td>
                            </tr>

                            <tr>
                                <td class="info-title">Address</td>
                                <td>Jl. Palm Blok T</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div fxLayout="column" fxLayoutGap="10px">
                <div class="order-box info-box">
                    <header>
                        <div class="title">Physical Store Information</div>
                    </header>

                    <div class="content">
                        <table class="info-group-2">
                            <tr>
                                <td class="info-title">Physical Store Size</td>
                                <td>10 x 10</td>
                            </tr>

                            <tr>
                                <td class="info-title">Number of Employee</td>
                                <td>100</td>
                            </tr>

                            <tr>
                                <td class="info-title">Top Brand Selling</td>
                                <td>ABC</td>
                            </tr>

                            <tr>
                                <td class="info-title">Wanted Brand</td>
                                <td>ABC</td>
                            </tr>

                            <tr>
                                <td class="info-title">Vehicle Address</td>
                                <td>Motorbike</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div fxLayout="column" fxLayoutGap="10px">
                <div class="order-box info-box">
                    <header>
                        <div class="title">Store Classification</div>
                    </header>

                    <div class="content">
                        <table>
                            <tr>
                                <td class="info-title">Store Type</td>
                                <td>Provision Small</td>
                            </tr>

                            <tr>
                                <td class="info-title">Store Group</td>
                                <td>No Group</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-card>
