<!-- GEOLOCATION FORM -->
<form
    class="w-100-p"
    [formGroup]="form"
    [fxLayout]="direction"
    fxLayoutAlign="start center"
    fxLayoutGap="16px"
    novalidate
>
    <!-- PROVINCE -->
    <div
        class="custom-field"
        fxLayout="row"
        fxLayoutAlign="start stretch"
        fxLayoutGap="8px"
        fxFlex
    >
        <label
            fxFlexAlign="center"
            class="pr-0"
            [class.mat-error]="hasError(form.get('province'))"
        >
            <span
                class="sinbad-red-fg"
            >* </span> Province
        </label>

        <mat-form-field fxFlexAlign="center" appearance="outline" fxFlex>
            <input
                matInput
                placeholder="Search Province"
                formControlName="province"
                [matAutocomplete]="provinceAutoComplete"
            />
            <mat-autocomplete
                #provinceAutoComplete="matAutocomplete"
                [displayWith]="displayProvince"
                (opened)="listenProvinceAutoComplete()"
                (optionSelected)="onSelectedProvince($event)"
            >
                <!-- NONE OPTION -->
                <mat-option *ngIf="!(isProvinceLoading$ | async)">(None)</mat-option>
                <!-- / NONE OPTION -->

                <!-- PROVINCE OPTIONS -->
                <mat-option
                    *ngFor="let province of (availableProvinces$ | async)"
                    [value]="province"
                >
                    {{ province?.name }}
                </mat-option>
                <!-- / PROVINCE OPTIONS -->

                <!-- LOADING OPTION -->
                <mat-option
                    [disabled]="true"
                    style="text-align: center; font-style: italic; max-height: 30px;"
                    *ngIf="!(totalProvinces$ | async) || ((totalProvinces$ | async) > (availableProvinces$ | async)?.length)"
                >
                    Loading ...
                </mat-option>
                <!-- / LOADING OPTION -->
            </mat-autocomplete>
            <mat-error *ngIf="hasError(form.get('province'))">
                {{ getFormError(form.get('province')) }}
            </mat-error>
        </mat-form-field>
    </div>
    <!-- / PROVINCE -->
    <!-- CITY -->
    <div
        class="custom-field"
        fxLayout="row"
        fxLayoutAlign="start stretch"
        fxLayoutGap="8px"
        fxFlex
    >
        <label
            fxFlexAlign="center"
            class="pr-0"
            [class.mat-error]="hasError(form.get('city'))"
        >
            <span
                class="sinbad-red-fg"
            >* </span> City
        </label>

        <mat-form-field fxFlexAlign="center" appearance="outline" fxFlex>
            <input
                matInput
                placeholder="Search City"
                formControlName="city"
                [matAutocomplete]="cityAutoComplete"
            />
            <mat-autocomplete
                #cityAutoComplete="matAutocomplete"
                [displayWith]="displayCity"
                (opened)="listenCityAutoComplete()"
                (optionSelected)="onSelectedCity($event)"
            >
                <!-- NONE OPTION -->
                <mat-option *ngIf="(isCityLoading$ | async) === false">(None)</mat-option>
                <!-- / NONE OPTION -->

                <!-- PROVINCE OPTIONS -->
                <mat-option
                    *ngFor="let city of (availableCities$ | async)"
                    [value]="city"
                >
                    {{ city }}
                </mat-option>
                <!-- / PROVINCE OPTIONS -->

                <!-- LOADING OPTION -->
                <mat-option
                    [disabled]="true"
                    style="text-align: center; font-style: italic; max-height: 30px;"
                    *ngIf="!(totalCities$ | async) || ((totalCities$ | async) > (availableCities$ | async)?.length)"
                >
                    Loading ...
                </mat-option>
                <!-- / LOADING OPTION -->
            </mat-autocomplete>
            <mat-error *ngIf="hasError(form.get('city'))">
                {{ getFormError(form.get('city')) }}
            </mat-error>
        </mat-form-field>
    </div>
    <!-- / CITY -->
    <!-- DISTRICT -->
    <div
        class="custom-field"
        fxLayout="row"
        fxLayoutAlign="start stretch"
        fxLayoutGap="8px"
        fxFlex
    >
        <label
            fxFlexAlign="center"
            class="pr-0"
            [class.mat-error]="hasError(form.get('district'))"
        >
            <span
                class="sinbad-red-fg"
            >* </span> District
        </label>

        <mat-form-field fxFlexAlign="center" appearance="outline" fxFlex>
            <input
                matInput
                placeholder="Search District"
                formControlName="district"
                [matAutocomplete]="districtAutoComplete"
            />
            <mat-autocomplete
                #districtAutoComplete="matAutocomplete"
                [displayWith]="displayDistrict"
                (opened)="listenDistrictAutoComplete()"
                (optionSelected)="onSelectedDistrict($event)"
            >
                <!-- NONE OPTION -->
                <mat-option *ngIf="(isDistrictLoading$ | async) === false">(None)</mat-option>
                <!-- / NONE OPTION -->

                <!-- PROVINCE OPTIONS -->
                <mat-option
                    *ngFor="let district of (availableDistricts$ | async)"
                    [value]="district"
                >
                    {{ district }}
                </mat-option>
                <!-- / PROVINCE OPTIONS -->

                <!-- LOADING OPTION -->
                <mat-option
                    [disabled]="true"
                    style="text-align: center; font-style: italic; max-height: 30px;"
                    *ngIf="!(totalDistricts$ | async) || ((totalDistricts$ | async) > (availableDistricts$ | async)?.length)"
                >
                    Loading ...
                </mat-option>
                <!-- / LOADING OPTION -->
            </mat-autocomplete>
            <mat-error *ngIf="hasError(form.get('district'))">
                {{ getFormError(form.get('district')) }}
            </mat-error>
        </mat-form-field>
    </div>
    <!-- / DISTRICT -->
    <!-- URBAN -->
    <div
        class="custom-field"
        fxLayout="row"
        fxLayoutAlign="start stretch"
        fxLayoutGap="8px"
        fxFlex
    >
        <label
            fxFlexAlign="center"
            class="pr-0"
            [class.mat-error]="hasError(form.get('urban'))"
        >
            <span
                class="sinbad-red-fg"
            >* </span> Urban
        </label>

        <mat-form-field fxFlexAlign="center" appearance="outline" fxFlex>
            <input
                matInput
                placeholder="Search Urban"
                formControlName="urban"
                [matAutocomplete]="urbanAutoComplete"
            />
            <mat-autocomplete
                #urbanAutoComplete="matAutocomplete"
                [displayWith]="displayUrban"
                (opened)="listenUrbanAutoComplete()"
                (optionSelected)="onSelectedUrban($event)"
            >
                <!-- NONE OPTION -->
                <mat-option *ngIf="(isUrbanLoading$ | async) === false">(None)</mat-option>
                <!-- / NONE OPTION -->

                <!-- URBAN OPTIONS -->
                <mat-option
                    *ngFor="let urban of (availableUrbans$ | async)"
                    [value]="urban"
                >
                    {{ urban.urban }}
                </mat-option>
                <!-- / URBAN OPTIONS -->

                <!-- LOADING OPTION -->
                <mat-option
                    [disabled]="true"
                    style="text-align: center; font-style: italic; max-height: 30px;"
                    *ngIf="!(totalUrbans$ | async) || ((totalUrbans$ | async) > (availableUrbans$ | async)?.length)"
                >
                    Loading ...
                </mat-option>
                <!-- / LOADING OPTION -->
            </mat-autocomplete>
            <mat-error *ngIf="hasError(form.get('urban'))">
                {{ getFormError(form.get('urban')) }}
            </mat-error>
        </mat-form-field>
    </div>
    <!-- / URBAN -->
</form>
<!-- / FIND LOCATION FORM -->