<div id="sku-assignments" class="page-layout carded fullwidth inner-scroll" fusePerfectScrollbar>
    <!-- CENTER -->
    <div class="center pt-12">
        <!-- CONTENT CARD -->
        <div class="content-card">
            <sinbad-card-header [config]="cardHeaderConfig" (onClickAdd)="onClickAdd()"></sinbad-card-header>

            <app-sku-assignments-warehouse *ngIf="(buttonViewByActive$ | async) ==='sku-assignment-warehouse'">
            </app-sku-assignments-warehouse>

            <app-sku-assignments-sku *ngIf="(buttonViewByActive$ | async) ==='sku-assignment-sku'">
            </app-sku-assignments-sku>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>