@import 'src/@fuse/scss/fuse';

app-catalogue-segmentation {
    #catalogue-segmentations {
        .top-bg {
            @include media-breakpoint('lt-md') {
                height: 256px;
            }
        }

        > .center {
            > .header {
                .search-wrapper {
                    width: 100%;
                    max-width: 200px;
                    border-radius: 28px;
                    overflow: hidden;

                    @include media-breakpoint('xs') {
                        width: 100%;
                    }

                    .search {
                        width: 100%;
                        height: 36px;
                        line-height: 36px;
                        padding: 0 18px;

                        input {
                            width: 100%;
                            height: 36px;
                            min-height: 36px;
                            max-height: 36px;
                            padding: 0 16px 0 4px;
                            border: none;
                            outline: none;
                            font-size: 13px;
                        }
                    }
                }

                @include media-breakpoint('lt-md') {
                    padding: 8px 0;
                    height: 192px !important;
                    min-height: 192px !important;
                    max-height: 192px !important;
                }
            }
        }
    }
}
