<div
    id="order-detail"
    class="page-layout carded fullwidth inner-scroll line-height-1.75"
    fusePerfectScrollbar
>
    <!-- TOP BACKGROUND -->
    <div class="accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- CONTENT HEADER -->
        <div class="header sinbad" fxLayout="row" fxLayoutAlign="space-between center">
            <!--  <h2 class="m-0">Full width with content scroll</h2> -->

            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <button mat-flat-button color="accent">
                    EXPORT
                </button>

                <button mat-stroked-button color="accent" class="sinbad">
                    IMPORT
                </button>
            </div>

            <!-- SMALL BREADCRUMBS -->
            <div
                fxLayout="row"
                fxLayoutAlign="start center"
                *ngIf="smallBreadcrumbs$ | async as smallBreadcrumbs; else noSmallBreadcrumb"
            >
                <!-- <span class="secondary-text">Quotations</span>
                <mat-icon class="secondary-text s-16">arrow_right</mat-icon>
                <span class="secondary-text">Quotations Send</span>
                <mat-icon class="secondary-text s-16">arrow_right</mat-icon>
                <span class="secondary-text">Sales Order</span> -->
                <ng-container *ngFor="let smallBreadcrumb of smallBreadcrumbs; last as isLast">
                    <span
                        [class.secondary-text]="!smallBreadcrumb?.active"
                        [class.active]="smallBreadcrumb?.active"
                        *ngIf="!smallBreadcrumb?.url; else breadWithUrl"
                    >
                        {{
                            smallBreadcrumb?.translate
                                ? (smallBreadcrumb?.translate | translate | titlecase)
                                : (smallBreadcrumb?.title | titlecase)
                        }}
                    </span>
                    <ng-template #breadWithUrl>
                        <a href>
                            <span [class.secondary]="!smallBreadcrumb?.active">
                                {{ smallBreadcrumb?.title | titlecase }}
                            </span>
                        </a>
                    </ng-template>
                    <mat-icon class="secondary-text s-16" *ngIf="!isLast">
                        chevron_right
                    </mat-icon>
                </ng-container>
            </div>
            <!-- / SMALL BREADCRUMBS -->

            <ng-template #noSmallBreadcrumb></ng-template>
        </div>
        <!-- / CONTENT HEADER -->

        <div fxLayout="row" class="mb-24" fxLayoutGap="10px">
            <mat-card fxFlex="70">
                <div fxLayout="column">
                    <span class="mat-headline m-0">
                        {{ 'ORDER_DOCUMENT' | translate | titlecase }}
                    </span>

                    <span class="mt-0" fxLayout="row" fxLayoutAlign="start end">
                        <span class="h4">{{ (order$ | async)?.origins }}</span>
                        <span class="h5">&nbsp;/ {{ (order$ | async)?.id }}</span>
                    </span>

                    <div fxLayout="row wrap" fxLayoutAlign="space-between start">
                        <div fxLayout="column" fxLayoutGap="10px">
                            <div class="order-box info-box" fxFlex="30">
                                <header>
                                    <div class="title">Store</div>
                                </header>

                                <div class="content">
                                    <table class="info-group-1">
                                        <tr>
                                            <td class="info-title">User</td>
                                            <td>{{ (order$ | async)?.storeName }}</td>
                                        </tr>

                                        <tr>
                                            <td class="info-title">Outlet ID</td>
                                            <td>150432</td>
                                        </tr>

                                        <tr>
                                            <td class="info-title">Store Address</td>
                                            <td>Jalan Palm BLOK T NO.1 Bogor</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="order-box info-box" fxFlex="30">
                                <header>
                                    <div class="title">Shipment</div>
                                </header>

                                <div class="content">
                                    <table class="info-group-1">
                                        <tr>
                                            <td class="info-title">Delivery Address</td>
                                            <td>Jalan Palm BLOK T NO.1 Bogor</td>
                                        </tr>

                                        <tr>
                                            <td class="info-title">Selling Point</td>
                                            <td>DC - TRS CIBINONG</td>
                                        </tr>

                                        <tr>
                                            <td class="info-title">Geo Coverage</td>
                                            <td>Batu Ceper</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div fxLayout="column" fxLayoutGap="10px">
                            <div class="order-box info-box" fxFlex="30">
                                <header>
                                    <div class="title">Invoice</div>
                                </header>

                                <div class="content">
                                    <table class="info-group-1">
                                        <tr>
                                            <td class="info-title">Order ID</td>
                                            <td>{{ (order$ | async)?.id }}</td>
                                        </tr>

                                        <tr>
                                            <td class="info-title">Order Reference</td>
                                            <td>AKTLLX25ZL</td>
                                        </tr>

                                        <tr>
                                            <td class="info-title">Faktur ID</td>
                                            <td>SN1234/5678</td>
                                        </tr>

                                        <tr>
                                            <td class="info-title">Group Faktur ID</td>
                                            <td>01</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="order-box info-box" fxFlex="30">
                                <header>
                                    <div class="title">NPS</div>
                                </header>

                                <div class="content">
                                    <table class="info-group-1">
                                        <tr>
                                            <td class="info-title">NPS Score</td>
                                            <td>-</td>
                                        </tr>

                                        <tr>
                                            <td class="info-title">NPS Comment</td>
                                            <td>-</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div fxLayout="column" fxLayoutGap="10px">
                            <div class="order-box info-box" fxFlex="30">
                                <header>
                                    <div class="title">Order</div>
                                </header>

                                <div class="content">
                                    <table>
                                        <tr>
                                            <td class="info-title">Confirmation Date</td>
                                            <td>07/02/2019 20:11:00</td>
                                        </tr>

                                        <tr>
                                            <td class="info-title">Order Date</td>
                                            <td>07/02/2019 20:11:00</td>
                                        </tr>

                                        <tr>
                                            <td class="info-title">Voucher</td>
                                            <td>-</td>
                                        </tr>

                                        <tr>
                                            <td class="info-title">Order Status</td>
                                            <td>Verifikasi</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="order-box info-box" fxFlex="30">
                                <header>
                                    <div class="title">Payment</div>
                                </header>

                                <div class="content">
                                    <table>
                                        <tr>
                                            <td class="info-title">Payment Due Date</td>
                                            <td>06/12/2019</td>
                                        </tr>

                                        <tr>
                                            <td class="info-title">Payment Date</td>
                                            <td>06/12/2019</td>
                                        </tr>

                                        <tr>
                                            <td class="info-title">Payment Term</td>
                                            <td>Kredit</td>
                                        </tr>

                                        <tr>
                                            <td class="info-title">Payment Method</td>
                                            <td>TOP</td>
                                        </tr>

                                        <tr>
                                            <td class="info-title">Bank Acc</td>
                                            <td>-</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>

            <mat-card fxFlex="30">
                <div fxLayout="column" fxLayoutGap="10px">
                    <div class="tracking-info px-36">
                        <header>
                            <div class="title h4">
                                Status Pengiriman - Diterima
                            </div>
                        </header>

                        <div class="content">
                            <div class="status secondary-text">
                                <div class="header">Verifikasi</div>

                                <!-- <div class="detail">
                                    <mat-vertical-stepper>
                                        <mat-step [completed]="true">
                                            <ng-template matStepLabel>Siap dikemas</ng-template>

                                            <div class="time">
                                                <small>07-02-2019 20:11</small>
                                            </div>
                                        </mat-step>

                                        <mat-step [completed]="true">
                                            <ng-template matStepLabel>
                                                Parcel di input oleh distributor dari cabang
                                            </ng-template>

                                            <div class="time">
                                                <small>07-02-2019 20:11</small>
                                            </div>
                                        </mat-step>

                                        <mat-step [completed]="true">
                                            <ng-template matStepLabel>
                                                Dikirim dari Warehouse
                                            </ng-template>

                                            <div class="time">
                                                <small>07-02-2019 20:11</small>
                                            </div>
                                        </mat-step>
                                    </mat-vertical-stepper>
                                </div> -->

                                <div
                                    class="detail py-4 px-12"
                                    fxLayout="column"
                                    fxLayoutAlign="space-between stretch"
                                    fxLayoutGap="5px"
                                >
                                    <div class="step" fxLayout="row" fxLayoutGap="5px">
                                        <div class="indicator" fxLayout="column">
                                            <div class="circle"></div>
                                        </div>

                                        <div class="v-line"></div>

                                        <div class="content px-4" fxFlex="90">
                                            <div class="label">
                                                Siap dikemas
                                            </div>

                                            <div class="time line-height-8">
                                                <small>07-02-2019 20:11</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="step" fxLayout="row" fxLayoutGap="5px">
                                        <div class="indicator" fxLayout="column">
                                            <div class="circle"></div>
                                        </div>

                                        <div class="v-line"></div>

                                        <div class="content px-4" fxFlex="90">
                                            <div class="label">
                                                Parcel di input oleh distributor dari cabang
                                            </div>

                                            <div class="time line-height-8">
                                                <small>07-02-2019 20:11</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="step" fxLayout="row" fxLayoutGap="5px">
                                        <div class="indicator" fxLayout="column">
                                            <div class="circle"></div>
                                        </div>

                                        <div class="v-line"></div>

                                        <div class="content px-4" fxFlex="90">
                                            <div class="label">
                                                Dikirim dari Warehouse
                                            </div>

                                            <div class="time line-height-8">
                                                <small>07-02-2019 20:11</small>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- <ul>
                                        <li>
                                            1
                                            <span class="label">Siap dikemas</span>
                                            <span class="time">07-02-2019 20:11</span>
                                        </li>
                                        <li>2</li>
                                        <li>3</li>
                                        <li class="active">4</li>
                                        <li>5</li>
                                        <li>6</li>
                                        <li>7</li>
                                    </ul> -->
                                </div>
                            </div>

                            <div class="status secondary-text">
                                <div class="header">Dikemas</div>

                                <div
                                    class="detail py-4 px-12"
                                    fxLayout="column"
                                    fxLayoutAlign="space-between stretch"
                                    fxLayoutGap="5px"
                                >
                                    <div class="step" fxLayout="row" fxLayoutGap="5px">
                                        <div class="indicator" fxLayout="column">
                                            <div class="circle"></div>
                                        </div>

                                        <div class="v-line"></div>

                                        <div class="content px-4" fxFlex="90">
                                            <div class="label">
                                                Dikemas di gudang
                                            </div>

                                            <div class="time line-height-8">
                                                <small>07-02-2019 20:11</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="step" fxLayout="row" fxLayoutGap="5px">
                                        <div class="indicator" fxLayout="column">
                                            <div class="circle"></div>
                                        </div>

                                        <div class="v-line"></div>

                                        <div class="content px-4" fxFlex="90">
                                            <div class="label">
                                                Siap dikirim
                                            </div>

                                            <div class="time line-height-8">
                                                <small>07-02-2019 20:11</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="status secondary-text active">
                                <div class="header">Dikirim</div>

                                <div
                                    class="detail py-4 px-12"
                                    fxLayout="column"
                                    fxLayoutAlign="space-between stretch"
                                    fxLayoutGap="5px"
                                >
                                    <div class="step" fxLayout="row" fxLayoutGap="5px">
                                        <div class="indicator" fxLayout="column">
                                            <div class="circle"></div>
                                        </div>

                                        <div class="v-line"></div>

                                        <div class="content px-4" fxFlex="90">
                                            <div class="label">
                                                Parcel di input oleh distributor dari cabang
                                            </div>

                                            <div class="time line-height-8">
                                                <small>07-02-2019 20:11</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="step" fxLayout="row" fxLayoutGap="5px">
                                        <div class="indicator" fxLayout="column">
                                            <div class="circle"></div>
                                        </div>

                                        <div class="v-line"></div>

                                        <div class="content px-4" fxFlex="90">
                                            <div class="label">
                                                Dikirim dari Warehouse
                                            </div>

                                            <div class="time line-height-8">
                                                <small>07-02-2019 20:11</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="step" fxLayout="row" fxLayoutGap="5px">
                                        <div class="indicator" fxLayout="column">
                                            <div class="circle"></div>
                                        </div>

                                        <div class="v-line"></div>

                                        <div class="content px-4" fxFlex="90">
                                            <div class="label">
                                                Diterima di cabang
                                            </div>

                                            <div class="time line-height-8">
                                                <small>07-02-2019 20:11</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="step" fxLayout="row" fxLayoutGap="5px">
                                        <div class="indicator" fxLayout="column">
                                            <div class="circle"></div>
                                        </div>

                                        <div class="v-line"></div>

                                        <div class="content px-4" fxFlex="90">
                                            <div class="label">
                                                Pengecekan di cabang
                                            </div>

                                            <div class="time line-height-8">
                                                <small>07-02-2019 20:11</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="step" fxLayout="row" fxLayoutGap="5px">
                                        <div class="indicator" fxLayout="column">
                                            <div class="circle"></div>
                                        </div>

                                        <div class="v-line"></div>

                                        <div class="content px-4" fxFlex="90">
                                            <div class="label">
                                                Parcel siap diantar oleh agen x ke delivery point
                                            </div>

                                            <div class="time line-height-8">
                                                <small>07-02-2019 20:11</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="step" fxLayout="row" fxLayoutGap="5px">
                                        <div class="indicator" fxLayout="column">
                                            <div class="circle"></div>
                                        </div>

                                        <div class="v-line"></div>

                                        <div class="content px-4" fxFlex="90">
                                            <div class="label">
                                                Agen x mengantar parcel ke alamat pengantaran
                                            </div>

                                            <div class="time line-height-8">
                                                <small>07-02-2019 20:11</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="step" fxLayout="row" fxLayoutGap="5px">
                                        <div class="indicator" fxLayout="column">
                                            <div class="circle"></div>
                                        </div>

                                        <div class="v-line"></div>

                                        <div class="content px-4" fxFlex="90">
                                            <div class="label">
                                                Parcel sampai di tujuan
                                            </div>

                                            <div class="time line-height-8">
                                                <small>07-02-2019 20:11</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>

        <mat-card class="mb-24">
            <div fxLayout="column">
                <span class="mat-headline m-0">
                    {{ 'ORDER_STATUS' | translate | titlecase }}
                </span>

                <span class="h4">Dikirim</span>

                <div fxLayout="column" fxLayoutGap="10px">
                    <div class="tracking-info-simple horizontal py-12">
                        <div class="content">
                            <div class="status secondary-text">
                                <div class="detail" fxLayout="row" fxFlex="70">
                                    <div class="step" fxLayout="column" fxFlex>
                                        <div class="indicator" fxLayout="column">
                                            <div class="circle"></div>
                                        </div>

                                        <div class="v-line"></div>

                                        <div class="content" fxFlex="90">
                                            <div class="label">
                                                Verifikasi
                                            </div>

                                            <div class="time line-height-8">
                                                <small>07-02-2019 20:11</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="step" fxLayout="column" fxFlex>
                                        <div class="indicator" fxLayout="column">
                                            <div class="circle"></div>
                                        </div>

                                        <div class="v-line"></div>

                                        <div class="content" fxFlex="90">
                                            <div class="label">
                                                Dikemas
                                            </div>

                                            <div class="time line-height-8">
                                                <small>07-02-2019 20:11</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="step active" fxLayout="column" fxFlex>
                                        <div class="indicator" fxLayout="column">
                                            <div class="circle"></div>
                                        </div>

                                        <div class="v-line"></div>

                                        <div class="content" fxFlex="90">
                                            <div class="label">
                                                Dikirim
                                            </div>

                                            <div class="time line-height-8">
                                                <small>-</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="step" fxLayout="column" fxFlex>
                                        <div class="indicator" fxLayout="column">
                                            <div class="circle"></div>
                                        </div>

                                        <div class="v-line"></div>

                                        <div class="content" fxFlex="90">
                                            <div class="label">
                                                Diterima
                                            </div>

                                            <div class="time line-height-8">
                                                <small>-</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="step" fxLayout="column" fxFlex>
                                        <div class="indicator" fxLayout="column">
                                            <div class="circle"></div>
                                        </div>

                                        <div class="v-line"></div>

                                        <div class="content" fxFlex="90">
                                            <div class="label">
                                                Selesai
                                            </div>

                                            <div class="time line-height-8">
                                                <small>-</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="status secondary-text">
                                <div class="header">Dikemas</div>

                                <div
                                    class="detail py-4 px-12"
                                    fxLayout="column"
                                    fxLayoutAlign="space-between stretch"
                                    fxLayoutGap="5px"
                                >
                                    <div class="step" fxLayout="row" fxLayoutGap="5px">
                                        <div class="indicator" fxLayout="column">
                                            <div class="circle"></div>
                                        </div>

                                        <div class="v-line"></div>

                                        <div class="content px-4" fxFlex="90">
                                            <div class="label">
                                                Dikemas di gudang
                                            </div>

                                            <div class="time line-height-8">
                                                <small>07-02-2019 20:11</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="step" fxLayout="row" fxLayoutGap="5px">
                                        <div class="indicator" fxLayout="column">
                                            <div class="circle"></div>
                                        </div>

                                        <div class="v-line"></div>

                                        <div class="content px-4" fxFlex="90">
                                            <div class="label">
                                                Siap dikirim
                                            </div>

                                            <div class="time line-height-8">
                                                <small>07-02-2019 20:11</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                            <!-- <div class="status secondary-text active">
                                <div class="header">Dikirim</div>

                                <div
                                    class="detail py-4 px-12"
                                    fxLayout="column"
                                    fxLayoutAlign="space-between stretch"
                                    fxLayoutGap="5px"
                                >
                                    <div class="step" fxLayout="row" fxLayoutGap="5px">
                                        <div class="indicator" fxLayout="column">
                                            <div class="circle"></div>
                                        </div>

                                        <div class="v-line"></div>

                                        <div class="content px-4" fxFlex="90">
                                            <div class="label">
                                                Parcel di input oleh distributor dari cabang
                                            </div>

                                            <div class="time line-height-8">
                                                <small>07-02-2019 20:11</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="step" fxLayout="row" fxLayoutGap="5px">
                                        <div class="indicator" fxLayout="column">
                                            <div class="circle"></div>
                                        </div>

                                        <div class="v-line"></div>

                                        <div class="content px-4" fxFlex="90">
                                            <div class="label">
                                                Dikirim dari Warehouse
                                            </div>

                                            <div class="time line-height-8">
                                                <small>07-02-2019 20:11</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="step" fxLayout="row" fxLayoutGap="5px">
                                        <div class="indicator" fxLayout="column">
                                            <div class="circle"></div>
                                        </div>

                                        <div class="v-line"></div>

                                        <div class="content px-4" fxFlex="90">
                                            <div class="label">
                                                Diterima di cabang
                                            </div>

                                            <div class="time line-height-8">
                                                <small>07-02-2019 20:11</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="step" fxLayout="row" fxLayoutGap="5px">
                                        <div class="indicator" fxLayout="column">
                                            <div class="circle"></div>
                                        </div>

                                        <div class="v-line"></div>

                                        <div class="content px-4" fxFlex="90">
                                            <div class="label">
                                                Pengecekan di cabang
                                            </div>

                                            <div class="time line-height-8">
                                                <small>07-02-2019 20:11</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="step" fxLayout="row" fxLayoutGap="5px">
                                        <div class="indicator" fxLayout="column">
                                            <div class="circle"></div>
                                        </div>

                                        <div class="v-line"></div>

                                        <div class="content px-4" fxFlex="90">
                                            <div class="label">
                                                Parcel siap diantar oleh agen x ke delivery point
                                            </div>

                                            <div class="time line-height-8">
                                                <small>07-02-2019 20:11</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="step" fxLayout="row" fxLayoutGap="5px">
                                        <div class="indicator" fxLayout="column">
                                            <div class="circle"></div>
                                        </div>

                                        <div class="v-line"></div>

                                        <div class="content px-4" fxFlex="90">
                                            <div class="label">
                                                Agen x mengantar parcel ke alamat pengantaran
                                            </div>

                                            <div class="time line-height-8">
                                                <small>07-02-2019 20:11</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="step" fxLayout="row" fxLayoutGap="5px">
                                        <div class="indicator" fxLayout="column">
                                            <div class="circle"></div>
                                        </div>

                                        <div class="v-line"></div>

                                        <div class="content px-4" fxFlex="90">
                                            <div class="label">
                                                Parcel sampai di tujuan
                                            </div>

                                            <div class="time line-height-8">
                                                <small>07-02-2019 20:11</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>

        <mat-card class="order-lines mb-24">
            <div fxLayout="column">
                <span class="mat-headline m-0">
                    {{ 'ORDER_LINES' | translate | titlecase }}
                </span>

                <mat-table class="order-lines-table" [dataSource]="dataSource" matSort>
                    <!-- Product Column -->
                    <ng-container matColumnDef="product">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            Product
                        </mat-header-cell>

                        <mat-cell *matCellDef="let row">
                            <p>{{ row?.product }}</p>
                        </mat-cell>
                    </ng-container>

                    <!-- Bonus Column -->
                    <ng-container matColumnDef="bonus">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            Bonus
                        </mat-header-cell>

                        <mat-cell *matCellDef="let row">
                            <p class="text-truncate">{{ row?.bonus }}</p>
                        </mat-cell>
                    </ng-container>

                    <!-- Order Qty Column -->
                    <ng-container matColumnDef="orderQty">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            Order Qty
                        </mat-header-cell>

                        <mat-cell *matCellDef="let row">
                            <p class="text-truncate">{{ row?.orderQty }}</p>
                        </mat-cell>
                    </ng-container>

                    <!-- Delivered Column -->
                    <ng-container matColumnDef="delivered">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            Delivered
                        </mat-header-cell>

                        <mat-cell *matCellDef="let row">
                            <p class="text-truncate">{{ row?.delivered }}</p>
                        </mat-cell>
                    </ng-container>

                    <!-- Invoiced Column -->
                    <ng-container matColumnDef="invoiced">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            Invoiced
                        </mat-header-cell>

                        <mat-cell *matCellDef="let row">
                            <p class="text-truncate">{{ row?.invoiced }}</p>
                        </mat-cell>
                    </ng-container>

                    <!-- Unit Of Measured Column -->
                    <ng-container matColumnDef="unitOfMeasured">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            Unit of Measured
                        </mat-header-cell>

                        <mat-cell *matCellDef="let row">
                            <p class="text-truncate">{{ row?.unitOfMeasured }}</p>
                        </mat-cell>
                    </ng-container>

                    <!-- Unit Price Column -->
                    <ng-container matColumnDef="unitPrice">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            Unit Price
                        </mat-header-cell>

                        <mat-cell *matCellDef="let row">
                            <p class="text-truncate">
                                {{ row?.unitPrice | currency: 'IDR':'symbol':'4.2-2' | price }}
                            </p>
                        </mat-cell>
                    </ng-container>

                    <!-- Gross Column -->
                    <ng-container matColumnDef="gross">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            Gross
                        </mat-header-cell>

                        <mat-cell *matCellDef="let row">
                            <p class="text-truncate">
                                {{ row?.gross | currency: 'IDR':'symbol':'4.2-2' | price }}
                            </p>
                        </mat-cell>
                    </ng-container>

                    <!-- Amount Disc 1 Column -->
                    <ng-container matColumnDef="amountDisc1">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            Amount Disc I
                        </mat-header-cell>

                        <mat-cell *matCellDef="let row">
                            <p class="text-truncate">{{ row?.amountDisc1 }}</p>
                        </mat-cell>
                    </ng-container>

                    <!-- Amount Disc 2 Column -->
                    <ng-container matColumnDef="amountDisc2">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            Amount Disc II
                        </mat-header-cell>

                        <mat-cell *matCellDef="let row">
                            <p class="text-truncate">{{ row?.amountDisc2 }}</p>
                        </mat-cell>
                    </ng-container>

                    <!-- Amount Disc 3 Column -->
                    <ng-container matColumnDef="amountDisc3">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            Amount Disc III
                        </mat-header-cell>

                        <mat-cell *matCellDef="let row">
                            <p class="text-truncate">{{ row?.amountDisc3 }}</p>
                        </mat-cell>
                    </ng-container>

                    <!-- Promo Column -->
                    <ng-container matColumnDef="promo">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            Promo
                        </mat-header-cell>

                        <mat-cell *matCellDef="let row">
                            <p class="text-truncate">{{ row?.promo }}</p>
                        </mat-cell>
                    </ng-container>

                    <!-- Amount Promo Column -->
                    <ng-container matColumnDef="amountPromo">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            Amount Promo
                        </mat-header-cell>

                        <mat-cell *matCellDef="let row">
                            <p class="text-truncate">{{ row?.amountPromo }}</p>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row
                        *matHeaderRowDef="displayedColumns; sticky: true"
                    ></mat-header-row>

                    <mat-row
                        *matRowDef="let row; columns: displayedColumns"
                        class="order"
                        matRipple
                        [routerLink]="['/pages/orders/' + row.id + '/detail']"
                    >
                    </mat-row>
                </mat-table>
            </div>
        </mat-card>

        <mat-card class="mb-24">
            <div fxLayout="column">
                <span class="mat-headline m-0 mb-12 text-right">
                    {{ 'ORDER_STATUS' | translate | titlecase }}
                </span>

                <div fxLayout="row" fxLayoutAlign="end stretch" fxLayoutGap="25px">
                    <div class="price-order-status-box info-box">
                        <header>
                            <div class="title">Original</div>
                        </header>

                        <div class="content">
                            <table class="info-group-1">
                                <tr>
                                    <td class="info-title">Gross Original:</td>
                                    <td>Rp 0.00</td>
                                </tr>

                                <tr>
                                    <td class="info-title">Discount Original:</td>
                                    <td>Rp 0.00</td>
                                </tr>

                                <tr>
                                    <td class="info-title">Promo Original:</td>
                                    <td>Rp 0.00</td>
                                </tr>

                                <tr>
                                    <td class="info-title">Voucher Original:</td>
                                    <td>Rp 0.00</td>
                                </tr>

                                <tr>
                                    <td class="info-title">Untaxed Original:</td>
                                    <td>Rp 218,520.00</td>
                                </tr>

                                <tr>
                                    <td class="info-title">Tax Original:</td>
                                    <td>Rp 21,852.00</td>
                                </tr>

                                <tfoot>
                                    <tr>
                                        <td class="info-title">Total Original:</td>
                                        <td>Rp 240,372.00</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div class="price-order-status-box info-box">
                        <header>
                            <div class="title">Delivered</div>
                        </header>

                        <div class="content">
                            <table class="info-group-1">
                                <tr>
                                    <td class="info-title">Gross Delivered:</td>
                                    <td>Rp 0.00</td>
                                </tr>

                                <tr>
                                    <td class="info-title">Discount Delivered:</td>
                                    <td>Rp 0.00</td>
                                </tr>

                                <tr>
                                    <td class="info-title">Promo Delivered:</td>
                                    <td>Rp 0.00</td>
                                </tr>

                                <tr>
                                    <td class="info-title">Voucher Delivered:</td>
                                    <td>Rp 0.00</td>
                                </tr>

                                <tr>
                                    <td class="info-title">Untaxed Delivered:</td>
                                    <td>Rp 218,520.00</td>
                                </tr>

                                <tr>
                                    <td class="info-title">Tax Delivered:</td>
                                    <td>Rp 21,852.00</td>
                                </tr>

                                <tfoot>
                                    <tr>
                                        <td class="info-title">Total Delivered:</td>
                                        <td>Rp 240,372.00</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div class="price-order-status-box info-box">
                        <header>
                            <div class="title">Invoiced</div>
                        </header>

                        <div class="content">
                            <table class="info-group-1">
                                <tr>
                                    <td class="info-title">Gross Invoiced:</td>
                                    <td>Rp 0.00</td>
                                </tr>

                                <tr>
                                    <td class="info-title">Discount Invoiced:</td>
                                    <td>Rp 0.00</td>
                                </tr>

                                <tr>
                                    <td class="info-title">Promo Invoiced:</td>
                                    <td>Rp 0.00</td>
                                </tr>

                                <tr>
                                    <td class="info-title">Voucher Invoiced:</td>
                                    <td>Rp 0.00</td>
                                </tr>

                                <tr>
                                    <td class="info-title">Untaxed Invoiced:</td>
                                    <td>Rp 218,520.00</td>
                                </tr>

                                <tr>
                                    <td class="info-title">Tax Invoiced:</td>
                                    <td>Rp 21,852.00</td>
                                </tr>

                                <tfoot>
                                    <tr>
                                        <td class="info-title">Total Invoiced:</td>
                                        <td>Rp 240,372.00</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div class="price-order-status-box info-box">
                        <header>
                            <div class="title">Final</div>
                        </header>

                        <div class="content">
                            <table class="info-group-1">
                                <tr>
                                    <td class="info-title">Gross:</td>
                                    <td>Rp 0.00</td>
                                </tr>

                                <tr>
                                    <td class="info-title">Discount:</td>
                                    <td>Rp 0.00</td>
                                </tr>

                                <tr>
                                    <td class="info-title">Promo:</td>
                                    <td>Rp 0.00</td>
                                </tr>

                                <tr>
                                    <td class="info-title">Voucher:</td>
                                    <td>Rp 0.00</td>
                                </tr>

                                <tr>
                                    <td class="info-title">Untaxed:</td>
                                    <td>Rp 218,520.00</td>
                                </tr>

                                <tr>
                                    <td class="info-title">Tax:</td>
                                    <td>Rp 21,852.00</td>
                                </tr>

                                <tfoot>
                                    <tr>
                                        <td class="info-title">Total:</td>
                                        <td>Rp 240,372.00</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>

        <mat-card class="log-note mb-12">
            <div fxLayout="column">
                <div fxLayout="row">
                    <span class="mat-headline m-0 mb-12 pb-4" fxFlex="30">
                        Log-note
                    </span>
                </div>

                <div class="log-note-box">
                    <div class="activities">
                        <div class="activity" fxLayout="row" fxLayoutAlign="start start">
                            <img src="assets/images/avatars/default.png" class="avatar" />

                            <div
                                class="line-height-18"
                                fxLayout="column"
                                fxLayoutAlign="start start"
                            >
                                <div class="secondary-text m-0">
                                    <span>Note by Alan - 9 Minutes Ago</span>
                                    <!-- <span class="username">Note by Alan</span>
                                    <span class="time">- 9 Minutes Ago</span> -->
                                </div>

                                <span class="message m-0">Order Created</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
    <!-- / CENTER -->
</div>
