<div fxLayout="row" fxLayoutAlign="space-between center">
    <!-- APP TITLE -->
    <span class="mat-title mt-20" fxFlexAlign="center"
        [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }">
        SR Assignment
    </span>
    <!-- / APP TITLE -->

    <!-- SEARCH -->
    <!-- <div class="search-wrapper mx-32 mr-0">
        <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
            <mat-icon>search</mat-icon>
            <input [formControl]="search" placeholder="Search for association" />
        </div>
    </div> -->
    <!-- / SEARCH -->
</div>